<script type="text/javascript">	
//<![CDATA[

  OptionBundle.Data = <?php echo $this->getDataJson() ?>;

  OptionBundle.Config = {	
    requiredOptionText : '<?php echo $this->jsQuoteEscape( Mage::helper('catalog')->__('This is a required option') )?>',           
    inPreconfigured    : <?php echo $this->getInPreconfigured() ?>,
    isConfigurable     : <?php echo $this->isConfigurable() ?>,
    useCalendar        : <?php echo (int) Mage::getStoreConfig('catalog/custom_options/use_calendar'); ?>,
        
    mainImageId : 'image', // Id of the Product main image tag <img id="image"
    
    spacer     : '<?php echo $this->helper('core/js')->getJsUrl('spacer.gif') ?>',	
    imageTitle : '<?php echo $this->jsQuoteEscape($this->__('Click to Enlarge')) ?>',	   

    imageDirUrl       : '<?php echo $this->getProductBaseMediaUrl() ?>',
    thumbnailDirUrl   : '<?php echo $this->getThumbnailDirUrl() ?>',
    pickerImageDirUrl : '<?php echo $this->getPickerImageDirUrl() ?>',    
    placeholderUrl    : '<?php echo $this->getPlaceholderUrl() ?>',	
    infoIcon          : '<?php echo Mage::getDesign()->getSkinUrl('pektsekye/optionbundle/info_icon.gif') ?>'	           
  };  
  
  var optionBundle = new OptionBundle.Main();	


  if (window.jQuery && jQuery.fn.oxcolorbox && jQuery.fn.tooltipster){
    (function($) {
    
      $(".ob-image").click(function() {
        var src = $(this).attr("ob-data-popup");
        if (src){  
          $.oxcolorbox({
            maxWidth  : '95%', 
            maxHeight : '95%',
            photo     : true, 
            href      : src
          });
        } 
      }); 
      
      $('.ob-tooltip').tooltipster({contentAsHTML:true, theme: 'tooltipster-shadow'}); 
      $('.ob-tooltip-icon').tooltipster({contentAsHTML:true, interactive:true, theme: 'tooltipster-shadow', maxWidth: 250});
               
    })(jQuery);
  } 

//]]>
</script>