<!--@subject {{var store.getFrontendName()}}: Remaining Value of Your Coupon @-->
<!--@styles
body,td { color:#2f2f2f; font:11px/1.35em Verdana, Arial, Helvetica, sans-serif; }
@-->

<body style="background:#F6F6F6; font-family:Verdana, Arial, Helvetica, sans-serif; font-size:12px; margin:0; padding:0;">
<div style="background:#F6F6F6; font-family:Verdana, Arial, Helvetica, sans-serif; font-size:12px; margin:0; padding:0;">
    <table cellspacing="0" cellpadding="0" border="0" width="100%">
        <tr>
            <td align="center" valign="top" style="padding:20px 0 20px 0">
                <!-- [ header starts here] -->
                <table bgcolor="#FFFFFF" cellspacing="0" cellpadding="10" border="0" width="650" style="border:1px solid #E0E0E0;">
                    <tr>
                        <td valign="top"><a href="{{store url=''}}"><img src="{{skin url="images/logo_email.gif" _area='frontend'}}" alt="{{var store.getFrontendName()}}"  style="margin-bottom:10px;" border="0"/></a></td>
                    </tr>
                    <!-- [ middle starts here] -->
                    <tr>
                        <td valign="top">
                            <h1 style="font-size:22px; font-weight:normal; line-height:22px; margin:0 0 11px 0;">Hello {{htmlescape var=$customer_name}},</h1>
                            <p style="font-size:12px; line-height:16px; margin:0;">
                                thank you very much for placing your order in our online shop <strong>{{var store.getFrontendName()}}</strong>!<br/>
                                During your order <strong>#{{var order.getIncrementId()}}</strong> on {{var order_date}} you have partly redeemed your coupon. You can redeem the coupon’s remaining value of <strong>{{var coupon_remaining_value}}</strong> with your next order in our shop, using the coupon code <strong>{{var couponcode}}</strong>.
                            </p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <h2 style="font-size:18px; font-weight:normal; margin:0;">Overview of Coupon Redemption</h2>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            {{layout handle="modulwerft_couponremainingvalue_email_history" rule=$rule coupon_code=$couponcode}}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p style="font-size:12px; line-height:16px; margin:0 0 11px 0;">
                                We are looking forward to your next visit in our online shop!
                            </p>
                        </td>
                    </tr>
                    <tr>
                        <td bgcolor="#EAEAEA" align="center" style="background:#EAEAEA; text-align:center;"><p style="font-size:12px; margin:0;">Thank you very much, <strong>{{var store.getFrontendName()}}</strong></p></td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</div>
</body>
