<div class="content-header">
    <table cellspacing="0" class="grid-header">
        <tr>
            <td><h3><?php echo $this->__('Datev Export') ?></h3></td>
            <td class="a-right">
                <button onclick="editForm.submit()" class="scalable save" type="button"><span><?php echo $this->__('Submit') ?></span></button>
            </td>
        </tr>
    </table>
</div>
<div class="entry-edit">
    <form id="edit_form" name="edit_form" method="post" action="<?php echo $this->getUrl('*/*/post') ?>">
        <input name="form_key" type="hidden" value="<?php echo Mage::getSingleton('core/session')->getFormKey() ?>" />
        <h4 class="icon-head head-edit-form fieldset-legend"><?php echo $this->__('Configuration') ?></h4>
        <fieldset id="my-fieldset">
            <table cellspacing="0" class="form-list">
                <tr>
                    <td class="label"><?php echo $this->__('Type') ?>: <span class="required">*</span></td>
                    <td class="input-ele">
                        <select name="type">
                            <option value="invoice" selected><?php echo $this->__('Invoice') ?></option>
                            <!--<option value="coupons"><?php echo $this->__('Coupons') ?></option>-->
                            <option value="credit"><?php echo $this->__('Credit Memos') ?></option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td class="label"><?php echo $this->__('From Date') ?>: <span class="required">*</span></td>
                    <td class="input-ele"><input type="text" name="date_from" id="date_from" value="<?php echo date('01/m/Y') ?>" class="required-entry" /></td>
                </tr>
                <tr>
                    <td class="label"><?php echo $this->__('To Date') ?>: <span class="required">*</span></td>
                    <td class="input-ele"><input type="text" name="date_to" id="date_to" value="<?php echo date('d/m/Y') ?>" class="required-entry" /></td>
                </tr>
            </table> 
        </fieldset>
    </form>
</div>
<script type="text/javascript">
    var editForm = new varienForm('edit_form');
</script>
<script type="text/javascript">// <![CDATA[
    Calendar.setup({
        inputField: 'date_from',
        ifFormat: '%d/%m/%Y',
        button: 'date_from_trig',
        showsTime: false,
        align: 'Bl',
        singleClick: true,
    });
    Calendar.setup({
        inputField: 'date_to',
        ifFormat: '%d/%m/%Y',
        button: 'date_to_trig',
        showsTime: false,
        align: 'Bl',
        singleClick: true,
    });
// ]]></script>