/******************************************************
 * @package Ves Theme Framework for Magento
 * @version 1.0
 * @author http://www.venustheme.com
 * @copyright Copyright (C) Augus 2013 Venustheme.com <@email:venustheme@gmail.com>.All rights reserved.
 * @license   GNU General Public License version 2
*******************************************************/

.configurable-swatch-list:after,
.product-view .product-options .swatch-attr:after { display:block; content:"."; clear:both; font-size:0; line-height:0; height:0; overflow:hidden; }

.product-view .product-options .swatch-attr { float: none; display: block; clear: both; border: 0; }
.product-view .product-options dt.swatch-attr label { display: block; line-height: 1.3; }

/* General Swatch Styling */
.configurable-swatch-list { margin-left: -3px; zoom:1; clear: both; }
.configurable-swatch-list li { float:left; zoom:1; margin:0 0 0 3px; }
#narrow-by-list dd .configurable-swatch-list li { margin:0 0 0 3px; width:47%; }
.swatch-link img { border-radius: 3px; }
.swatch-link,
.swatch-label { display: block; border-radius: 3px; font-size: 14px; text-align: center; color: #666666; text-decoration: none; box-sizing:content-box; }
.swatch-link { border: 1px solid #bbbbbb; margin:0 0 3px; }
#narrow-by-list dd .swatch-link { float:left; margin-right:2px; padding:0; }
.currently .swatch-link { display:inline-block; margin:0 0 0 10px; }
.swatch-label { border: 1px solid #fff; margin:0; white-space: nowrap; background: #efefef; }
.swatch-link:hover { cursor: pointer; }
.currently .swatch-link:hover { cursor: default; }
.swatch-link .x { display: none; text-indent:-999em; position: absolute; left:0; right:0; top:0; bottom:0; background: url(../images/bg_x.png) center no-repeat transparent;  z-index: 10; }
.configurable-swatch-list .not-available .x { display: block; }
.configurable-swatch-list .not-available .swatch-link { border-color:#e6e6e6; position: relative; }
.configurable-swatch-list .not-available .swatch-label { color: #aaa; background: #fff; }

/* Image Swatches */
.swatch-link.has-image .swatch-label { position: relative; }
.swatch-link.has-image img { position: absolute; top:0; left:0; }
.configurable-swatch-list .not-available .swatch-link.has-image img { opacity: 0.4; filter:alpha(opacity=40);}

/* Other Swatch States */
.configurable-swatch-list .hover .swatch-link,
.configurable-swatch-list .selected .swatch-link,
.swatch-link:hover { border-color:#44f; }
.currently .swatch-link:hover { border-color:#bbbbbb; }
.configurable-swatch-list .wide-swatch .swatch-label { padding:0 6px; }

.configurable-swatch-box { background: none !important; }
.configurable-swatch-box select.swatch-select { display: none; }
.configurable-swatch-box .validation-advice { margin: 0 0 5px; background: #D91A00; padding: 2px 5px !important; font-weight: bold; color: #fff !important; float: left; display: block; border-radius: 3px;  }

/* CUSTOM */
.availability.out-of-stock span { color: #333; }
.product-view .add-to-cart button.out-of-stock { background-position: -80px -362px; cursor: default;}
.product-view .product-options dd .input-box { width:auto; height: auto; }
.product-options .select-label { display: none; }
.product-options dt.swatch-attr label,
.product-options dt.swatch-attr .select-label { font-size: 12px; }
.product-options dt.swatch-attr .select-label { display: inline; font-weight: normal; color: #00acb1; padding-left: 5px; }