<div class="modal fade slide-right" id="textFXFaq1" pg-portlet tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-body info-module">
                <div class="panel-group" id="accordion" role="tablist">
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingOne">
                            <h4 class="panel-title">
                                <a class="collapsed" data-toggle="collapse" data-parent="#accordion"  href="#collapseOne" target="_self" aria-expanded="false" aria-controls="collapseOne">
                                  How to add text effect?
                                </a>
                            </h4>
                        </div>
                        <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                            <hr>
                            <div class="panel-body">
                                To add text effect,<br><br>
                                <div style="padding: 7.0px 10.0px;background-color: rgb(216,235,248);border: 1.0px solid rgb(151,193,218);">
                                    NOTE: Supported format is svg. 
                                </div><br>
                                <div style="padding: 7.0px 10.0px;background-color: rgb(216,235,248);border: 1.0px solid rgb(151,193,218);">
                                    TIP: You can also add text effects in bulk. Simply select multiple text effect designs and upload. 
                                </div><br>
                                <ol>
                                    <li>Open inkXE Admin.</li>
                                    <li>Go to <b>Text</b> in the toolbar towards the left and select <b>TextFx</b>.</li>
                                    <li>Move to the right and tap <b>Add New TextFx</b>.<img src="modules/textFX/doc/assets/textFX1.png" /></li>
                                    <li>A box will appear. Click <b>Upload TextFX</b> Fonts to upload a text effect and set its property, such as name.</li>
                                    <li>Click <b>Save</b>.</li>
                                </ol>
                                Your text effect has been added.
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingTwo">
                            <h4 class="panel-title">
                                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" target="_self" aria-expanded="false" aria-controls="collapseTwo">
                                  How to edit text effect?
                                </a>
                            </h4>
                        </div>
                        <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                            <hr>
                            <div class="panel-body">
                                To edit text effect,
                                <ol>
                                    <li>Open inkXE Admin.</li>
                                    <li>Go to <b>Text</b> in the toolbar towards the left and select <b>TextFx</b>.</li>
                                    <li>Move to the right and you will see the available text effects.</li>
                                    <li>Now, select the text effect you want to edit and click <b>Edit Selected</b>.<img src="modules/textFX/doc/assets/textFX2.png" /></li>
                                    <li>
                                        A new page will appear where you can edit properties of selected textfx, such as:
                                        <ul>
                                            <li>Change name</li>
                                            <li>Change word</li>
                                            <li>Delete textfx</li>
                                        </ul>
                                        <img src="modules/textFX/doc/assets/textFX3.jpg" />
                                    </li>
                                    <li>Make your changes and click <b>Save</b>.</li>
                                </ol>
                                Your text effect has been edited.
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingThree">
                            <h4 class="panel-title">
                                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" target="_self" aria-expanded="false" aria-controls="collapseThree">
                                  How to delete text effect?
                                </a>
                            </h4>
                        </div>
                        <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                            <hr>
                            <div class="panel-body">
                                To delete text effect,
                                <ol>
                                    <li>Open inkXE Admin.</li>
                                    <li>Go to <b>Text</b> in the toolbar towards the left and select <b>TextFx</b>.</li>
                                    <li>Move to the right and you will see the available text effects.</li>
                                    <li>Now, select the text effect/s you want to delete and click <b>Delete Selected</b>.<img src="modules/textFX/doc/assets/textFX4.png" /></li>
                                    <li>A pop-up will open asking you to confirm your action.</li>
                                    <li>Click <b>Confirm</b>.</li>
                                </ol>
                                <div style="padding: 7.0px 10.0px;background-color: rgb(216,235,248);border: 1.0px solid rgb(151,193,218);">
                                    TIP: You can also delete text effects in bulk. Simply select multiple textfx and follow same instructions. 
                                </div><br>
                                Your text effect has been deleted.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>