<div class="panel panel-default">
	<div class="panel-heading">
    	<h1><span class="fa fa-info-circle"></span> Warenkorb Hinweis</h1>
    </div>
    <div class="panel-body">
    	<p><?php echo '<a href="'.$product->getProductUrl().'">'.Mage::helper('core')->htmlEscape($product->getName()).'</a> '.$this->__('wurde in Ihren Warenkorb gelegt.'); ?></p>
    	<div class="btn-group" role="group" aria-label="...">
         	<button onclick="jQuery.colorbox.close();" class="button btn-continue" title="<?php echo $this->__("Weiter Shoppen");?>"><?php echo $this->__("Weiter Shoppen");?></button>
         	<a href="<?php echo Mage::helper('checkout/cart')->getCartUrl(); ?>" class="button btn-continue" title="<?php echo $this->__("Kasse");?>"><span><?php echo $this->__("Zum Warenkorb");?></span></a>
        </div>
    </div>
</div>
<style type="text/css">
.tempcp-quickview-view .action_button { display:none; }
</style>
