<div class="container-fluid" ng-controller="textFXController">
    <div class="row" ng-init="init()">
        <div class="col-sm-12">
            <div class="panel panel-transparent">
                <div class="panel-body padding-0">
                    <button type="button" class="btn btn-info btn-sm btn-cons" ng-click="addNewTextFx()">
                        <span>
                            <xe-translate text-value="Add New TextFX">
                            </xe-translate>
                        </span>
                    </button>
                    <i class="fa fa-info-circle info-module-icon" ng-click="showtextFXFaq(1)">
                    </i>
                </div>
            </div>
            <ng-include src="'modules/textFX/views/partials/textFXEditView.html'" ng-show="isEditViewActive">
            </ng-include>
            <ng-include src="'modules/textFX/views/partials/textFXUploadView.html'"  ng-show="isUploadViewActive">
            </ng-include>
            <div class="panel panel-default">
                <div class="panel-heading separator">
                    <div class="w-full">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="m-r-10 m-t-n-5 pull-left">
                                    <div class="checkbox check-success ">
                                        <input type="checkbox" id="selectAllTextFX" ng-model="allChecked" ng-change="selectAllChecked(allChecked)"/>
                                        <label for="selectAllTextFX">
                                            <xe-translate text-value="Select All">
                                            </xe-translate>
                                        </label>
                                    </div>
                                </div>
                                <div class="m-r-10 pull-left">
                                    <button type="button" class="btn btn-default btn-sm btn-cons" ng-click="editSelectedTextFx()" ng-class="{'disabled': fileCount != 1}">
                                        <span>
                                            <xe-translate text-value="Edit Selected">
                                            </xe-translate>
                                        </span>
                                    </button>
                                </div>
                                <div class="m-r-10 pull-left">
                                    <button type="button" class="btn btn-default btn-sm btn-cons"  ng-click="removeTextFxStyle()" ng-class="{'disabled': fileCount < 1}" ng-disabled="demoStatus">
                                        <span>
                                            <xe-translate text-value="Delete Selected">
                                            </xe-translate>
                                        </span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel-body m-t-20">
                    <!--preloader-->
                    <div class="row">
                        <div class="col-lg-12 bg-white" ng-hide="dataLoaded">
                            <div class="product-wrap-height">
                                <div class="panel-body text-center">
                                    <img class="image-responsive-height demo-mw-50 page-loader" src="assets/img/demo/progress.svg" alt="Progress"/>
                                    <span class="loader-label">
                                        <xe-translate text-value="Loading Text-fx">
                                        </xe-translate>
                                        ...
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div ng-hide="dataList" class="gallery-box-wrap textFx-list">
                        <div class="gallery-box pos-rlt" ng-repeat="textFx in textFxList">
                            <label class="no-margin cursor-pointer" for="textFx_{{ textFx.textfx_style_id }}">
                                <div class="padding-10">
                                    <img class="img-thumb"  ng-src="{{ textFxPath+textFx.textfx_style_id+'_'+textFx.alphabate[0].charecter }}.svg"  width="100" height="100"/>
                                </div>
                            </label>
                            <div class="checkbox check-success gallery-check">
                                <input type="checkbox" id="textFx_{{ textFx.textfx_style_id }}"  ng-model="textFxCheck[$index]"  ng-change="textFxSelected(textFxCheck[$index])"/>
                                <label for="textFx_{{ textFx.textfx_style_id }}">
                                </label>
                            </div>
                        </div>
                        <span ng-show="noData">
                            <p class="font-normal text-lg text-center m-t-150">
                                <xe-translate text-value="No TextFx found">
                                </xe-translate>
                            </p>
                        </span>
                    </div>
                </div>
                <div ng-show="isLoadMore" class="panel-footer padding-10 text-center b-t-none">
                    <button type="button" class="btn btn-success btn-sm btn-cons" ng-click="loadMore()"  >
                        <!-- <span>Load More</span> -->
                        <xe-translate text-value="Load More">
                        </xe-translate>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <ng-include src="'modules/textFX/doc/textFXFaq1.html'">
    </ng-include>
</div>
