<?php
	/*Start copy at here*/
	/*framework: get current theme setting*/
	$list_image_width = (int)$this->getConfig("image_width", 300);
	$list_image_height = (int)$this->getConfig("image_height", 300);
	$swap_image_number = (int)$this->getConfig("swap_image_number", 0);

	$popup_quickview_width = $this->getConfig("popup_quickview_width", "60%");
	$popup_quickview_height = $this->getConfig("popup_quickview_height", "80%");

	$enable_pzoom = $this->getConfig("show_pzoom");
	$enable_new_icon = $this->getConfig("enable_new_icon");
	$enable_sale_icon = $this->getConfig("enable_sale_icon");
	$show_title = $this->getConfig('show_title');
	$enable_short_desc = $this->getConfig('show_des');
	$show_review = $this->getConfig('review');
	$show_price = $this->getConfig('show_price');
	$show_addcart = $this->getConfig("show_btn");
	$show_compare_wishlist = $this->getConfig("enable_wc") ;
	/*end get setting*/

	/*quickview was enabled?*/
	$quickview = isset($config['enable_quickview']) ? $config['enable_quickview'] : 0;
	/*Swap images was enabled?*/
	$swap_image = isset($config['enable_swap']) ? $config['enable_swap'] : 0;

	$moduleId = rand().time();
	$itemsperpage = (int)$this->getConfig("itemspage",4);
	$auto_play_mode = (int)$this->getConfig("auto_play");

	$title_maxchar = (int)$this->getConfig("desc_maxchar");
	$title_maxchar = $title_maxchar > 0 ?$title_maxchar: 100;
	$desc_maxchar = (int)$this->getConfig("desc_maxchar");
	$desc_maxchar = $desc_maxchar > 0 ?$desc_maxchar: 100;
	$interval = (int)$this->getConfig("interval");

	$auto_play = $auto_play_mode?"true":"false";
	$cols = (int)$this->getConfig("itemsrow",4);
	$cols = !empty($cols)?$cols:1;
	$span = floor(12/$cols);
	$active = 'news';

	/*end copy at here*/


	$tabs = array( "news"		=> $this->__('New Arrival'),
				   "featured"	=> $this->__("Featured"),
				   "specical"	=> $this->__("Special"),
				   "bestseller"	=> $this->__("Best Seller"),
				   "mostview"	=> $this->__("Most Viewed"),
				   "toprated"	=> $this->__("Top Rated"),
				   "random"		=> $this->__("Random"),
				   "related"	=> $this->__("Related Products"),
				   "upsell"		=> $this->__("Upsell Products")
	);
	$current = 0;
	$modid = rand(1,9)+rand();
	$is_related = false;

	$price_prefix = "_clone_tabshome_".$modid;
?>
<?php $_helper = $this->helper('catalog/output'); ?>

<div class="<?php echo $this->getConfig('prefix');?> block producttabs">
<?php if($this->getConfig('title')) { ?>
	<div class="block-title">
		<h2><?php echo $this->getConfig('title') ?></h2>
		<?php if( ($pretext=$this->getConfig("pretext")) && !$cms ) { ?>
			<div class="pretext"><?php echo $pretext; ?></div>
		<?php } else {
			?>
			<div class="pretext"><?php echo $cms; ?></div>
			<?php
		} ?>
	</div>
	<?php } ?>
	<div class="tab-nav">
		<ul class="nav nav-tabs" id="producttabs<?php echo $modid;?>">
			<?php foreach( $tabs as $key => $value ) { ?>
				<?php if( isset($$key) && !empty($$key) ) {     $products = $$key; ?>
				<?php if( empty($products) || $products->getSize() <= 0){ continue; } ?>
				 <li class="tab-<?php echo $key;?>"><a href="#tab-<?php echo $key.$modid;?>" data-toggle="tab"><?php echo $value; ?></a></li>
			<?php } ?>
			<?php } ?>
		</ul>
	</div>
	<div class="tab-content">
			<?php $i=0; foreach( $tabs as $tab => $text ) { ?>
				<?php if( isset($$tab) && !empty($$tab) ) {     $products = $$tab; ?>
					<?php if( empty($products) || $products->getSize() <= 0){ continue; } ?>
					<?php $products = $products->getItems(); ?>
					<div class="carousel tab-pane box-products  <?php echo ($tab=="related")?"block-related":""; ?> tabcarousel<?php echo $modid; ?> carousel slide" id="tab-<?php echo $tab.$modid;?>">
						
						<?php if( count($products) > $itemsperpage ) { ?>
						<div class="carousel-controls">
						<a class="carousel-control left" href="#tab-<?php echo $tab.$modid;?>"   data-slide="prev">&lsaquo;</a>
						<a class="carousel-control right" href="#tab-<?php echo $tab.$modid;?>"  data-slide="next">&rsaquo;</a>
						</div>
						<?php } ?>
						<?php
							if($tab == "related") {
								$is_related = true;
								?>
							 <p class="block-subtitle"><?php echo $this->__('Check items to add to the cart or') ?>&nbsp;<a href="#" onclick="selectAllRelated(this); return false;"><?php echo $this->__('select all') ?></a></p>	
								<?php
							}
						?>
						<div class="carousel-inner ">		
						 <?php 
							$pages = array_chunk( $products, $itemsperpage);
							$price_prefix = $price_prefix."_".$tab;
						 ?>	
						  <?php foreach ($pages as  $k => $_productCollection ) {  ?>
						  		<div class="item <?php if($k==0) {?>first<?php } elseif($k == (count($pages) -1 )) {?>last<?php } ?> <?php if($k==0) {?>active<?php } ?> product-grid no-margin">
								<?php if($product_module_path = Mage::helper("ves_tempcp/framework")->getLayoutPath("product_module.phtml")) { ?>
							   	 	<?php require ($product_module_path); ?>

							    <?php } ?>
								</div>
						  <?php } ?>
						</div>
					</div>
				<?php } // End of if ?>
			<?php } // endforeach of tabs?>

	</div>
</div>

<script type="text/javascript">
<!--
jQuery(function () {
	jQuery('#producttabs<?php echo $modid;?> a:first').tab('show');
	jQuery('.tabcarousel<?php echo $modid;?>').carousel({interval:false,auto:false,pause:'hover'});
})

//--></script>
<?php
	if($is_related) {
?>
	<script type="text/javascript">decorateList('block-related', 'none-recursive')</script>
    <script type="text/javascript">
    //<![CDATA[
    $$('.related-checkbox').each(function(elem){

        Event.observe(elem, 'click', addRelatedToProduct)
    });

    var relatedProductsCheckFlag = false;
    function selectAllRelated(txt){

        if (relatedProductsCheckFlag == false) {
            $$('.related-checkbox').each(function(elem){
                elem.checked = true;
            });
            relatedProductsCheckFlag = true;
            txt.innerHTML="<?php echo $this->__('unselect all') ?>";
        } else {
            $$('.related-checkbox').each(function(elem){
                elem.checked = false;
            });
            relatedProductsCheckFlag = false;
            txt.innerHTML="<?php echo $this->__('select all') ?>";
        }
        addRelatedToProduct();
    }

    function addRelatedToProduct(){
        var checkboxes = $$('.related-checkbox');
        var values = [];
        for(var i=0;i<checkboxes.length;i++){
            if(checkboxes[i].checked) values.push(checkboxes[i].value);
        }
        if($('related-products-field')){
            $('related-products-field').value = values.join(',');
        }
    }
    //]]>
    </script>
<?php
	}
?>

