<div class="container-fluid" ng-controller="ShapeController">
    <div class="row" ng-init="init()">
        <div class="col-sm-12">
            <div class="panel panel-transparent">
                <div class="panel-body padding-0">
                    <button type="button" class="btn btn-info btn-sm btn-cons from-top" ng-click="addNewShape()">
                        <span>
                            <xe-translate text-value="Add New Shape">
                            </xe-translate>
                        </span>
                    </button>
                    <i class="fa fa-info-circle info-module-icon" ng-click="showShapeFaq(1)">
                    </i>
                    <i class="fa fa-info-circle info-module-icon pull-right" ng-click="showShapeFaq(2)">
                    </i>
                    <button type="button"  class="btn btn-info btn-sm btn-cons pull-right" ng-click="openCatModal()">
                        <span>
                            <xe-translate text-value="Manage Categories">
                            </xe-translate>
                        </span>
                    </button>
                </div>
            </div>
            <ng-include src="'modules/shape/views/partials/shapeEditView.html'" ng-show="isEditViewActive">
            </ng-include>
            <ng-include src="'modules/shape/views/partials/shapeUploadView.html'" ng-show="isUploadViewActive">
            </ng-include>
            <div class="panel panel-default">
                <div class="panel-heading separator">
                    <div class="w-full">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="m-r-10 m-t-n-5 pull-left">
                                    <div class="checkbox check-success ">
                                        <input type="checkbox" value="selectAll" id="selectAll" ng-model="allChecked" ng-change="selectAllChecked(allChecked)"/>
                                        <label for="selectAll">
                                            <xe-translate text-value="Select All">
                                            </xe-translate>
                                        </label>
                                    </div>
                                </div>
                                <div class="m-r-10 pull-left">
                                    <button type="button" class="btn btn-default btn-sm btn-cons" ng-click="editSelectedShape()"  ng-class="{'disabled': fileCount < 1}">
                                        <span>
                                            <xe-translate text-value="Edit Selected">
                                            </xe-translate>
                                        </span>
                                    </button>
                                </div>
                                <div class="m-r-10 pull-left">
                                    <button type="button" class="btn btn-default btn-sm btn-cons" ng-click="deleteSelectedShape()" id="shape_delete_modal" ng-model="modal.slideUp"  ng-class="{'disabled': fileCount < 1}" ng-disabled="demoStatus">
                                        <span>
                                            <xe-translate text-value="Delete Selected">
                                            </xe-translate>
                                        </span>
                                    </button>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="pull-right">
                                    <!-- <div class="m-r-10 pull-left">
                                        <input type="text" placeholder="Search by tag" class="form-control input-sm">
                                    </div> -->
                                    <div class="btn-group pull-left m-r-20">
                                        <button type="button" class="btn btn-default text-ellipsis"  data-toggle="dropdown" style="width:137px">
                                            {{ selectedCategory }}
                                        </button>
                                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <span class="caret">
                                            </span>
                                            <span class="sr-only">
                                                Toggle Dropdown
                                            </span>
                                        </button>
                                        <ul class="dropdown-menu" role="menu" ng-class="{'button-scroll':shapeCategoryList.length> 4}" style="width:163px">
                                            <li ng-click="categorySelected('')">
                                                <a href="">
                                                    <xe-translate text-value="All Categories">
                                                    </xe-translate>
                                                </a>
                                            </li>
                                            <li ng-repeat="category in shapeCategoryList"  ng-click="categorySelected(category)">
                                                <a href="">
                                                    {{ category.category_name }}
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel-body m-t-20">
                    <!--preloader-->
                    <div class="row">
                        <div class="col-lg-12 bg-white" ng-hide="dataLoaded">
                            <div class="product-wrap-height">
                                <div class="panel-body text-center">
                                    <img class="image-responsive-height demo-mw-50 page-loader" src="assets/img/demo/progress.svg" alt="Progress"/>
                                    <span class="loader-label">
                                        <xe-translate text-value="Loading Shapes">
                                        </xe-translate>
                                        ...
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div ng-hide="dataList" class="shape-admin-box-wrap">
                        <div class="shape-box pos-rlt" ng-repeat="shape in shapeList">
                            <!-- <div class="padding-10">
                                <img class="img-thumb" ng-src="{{shape.url}}" width="100" height="100">
                            </div> -->
                            <label class="no-margin cursor-pointer" for="{{ shape.id }}">
                                <div id="divsvg_{{ $index }}" class="shape_zoom_list">
                                    <img src="assets/img/demo/progress.svg" width="30" height="30" style="height:80px; vertical-align:middle;"/>
                                </div>
                            </label>
                            <div class="checkbox check-success template-check">
                                <input type="checkbox" value="{{ shape.id }}" id="{{ shape.id }}"  ng-model="shapeCheck[$index]"  ng-change="shapeSelected(shapeCheck[$index],$index)"/>
                                <label for="{{ shape.id }}">
                                </label>
                            </div>
                        </div>
                        <span ng-show="noData">
                            <p class="font-normal text-lg text-center m-t-150">
                                <xe-translate text-value="No Shape found">
                                </xe-translate>
                            </p>
                        </span>
                    </div>
                </div>
                <div ng-show="isLoadMore" class="panel-footer text-center b-t-none">
                    <button type="button" class="btn btn-success btn-sm btn-cons" ng-click="loadMore()" ng-disabled="isLoadMorePreloader" ng-show="isLoadMore">
                        <span>
                            <xe-translate text-value="Load More">
                            </xe-translate>
                        </span>
                    </button>
                    <img class="image-responsive-height demo-mw-30" src="assets/img/demo/progress.svg" alt="Progress" ng-show="isLoadMorePreloader"/>
                </div>
            </div>
        </div>
    </div>
    <ng-include src="'modules/shape/views/partials/categorymodal.html'">
    </ng-include>
    <ng-include src="'modules/shape/doc/shapeFaq1.html'">
    </ng-include>
    <ng-include src="'modules/shape/doc/shapeFaq2.html'">
    </ng-include>
</div>
