<div class="container-fluid" ng-controller="productTemplateCtrl">
    <div class="col-sm-12" ng-init="init()">
        <!-- Added Button -->
        <div class="panel panel-transparent">
            <div class="panel-body padding-0">
                <button type="button" class="btn btn-info btn-sm btn-cons" ng-click="addProductTemplate()">
                    <span>
                        <xe-translate text-value="Add New Template">
                        </xe-translate>
                    </span>
                </button>
                <i class="fa fa-info-circle ng-scope info-module-icon m-r-15" tooltip="" tooltip-placement="left" ng-click="showProductTemplateFaq(1)">
                </i>
                <!-- <p class="small m-t-10"><xe-translate text-value="Add New Template"></xe-translate>Here you can add new product template.</p> -->
            </div>
        </div>
        <ng-include src="'modules/productTemplate/views/partials/addProductTemplate.html'" ng-show="isAddViewActive">
        </ng-include>
        <ng-include src="'modules/productTemplate/views/partials/editProductTemplate.html'" ng-show="isEditViewActive">
        </ng-include>
        <!-- preloader start -->
        <div class="panel panel-default" ng-show="preloader">
            <div class="graphics-wrap-height">
                <div class="panel-body text-center">
                    <img class="image-responsive-height demo-mw-50 page-loader" src="assets/img/progress/progress-circle-master.svg" alt="Progress"/>
                    <span style="position: absolute;top:45%;right:40%;">
                        <xe-translate text-value="Loading">
                        </xe-translate>
                        ...
                    </span>
                </div>
            </div>
        </div>
        <!-- preloader end -->
        <div class="panel panel-default" ng-hide="preloader">
            <div class="panel-heading separator">
                <div class="panel-title">
                    <xe-translate text-value="Product template list">
                    </xe-translate>
                </div>
            </div>
            <div class="panel-body m-t-20">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="table-responsive custom-table" ng-if="productTemplateList.length> 0">
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th>
                                            <xe-translate text-value="Name">
                                            </xe-translate>
                                        </th>
                                        <th>
                                            <xe-translate text-value="Default status">
                                            </xe-translate>
                                        </th>
                                        <th>
                                            <xe-translate text-value="Image">
                                            </xe-translate>
                                        </th>
                                        <th>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="template in productTemplateList">
                                        <td>
                                            {{ template.name }}
                                        </td>
                                        <td>
                                            <div class="m-b-15">
                                                <div class="checkbox check-info">
                                                    <input type="checkbox" id="temp_isDefault_{{ $index }}" ng-model="template.is_default" ng-checked="template.is_default == 1" ng-change="changeTemplateDefault(template.is_default,$index)"/>
                                                    <label for="temp_isDefault_{{ $index }}">
                                                        <xe-translate text-value="Set as default area">
                                                        </xe-translate>
                                                    </label>
                                                </div>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="custom-mask-thumb m-l-5">
                                                <img class="img-responsive" ng-src="{{ template.temp_side_list[0].url }}" fallback-src="{{ defaultImage }}"/>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="pull-left m-l-30">
                                                <button class="btn btn-info btn-sm m-t-5" type="button"  ng-click="editProductTemplates($index)">
                                                    <i class="fa fa-paste">
                                                    </i>
                                                    <xe-translate text-value="Edit">
                                                    </xe-translate>
                                                </button>
                                            </div>
                                            <button class="btn btn-danger btn-sm m-l-5 m-t-5" type="button"  ng-class="{'disabled': isPreLoader || template.is_default == 1}"  ng-click="deleteProductTemplate($index)">
                                                <xe-translate text-value="Delete">
                                                </xe-translate>
                                            </button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <span ng-if="productTemplateList.length == 0">
                            <p class="font-normal text-lg text-center m-t-150">
                                <xe-translate text-value="No Template Found">
                                </xe-translate>
                            </p>
                        </span>
                    </div>
                </div>
            </div>
            <div ng-show="isLoadMore" class="panel-footer">
                <div class="text-center">
                    <button type="button" class="btn btn-success btn-sm btn-cons" ng-click="loadMore()" ng-disabled="isPreLoader" ng-show="isLoadMore">
                        <span>
                            <xe-translate text-value="Load More">
                            </xe-translate>
                        </span>
                    </button>
                    <img class="image-responsive-height demo-mw-30 " src="assets/img/progress/progress-circle-master.svg" alt="Progress" ng-show="isPreLoader"/>
                </div>
            </div>
        <ng-include src="'modules/productTemplate/doc/pt01.html'">
        </ng-include>
        </div>
        <ng-include src="'modules/productTemplate/views/partials/templatewarningmodal.html'">
        </div>
        <ng-include src="'modules/productTemplate/views/partials/warningModal.html'">

        </div>
