.vesclear:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
 
.vesclear {
	display: inline-block;
}
 
html[xmlns] .vesclear {
	display: block;
}
 
* html .vesclear {
	height: 1%;
}

/**/
.colswrapper .itemcol{
	float:left;
	border: 1px solid #E5E5E5;
    margin-right: 12px;
    padding: 9px;
	background:#FFF;
	width:95%;
   margin-bottom:12px;
}

.cols2 .itemcol{	width:45.2%;}
.cols3 .itemcol{	width:28%;}
.cols4 .itemcol{	width:22%;}
.cols5 .itemcol{	width:18%;}

.blog-tags{
	background:url(ico-tag.gif) no-repeat 0 4px;
	padding-left:19px
}
.ves-description{	margin:10px 0; }
/* CATEGORY PAGE */
.blog-list .blog-childrent{	padding-bottom:16px;}

.blog-meta span{ text-transform:uppercase; }

.blog-list  .blog-image{ margin:0 0 10px; position:relative}
.blog-list .blog-botm{
	border-top:solid 1px #E5E5E5;
	color:#AAAAAA;
	font-size:93%
}

/* DETAIL BLOG */
span.created-date,
span.author
{
    color: #AAAAAA;
    font-size: 85%;
    text-transform: uppercase;
}

.blog-post .blog-container{
	position:relative;
	padding-bottom:12px;
}

.blog-post div.blog-description {
    font-size: 116%;
    font-weight: 700;
}

.blog-post .blog-bottom > div {
	width:46%; 
	float:left;
    border-bottom: 1px solid #DDDDDD;
    color: #AAAAAA;
    float: left;
    font-size: 83%;
    margin-right: -1px;
    padding: 14px 20px 0 0;
    text-transform: uppercase;
}
.blog-post  .blog-bottom { border-top:1px solid  #DDD }
.blog-post .blog-social,
.blog-post .blog-comment, .blog-post .comment-form{ border-top:5px solid #DDD; padding:8px 0px; margin:16px 0 }

.blog-post .above-inputs input{ width:100%;background:#F5F5F5 }
.blog-post .above-inputs .input-box{ width:98%}
.blog-post .above-inputs li{ width:48%; float:left; clear:none }
.blog-post .above-inputs  li.email{float:right}
.blog-post .mid-inputs textarea{ width:99%;height:160px; background:#F5F5F5 }
.blog-post input:focus,.blog-post textarea:focus{background:#FFF}

.blog-post .blog-social  .social-sharing > div{ float:left}

.blog-extra {padding:8px 0 }
.blog-extra > div{ width:50%; float:left; }

.pages > div{ float:left; }


.comments-list li{ display:block; position:relative; min-height:80px; padding:8px 12px; }
.comments-list li:hover{}
.comments-list li.odd{ background:#F5F5F5 }
.comments-list .comment-link{	float:right;	font-size:11px; display:none; }
.comments-list li:hover .comment-link{ display:block}
.post-comments .pager{ padding:12px 0px }

/** MODULES STYLES ***/
	/* LATEST BLOG */
.venus-latest-block{
	position:relative;
}
	.venus-latest-block .post-item{}
	.venus-latest-block img{
		float:left;
		width:100%;
	}
	.venus-latest-block div.post-image{
		width:80px;
		height:80px;
		overflow:hidden;
		float:left;
		padding-right:8px;
	}
	.venus-latest-block  .latest-description{
	}
/** CATEGORY MENU **/
.venus-blog-menu .parent > ul { padding-left:12px; }
.venus-blog-menu .parent .head a {
	
   background: url("menu_down.gif") no-repeat scroll 0 0 #F6F6F6;
    color: #333333;
    display: block;
    height: 15px;
    margin-top: 5px;
    padding: 0;
    width: 15px;
}