﻿#amfaqConfirmOverlay{
    width:100%;
    height:100%;
    position:fixed;
    top:0;
    left:0;
    background:url('images/ie.png');
    background: -moz-linear-gradient(rgba(11,11,11,0.1), rgba(11,11,11,0.6)) repeat-x rgba(11,11,11,0.2);
    background:-webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba(11,11,11,0.1)), to(rgba(11,11,11,0.6))) repeat-x rgba(11,11,11,0.2);
    z-index: 99999;
}

#amfaqConfirmOverlay div{
    min-height: none;
    min-width: none;
    max-height: none;
    max-width: none;
}

#amfaqConfirmBox{
    background-color: #ffffff;
    width:100%;
    max-width: 460px !important;
    position:fixed;
    text-align: center;
    margin:-130px 0 0 -230px;
    border: 1px solid rgba(33, 33, 33, 0.6);
    z-index: 100;
    -moz-box-shadow: 0 0 2px rgba(255, 255, 255, 0.6) inset;
    -webkit-box-shadow: 0 0 2px rgba(255, 255, 255, 0.6) inset;
    box-shadow: 0 0 2px rgba(255, 255, 255, 0.6) inset;
}

#amfaqHideDiv{
    width:100%;
    height:100%;
    z-index: 10;
}

#amfaqConfirmBox h1,
#amfaqConfirmBox p{
    font:26px/1 'Cuprum','Lucida Sans Unicode', 'Lucida Grande', sans-serif;
    /*background:url('images/header_bg.jpg') repeat-x left bottom #f5f5f5;*/
    background-color: #ffffff;
    padding: 18px 5px;
    margin: 0;
    text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.6);
    color:#666;
}

#amfaqConfirmBox h1{
    letter-spacing:0.3px;
    color:#888;
}

#amfaqConfirmBox p{
    background:none;
    font-size:16px;
    line-height:1.4;
    padding-top: 5px;
}

#amfaq-count{
    font: 26px/1 'Cuprum','Lucida Sans Unicode','Lucida Grande',sans-serif;
    color: #666666;
    background:none;
    font-size:16px;
    line-height:1.4;
    padding-top: 5px;
}

#amfaqConfirmButtons{
    padding:5px 0 15px;
    text-align:center;
}

#amfaqConfirmBox .button:last-child{
    margin-right:0;
}

#amfaqConfirmButtons .button span{
    position:absolute;
    top:0;
    right:0px;
    background:url('images/buttons.png') no-repeat;
    width:5px;
    height:33px
}

#amfaqMessageBox{
    padding: 5px 21px 5px 21px;
    position: relative;
    min-height: 200px;
}

#amfaqMessageBox .message
{
    top: 10px;
    width: 418px;
    position: absolute;
}


#amfaqConfirmButtons .blue{				background-position:left top;text-shadow:1px 1px 0 #5889a2;}
#amfaqConfirmButtons .blue span{			background-position:-195px 0;}
#amfaqConfirmButtons .blue:hover{		background-position:left bottom;}
#amfaqConfirmButtons .blue:hover span{	background-position:-195px bottom;}

#amfaqConfirmButtons .gray{				background-position:-200px top;text-shadow:1px 1px 0 #707070;}
#amfaqConfirmButtons .gray:hover{		background-position:-200px bottom;}
#amfaqConfirmButtons .gray:hover span{	background-position:-395px bottom;}

#amfaqConfirmButtons .secs
{
    display: inline;
}

#amfaqMessageBox form
{
    display: block;
}

#amfaqMessageBox form .error
{
    border-color: #FF0000;
    font-weight: normal;
    color: black;
}

#amfaqConfirmBox label
{
    text-align: left;
    float: left;
    width: 100%;
}

#amfaqConfirmBox .captcha-image
{
    margin-left: 145px;
    display: block;
    float: none;
}

#amfaqConfirmBox .validation-advice
{
    text-align: left;
}

input#amfaq-name,
input#amfaq-email,
textarea#amfaq-question
{
    width: 100%;
    box-sizing: border-box !important;
}

#amfaq-ask-form .field-row {
    clear: both;
}
@media only screen and (max-device-width: 460px) {
    #amfaqConfirmBox {left: 0 !important; top: 14% !important; margin: 0 auto;}
}
