.rating_container {
    clear:both;
}

.rating_container a {
    float:left;
    display:block;
    width:25px;
    height:25px;
    border:0;
    background-image:url("images/rating.png");
}

.rating_container a.rating_off {
    background-position:0 0px;
}

.rating_container a.rating_half {
    background-position:0 -25px;
}

.rating_container a.rating_on {
    background-position:0 -50px;
}

.rating_container a.rating_selected {
    /*background-position:0 -75px;*/
}

.rating_container .selected
{
    display: none;
}

.rating_container a.rating_selected .selected
{
    background: url("images/rating.png") 0 -75px;
    display:block;
    width:25px;
    height:25px;
    border:0;
    cursor: pointer;
}

.amfaq-rating
{
    float: right;
    margin: 0 0 12px 12px;
}

.rating-box,
.rating-yesno
{
    margin-left: 10px;
}

.disabled
{
    pointer-events: none;
    cursor: default;
    font-weight: bold;
}