<?php $_product = $this->getProduct(); ?>
	<?php $_product_exist_in_cart = false;
		function getDomainData()
		{
		    $requestUrl = $_SERVER['SERVER_NAME'] . $_SERVER['REQUEST_URI'];
		    $protocol = strchr($requestUrl, '//', true);
		    $xePath = str_replace($protocol . '//', '', $requestUrl);
		    $xePath = strchr($xePath, '/', true);
		    $xePath = str_replace(array('www.', '.'), array('', '_'), $xePath);
		    return $xePath;
		}
		$fileFolderName = getDomainData();
		$productId = $_product->getId();
		$ref_id = 0;
	 	if(Mage::getSingleton('checkout/session') && Mage::getSingleton('checkout/session')->getQuoteId() && Mage::getSingleton('checkout/session')->getQuoteId()!='') {
			$quote = Mage::getSingleton('checkout/session')->getQuote();
			$foundInCart = false;
			foreach($quote->getAllVisibleItems() as $item) {
				if ($item->getData('product_id') == $productId) {
					$_product_exist_in_cart = true;
					$ref_id = $item->getData('custom_design');
					break;
				}
			}
		}
		$minimumQty = $this->getMinimumQuantity();
		$baseUrl = Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_WEB);
		$cartUrl = Mage::getUrl('checkout/cart');
		$storeId = Mage::app()->getStore()->getStoreId();
		$disableCrtButton = $_product->getData('disable_addtocart');
		if($_product->getTypeId() == 'configurable'){
			$AllowAttributes = $_product->getTypeInstance(true)->getConfigurableAttributes($_product);
			$preDecoratedProduct = $this->isPredecoProduct();
		}
		$url = $baseUrl.'xetool/localsettings.js';
        $tarray   = array(" ", "\n", "\r");
        $curl = curl_init();
        curl_setopt($curl, CURLOPT_URL, $url);
        curl_setopt($curl, CURLOPT_RETURNTRANSFER, true);
        curl_setopt($curl, CURLOPT_HEADER, false);
       	$contents = curl_exec($curl);
        $contents = trim(str_replace($tarray, "", $contents));
        $contents = substr($contents, 0, -1);
        $contents = explode("localSettings=", $contents);
        $contents = json_decode($contents['1'], true);
        $apikey  = $contents['api_key'];
	?>
	<?php if($_product->isSaleable() && $preDecoratedProduct && $disableCrtButton != 1):?>
		<input type="button" name="templateaddtocart" id="templateaddtocart" class="button btn-cart" value="Add to Cart" style="width: 99%;top: 6%;" onclick="template_product();"/>
		<div style="position: absolute;left: 48%;top: 5px;" id="placehere"></div>
	<?php endif; ?>
	<?php if($this->isCustomizeButton()) { ?>
		<input type="button" name="customize" id="customize" class="button btn-cart" value="Customize" <?php if($preDecoratedProduct){ ?>style="width: 99%;margin-left: 5px;"<?php } ?> onclick="customize_product();"/>
		<iframe id="css_links" src="<?php echo $baseUrl;?>xetool/xeiframe.html" style="display:none;"></iframe>
		<div id="image_data"></div>
	<?php } ?>
	<script>
		var ul = "<?php echo $baseUrl;?>";
		var cartUl = "<?php echo $cartUrl;?>";
		var storeid = "<?php echo $storeId;?>";
		var fileFolderName = "<?php echo $fileFolderName;?>";
	</script>

	<script type="text/javascript">
		var minimumQty = <?php echo $minimumQty;?>;
		var apiurl = ul+'xetool/api/index.php';
		var preloaderUrl = ul+'xetool/assets/images/progress.svg';
		var prntTypes = '', rvno = '', strUrl = '', simplpid = '';
	    jQuery('#customize').insertBefore('div.product-social-links');
	    jQuery('#templateaddtocart').insertBefore('button.tocart');
	    jQuery('#placehere').insertBefore('button.tocart');
		var minimumQty = 1;
	    jQuery("#customize").prop('disabled', true);
		getSimpleProductClient = false,
		getLatestRevision = false,
		getRefId = false;
		getPrintMethodByProduct = false;
	    //Store Add to cart button hide
	    <?php if($preDecoratedProduct){ ?>
	    	jQuery('button.btn-cart').hide();
	    <?php } ?>
		//Disable product option
		<?php if($disableCrtButton == 1){ ?>
			jQuery('#product-options-wrapper').hide();
		<?php } ?>
	    // replace  xe_size, xe_color lable to size,color
		jQuery( "#product-options-wrapper dt label" ).each(function( index ) {
			var labeltxt = jQuery( this ).html();
			if(labeltxt.toLowerCase().indexOf("XE_Size"))
				{
			var replaced = jQuery( this ).html().replace('XE_Size','Size');
		    jQuery( this ).html(replaced);}
			if(labeltxt.toLowerCase().indexOf("XE_Color")) {
				var replaced = jQuery( this ).html().replace('XE_Color','Color');
				jQuery( this ).html(replaced);}
		});
		jQuery.get(apiurl+"?reqmethod=getPrintMethodByProduct&pid="+<?php echo $_product->getId(); ?>,function(data){
			if(typeof data != "object")	data = JSON.parse(data);
			jQuery.each(data, function(i, item) {
				if(prntTypes==''){
					prntTypes = item.print_method_id;
				}
				else{
					prntTypes = prntTypes+','+item.print_method_id;
				}
				if(data.length==i+1)
					strUrl = strUrl + '&pt=' + prntTypes;
			});
			getPrintMethodByProduct = true;
			CheckCustomButton();
		});
		var api = encodeURIComponent("<?php echo $apikey;?>");
		//Get simpleproduct client call and store in the local storage
		jQuery.get(apiurl+"?reqmethod=getSimpleProductClient&id="+<?php echo $productId; ?>+"&apikey="+api+"&confId="+<?php echo $productId; ?>,function(data){
			var productDetails = data;
			sessionStorage.removeItem('productDetails');
			sessionStorage.setItem('productDetails', JSON.stringify(productDetails));
			var retrievedObject = sessionStorage.getItem('productDetails');
			var image = '<div id="image_side" style="display:none">';
			for(var i =0; i< productDetails.sides.length;i++)
			{
			image+='<img src="'+productDetails.sides[i]+'" />';
			}
			image+='</div>';
			document.getElementById("image_data").innerHTML = image;
			getSimpleProductClient = true;
			CheckCustomButton();
		});
		jQuery.get(apiurl+"?reqmethod=getLatestRevision",function(data){
			rvno = data;
			strUrl = strUrl+'&rvn='+rvno;
			getLatestRevision = true;
			CheckCustomButton();
		});
		//Get refId by productId
		jQuery.get(apiurl+"?reqmethod=getRefId&pid="+<?php echo $_product->getId(); ?>,function(data){
			refId = data;
			getRefId = true;
			CheckCustomButton();
		});

		var optionsValue = [0,0];
		<?php if($_product->getTypeId() == 'configurable'){ ?>
		jQuery('.super-attribute-select').change(function(){
			var element = jQuery(this).parent().parent();
			var elementRelIndex = jQuery('.product-options dd').index(element);
			var selectedIndex = jQuery(this)[0].selectedIndex;
			var listIndex = selectedIndex-1;
			optionsValue[elementRelIndex] = listIndex;
			spConfig.getIdOfSelectedProduct();
		});
		jQuery('.product-options li a').click(function(){
			var element = jQuery(this).parent().parent().parent().parent();
			var elementRelIndex = jQuery('.product-options dd').index(element);
			var listIndex = jQuery(this).parent().index();
			optionsValue[elementRelIndex] = listIndex;
			spConfig.getIdOfSelectedProduct();
		});
		var attrData = [];
		var selectedAttrData = {};
	    spConfig.getIdOfSelectedProduct = function(){
	    	var existingProducts = new Object();
		    for(var i=this.settings.length-1;i>=0;i--){
		    	//var selected = this.settings[i].options[this.settings[i].selectedIndex];
				if(!optionsValue[i]) optionsValue[i]=0;
				var selectedIndex = optionsValue[i]+1;
		    	var selected = this.settings[i].options[selectedIndex];
		     	if(selected.config){
		     		selectedAttrData = {};
		     		selectedAttrData["attr_code"] = this.settings[i].attr['code'];
		     		selectedAttrData["attr_label"] = this.settings[i].attr['label'];
		     		selectedAttrData["attr_value"] = this.settings[i].options[selectedIndex].label;
		     		set_attrdata(selectedAttrData, i);
		     		for(var iproducts=0;iproducts<selected.config.products.length;iproducts++){
		      			var usedAsKey = selected.config.products[iproducts]+"";
		      			if(existingProducts[usedAsKey]==undefined){
		       				existingProducts[usedAsKey]=1;
		      			}else{
		       				existingProducts[usedAsKey]=existingProducts[usedAsKey]+1;
		      			}
		      		}
		     	}
		    }
		    for (var keyValue in existingProducts){
		    	for ( var keyValueInner in existingProducts){
		     		if(Number(existingProducts[keyValueInner])<Number(existingProducts[keyValue])){
		      			delete existingProducts[keyValueInner];
		     		}
		     	}
		    }
		    var sizeOfExistingProducts=0;
		    var currentSimpleProductId = "";
		    for ( var keyValue in existingProducts){
		    	currentSimpleProductId = keyValue;
		    	sizeOfExistingProducts=sizeOfExistingProducts+1
		    }
		    if(sizeOfExistingProducts==1){
		      	simplpid='';
			   	simplpid =  simplpid+"&simplePdctId="+currentSimpleProductId;
		    }
		}
		<?php } ?>
	  	function set_attrdata(data, index) {
	  		attrData[index] = data;
	  	}
		function CheckCustomButton() {
			// Enable the customize button
			if(getSimpleProductClient && getLatestRevision && getRefId && getPrintMethodByProduct){
				jQuery("#customize").prop('disabled', false);
			}
		}
	  	function customize_product() {
			var optional = '';
			var attValue = '';
			var userQty = document.getElementById("qty").value;
			var qty = '&qty='+userQty;
			var url = "";
			var store = '&store='+storeid;
			var sid = '&ptid='+refId;
			var customer = "";
			var ischecklogin = "<?php echo Mage::getSingleton('customer/session')->getId()?> ";
			customer = ischecklogin.trim();
			if(ischecklogin>0)	customer = '&customer='+customer;
			else customer = '&customer=0';
			var screenWidth = (window.innerWidth > 0) ? window.innerWidth : screen.width;
			<?php
			if($_product->getTypeId() == 'configurable'){
				foreach($AllowAttributes as $attribute) {
				    $productAttribute = $attribute->getProductAttribute();
				    $attrId = $productAttribute->getId();
				    $attrCode = $attribute->getProductAttribute()->getAttributeCode();
				    if($attrCode != 'xe_size' && $attrCode != 'xe_color'){?>
				    	var attValue = document.getElementById("attribute<?php echo $attrId;?>").value;
				    	if(attValue != ''){
							var optional = optional+'&option_'+"<?php echo $attrCode;?>"+'='+attValue;
				    	}<?php
				    }
				}
			}
			?>
				if(optional != ''){
					if(screenWidth < 1024){
						url = ul+"xetool/index.html?id=<?php echo $_product->getId();?>"+strUrl+simplpid+store+qty+sid+customer+optional;
					}else{
						url = ul+"product-designer?id=<?php echo $_product->getId();?>"+strUrl+simplpid+store+qty+sid+customer+optional;
					}
				}else{
					if(screenWidth < 1024){
						url = ul+"xetool/index.html?id=<?php echo $_product->getId();?>"+strUrl+simplpid+store+qty+sid+customer;
					}else{
						url = ul+"product-designer?id=<?php echo $_product->getId();?>"+strUrl+simplpid+store+qty+sid+customer;
					}
				}
				window.location.href=url;
				localStorage.setItem("attributeData", JSON.stringify(attrData));
		}
		//call add To Cart api
		function template_product(){
			<?php
				$attr1 = 0;
				foreach($AllowAttributes as $attribute) {
				    $productAttribute = $attribute->getProductAttribute();
				    $attrId = $productAttribute->getId();
				    if($attr1 == 0){
				    	$attr1 = $attrId;
				    }
				}
			?>
			var size = document.getElementById("attribute<?php echo $attr1;?>").value;
			var color = document.getElementById("attribute<?php echo $attrId;?>").value;
			var qty = document.getElementById("qty").value;
			var preloaderImg = document.createElement("img");
			preloaderImg.setAttribute("src", preloaderUrl);
			preloaderImg.setAttribute("height", "30");
			preloaderImg.setAttribute("width", "30");
			preloaderImg.setAttribute("alt", "loading...");
			if(size != ''){
				if(color != ''){
					if(qty >= minimumQty){
						document.querySelector('.add-to-cart-buttons').setAttribute('style','position:relative');
						document.getElementById("placehere").appendChild(preloaderImg);
						jQuery("#templateaddtocart").prop('disabled', true);
						var data = {reqmethod:'addTemplateToCartById',pid:<?php echo $_product->getId(); ?>,xe_size:size,xe_color:color,orderQty:qty};
					    $j.ajax({
						    url: apiurl,
						    type: "GET",
						    data: data,
						    success: function(result) {
						    	window.location.href=cartUl+"?quoteId="+result['quoteId'];
				    		}
						});
					}else{
						$j('#messages_product_view').after('<ul class="messages"><li class="error-msg"><ul><li><span>The minimum quantity allowed for purchase is '+minimumQty+'.</span></li></ul></li></ul>');
						$j(".messages").fadeOut(6000);
					}
				}else{
					$j('#attribute<?php echo $attrId;?>').after('<div class="validation-advice" id="advice-required-entry-attribute<?php echo $attrId;?>">This is a required field.</div>');
					$j("#advice-required-entry-attribute<?php echo $attrId;?>").fadeOut(3000);
				}
			}else{
				$j('#attribute<?php echo $attr1;?>').after('<div class="validation-advice" id="advice-required-entry-attribute<?php echo $attr1;?>">This is a required field.</div>');
				$j("#advice-required-entry-attribute<?php echo $attr1;?>").fadeOut(3000);
			}
		}
	</script>
