<!--
    preloader start
-->
<div class="panel panel-default" ng-hide="preloader">
    <div class="graphics-wrap-height">
        <div class="panel-body text-center">
            <img class="image-responsive-height demo-mw-50 page-loader" src="assets/img/progress/progress-circle-master.svg" alt="Progress"/>
        </div>
    </div>
</div>
<!-- preloader end -->
<div class="panel panel-default" ng-show="preloader">
    <div class="loader-OnUpload" pg-portlet  on-refresh="refreshTest('.loader-OnUpload')">
        <div class="panel-body">
            <div class="col-sm-4">
                <div class="panel-heading p-t-0">
                    <div class="panel-title">
                        <xe-translate text-value="Preview">
                        </xe-translate>
                    </div>
                </div>
                <div class="radio radio-success m-t-0 m-b-30">
                    <input type="radio" id="uploadBackgroundColor" value="0" ng-model="uploadBackground.isImage"  ng-change="changePaletteTab(0)" ng-checked="uploadBackground.isImage == 0"/>
                    <label for="uploadBackgroundColor">
                        <xe-translate text-value="Background Color">
                        </xe-translate>
                    </label>
                    <input type="radio" value="1" id="uploadBackgroundImage" ng-model="uploadBackground.isImage" ng-change="changePaletteTab(1)" ng-checked="uploadBackground.isImage == 1"/>
                    <label for="uploadBackgroundImage">
                        <xe-translate text-value="Background Image">
                        </xe-translate>
                    </label>
                </div>
                <div class="gallery-upload-thumb m-b-5" ng-show="isUploadBackgroundVisible && uploadBackground.isImage && uploadBackground.isImage == 1">
                    <img class="img-responsive" ng-src="{{ uploadBackground.value }}"/>
                </div>
                <!-- <div class="palette-variant" ng-show="uploadBackground.isImage == 0">
                    <div ng-repeat="color in colorArray">
                        <span  class="pull-left w-20 " style="background-color:{{color}};background-size: contain; background-repeat:no-repeat;">
                        </span>
                    </div>
                </div> -->
                <!--  <div class="gallery-upload-thumb" ng-show="isUploadBackgroundVisible">
                     <img class="img-responsive" ng-src="{{uploadBackground.url}}">
                 </div> -->
                <div class="gallery-upload-thumb"  ng-show="isUploadFileCount &&  uploadBackground.isImage == 1">
                    <span ng-show="isUploadFileCount">
                        {{ uploadFileCount }} files selected
                    </span>
                </div>
                <button class="btn btn-success btn-sm btn-cons" multiple ng-file-select ng-file-change="upload($files)" ng-show="uploadBackground.isImage == 1">
                    <span>
                        <xe-translate text-value="Upload Background">
                        </xe-translate>
                    </span>
                </button>
                <p class="small" ng-show="uploadBackground.isImage == 1 && isError">
                    png,jpeg, jpg, bmp
                </p>
                <!-- <p class="small">svg, png, jpeg, jpg, bmp</p>  -->
                <p class="small text-danger" ng-show="showError && uploadBackground.isImage == 1">
                    {{ showMsg }}
                </p>
                <div class="clearfix" ng-show="!uploadBackground.isImage">
                    <div class="pull-left m-r-10">
                        <spectrum-colorpicker ng-model="colorChooser.Val"  options="{showInput: true,  showAlpha: false}" format="'hex'"  on-hide="onColorChooserChange(color)">
                        </spectrum-colorpicker>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 b-r-light b-l-light">
                <div class="panel-heading p-t-0">
                    <div class="panel-title">
                        <xe-translate text-value="Properties">
                        </xe-translate>
                    </div>
                </div>
                <form id="form-personal" role="form" autocomplete="off" class="p-l-20 p-r-20">
                    <div class="row clearfix">
                        <div class="col-sm-8">
                            <div class="form-group form-group-default required" pg-form-group>
                                <label>
                                    <xe-translate text-value="Name">
                                    </xe-translate>
                                </label>
                                <input type="text" class="form-control" name="Name" ng-model="uploadBackground.name" required/>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group form-group-default" pg-form-group>
                                <label>
                                    <xe-translate text-value="Price">
                                    </xe-translate>
                                </label>
                                <input type="text" class="form-control" name="price" ng-model="uploadBackground.price" money/>
                            </div>
                        </div>
                    </div>
                    <!-- <div class="row clearfix">
                      <div class="col-sm-4">
                        <div pg-form-group class="form-group form-group-default input-group nested-form-group">
                          <label><xe-translate text-value="Actual Height"></xe-translate></label>
                          <input type="text" class="form-control" name="price" ng-model="uploadBackground.height" price-Only="price-Only" style="width: 120px;">
                          <span class="input-group-addon">{{printUnit}}</span>
                        </div>
                      </div>
                      <div class="col-sm-4 m-l-30">
                        <div pg-form-group class="form-group form-group-default input-group nested-form-group">
                          <label><xe-translate text-value="Actual Width"></xe-translate></label>
                          <input type="text" class="form-control" name="Name" ng-model="uploadBackground.width" price-Only="price-Only" style="width: 120px;">
                          <span class="input-group-addon">{{printUnit}}</span>
                        </div>
                      </div>
                    </div> -->
                    <div class="row clearfix">
                        <div class="col-sm-12">
                            <div pg-form-group class="form-group form-group-default">
                                <label>
                                    <xe-translate text-value="Tags">
                                    </xe-translate>
                                </label>
                                <tags-input ng-model="uploadTags">
                                </tags-input>
                            </div>
                        </div>
                    </div>
                    <!--   <div class="row clearfix">
                        <div class="col-sm-4">
                            <div class="checkbox check-success">
                                <input type="checkbox" id="uploadScalable" ng-model="uploadBackground.scalable">
                                <label for="uploadScalable"><xe-translate text-value="Scalability"></xe-translate></label>
                            </div>
                        </div>
                        <div class="col-sm-8" ng-show="NoOfColor">
                          <div class="form-group form-group-default required" pg-form-group>
                            <label><xe-translate text-value="No Of Color"></xe-translate></label>
                            <input type="text" class="form-control" name="No Of Color" ng-model="uploadBackground.noColor" 
                            numbers-only="numbers-only">
                          </div>
                        </div>
                      </div> -->
                    <div class="row clearfix">
                        <div pg-portlet id="upload-msg">
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-sm-4">
                <div class="panel-heading p-t-0">
                    <div class="panel-title">
                        <xe-translate text-value="Assign Category">
                        </xe-translate>
                    </div>
                     <span style="color:red;">
                          *
                    </span>
                </div>
                <div class="clearfix p-l-20 p-r-20 m-t-10" ng-repeat="elem in categoryElms">
                    <div class="btn-group pull-left m-r-20">
                        <button type="button" class="btn btn-default text-ellipsis"  data-toggle="dropdown" style="width:145px">
                            {{ elem.category }}
                        </button>
                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="caret">
                            </span>
                            <span class="sr-only">
                                Toggle Dropdown
                            </span>
                        </button>
                        <ul class="dropdown-menu" role="menu" ng-class="{'button-scroll':backgroundCategoryList.length> 4}" style="width:171px">
                            <li ng-click="selectCategoryDefault('Category',$index)">
                                <a href="">
                                    <xe-translate text-value="Category">
                                    </xe-translate>
                                </a>
                            </li>
                            <li ng-repeat="categoryItem in backgroundCategoryList" ng-click="uploadCategorySelected(categoryItem,$parent.$index)">
                                <a href="">
                                    {{ categoryItem.category_name }}
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="pull-right">
                        <button class="btn btn-info btn-xs" type="button" ng-click="removeUploadCategoryElms($index)">
                            <i class="fa fa-times">
                            </i>
                        </button>
                    </div>
                </div>
                <button class="btn btn-success btn-xs m-r-20 pull-right" type="button" ng-click="addUploadCategoyElm()">
                    <i class="fa fa-plus">
                    </i>
                </button>
            </div>
        </div>
        <div class="panel-footer b-t-none clearfix">
            <div class="pull-right">
                <button class="btn btn-primary btn-sm" type="button"  ng-click="uploadBack_ground()" ng-disabled="demoStatus">
                    <xe-translate text-value="Save">
                    </xe-translate>
                </button>
                <button class="btn btn-primary btn-sm" type="button" ng-click="cancelUploadBackground()">
                    <xe-translate text-value="Cancel">
                    </xe-translate>
                </button>
            </div>
        </div>
    </div>
</div>
