/**
 * 888888ba                 dP  .88888.                    dP                
 * 88    `8b                88 d8'   `88                   88                
 * 88aaaa8P' .d8888b. .d888b88 88        .d8888b. .d8888b. 88  .dP  .d8888b. 
 * 88   `8b. 88ooood8 88'  `88 88   YP88 88ooood8 88'  `"" 88888"   88'  `88 
 * 88     88 88.  ... 88.  .88 Y8.   .88 88.  ... 88.  ... 88  `8b. 88.  .88 
 * dP     dP `88888P' `88888P8  `88888'  `88888P' `88888P' dP   `YP `88888P' 
 *
 *                          m a g n a l i s t e r
 *                                      boost your Online-Shop
 *
 * -----------------------------------------------------------------------------
 * $Id$
 *
 * (c) 2010 - 2014 RedGecko GmbH -- http://www.redgecko.de
 *     Released under the MIT License (Expat)
 * -----------------------------------------------------------------------------
 */
#magnaInstaller .viaAjax{
    margin: 0 auto;
    width: 33%;
}
#magnaInstaller .viaAjax p{
    text-align: center;
    font-size: 1.4em;
    margin: 1em 0 2em 0;
}
#ml-js-pushMessages {
	margin-top: -5px;
}
#ml-js-pushMessages h2 {color:inherit}
.successBox, .successBox th {
	background: #59E28D;
	color: #FFF;
}
.successBox p, .successBox a {
	color: #FFF;
}
.successBoxBlue, .successBoxBlue th {
	background: #AFC8E7;
	color: #FFF;
}
.successBoxBlue p, .successBoxBlue a {
	color: #FFF;
}
.noticeBox, .noticeBox th {
	background: #FFF6B7;
	color: #727273;
}
.noticeBox p, .noticeBox a {
	color: #727273;
}
.errorBox, .errorBox th {
	background: #FC807B;
	color: #FFF;
}
.errorBox p, .errorBox a {
	color: #FFF;
}
.successBox,
.successBoxBlue,
.noticeBox,
.errorBox {
	font-size: 13px;
	font-weight: bold;
	margin: 0 0 1em;
	padding: 5px 50px 5px 25px;
	text-align: left;
}
#ml-js-pushMessages .successBox,
#ml-js-pushMessages .successBoxBlue,
#ml-js-pushMessages .noticeBox,
#ml-js-pushMessages .errorBox {
	margin-bottom: 1px;
	padding: 5px 50px 5px 25px;
}
#recursiveAjaxDialog .successBox, #ml-modal_updatePlugin .successBox,
#recursiveAjaxDialog .successBoxBlue, #ml-modal_updatePlugin .successBoxBlue,
#recursiveAjaxDialog .noticeBox, #ml-modal_updatePlugin .noticeBox,
#recursiveAjaxDialog .errorBox, #ml-modal_updatePlugin .errorBox {
	padding: 0;
	background: transparent;
	margin-top: 0
}
#noteVariationsEnabled .successBox,
#noteVariationsEnabled .successBoxBlue,
#noteVariationsEnabled .noticeBox,
#noteVariationsEnabled .errorBox {
	padding: 7px 0 6px 5px;
}
.magnamain .marketing .successBox,
.magnamain .marketing .successBoxBlue,
.magnamain .marketing .noticeBox,
.magnamain .marketing .errorBox {
	padding: 20px;
}
.debugBox {
	border-width: 1px 1px 1px 5px;
	border-style: solid;
	border-color: #F00;
	padding: 5px;
	background: #ff00ff;
	background:
		-webkit-gradient(linear, left top, left bottom,
			color-stop(0.00, rgba(255,255,255, 0.6)),
			color-stop(0.49, rgba(255,255,255, 0)),
			color-stop(0.51, rgba(0,0,0,0)),
			color-stop(1.00, rgba(0,0,0,0.35))
		),
		-webkit-gradient(linear, left top, right top,
			color-stop(0.00, red),
			color-stop(16%, orange),
			color-stop(32%, yellow),
			color-stop(48%, green),
			color-stop(60%, blue),
			color-stop(76%, indigo),
			color-stop(1.00, violet)
		);
	background:
		linear-gradient(to bottom, rgba(255,255,255, 0.6) 0%, rgba(255,255,255,0) 50%, rgba(0,0,0,0) 50%, rgba(0,0,0,0.35) 100%),
		linear-gradient(to right, red, orange, yellow, green, blue, indigo, violet);
	color: #fff;
	text-shadow: 0 0 2px #000, 0 0 1px #000;
	margin: 0 0 1em 0;
	text-align: left;
}

.hideChild>.childToHide{
    display: none;
}
.hideChild:hover>.childToHide{
    display: block
}
.console{font-size: .75em;line-height: 1.25em;}
.console>.console-head{
    font-weight: bold;
    line-height: 2em;
    height:2em;
    color: #E31A1C;
    text-align:center;
}
.console>.console-content {
    padding: .25em;
    background: black;
    color: white;
    height: 15em;
    overflow-y: scroll;
    font-family: monospace;
}
#ml-js-pushMessages .successBox th,
#ml-js-pushMessages .successBoxBlue th,
#ml-js-pushMessages .noticeBox th,
#ml-js-pushMessages .errorBox th {
	position: relative;
	letter-spacing: 0.05px;
	font-size: 13px;
}
#ml-js-pushMessages .close-message {
	position: absolute;
	right: -25px;
	top: 50%;
}
#ml-js-pushMessages .close-message span {
	width: 14px;
	height: 13px;
	display: block;
	background: transparent url("../images/closethick-white.png") no-repeat;
	overflow: hidden;
	text-indent: -99999px;
	position: relative;
	top: -6px;
}
#ml-js-pushMessages .noticeBox .close-message span {
	background: transparent url("../images/closethick-brown.png") no-repeat;
}
.ml-js-modalPushMessages .successBox,
.ml-js-modalPushMessages .successBox th,
.ml-js-modalPushMessages .successBoxBlue,
.ml-js-modalPushMessages .successBoxBlue th,
.ml-js-modalPushMessages .noticeBox,
.ml-js-modalPushMessages .noticeBox th,
.ml-js-modalPushMessages .errorBox,
.ml-js-modalPushMessages .errorBox th {
	color: #333334;
	background: none;
}
.ml-js-modalPushMessages .close-message {
	display: none;
}

.ml-warning {
    background: url("../images/warning-exclamation-triangle.png") no-repeat scroll 0 3px transparent;
    height: 20px;
    width: 16px;
    padding-top: 4px;
    position: absolute;
    top: 0;
    right: 0;
}

.attributesTable span.ml-warning {
    position: relative;
    margin-left: 15px;
    display: inline-block;
    padding-top: 0;
}

.ml-collapse {
	border: none;
	background: transparent;
}

span.ml-collapse {
	display: inline-block;
	background: url("../images/collapse_arrow.png") no-repeat scroll 0 0px transparent;
	height: 22px;
	width: 25px;
	margin-top: 5px;
	float: right;
}