<div class="modal fade slide-right" id="backgroundFaq1" pg-portlet tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-body info-module">
                <div class="panel-group" id="accordion" role="tablist">
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingOne">
                            <h4 class="panel-title">
                                <a class="collapsed" data-toggle="collapse" data-parent="#accordion"  href="#collapseOne" target="_self" aria-expanded="false" aria-controls="collapseOne">
                                  How to add designs background?
                                </a>
                            </h4>
                        </div>
                        <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                            <hr>
                            <div class="panel-body">
                                To add background,
                                <br><br>
                                <div style="padding: 7.0px 10.0px;background-color: rgb(216,235,248);border: 1.0px solid rgb(151,193,218);">
                                    NOTE: Supported formats are png, jpeg, jpg & bmp. 
                                </div>
                                <br>
                                <div style="padding: 7.0px 10.0px;background-color: rgb(216,235,248);border: 1.0px solid rgb(151,193,218);">
                                    TIP: You can also add background in bulk. Simply select Background Image and upload multiple images. 
                                </div><br>
                                <ol>
                                    <li>Open inkXE Admin.</li>
                                    <li>Go to <b>Graphics</b> in the toolbar towards the left and select <b>Designs Background</b>.</li>
                                    <li>Move to the right and tap <b>Add Background</b>.</li>
                                    <li>
                                        A box will appear. Here, you can take any one of the following actions:<img src="modules/background/doc/assets/background1_1.png" />
                                        <ul>
                                            <li>Click Background Color and select a color from the color picker.</li>
                                            <li>Click Background Image and upload a background.</li>
                                        </ul>
                                        Set properties of the design you upload, such as name, price, tags, and category.
                                    </li>
                                    <li>Click <b>Save</b>.</li>
                                </ol>
                                Your designs background has been added.
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingTwo">
                            <h4 class="panel-title">
                                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" target="_self" aria-expanded="false" aria-controls="collapseTwo">
                                  How to edit designs background?
                                </a>
                            </h4>
                        </div>
                        <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                            <hr>
                            <div class="panel-body">
                                To edit designs background,
                                <ol>
                                    <li>Open inkXE Admin.</li>
                                    <li>Go to <b>Graphics</b> in the toolbar towards the left and select <b>Designs Background</b>.</li>
                                    <li>Move to the right and you will see the available designs backgrounds.</li>
                                    <li>Now, select the designs background you want to edit and click <b>Edit Selected</b>.<img src="modules/background/doc/assets/background1_2.png" /></li>
                                    <li>A box will appear where you can edit properties of selected designs background, such as name, price, and category.</li>
                                    <li>Make your changes and click <b>Save</b>.</li>
                                </ol>
                                <div style="padding: 7.0px 10.0px;background-color: rgb(216,235,248);border: 1.0px solid rgb(151,193,218);">
                                    TIP: You can also edit designs backgrounds in bulk. Simply select multiple designs backgrounds and follow same instructions. 
                                </div><br>
                                Your designs background has been edited.
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingThree">
                            <h4 class="panel-title">
                                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" target="_self" aria-expanded="false" aria-controls="collapseThree">
                                  How to delete designs background?
                                </a>
                            </h4>
                        </div>
                        <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                            <hr>
                            <div class="panel-body">
                                To delete designs background,
                                <ol>
                                    <li>Open inkXE Admin.</li>
                                    <li>Go to <b>Graphics</b> in the toolbar towards the left and select <b>Designs Background</b>.</li>
                                    <li>Move to the right and you will see the available designs backgrounds.</li>
                                    <li>Now, select the designs background you want to delete and click <b>Delete Selected</b>.<img src="modules/background/doc/assets/background1_3.png" /></li>
                                    <li>A pop-up will open asking you to confirm your action.</li>
                                    <li>Click <b>Confirm</b>.</li>
                                </ol>
                                <div style="padding: 7.0px 10.0px;background-color: rgb(216,235,248);border: 1.0px solid rgb(151,193,218);">
                                    TIP: You can also delete designs backgrounds in bulk. Simply select multiple designs backgrounds and follow same instructions. 
                                </div><br>
                                Your designs background has been deleted.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>