<!--
    preloader start
-->
<div class="panel panel-default" ng-hide="preloader">
    <div class="graphics-wrap-height">
        <div class="panel-body text-center">
            <img class="image-responsive-height demo-mw-50 page-loader" src="assets/img/progress/progress-circle-master.svg" alt="Progress"/>
        </div>
    </div>
</div>
<!-- preloader end -->
<div class="panel panel-default" ng-show="preloader">
    <div class="loader-OnUpdate" pg-portlet on-refresh="refreshTest('.loader-OnUpdate')">
        <div class="panel-body">
            <div class="col-sm-2">
                <div class="panel-heading p-t-0">
                    <div class="panel-title">
                        <xe-translate text-value="Preview">
                        </xe-translate>
                    </div>
                </div>
                <div class="gallery-upload-thumb" ng-show="isSelectedDesignVisible">
                    <img class="img-responsive" ng-src="{{ editDesign.url }}"/>
                </div>
                <div class="gallery-upload-thumb" ng-hide="isSelectedDesignVisible">
                    <span>
                        {{ fileCount }} files selected
                    </span>
                </div>
                <!--  <button type="button" class="btn btn-success btn-sm btn-cons btn-animated from-top fa fa-upload m-t-10">
                     <span>Upload Design</span>
                 </button> -->
                <!-- <button class="btn btn-success btn-sm btn-cons btn-animated from-top fa fa-upload m-t-10"
                            ng-file-select ng-file-change="upload($files)">
                            <xe-translate text-value="Upload Design"></xe-translate>
                        </button> -->
            </div>
            <div class="col-sm-5 b-r-light b-l-light">
                <div class="panel-heading p-t-0 p-l-20 p-r-20">
                    <div class="panel-title">
                        <xe-translate text-value="Properties">
                        </xe-translate>
                    </div>
                </div>
                <form id="form-personal" role="form" autocomplete="off" class="p-l-20 p-r-20">
                    <div class="row clearfix">
                        <div class="col-sm-8">
                            <div class="form-group form-group-default required" pg-form-group>
                                <label>
                                    <xe-translate text-value="Name">
                                    </xe-translate>
                                </label>
                                <input type="text" class="form-control" name="Name" ng-model="editDesign.name" required/>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group form-group-default" pg-form-group>
                                <label>
                                    <xe-translate text-value="Price">
                                    </xe-translate>
                                </label>
                                <input type="text" class="form-control" name="price" ng-model="editDesign.price" money required/>
                            </div>
                        </div>
                    </div>
                    <div class="row clearfix">
                        <div class="col-sm-6">
                            <div pg-form-group class="form-group form-group-default input-group nested-form-group">
                                <label>
                                    <xe-translate text-value="Actual Width">
                                    </xe-translate>
                                </label>
                                <input type="text" class="form-control" name="Name" ng-model="editDesign.width" price-Only="price-Only" style="width: 120px;" ng-keyup="onChangeClipArtHeightWidth(editDesign.width , 'w' , 'edit')"/>
                                <span class="input-group-addon">
                                    {{ printUnit }}
                                </span>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div pg-form-group class="form-group form-group-default input-group nested-form-group">
                                <label>
                                    <xe-translate text-value="Actual Height">
                                    </xe-translate>
                                </label>
                                <input type="text" class="form-control" name="price" ng-model="editDesign.height" price-Only="price-Only" style="width: 120px;" ng-keyup="onChangeClipArtHeightWidth(editDesign.height , 'h' , 'edit')"/>
                                <span class="input-group-addon">
                                    {{ printUnit }}
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="row clearfix">
                        <div class="col-sm-12">
                            <div pg-form-group class="form-group form-group-default">
                                <label>
                                    <xe-translate text-value="Tags">
                                    </xe-translate>
                                </label>
                                <tags-input ng-model="editTags">
                                </tags-input>
                            </div>
                        </div>
                    </div>
                    <div class="row clearfix">
                        <div class="col-sm-4">
                            <div class="checkbox check-success">
                                <input type="checkbox" id="editScalable" ng-model="editDesign.scalable"/>
                                <label for="editScalable">
                                    <xe-translate text-value="Scalability">
                                    </xe-translate>
                                </label>
                            </div>
                        </div>
                        <div class="col-sm-8" ng-show="noOfColorView">
                            <div class="form-group form-group-default required" pg-form-group>
                                <label>
                                    <xe-translate text-value="No Of Color">
                                    </xe-translate>
                                </label>
                                <input type="text" class="form-control" name="No Of Color" ng-model="editDesign.noColor"  numbers-only="numbers-only"/>
                            </div>
                        </div>
                    </div>
                    <div class="row clearfix">
                        <div class="col-sm-4" ng-show="sizeStatus">
                            <div class="checkbox check-success">
                                <input type="checkbox" id="svgAs_file"  ng-change="editSvgAsFile(editDesign.svg_as_file)" ng-model="editDesign.svg_as_file"/>
                                <label for="svgAs_file">
                                    <xe-translate text-value="Add svg as file">
                                    </xe-translate>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="row clearfix">
                        <div pg-portlet id="edit-msg">
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-sm-5 b-r-light">
                <div class="panel-heading p-t-0 p-l-20 p-r-20">
                    <div class="panel-title">
                        <xe-translate text-value="Assign Category">
                        </xe-translate>
                    </div>
                    <span style='color:red;'>
                        *
                    </span>
                </div>
                <div class="clearfix p-l-20 p-r-20 m-t-10" ng-repeat="item in editCategoryElms">
                    <!-- <div class="btn-group dropdown-default m-r-10 pull-left" pg-dropdown>
                      <button class="btn dropdown-toggle" data-toggle="dropdown" style="width:145px;" aria-expanded="false">
                            {{item.category == null?'Category':item.category}}
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu " style="width: 140px;" ng-model="categoryItem" ng-class="{'button-scroll':designCategoryList.length>4}">
                         <li >
                                <a href="">All Categories</a>
                            </li> -->
                    <!-- <li ng-repeat="categoryItem in designCategoryList"
                                ng-click="editCategorySelected(categoryItem,$parent.$index)">
                                <a href="" >
                                    {{categoryItem.category_name}}
                                </a>
                            </li>                                   
                        </ul>
                    </div>  -->
                    <div class="btn-group pull-left m-r-20">
                        <button type="button" class="btn btn-default text-ellipsis"  data-toggle="dropdown" style="width:145px">
                            {{ item.category == null?'Category':item.category }}
                        </button>
                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="caret">
                            </span>
                            <span class="sr-only">
                                Toggle Dropdown
                            </span>
                        </button>
                        <ul class="dropdown-menu" role="menu" ng-class="{'button-scroll':designCategoryList.length> 4}" style="width:171px">
                            <li ng-click="categoryDefault('Category',$index)">
                                <a href="">
                                    <xe-translate text-value="Category">
                                    </xe-translate>
                                </a>
                            </li>
                            <li ng-repeat="categoryItem in designCategoryList" ng-click="editCategorySelected(categoryItem,$parent.$index)">
                                <a href="">
                                    {{ categoryItem.category_name }}
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="btn-group pull-left m-r-20">
                        <button type="button" class="btn btn-default"  data-toggle="dropdown" style="width:145px"  ng-class="{'disabled': item.category == 'Category'}">
                            {{ item.subCategory == null?'Subcategory':item.subCategory }}
                        </button>
                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" ng-class="{'disabled': item.category == 'Category'}">
                            <span class="caret">
                            </span>
                            <span class="sr-only">
                                Toggle Dropdown
                            </span>
                        </button>
                        <ul class="dropdown-menu" role="menu" ng-class="{'button-scroll':item.subCategoryList.length> 4}" style="width:171px">
                            <li ng-click="selectSubCatEditDefault('Sub Category',$index)">
                                <a href="">
                                    <xe-translate text-value="Sub Category">
                                    </xe-translate>
                                </a>
                            </li>
                            <li ng-repeat="subCatItem in item.subCategoryList"  ng-click="editSubCategorySelected(subCatItem,$parent.$index)">
                                <a href="">
                                    {{ subCatItem.sub_category }}
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="pull-right">
                        <button class="btn btn-info btn-xs" type="button" ng-click="removeEditCategoryElms($index)">
                            <i class="fa fa-times">
                            </i>
                        </button>
                    </div>
                </div>
                <button class="btn btn-success btn-xs m-r-20 pull-right" type="button" ng-click="addEditCategoyElm()">
                    <i class="fa fa-plus">
                    </i>
                </button>
            </div>
            <!-- <div class="col-sm-2">
                <div class="panel-heading p-t-0">
                    <div class="panel-title"><xe-translate text-value="Printing Methods"></xe-translate></div>
                </div>        
                <form id="form-personal" role="form" autocomplete="off" class="p-l-20 p-r-20">
                  <div class="row clearfix">
                    <div class="col-sm-8"> 
                        <div class="checkbox check-success" ng-repeat="editPrint in printMethods">
                            <input type="checkbox" id="edit_{{editPrint.id}}" ng-model="editPrintType[$index]">
                            <label for="edit_{{editPrint.id}}">{{editPrint.name}}</label>
                        </div>
                    </div>
                  </div>
                </form>
            </div> -->
        </div>
        <div class="panel-footer b-t-none clearfix">
            <div class="pull-right">
                <button class="btn btn-primary btn-sm" type="button" ng-click="saveEditClipArt()" ng-class="{'disabled': !editDesign.name}" ng-disabled="demoStatus">
                    <xe-translate text-value="Save">
                    </xe-translate>
                </button>
                <button class="btn btn-primary btn-sm" type="button" ng-click="cancelEditClipArt()">
                    <xe-translate text-value="Cancel">
                    </xe-translate>
                </button>
            </div>
        </div>
    </div>
</div>
