<!--
    preloader start
-->
<div class="panel panel-default" ng-hide="preloader">
    <div class="graphics-wrap-height">
        <div class="panel-body text-center">
            <img class="image-responsive-height demo-mw-50 page-loader" src="assets/img/progress/progress-circle-master.svg" alt="Progress"/>
        </div>
    </div>
</div>
<!-- preloader end -->
<div class="panel panel-default" ng-show="preloader" ng-if="isUploadDesignPanel">
    <div class="loader-OnUpload" pg-portlet  on-refresh="refreshTest('.loader-OnUpload')">
        <div class="panel-body">
            <div class="col-sm-2">
                <div class="panel-heading p-t-0">
                    <div class="panel-title">
                        <xe-translate text-value="Preview">
                        </xe-translate>
                    </div>
                </div>
                <div class="gallery-upload-thumb" ng-show="isUploadDesignVisible">
                    <img class="img-responsive" ng-src="{{ uploadDesign.url }}"/>
                </div>
                <div class="gallery-upload-thumb" ng-show="isUploadFileCount">
                    <span ng-show="isUploadFileCount">
                        {{ uploadFileCount }} files selected
                    </span>
                </div>
                <button class="btn btn-success btn-sm btn-cons m-t-10" multiple ng-file-select ng-file-change="uploadDesigns($files)" name="designFiles[]" id="designFiles">
                    <xe-translate text-value="Upload Design">
                    </xe-translate>
                </button>
                <p class="small" ng-show="isError">
                    svg, png, jpeg, jpg, bmp
                </p>
                <p class="small text-danger" ng-show="showError">
                    {{ showMsg }}
                </p>
            </div>
            <div class="col-sm-5 b-r-light b-l-light">
                <div class="panel-heading p-t-0">
                    <div class="panel-title">
                        <xe-translate text-value="Properties">
                        </xe-translate>
                    </div>
                </div>
                <form id="form-personal" role="form" autocomplete="off" class="p-l-20 p-r-20">
                    <div class="row clearfix">
                        <div class="col-sm-8">
                            <div class="form-group form-group-default required" pg-form-group>
                                <label>
                                    <xe-translate text-value="Name">
                                    </xe-translate>
                                </label>
                                <input type="text" class="form-control" name="Name" ng-model="uploadDesign.name" required/>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group form-group-default" pg-form-group>
                                <label>
                                    <xe-translate text-value="Price">
                                    </xe-translate>
                                </label>
                                <input type="text" class="form-control" name="price" ng-model="uploadDesign.price" money/>
                            </div>
                        </div>
                    </div>
                    <div class="row clearfix">
                        <div class="col-sm-6">
                            <div pg-form-group class="form-group form-group-default input-group nested-form-group">
                                <label>
                                    <xe-translate text-value="Actual Width">
                                    </xe-translate>
                                </label>
                                <input type="text" class="form-control" name="Name" ng-model="uploadDesign.width" price-Only="price-Only" style="width: 120px;" ng-keyup="onChangeClipArtHeightWidth(uploadDesign.width , 'w' , 'add')"/>
                                <span class="input-group-addon">
                                    {{ printUnit }}
                                </span>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div pg-form-group class="form-group form-group-default input-group nested-form-group">
                                <label>
                                    <xe-translate text-value="Actual Height">
                                    </xe-translate>
                                </label>
                                <input type="text" class="form-control" name="price" ng-model="uploadDesign.height" price-Only="price-Only" style="width: 120px;" ng-keyup="onChangeClipArtHeightWidth(uploadDesign.height , 'h' , 'add')"/>
                                <span class="input-group-addon">
                                    {{ printUnit }}
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="row clearfix">
                        <div class="col-sm-12">
                            <div pg-form-group class="form-group form-group-default">
                                <label>
                                    <xe-translate text-value="Tags">
                                    </xe-translate>
                                </label>
                                <!-- <input class="tagsinput custom-tag-input" type="text" ng-model="uploadDesign.tags" 
                                 ui-jq="tagsinput" ng-change="setUploadTagList(uploadDesign.tags)"/> -->
                                <tags-input ng-model="uploadTags">
                                </tags-input>
                            </div>
                        </div>
                    </div>
                    <div class="row clearfix">
                        <div class="col-sm-4">
                            <div class="checkbox check-success">
                                <input type="checkbox" id="uploadScalable" ng-model="uploadDesign.scalable"/>
                                <label for="uploadScalable">
                                    <xe-translate text-value="Scalability">
                                    </xe-translate>
                                </label>
                            </div>
                        </div>
                        <div class="col-sm-8" ng-show="NoOfColor">
                            <div class="form-group form-group-default" pg-form-group>
                                <label>
                                    <xe-translate text-value="No Of Color">
                                    </xe-translate>
                                </label>
                                <input type="text" class="form-control" name="No Of Color" ng-model="uploadDesign.noColor"  numbers-only="numbers-only"/>
                            </div>
                        </div>
                    </div>
                    <div class="row clearfix">
                        <div class="col-sm-4" ng-show="sizeStatus">
                            <div class="checkbox check-success">
                                <input type="checkbox" id="svg_as_file" ng-change="uploadSvgAsFile(uploadDesign.svg_as_file)" ng-model="uploadDesign.svg_as_file"/>
                                <label for="svg_as_file">
                                    <xe-translate text-value="Add svg as file">
                                    </xe-translate>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="row clearfix">
                        <div pg-portlet id="upload-msg">
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-sm-5">
                <div class="panel-heading p-t-0">
                    <div class="panel-title">
                        <xe-translate text-value="Assign Category">
                        </xe-translate>
                    </div>
                    <span style='color:red;'>
                        *
                    </span>
                </div>
                <div class="clearfix p-l-20 p-r-20 m-t-10" ng-repeat="elem in categoryElms">
                    <div class="btn-group pull-left m-r-20">
                        <button type="button" class="btn btn-default text-ellipsis"  data-toggle="dropdown" style="width:145px">
                            {{ elem.category }}
                        </button>
                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="caret">
                            </span>
                            <span class="sr-only">
                                Toggle Dropdown
                            </span>
                        </button>
                        <ul class="dropdown-menu" role="menu" ng-class="{'button-scroll':designCategoryList.length> 4}" style="width:171px">
                            <li ng-click="selectCategoryDefault('Category',$index)">
                                <a href="">
                                    <xe-translate text-value="Category">
                                    </xe-translate>
                                </a>
                            </li>
                            <li ng-repeat="categoryItem in designCategoryList" ng-click="uploadCategorySelected(categoryItem,$parent.$index)">
                                <a href="">
                                    {{ categoryItem.category_name }}
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="btn-group pull-left m-r-20">
                        <button type="button" class="btn btn-default"  data-toggle="dropdown" style="width:145px"  ng-class="{'disabled': elem.category == 'Category'}">
                            {{ elem.subCategory }}
                        </button>
                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" ng-class="{'disabled': elem.category == 'Category'}">
                            <span class="caret">
                            </span>
                            <span class="sr-only">
                                Toggle Dropdown
                            </span>
                        </button>
                        <ul class="dropdown-menu" role="menu" ng-class="{'button-scroll':elem.subCategoryList.length> 4}" style="width:171px">
                            <li ng-click="selectSubCatUploadDefault('Sub Category',$index)">
                                <a href="">
                                    <xe-translate text-value="Sub Category">
                                    </xe-translate>
                                </a>
                            </li>
                            <li ng-repeat="subCatItem in elem.subCategoryList"  ng-click="uploadSubCategorySelected(subCatItem,$parent.$index)">
                                <a href="">
                                    {{ subCatItem.sub_category }}
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="pull-right">
                        <button class="btn btn-info btn-xs" type="button" ng-click="removeUploadCategoryElms($index)">
                            <i class="fa fa-times">
                            </i>
                        </button>
                    </div>
                </div>
                <button class="btn btn-success btn-xs m-r-20 pull-right" type="button" ng-click="addUploadCategoyElm()">
                    <i class="fa fa-plus">
                    </i>
                </button>
            </div>
            <!-- <div class="col-sm-2 ">
                <div class="panel-heading padding-0">
                    <div class="panel-title"><xe-translate text-value="Printing Methods"></xe-translate></div>
                </div>        
                <form id="form-personal" role="form" autocomplete="off" class="p-l-20 p-r-20">
                  <div class="row clearfix">
                    <div class="col-sm-8"> 
                        <div class="checkbox check-success" ng-repeat="uploadPrint in printMethods">
                          <input type="checkbox" id="upload_{{uploadPrint.id}}" ng-model="uploadPrintType[$index]">
                            <label for="upload_{{uploadPrint.id}}">{{uploadPrint.name}}</label>
                        </div>
                    </div>
                  </div>
                </form>
            </div> -->
        </div>
        <div class="panel-footer b-t-none clearfix">
            <div class="pull-right">
                <button class="btn btn-primary btn-sm" type="button"  ng-click="uploadClipArt()" ng-class="{'disabled': !uploadDesign.name || !uploadDesign.url || buttonStatus==false}" ng-disabled="demoStatus">
                    <xe-translate text-value="Save">
                    </xe-translate>
                </button>
                <button class="btn btn-primary btn-sm" type="button" ng-click="cancelUploadClipArt()">
                    <xe-translate text-value="Cancel">
                    </xe-translate>
                </button>
            </div>
        </div>
    </div>
</div>
