.ves-megamenu{
	position: relative;	
}


.ves-megamenu .dropdown-menu > .dropdown-menu-inner {
  padding: 10px;
}
.ves-megamenu .mega-group .caret {
  display: none;
}
.ves-megamenu .mega-group > .dropdown-toggle {
  display: block;
  font-weight: bold;
  padding: 6px 5px;
  text-transform: uppercase;
  border-bottom: solid 1px #E5E5E5;
}
.ves-megamenu .mega-group .dropdown-mega .mega-col-inner > ul > li a {
  margin-left: 6px;
}
.ves-megamenu .mega-col .mega-col-inner > ul {
  list-style: none outside none;
  margin: 0;
  padding: 0;
}
.ves-megamenu .mega-col .mega-col-inner > ul > li {
  list-style: none;
  margin-left: 0;
}
.ves-megamenu .mega-col .mega-col-inner > ul > li > a {
  clear: both;
  color: #555555;
  display: block;
  line-height: 20px;
}
.ves-megamenu .dropdown-submenu:hover .dropdown-menu {
  /*display: block;*/
}
.ves-megamenu .dropdown-submenu > .dropdown-menu {
  border-radius: 0 6px 6px 6px;
  left: 100%;
  margin-left: -6px;
  margin-top: -6px;
  top: 0;
}

.widget-product-list img{
  width: 60px;
  height: 60px;
  float: left;
  margin-right: 12px;
}

.widget-banner .w-banner{
 margin: 6px 10px; 
  float: left;
}
/*Updated new version for megamenu: Offset canvas sidebar menu*/
.menu-offcanvas-inner {
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
}
#menu-offcanvas .close-mobile-nav.close-block {
  font-size: 20px;
  line-height: 48px;
  text-transform: uppercase;
  padding-left: 13px;
  position: relative;
  color: #000;
}
#menu-offcanvas .menu-navigation{
  position: relative;
  width: 100%;
}
#menu-offcanvas .close-mobile-nav.close-block .sidebar-logo-search{
  padding-right: 25px;
}
#menu-offcanvas .close-mobile-nav.close-block .button-close-menu {
  font-size: 20px;
  color: #fff;
  position: absolute;
  right: 2px;
  display: block;
  line-height: 50px;
  margin-top: -25px;
  cursor: pointer;
  top: 50%;
  width: 50px;
  height: 50px;
  text-align: center;
}
#menu-offcanvas .menu-footer{
  padding-bottom: 20px;
  text-align: center;
  clear:both;
}
#menu-offcanvas .menu-footer::after {
  clear:both;
}
#menu-offcanvas .menu-footer .social-icons {
  display: table;
  width: 100%;
  margin: 0;
}
#menu-offcanvas .menu-footer .copyright {
  color: #000;
  font-weight: 400;
  margin-top: 23px;
}
#menu-offcanvas .menu-footer .social-icon {
  display: table-cell;
  border: 1px solid rgba(235,235,235,0.07);
  border-left: none;
  text-align: center;
  font-size: 17px;
  line-height: 49px;
  min-width: 40px;
  margin: 0;
  color: #FFF;
}
#menu-offcanvas .menu-footer .social-icon:hover{
  color: #188fcc;
}
span.open-child {
  font-size: 0;
  display: block;
  position: absolute;
  right: 2px;
  top: 0;
  margin-top: 3px;
  z-index: 1;
  cursor: pointer;
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
color: #FFF;
}
.dropdown-submenu span.open-child {
  right: 17px;
}
span.open-child:after {
  content: "+";
  font-size: 20px;
  text-align: center;
  background: transparent;
  opacity: 1;
}
.over > span.open-child:after {
  content: "\2212";
}
#menu-offcanvas .menu-offcanvas-content .dropdown{
  position:relative;
}
#menu-offcanvas .dropdown-menu.in {
    display: none;
    opacity: 1;
    filter: alpha(opacity=100);
    visibility: visible;
    height: auto;
   -webkit-transition: none;
   transition: none;
    transform: translateX(0);
}
#menu-offcanvas .menu-offcanvas-content .dropdown .dropdown-menu{ 
  background: transparent;
}
#menu-offcanvas .menu-offcanvas-content .dropdown .dropdown-toggle{
  height: 47px;
}
@media only screen and (min-width : 768px) {
    /* Make Navigation Toggle on Desktop Hover */
    #menu-offcanvas .dropdown:hover > .dropdown-menu, #menu-offcanvas .dropdown-submenu:hover > .dropdown-menu, .mobile-nav .dropdown:hover > .dropdown-menu, .mobile-nav .dropdown-submenu:hover > .dropdown-menu {
      display: none;
    }
    #mainmenutop .dropdown:hover > .dropdown-menu, #mainmenutop .dropdown-submenu:hover > .dropdown-menu {
      display: block!important;
      opacity: 1;
      filter: alpha(opacity=100);
      transform: translateX(0);
      visibility: visible;
      height: auto;
    }
}
/*End Update At Here*/

.ves-megamenu .aligned-center .dropdown-menu{
  left: 50%;
  transform: translate(-50%);
  -webkit-transform: translate(-50%);
  -moz-transform: translate(-50%);
  -ms-transform: translate(-50%);
  -o-transform: translate(-50%);
}



.ves-megamenu .aligned-right .dropdown-menu{
    left: auto;
    right: 0;
}
.ves-megamenu .aligned-left .dropdown-menu{

}

.ves-megamenu .megamenu .aligned-fullwidth {
  position: inherit!important;
}

.ves-megamenu .aligned-fullwidth .dropdown-menu{
  width: 100%!important;
  left: 0;
}
#menu-offcanvas .button-close-menu{ background: transparent!important;}
#menu-offcanvas .dropdown .dropdown-menu{ display: none; }
#menu-offcanvas .dropdown .dropdown-menu .dropdown-menu-inner ul li a{ color: #fff;}
#menu-offcanvas .ves-widget{ color: #fff;}

.menu-offcanvas-inner .tab-content {
    background-color: #fff!important;
}

.offcanvas-menu ul.nav.nav-tabs {
    display: none;
}
.offcanvas-effect-3.offcanvas-menu-open .offcanvas-effect-3.offcanvas-menu{
    background: #fff;
}