@import url(https://fonts.googleapis.com/css?family=Cookie);

@font-face { 
font-family: "Segoe"; 
src: url("../fonts/SegoePrint.ttf"); 
}

body{
	background:#1f3344 !important;
	background-image:url(../images/background.jpg) !important;
	background-repeat:no-repeat !important;
    background-position:center bottom !important;
}

html{
  font-size: 62.5%;
  font-family: verdana, helvetica, arial, sans-serif;  
  height: 100%;
}

body{
  height: auto;
  min-height: 100%;
  position: relative;
}

.wrapper{
  margin: 0 auto;
  max-width: 850px;
  position: relative;
}


#page > header > nav{
  background: rgba(255, 255, 255, 0.3);
  padding: 10px 0;
}

#page > header > nav ul{
  width: 100%;
  display: table;
}

#page > header > nav li{
  display: table-cell;
  text-align: center;
}

#page > header > nav li:first-child{
  text-align: left;
}

#page > header > nav li:last-child{
  text-align: right;
}


#home #page.wrapper > header{
  padding: 3rem 0;
  border-bottom: 1px dashed #fff;
  background: none;
}

.doors {
   margin: 2rem 0;
   counter-reset: days;
}

.doors > li{
  -webkit-perspective: 900;
  -moz-perspective: 900;	
  -o-perspective: 900;	   
  perspective: 900;
  position: relative;
  float: left;
  margin-right: 20px;
  margin-bottom: 20px;  
  counter-increment: days;
}

.doors li:nth-child(6n){
  margin-right: 0;
}

.doors > li,
.doors li .door,
.doors li .door:after,
.doors li .doorway{
  width: 125px;
  height: 125px;
  left: 0;
  top: 0;
  display: block;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;  
  box-sizing: border-box;  
}

.doors li .door{
  position: absolute;
  z-index: 3;
  border-left: 1px solid rgba(255,255,255,0.5);  
  border-top: 1px solid rgba(255,255,255,0.5);
  border-right: 1px solid rgba(0,0,0,0.5);
  border-bottom: 1px solid rgba(0,0,0,0.5);
  padding: 1rem;
  color: transparent;
  background:#04949f;
  background-position: 0 0, 0,0;
  background-repeat: no-repeat;  
}

.doors li a{
  display: block;
  text-decoration: none;
  color: #fff;
  position: relative;
}


.doors li .door:before{
  display: block;
  position: absolute;
  right:-2px;
  top:3px;
  content: counter(days);  
  color: #fff;
  font-size: 3rem;
  line-height: 1;
  font-family: 'Cookie', cursive;
  font-weight: bold;  
  padding-right: 20px;
  text-shadow: 2px 1px 2px #000;
}


.doorway{
  background: #fff;
  color: rgba(37,0,42,0.2);
  position: absolute;
  top: 0;
  left: 0;
  font-size: 1.5rem;
  line-height: 1;
  font-family: "clan-web-1", "clan-web-2", sans-serif;
  font-weight: bold; 
  -webkit-transition: color 1s;
  -moz-transition: color 1s;
  -o-transition: color 1s;  
  transition: color 1s;  
  padding: 2rem;
  box-shadow: inset -2px -2px 10px 5px rgba(0,0,0,0.2);
  overflow: hidden;
}

.doorway img {
    position: absolute;
    top: 2px;
    right: 0;
    left: 3px;
    bottom: 0;
}


.doors li.available:hover .doorway{
  color: rgba(37,0,42,1);
}

.doors li.available .door:before{
  background: none;
}

.doors li:nth-child(1)  .door {background-image:url(../images/door-icons/door-icon-1.png);}
.doors li:nth-child(2)  .door {background-image:url(../images/door-icons/door-icon-2.png); }
.doors li:nth-child(3)  .door {background-image:url(../images/door-icons/door-icon-3.png);}
.doors li:nth-child(4)  .door {background-image:url(../images/door-icons/door-icon-4.png);}
.doors li:nth-child(5)  .door {background-image:url(../images/door-icons/door-icon-5.png); }
.doors li:nth-child(6)  .door {background-image:url(../images/door-icons/door-icon-6.png);}
.doors li:nth-child(7)  .door {background-image:url(../images/door-icons/door-icon-7.png); }
.doors li:nth-child(8)  .door {background-image:url(../images/door-icons/door-icon-8.png); }
.doors li:nth-child(9)  .door {background-image:url(../images/door-icons/door-icon-9.png);}
.doors li:nth-child(10) .door {background-image:url(../images/door-icons/door-icon-10.png);}
.doors li:nth-child(11) .door {background-image:url(../images/door-icons/door-icon-11.png); }
.doors li:nth-child(12) .door {background-image:url(../images/door-icons/door-icon-12.png); }
.doors li:nth-child(13) .door {background-image:url(../images/door-icons/door-icon-13.png); }
.doors li:nth-child(14) .door {background-image:url(../images/door-icons/door-icon-14.png); }
.doors li:nth-child(15) .door {background-image:url(../images/door-icons/door-icon-15.png); }
.doors li:nth-child(16) .door {background-image:url(../images/door-icons/door-icon-16.png);}
.doors li:nth-child(17) .door {background-image:url(../images/door-icons/door-icon-17.png); }
.doors li:nth-child(18) .door {background-image:url(../images/door-icons/door-icon-18.png); }
.doors li:nth-child(19) .door {background-image:url(../images/door-icons/door-icon-19.png); }
.doors li:nth-child(20) .door {background-image:url(../images/door-icons/door-icon-20.png); }
.doors li:nth-child(21) .door {background-image:url(../images/door-icons/door-icon-21.png); }
.doors li:nth-child(22) .door {background-image:url(../images/door-icons/door-icon-22.png); }
.doors li:nth-child(23) .door {background-image:url(../images/door-icons/door-icon-23.png); }
.doors li:nth-child(24) .door {background-image:url(../images/door-icons/door-icon-24.png); }

.csstransforms3d .doors li .door{
  position: absolute;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
  
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;
  
  -webkit-transition: -webkit-transform 1s;
  -moz-transition: -moz-transform 1s;
  -o-transition: -o-transform 1s;  
  transition: transform 1s;
  
  -webkit-backface-visibility: hidden;    
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;        
}

.csstransforms3d .doors li .door:after{
  position: absolute;
  content: "";
  background: #000;
  z-index: 4;
    
  -webkit-backface-visibility: hidden;    
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;      
  
  -webkit-transform: rotateY(-180deg);
  -moz-transform: rotateY(-180deg);
  -ms-transform: rotateY(-180deg);    
  -o-transform: rotateY(-180deg);      
  transform: rotateY(-180deg);
}

.csstransforms3d .doors li.available .door{
  -webkit-transform: rotateY(0);
  -moz-transform: rotateY(0);
  -ms-transform: rotateY(0);    
  -o-transform: rotateY(0);      
  transform: rotateY(0);  
  -webkit-box-shadow: 2px 2px 5px 0 rgba(0,0,0,0.5);
  box-shadow: 2px 2px 5px 0 rgba(0,0,0,0.5);
}

.opend{
  -webkit-transform: rotateY(-100deg) !important;  
  -webkit-transform: rotate3d(0, -100deg, 0)!important;;  
  -moz-transform: rotateY(-100deg)!important;;
  -o-transform: rotateY(-100deg)!important;;  
  transform: rotateY(-100deg)!important;;
}


.no-csstransforms3d.csstransitions .doors li .door{
  -webkit-transition: opacity 1s;  
  -moz-transition: opacity 1s;
  transition: opacity 1s;
  opacity: 1;
}

.no-csstransforms3d.csstransitions .doors li.available:hover .door{
  opacity: 0;
}

.img-center{
	float:none;
	margin:0 auto;
}

.white{
	color:#fff !important;
	opacity:1 !important;
}

.modal-header{
	background:url(../images/modalheader.jpg);
	background-size:cover;
	min-height:70px !important;
}

.modal-body{
	color:#fff;
	background:#2C2838;
}

.modal-footer{
	background:url(../images/modalheader.jpg);
	background-size:cover;
}

img{
	border:none;
}

.modal hr {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 3px solid #fff;
	border-style:dashed;
}

.modal hr:before {
    content: "\f0c4";
    position: absolute;
    color: #fff;
	font-family: FontAwesome;
	font-size:25px;
    left: 25px;
    margin-top: -19px;
    background-color: #2C2838;
}

.usage{
	color:#fff;
	font-size:12px;
}

.present{
	background:#fff;
	padding:10px;
}

.done{
    position: absolute;
    z-index: 3;
    right: 210px;
    top: 17px;
    color: #5cb85c;
	display:none;
}

.advent-title h1{
	color:#fff;
	font-family:Segoe, "Segoe UI";
	text-shadow:2px 2px 0 rgba(255,255,255,0.5);
	font-weight:bold;
	text-align:center;
}

.advent-title > p{
	color:#fff;
	font-family:Segoe, "Segoe UI";
	text-align:center;
}


.headline{
	color:#fff;
	font-family:Segoe, "Segoe UI";
}
