@media only screen and (min-width : 1024px) {
	
.advent-title h1{
	color:#fff;
	font-family:Segoe, "Segoe UI";
	font-size:60px ;
	text-shadow:2px 2px 0 rgba(255,255,255,0.5);
	font-weight:bold;
	margin-bottom:20px;
	text-align:center;
}

.advent-title > p{
	color:#fff;
	font-size:3rem;
	font-family:Segoe, "Segoe UI";
	text-align:center;
}

.head {
    border-bottom: 2px #fff dashed;
    min-height: 300px;
}

.headline{
	color:#fff;
	font-family:Segoe, "Segoe UI";
	font-size:4em;
	margin:0;
    margin-bottom: -15px;
}

.whatitis{
	color:#fff;
	font-size:8em;
	font-weight:bold;
	margin:10px;
}

.task{
	color:#fff;
	font-size:2em;
}

.mobile-center {
    padding: 0;
    margin-left:0;
	margin-right:0;
	width:auto;
}

}


@media only screen and (max-width : 768px) {
	
.advent-title h1{
	color:#fff;
	font-family:Segoe, "Segoe UI";
	font-size:22px ;
	text-shadow:2px 2px 0 rgba(255,255,255,0.5);
	font-weight:bold;
	margin-bottom:20px;
	text-align:center;
}

.advent-title > p{
	color:#fff;
	font-size:1.4rem;
	font-family:Segoe, "Segoe UI";
	text-align:center;
}

.head {
    border-bottom: 2px #fff dashed ;
    min-height: 200px;
}

.headline{
	color:#fff;
	font-family:Segoe, "Segoe UI";
	font-size:2em;
	margin:0;
    margin-bottom: 0;
}

.whatitis{
	color:#fff;
	font-size:5em;
	font-weight:bold;
	margin:10px;
}

.task{
	color:#fff;
	font-size:2em;
}

.mobile-center {
    padding: 0;
    margin-left: 60px;
	margin-right:60px;
	margin-top:20px;
	width:auto;
}


}

@media only screen and (max-width : 568px) {
	.mobile-center {
    padding: 0;
    margin-left: 70px;
	margin-right:20px;
	margin-top:20px;
	width:290px;
	}


}


@media only screen and (max-width : 320px) {

}