<?php
/**
 * @author Amasty Team
 * @copyright Copyright (c) 2018 Amasty (https://www.amasty.com)
 * @package Amasty_Faq
 */
?>
<form id="search_mini_form" action="<?php echo Mage::helper('amfaq')->getSearchUrl() ?>" method="get">
    <div class="amfaq-search amfaq-divider-bottom">
        <label for="amfaq-search"><?php echo $this->__('Describe the problem you are having:') ?></label>
        <input id="amfaq-search" type="text" name="q" value="<?php echo $this->getSearchText() ?>" class="input-text">
        <button type="submit" title="Search Topic" class="amfaq-button button"><?php echo $this->__('Search Topic') ?></button>
    </div>
</form>