<?php
/**
 * @author Amasty Team
 * @copyright Copyright (c) 2018 Amasty (https://www.amasty.com)
 * @package Amasty_Faq
 */
?>
<?php $questions = $this->getQuestions() ?>

<?php if (sizeof($questions) > 0): ?>
    <?php foreach ($questions as $question): ?>
        <div class="question">
            <a class="title" href="#"><?php echo $question->getTitle()?></a>
            <div class="question-content" style="display:none;">
                <div>
                    <div class="author"><?php echo $question->getName()?></div>
                    <div class="short-answer">
                        <?php
                            $answer = $question->getShortAnswer();
                            echo $answer['answer'];
                        ?>
                    </div>
                    <?php if (!$answer['is_full_answer']): ?>
                        <a href="<?php echo $question->getUrl()?>" class="read-full"><?php echo $this->__('Read the FULL answer')?></a>
                    <?php endif; ?>
                </div>
            </div>
        </div>
    <?php endforeach ?>
<?php else: ?>
    <?php echo Mage::getStoreConfig('amfaq/faq_page/search_text')?>
<?php endif ?>