<div class="panel panel-default" ng-hide="addpreloader">
    <div class="graphics-wrap-height">
        <div class="panel-body text-center">
            <img alt="Progress" class="image-responsive-height demo-mw-50 page-loader" src="assets/img/progress/progress-circle-master.svg"/>
            <span class="loader-label" ng-show="addProductTemp.sizes.length> 0">
                <xe-translate text-value="Product adding">
                </xe-translate>
                ...
            </span>
        </div>
    </div>
</div>
<div class="panel panel-default" ng-show="addpreloader">
    <div class="panel-body m-t-20" style="display: block;">
            <div class="btn-group">
                <button class="btn btn-default" data-toggle="dropdown" style="width: 192px;" type="button">
                    {{ selectedImageType }}
                </button>
                <button aria-expanded="false" aria-haspopup="true" class="btn btn-default dropdown-toggle" data-toggle="dropdown" type="button">
                    <span class="caret">
                    </span>
                    <span class="sr-only">
                        Toggle Dropdown
                    </span>
                </button>
                <ul class="dropdown-menu" ng-class="{'button-scroll':captureTypes.length> 4}" role="menu" style="width: 200px;">
                    <li ng-click="loadCaptureImages($index,item)" ng-repeat="item in captureTypes">
                        <a href="">
                            {{ item.name }}
                        </a>
                    </li>
                </ul>
                <!-- dropdown end  -->
            </div>
            <div class="btn-group">
                <!-- <button class="btn btn-default" data-toggle="dropdown" style="width: 192px;" type="button">
                    {{ selectedItem.name }}
                </button>
                <button aria-expanded="false" aria-haspopup="true" class="btn btn-default dropdown-toggle" data-toggle="dropdown" type="button">
                    <span class="caret">
                    </span>
                    <span class="sr-only">
                        Toggle Dropdown
                    </span>
                </button>
                <ul class="dropdown-menu" ng-class="{'button-scroll':categoryList.length> 4}" role="menu" style="width: 200px;">
                    <li ng-click="assignTemplateToCategory(item)" ng-repeat="item in categoryList">
                        <a href="">
                            {{ item.name }}
                        </a>
                    </li>
                </ul> -->
                <!-- dropdown end  -->
                <multiselect class="input-small" multiple="true" ng-model="selectedProductCategory" options="cat.name for cat in dumProductCategoryData" change="selected()" header="Set Categories" style="width: 192px;"></multiselect>
            </div>
            <span style="margin-left: 10px;">
                <!-- <xe-translate text-value="Use category to show in designer tool">
                </xe-translate> -->
                <i class="fa fa-info-circle" tooltip= "{{categoryMessage}}" tooltip-placement="right">
                </i>
            </span>
             <!-- <span>
                Set category for load in designer tool
            </span>
            <div class="btn-group">
                <button class="btn btn-default" data-toggle="dropdown" style="width: 192px;" type="button">
                    {{ selectedLoadItem.name }}
                </button>
                <button aria-expanded="false" aria-haspopup="true" class="btn btn-default dropdown-toggle" data-toggle="dropdown" type="button">
                    <span class="caret">
                    </span>
                    <span class="sr-only">
                        Toggle Dropdown
                    </span>
                </button>
                <ul class="dropdown-menu" ng-class="{'button-scroll':categoryList.length> 4}" role="menu" style="width: 200px;">
                    <li ng-click="assignCategoryForLoadTemplate(item)" ng-repeat="item in categoryList">
                        <a href="">
                            {{ item.name }}
                        </a>
                    </li>
                </ul>
            </div> -->
        <div class="row">
            <div class="col-sm-1 m-r-10 m-t-10" ng-repeat="img in addProductTemp.images track by $index">
                <div class="gallery-upload-thumb">
                    <img class="img-responsive" ng-src="{{ img }}"/>
                </div>
            </div>
        </div>
        <div class="row m-t-10">
            <div class="col-sm-3">
                <label class="control-label">
                    <xe-translate text-value="Details">
                    </xe-translate>
                </label>
                <!-- <span style='color:red;'> * </span> -->
                <form autocomplete="off" class="b-t-light" id="form-personal" name="myform" novalidate="" role="form">
                    <div class="row clearfix">
                        <!-- <div class="col-sm-12"> -->
                        <div class="form-group form-group-default m-t-10 required" ng-class="{'has-error':submitted && !myform.Name.$valid}" pg-form-group="">
                            <label>
                                <xe-translate text-value="Name">
                                </xe-translate>
                            </label>
                            <input class="form-control" name="Name" ng-model="addProductTemp.product_name" required="" type="text"/>
                        </div>
                        <div class="form-group form-group-default required" ng-class="{'has-error':submitted && !myform.Sku.$valid}" pg-form-group="">
                            <label>
                                <xe-translate text-value="Sku">
                                </xe-translate>
                            </label>
                            <input class="form-control" name="Sku" ng-model="addProductTemp.sku" required="" type="text"/>
                        </div>
                        <div class="form-group form-group-default required" ng-class="{'has-error':submitted && !myform.Quantity.$valid}" pg-form-group="">
                            <label>
                                <xe-translate text-value="Quantity">
                                </xe-translate>
                            </label>
                            <input class="form-control" min="1" name="Quantity" ng-model="addProductTemp.qty" numbers-only="numbers-only" required="" type="number"/>
                        </div>
                        <div class="form-group form-group-default required" ng-class="{'has-error':submitted && !myform.Price.$valid}" pg-form-group="">
                            <label>
                                <xe-translate text-value="Price">
                                </xe-translate>
                            </label>
                            <input class="form-control" name="Price" ng-model="addProductTemp.price" price-only="price-only" required="" type="text"/>
                        </div>
                        <div ng-show="addProductTemp.captureType == 'Include product image'">
                                <span> This price include both product price and design price</span>
                        </div>
                        <div  ng-show="addProductTemp.captureType == 'Exclude product image'">
                            <span> This price is only design  price</span>
                        </div>
                        <!-- </div> -->
                    </div>
                </form>
            </div>
            <div class="col-sm-3 m-t-25">
                <form autocomplete="off" class="p-r-20" id="form-personal" name="myform2" role="form">
                    <div class="row b-t-light clearfix">
                        <div class="form-group form-group-default required m-t-10" ng-class="{'has-error':submitted && !myform2.shortDesc.$valid}" pg-form-group="">
                            <label>
                                <xe-translate text-value="Short Description">
                                </xe-translate>
                            </label>
                            <textarea class="form-control" name="shortDesc" ng-model="addProductTemp.short_description" placeholder="Briefly Describe your Product" required="" style="margin-top: 0px; margin-bottom: 0px; height: 40;">
                            </textarea>
                        </div>
                        <div class="form-group form-group-default m-t-10 required" ng-class="{'has-error':submitted && !myform2.desc.$valid}" novalidate="" pg-form-group="">
                            <label>
                                <xe-translate text-value="Description">
                                </xe-translate>
                            </label>
                            <textarea class="form-control" name="desc" ng-model="addProductTemp.description" placeholder="Briefly Describe your Product" required="" style="margin-top: 0px; margin-bottom: 0px; height: 58px;">
                            </textarea>
                        </div>
                        <!--  <div class="form-group form-group-default" pg-form-group 
                        ng-class="{'has-error':submitted && !myform2.Order_Quantity.$valid}">
                          <label><xe-translate text-value="Minimum Order Quantity"></xe-translate></label>
                          <input numbers-only="numbers-only" type="number" class="form-control" min="1" name="Order_Quantity" ng-model="addProductTemp.mini_qty" required>
                        </div> -->
                    </div>
                    <!--  <label class="control-label m-t-20 m-l-10"><xe-translate text-value="Customize Status"></xe-translate></label> -->
                    <div class="row clearfix m-l-10">
                        <div class="m-t-10">
                            <div class="checkbox check-info" ng-hide="hideCheckBox">
                                <input id="all" ng-false-value="0" ng-model="addProductTemp.is_customized" ng-true-value="1" type="checkbox"/>
                                <label for="all">
                                    <xe-translate text-value="Customize Status">
                                    </xe-translate>
                                </label>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-sm-3">
                <!-- dropdown start -->
                <label class="control-label required">
                    <xe-translate text-value="Categories">
                    </xe-translate>
                </label>
                <span style="color:red;">
                    *
                </span>
                <div class="row clearfix b-t-light m-r-5">
                    <div class="col-sm-12 pre-deco-sizeList">
                        <div class="checkbox check-info" ng-repeat="category in productCategoryData">
                            <input id="upload_{{ category.id }}" ng-model="uploadCategoryType[$index]" type="checkbox"/>
                            <label for="upload_{{ category.id }}">
                                {{ category.name }}
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <label class="control-label">
                    <xe-translate text-value="Color and Sizes">
                    </xe-translate>
                </label>
                <span style="color:red;">
                    *
                </span>
                <div class="row clearfix b-t-light">
                    <div class="col-sm-9 m-t-10">
                        <div class="btn-group">
                            <button class="btn btn-default" data-toggle="dropdown" style="width: 150px;" type="button">
                                {{ selectedColor }}
                            </button>
                            <button aria-expanded="false" aria-haspopup="true" class="btn btn-default dropdown-toggle" data-toggle="dropdown" type="button">
                                <span class="caret">
                                </span>
                                <span class="sr-only">
                                    Toggle Dropdown
                                </span>
                            </button>
                            <ul class="dropdown-menu" ng-class="{'button-scroll':colorData.length> 4}" role="menu" style="width: 176px;">
                                <li ng-click="assignColor($index)" ng-repeat="color in colorData">
                                    <a href="">
                                        {{ color.label }}
                                    </a>
                                </li>
                            </ul>
                            <!-- dropdown end  -->
                        </div>
                    </div>
                    <!-- </div> -->
                    <!-- dropdown start -->
                    <div class="col-sm-12 m-t-10 pre-deco-sizeList">
                        <div class="checkbox check-info" ng-repeat="size in SizeData">
                            <input id="size_{{ size.value }}" ng-model="uploadSizeType[$index]" type="checkbox"/>
                            <label for="size_{{ size.value }}">
                                {{ size.label }}
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="clearfix m-r-20 m-b-20" ng-show="addpreloader">
    <div class="pull-right">
        <button class="btn btn-info btn-sm" ng-click="saveTemplateAsProduct(myform,myform2);submitted=true" ng-disabled="demoStatus" type="button">
            <xe-translate text-value="Save">
            </xe-translate>
        </button>
        <button class="btn btn-info btn-sm" ng-click="cancelTemplate()" type="button">
            <xe-translate text-value="Cancel">
            </xe-translate>
        </button>
    </div>
</div>
