<div class="modal fade slide-right" id="paletteFaq1" pg-portlet tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-body info-module">
                <div class="panel-group" id="accordion" role="tablist">
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingOne">
                            <h4 class="panel-title">
                                <a class="collapsed" data-toggle="collapse" data-parent="#accordion"  href="#collapseOne" target="_self" aria-expanded="false" aria-controls="collapseOne">
                                  How to bulk upload color palettes?
                                </a>
                            </h4>
                        </div>
                        <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                            <hr>
                            <div class="panel-body">
                                To bulk upload color palettes,<br><br>
                                <div style="padding: 7.0px 10.0px;background-color: rgb(216,235,248);border: 1.0px solid rgb(151,193,218);">
                                    NOTE: Make sure you have prepared the CSV file list containing all the color names and their hex codes. 
                                </div><br>
                                <ol>
                                    <li>Open inkXE Admin.</li>
                                    <li>Go to <b>Color Palettes</b> in the toolbar towards the left.</li>
                                    <li>Move to the right and tap <b>Add Palette</b>.<img src="modules/palette/doc/assets/palette1.png" /></li>
                                    <li>
                                    	A box will appear. Click <b>Upload CSV</b> and upload the csv file you have created.
                                    	<ul>
                                    		<li>To upload RGB, create a csv file with name, color_code, category_name, price (optional).</li>
                                    		<li>To upload CMYK, create a csv file with name, C-M-Y-K value, hexcode.</li>
                                    		<li>To upload Pattern, simply bulk select and upload.</li>
                                    		<img src="modules/palette/doc/assets/palette2.png" />
                                    	</ul>
                                    </li>
                                    <li>Click <b>Save</b>.</li>
                                </ol>
                                Your color palettes have been added in bulk.
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingTwo">
                            <h4 class="panel-title">
                                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" target="_self" aria-expanded="false" aria-controls="collapseTwo">
                                  How to add color palette?
                                </a>
                            </h4>
                        </div>
                        <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                            <hr>
                            <div class="panel-body">
                                To add color palette,<br><br>
                                <div style="padding: 7.0px 10.0px;background-color: rgb(216,235,248);border: 1.0px solid rgb(151,193,218);">
                                    NOTE: Color palettes can be added in three forms: RGB, Pattern, & CMYK. 
                                </div><br>
                                <ol>
                                    <li>Open inkXE Admin.</li>
                                    <li>Go to <b>Color Palettes</b> in the toolbar towards the left.</li>
                                    <li>Move to the right and tap <b>Add Palette</b>.<img src="modules/palette/doc/assets/palette3.png" /></li>
                                    <li>A box will appear. Select any one option from RGB, Pattern, or CMYK and choose your color from the color picker. Set properties, such as name, price (optional), and category. </li>
                                    <li>Click <b>Save</b>.</li>
                                </ol>
                                Your color palette has been added.
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingThree">
                            <h4 class="panel-title">
                                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" target="_self" aria-expanded="false" aria-controls="collapseThree">
                                  How to edit color palette?
                                </a>
                            </h4>
                        </div>
                        <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                            <hr>
                            <div class="panel-body">
                                To edit color palette,
                                <ol>
                                    <li>Open inkXE Admin.</li>
                                    <li>Go to <b>Color Palettes</b> in the toolbar towards the left.</li>
                                    <li>Move to the right and you will see the available color palettes.</li>
                                    <li>Now, select the color palette you want to edit and click <b>Edit Selected</b>.<img src="modules/palette/doc/assets/palette4.png" /></li>
                                    <li>A box will appear where you can edit properties of selected color palette, such as name, price, category, and CMYK values. </li>
                                    <li>Make your changes and click <b>Save</b>.</li>
                                </ol>
                                <div style="padding: 7.0px 10.0px;background-color: rgb(216,235,248);border: 1.0px solid rgb(151,193,218);">
                                    TIP: You can also edit color palettes in bulk. Simply select the color palettes and follow same instructions. 
                                </div><br>
                                Your color palette has been edited.
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingFour">
                            <h4 class="panel-title">
                                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" target="_self" aria-expanded="false" aria-controls="collapseFour">
                                  How to delete color palette?
                                </a>
                            </h4>
                        </div>
                        <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
                            <hr>
                            <div class="panel-body">
                                To delete color palette,
                                <ol>
                                    <li>Open inkXE Admin.</li>
                                    <li>Go to <b>Color Palettes</b> in the toolbar towards the left.</li>
                                    <li>Move to the right and you will see the available color palettes.</li>
                                    <li>Now, select the color palette you want to delete and click <b>Delete Selected</b>.<img src="modules/palette/doc/assets/palette5.png" /></li>
                                    <li>A pop-up will open asking you to confirm your action.</li>
                                    <li>Click <b>Confirm</b>.</li>
                                </ol>
                                <div style="padding: 7.0px 10.0px;background-color: rgb(216,235,248);border: 1.0px solid rgb(151,193,218);">
                                    TIP: You can also delete color palettes in bulk. Simply select multiple color palettes and follow same instructions. 
                                </div><br>
                                Your color palette has been deleted.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>