<div class="modal fade slide-right" id="paletteFaq2" pg-portlet tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-body info-module-single">
                <h4 class="info-module-title">
                  How to manage color palette category?
                </h4>
                To manage color palette category,
                <ol>
                    <li>Open inkXE Admin.</li>
                    <li>Go to <b>Color Palettes</b> in the toolbar towards the left.</li>
                    <li>Move to the top-right-corner and tap <b>Manage Categories</b>.<img src="modules/palette/doc/assets/palette2_1.png" /></li>
                    <li>
                        A box will appear. You can take following actions there:
                        <ul>
                            <li>Add a category - Under Palette Categories, simply enter a name and click Add.<img src="modules/palette/doc/assets/palette2_2.png" style="width: auto;" /></li>
                            <li>Edit a category - Hover the mouse over your selected color palette category and click on edit icon.<img src="modules/palette/doc/assets/palette2_3.png" style="width: auto;" /></li>
                            <li>Delete a category - Hover the mouse over your selected color palette category and click on delete icon.<img src="modules/palette/doc/assets/palette2_4.png" style="width: auto;" /></li>
                        </ul>
                    </li>
                    <li>Once done, tap outside the box to close it.</li><br>
                </ol>
                Your changes have been successfully applied.
            </div>
        </div>
    </div>
</div>