<div class="modal fade stick-up" id="customMaskModal" pg-portlet tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <div class="row">
                    <div class="col-sm-6 text-left">
                        <h5>
                            <span class="semi-bold">
                                <xe-translate text-value="Configure custom Mask">
                                </xe-translate>
                            </span>
                        </h5>
                        
                    </div>
                    <div class="col-sm-6">
                        <div class="m-t-10">
                             <div class="pull-right m-r-40">
                                <button type="button" class="btn btn-info btn-cons btn-sm" ng-click="addNewMask.status = true">
                                    <span>
                                        <xe-translate text-value="Add New Mask">
                                        </xe-translate>
                                    </span>
                                </button>
                            </div>
                            <div class="pull-right m-r-10">
                                <input type="text" placeholder="Search here" class="form-control input-sm" ng-model="search.name"/>
                            </div>
                            <button type="button" class="close custom-modal-close" data-dismiss="modal" aria-hidden="true">
                                <i class="pg-close fs-14"></i>
                            </button>
                        </div>
                    </div>
                </div>
                 

            </div>
            <div class="modal-body" id="customMaskkModal">
                <div class="row">
                    <div class="col-sm-12" ng-show="addNewMask.status || allCustomMaskData.length> 0">
                        <table class="table table-bordered table-sm custom-mask-head">
                            <thead>
                                <tr>
                                    <th>
                                        <div class="t-w-80">
                                            <xe-translate text-value="Mask Image">
                                            </xe-translate>
                                        </div>
                                    </th>
                                    <th>
                                        <div class="t-w-214">
                                            <xe-translate text-value="Mask Name">
                                            </xe-translate>
                                        </div>
                                    </th>
                                    <th>
                                        <div class="t-w-130">
                                            <xe-translate text-value="Width">
                                            </xe-translate>
                                        </div>
                                    </th>
                                    <th>
                                        <div class="t-w-130">
                                            <xe-translate text-value="Height">
                                            </xe-translate>
                                        </div>
                                    </th>
                                    <th>
                                        <div class="t-w-130">
                                            <xe-translate text-value="Price">
                                            </xe-translate>
                                        </div>
                                    </th>
                                    <th>
                                        <div class="t-w-80">
                                        </div>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-show="addNewMask.status">
                                    <td>
                                        <div class="t-w-80">
                                            <button class="btn btn-info btn-xs" ng-hide="uploadCustomMask.isMask" ng-file-select ng-file-change="customUpload($files)">
                                                <xe-translate text-value="Upload">
                                                </xe-translate>
                                            </button>
                                            <div class="custom-mask-thumb" ng-show="uploadCustomMask.isMask">
                                                <img class="img-responsive" ng-src="{{ uploadCustomMask.data }}"/>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="t-w-214">
                                            <input type="text" class="form-control input-sm" ng-model="CustoMask.name" remove-spl-chars="remove-spl-chars"/>
                                        </div>
                                    </td>
                                     <td>
                                        <div class="t-w-130">
                                            <div class="form-group form-group-sm input-group w-md m-b-0" pg-form-group>
                                                <input type="text" class="autonumeric form-control usd input-sm" ng-model="CustoMask.width" ng-keyup="getMaskHeight(CustoMask.width)"  ng-disabled="!uploadCustomMask.isMask" price-only="price-only"/>
                                                <span class="input-group-addon">
                                                    {{ productDimenssionUnit }}
                                                </span>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="t-w-130">
                                            <div class="form-group form-group-sm input-group w-md m-b-0" pg-form-group>
                                                <input type="text" class="autonumeric form-control usd input-sm" ng-model="CustoMask.height" ng-keyup="getMaskWidth(CustoMask.height)"  ng-disabled="!uploadCustomMask.isMask" price-only="price-only"/>
                                                <span class="input-group-addon">
                                                    {{ productDimenssionUnit }}
                                                </span>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="t-w-130">
                                            <div class="form-group form-group-sm input-group w-md m-b-0" pg-form-group>
                                                <input type="text" class="autonumeric form-control usd input-sm" ng-model="CustoMask.price"  price-only="price-only" ng-disabled="!uploadCustomMask.isMask"/>
                                                <span class="input-group-addon">
                                                    {{ appCurrency }}
                                                </span>
                                            </div>
                                        </div>
                                    </td>
                                    <td class="text-u font-bold">
                                        <div class="t-w-80">
                                            <button class="btn btn-xs btn-info" ng-disabled="demoStatus || !uploadCustomMask.isMask || !CustoMask.height || !CustoMask.width || saveMaskButton" ng-click="saveCustomMask(CustoMask)">
                                                <span>
                                                    <i class="fa fa-floppy-o" aria-hidden="true">
                                                    </i>
                                                </span>
                                            </button>
                                            <button class="btn btn-xs btn-default" ng-disabled="demoStatus"  ng-click="addNewMask.status = false; uploadCustomMask.isMask = false;clearMaskInfo()">
                                                <span>
                                                    <i class="fa fa-times" aria-hidden="true">
                                                    </i>
                                                </span>
                                            </button>
                                        </div>
                                    </td>
                                </tr>
                                <tr ng-repeat="maskdata in allCustomMaskData | filter:search:strict">
                                    <td>
                                        <div class="t-w-80">
                                            <div class="custom-mask-thumb">
                                                <img class="img-responsive" ng-src="{{ maskdata.url }}"/>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="t-w-214">
                                            <input type="text" class="form-control" ng-model="maskdata.name" remove-spl-chars="remove-spl-chars"/>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="t-w-130">
                                            <div class="form-group form-group-sm input-group w-md m-b-0" pg-form-group>
                                                <input type="text" class="autonumeric form-control usd input-sm" ng-model="maskdata.maskwidth" ng-keyup="maskdata.maskwidth=getEditMaskHeight(maskdata.maskwidth,$index)"  price-only="price-only"/>
                                                <span class="input-group-addon">
                                                    {{ productDimenssionUnit }}
                                                </span>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="t-w-130">
                                            <div class="form-group form-group-sm input-group w-md m-b-0" pg-form-group>
                                                <input type="text" class="autonumeric form-control usd input-sm" ng-model="maskdata.maskheight" ng-keyup="maskdata.maskheight=getEditMaskWidth(maskdata.maskheight,$index)"  price-only="price-only"/>
                                                <span class="input-group-addon">
                                                    {{ productDimenssionUnit }}
                                                </span>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="t-w-130">
                                            <div class="form-group form-group-sm input-group w-md m-b-0" pg-form-group>
                                                <input type="text" class="autonumeric form-control usd input-sm" ng-model="maskdata.price"  price-only="price-only"/>
                                                <span class="input-group-addon">
                                                    {{ appCurrency }}
                                                </span>
                                            </div>
                                        </div>
                                    </td>
                                    <td class="text-u font-bold">
                                        <div class="t-w-80 text-center">
                                            <span class="trash-icon-style">
                                                <i class="fa fa-trash-o" ng-click="deleteMaskById($index)" aria-hidden="true">
                                                </i>
                                            </span>
                                        </div>
                                    </td>
                                </tr>
                                <tr ng-show="(allCustomMaskData | filter:search).length == 0">
                                    <td colspan="6" style="border: none;">
                                        <p class="font-normal text-lg text-center m-t-150">
                                            <xe-translate text-value="No data found">
                                            </xe-translate>
                                        </p>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="m-t-10 clearfix">
                    <a class="blank-btn m-r-20" href="" data-dismiss="modal" ng-click="clearMaskInfo()">
                        <span>
                            <xe-translate text-value="Cancel">
                            </xe-translate>
                        </span>
                    </a>
                    <button type="button" class="btn btn-info btn-sm " ng-click="updateCustomMask()" ng-disabled="demoStatus || allCustomMaskData.length==0 || addNewMask.status">
                        <span>
                            <xe-translate text-value="Update">
                            </xe-translate>
                        </span>
                    </button>
                    
                </div>
            </div>
        </div>
    </div>
</div>
</div>
