<div class="modal fade stick-up" id="customPrintSizeModal" pg-portlet tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header clearfix text-left">
                 <div class="row">
                    <div class="col-sm-6 text-left">
                        <h5>
                            <span class="semi-bold">
                               <xe-translate text-value="Add and Configure Custom Size">
                               </xe-translate>
                            </span>
                        </h5>
                        
                    </div>
                    <div class="col-sm-6">
                        <div class="m-t-10">
                             <div class="pull-right m-r-40">
                                <button type="button" class="btn btn-info btn-cons btn-sm" ng-click="addSize()">
                                    <span>
                                        <xe-translate text-value="Add New Size">
                                        </xe-translate>
                                    </span>
                                </button>
                            </div>
                            <div class="pull-right m-r-10">
                                <input type="text" placeholder="Search here" class="form-control input-sm" ng-model="find.name"/>
                            </div>
                            <button type="button" class="close custom-modal-close" data-dismiss="modal" aria-hidden="true">
                                <i class="pg-close fs-14"></i>
                            </button>
                        </div>
                    </div>
                </div>

                
            </div>
            <div class="modal-body" id="customSizeModal">
                <div class="row">
                    <div class="col-sm-12" ng-if="printSizeListDefault.length != 0">
                        <table class="table table-bordered table-sm custom-size-head">
                            <thead>
                                <tr>
                                    <th width="300">
                                        <xe-translate text-value="Size Name">
                                        </xe-translate>
                                    </th>
                                    <th width="300">
                                        <xe-translate text-value="Width">
                                        </xe-translate>
                                    </th>
                                    <th width="300">
                                        <xe-translate text-value="Height">
                                        </xe-translate>
                                    </th>
                                    <th width="139">
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-show="addNewSize.status">
                                    <td width="250">
                                        <input type="text" class="form-control input-sm" ng-model="print.sizeName" remove-spl-chars="remove-spl-chars"/>
                                    </td>
                                    <td width="251">
                                        <div class="form-group form-group-sm input-group w-md m-b-0" pg-form-group>
                                            <input type="text" class="autonumeric form-control usd input-sm" ng-model="custom.width" price-only="price-only"/>
                                            <span class="input-group-addon">
                                                {{ productUnit }}
                                            </span>
                                        </div>
                                    </td>
                                    <td width="250">
                                        <div class="form-group form-group-sm input-group w-md m-b-0" pg-form-group>
                                            <input type="text" class="autonumeric form-control usd input-sm" ng-model="custom.height" price-only="price-only"/>
                                            <span class="input-group-addon">
                                                {{ productUnit }}
                                            </span>
                                        </div>
                                    </td>
                                    <td width="97">
                                        <button type="button" class="btn btn-info btn-xs" ng-click="saveCustomSize()" ng-disabled="demoStatus" ng-class="{'disabled':!custom.height || !custom.width || !print.sizeName || saveSizeButton}">
                                            <span>
                                                <i class="fa fa-floppy-o" aria-hidden="true">
                                                </i>
                                            </span>
                                        </button>
                                        <button type="button" class="btn btn-default btn-xs"  ng-click="addNewSize.status = false;cancelPrintAreaList()" ng-disabled="demoStatus">
                                            <span>
                                                <i class="fa fa-times" aria-hidden="true">
                                                </i>
                                            </span>
                                        </button>
                                    </td>
                                </tr>
                                <tr ng-repeat="printArea in printSizeListDefault | filter:find:strict">
                                    <td width="250">
                                        <input type="text" class="form-control input-sm" ng-model="printArea.name"  ng-disabled="printArea.is_user_defined != 1"  remove-spl-chars="remove-spl-chars"/>
                                    </td>
                                    <td width="251">
                                        <div class="form-group form-group-sm input-group w-md m-b-0" pg-form-group>
                                            <input type="text" class="autonumeric form-control usd input-sm" ng-model="printArea.width" price-only="price-only"  ng-disabled="printArea.is_user_defined != 1"/>
                                            <span class="input-group-addon">
                                                {{ productUnit }}
                                            </span>
                                        </div>
                                    </td>
                                    <td width="250">
                                        <div class="form-group form-group-sm input-group w-md m-b-0" pg-form-group>
                                            <input type="text" class="autonumeric form-control usd input-sm" ng-model="printArea.height" price-only="price-only"  ng-disabled="printArea.is_user_defined != 1"/>
                                            <span class="input-group-addon">
                                                {{ productUnit }}
                                            </span>
                                        </div>
                                    </td>
                                    <td width="97 text-center">
                                        <div class="t-w-80 text-center">
                                            <span class="trash-icon-style" ng-show="printArea.is_user_defined == '1'">
                                                <i class="fa fa-trash-o" ng-click="closebtnClick($index)" aria-hidden="true">
                                                </i>
                                            </span>
                                        </div>
                                    </td>
                                </tr>
                                <tr ng-show="(printSizeListDefault | filter:find).length == 0">
                                    <td style="border: none;width: 300px;">
                                    </td>
                                    <td style="border: none;">
                                        <p class="font-normal text-lg" style="margin: 100px;">
                                            <xe-translate text-value="No data found">
                                            </xe-translate>
                                        </p>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="m-t-20 clearfix">
                    <a class="blank-btn m-r-20" href="" data-dismiss="modal" ng-click="cancelPrintAreaList()">
                        <span>
                            <xe-translate text-value="Cancel">
                            </xe-translate>
                        </span>
                    </a>
                    <button type="button" class="btn btn-info btn-sm" ng-click="updateCustomSize()" ng-disabled="demoStatus || addNewSize.status">
                        <span>
                            <xe-translate text-value="Update">
                            </xe-translate>
                        </span>
                    </button>

                </div>
            </div>
        </div>
    </div>
</div>
</div>
