<div class="xe-card-block">
    <div class="head-section m-b-30">
        <h4 class="pull-left">
            Additional price for color variants
        </h4>
        <i class="fa fa-info-circle ng-scope info-module-icon m-l-10" tooltip="" tooltip-placement="left" ng-click="showProductFaqDetails(8)">
        </i>
        <p>
            Here you can set extra price to a particular color variant for print method.
        </p>
    </div>
    <table class="table table-bordered table-sm m-b-70">
        <thead>
            <tr>
                <th width="96">
                    <xe-translate text-value="Variants">
                    </xe-translate>
                </th>
                <th ng-repeat="item in prntMethodByProduct">
                    {{ item.name }}
                </th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="price in additionalPrice track by $index">
                <td width="100">
                    <div  ng-style="variants[$index].colorUrl && variants[$index].colorUrl.indexOf('#') == -1 ? {'background-image': 'url('+variants[$index].colorUrl+')'} : {'background-color':variants[$index].colorUrl}" class="variant-thumb">
                    </div>
                </td>
                <td ng-repeat="item in price.price track by $index">
                    <div class="form-group input-group m-b-0">
                        <input class="form-control" ng-model="item.prntmthdprice" price-only="price-only" placeholder="0" type="text"/>
                        <span class="input-group-addon">
                            {{ appCurrency }}
                        </span>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>
