<div class="xe-product-setting m-t-20">
    <div class="head-section">
        <div class="row">
            <div class="col-sm-4">
                <div class="form-group">
                    <div class="btn-group pull-left full-width">
                        <button type="button" class="btn btn-default text-ellipsis text-left"  data-toggle="dropdown">
                            {{ selectedMaskName }}
                        </button>
                        <button type="button" class="btn btn-default dropdown-toggle btn-group-caret" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="caret">
                            </span>
                            <span class="sr-only">
                                Toggle Dropdown
                            </span>
                        </button>
                        <ul class="dropdown-menu full-width" role="menu" ng-class="{'button-scroll':allCustomMaskData.length> 4}">
                            <li ng-repeat="mask in allCustomMaskData" ng-click="selectMaskSize(mask,$index)">
                                <a href="">
                                    {{ mask.name }}
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="pull-left bold m-t-5">
                OR
            </div>
            <div class="col-sm-4">
                <button class="btn btn-info btn-cons" type="button" ng-click="openCustomMaskSetting()">
                    <span>
                        Add new
                    </span>
                </button>
                <!-- <i class="fa fa-info-circle" tooltip= "{{ addNewMaskMessage }}" tooltip-placement="right">
                </i> -->
                
            </div>
            <i class="fa fa-info-circle ng-scope pull-left info-module-icon" ng-click="showProductFaqDetails(3)">
            </i>
        </div>
    </div>
    <div class="setting-view">
        <div class="row">
            <div class="col-sm-12">
                <label class="custom-label m-l-5">
                    Actual dimension of this print area
                </label>
            </div>
            <div class="col-sm-8">
                <div class="clearfix m-b-10">
                    <div class="col-xs-4 col-md-6 col-padd">
                        <span class="custom-label">
                              width 
                        </span>
                        <div class="form-group input-group">
                            <input class="form-control" ng-model="actualWidth" placeholder="Width" type="text" ng-disabled="true"/>
                            <span class="input-group-addon" ng-bind="productUnit">
                                <!-- inch -->
                            </span>
                        </input>
                    </div>
                </div>
                <div class="col-xs-4 col-md-6 col-padd">
                    <span class="custom-label">
                              height
                    </span>
                    <div class="form-group input-group">
                        <input class="form-control" ng-model="actualHeight" placeholder="Height" type="text" 
                        ng-disabled="true"/>
                        <span class="input-group-addon" ng-bind="productUnit">
                            <!-- inch -->
                        </span>
                    </input>
                </div>
            </div>
        </div>
<!--         <div class="checkbox check-info m-t-20 m-l-5">
            <input id="checkbox6" type="checkbox" value="3">
            <label class="bold" for="checkbox6">
                Restrict designs to print area
            </label>
            <i class="fa fa-info-circle"></i>
        </div> -->
    </div>
</div>
</div>
<ng-include src="'modules/product/doc/ps03.html'">
</ng-include>
</div>
