<div class="xe-product-setting m-t-20">
    <div class="head-section">
        <div class="row">
            <!-- <div class="col-sm-4">
                <div class="form-group">
                    <div class="btn-group pull-left full-width">
                        <button type="button" class="btn btn-default text-ellipsis text-left"  data-toggle="dropdown">
                            {{ selectedMultipleArea }}
                        </button>
                        <button type="button" class="btn btn-default dropdown-toggle btn-group-caret" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="caret">
                            </span>
                            <span class="sr-only">
                                Toggle Dropdown
                            </span>
                        </button>
                        <ul class="dropdown-menu full-width" role="menu" ng-class="{'button-scroll':multiBoundaryList.length> 4}">
                            <li ng-repeat="boundary in multiBoundaryList" ng-click="selectmultiBoundary(boundary,$index)">
                                <a href="">
                                    {{ boundary.name }}
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div> -->
            <!-- <div class="pull-left bold m-t-5">
                OR
            </div> -->
            <div class="col-sm-6">
                <button class="btn btn-info btn-cons" type="button"  ng-file-select ng-file-change="uploadSvg($files)">
                    <span>
                        Upload
                    </span>
                </button>
                <span>
                    <i class="fa fa-info-circle" tooltip= "{{fileType}}" tooltip-placement="right">
                    </i>
                </span>
                <div class="form-group m-t-10">
                    <div class="form-group form-group-default required" pg-form-group>
                        <label class="custom-label">
                            Printable Area Group Name
                        </label>
                        <input class="form-control" 
                        ng-model="multiBoundData[selectedThumbIndex].name" placeholder="Boundary Name" type="text" ng-disabled="allBoundary.length == 0" required/>
                    </div>    
                </div>
            </div>
        </div>
    </div>
    <div class="setting-view">
        <div class="row">
            <div class="col-sm-6">
                <div class="boundary-view">
                    <!-- Mask -->
                    <div id="xe_display_only">
                    </div>
                </div>
                <ul class="boundary-pagination">
                    <li ng-show="allBoundary.length>0" ng-click="changeSubBoundary(bIndex-1)">
                        <a href="">
                            <i class="fa fa-long-arrow-left">
                            </i>
                        </a>
                    </li>
                    <li ng-click="changeSubBoundary($index)" ng-repeat ="area in allBoundary">
                        <a href="" ng-class="{'active': $index == bIndex }">
                            {{ $index+1 }}
                        </a>
                    </li>
                    <li ng-show="allBoundary.length>0" ng-click="changeSubBoundary(bIndex+1)">
                        <a href="">
                            <i class="fa fa-long-arrow-right">
                            </i>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-sm-6">
                <div class="form-group m-b-10">
                    <div class="form-group form-group-default required" pg-form-group>
                        <label class="custom-label">
                            Printable Area Name
                        </label>
                        <input class="form-control" 
                        ng-model="multiBoundData[selectedThumbIndex].child_masks[bIndex].boundary_name" placeholder="Area Name" type="text" ng-disabled="allBoundary.length == 0" required/>
                    </div>
                </div>
                <div class="row m-b-10">
                    <div class="col-sm-12">
                        <div class="btn-group pull-left full-width">
                            <button type="button" class="btn btn-default text-ellipsis text-left"  data-toggle="dropdown" ng-disabled="allBoundary.length == 0">
                                {{ boundaryPrintMethod }}
                            </button>
                            <button type="button" class="btn btn-default dropdown-toggle btn-group-caret" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" 
                            ng-disabled="allBoundary.length == 0">
                                <span class="caret">
                                </span>
                                <span class="sr-only">
                                    Toggle Dropdown
                                </span>
                            </button>
                            <ul class="dropdown-menu full-width" role="menu" ng-class="{'button-scroll':allPrintMethod.length> 4}">
                                <li ng-repeat="print in allPrintMethod" ng-click="selectBoundaryPrintMethod($index)">
                                    <a href="">
                                        {{ print.name }}
                                    </a>
                                </li>
                            </ul>
                            <span class="required-starmark"> * </span>
                        </div>
                    </div>
                </div>
            <div class="row">
            <div class="col-sm-12">
                <label class="custom-label m-l-5">
                    Actual dimension of this print area
                </label>
            </div>
            <div class="col-sm-12">
                <div class="clearfix m-b-10">
                    <div class="col-xs-4 col-md-6 col-padd">
                        <span class="custom-label">
                                width 
                        </span>
                        <div class="form-group input-group">
                            <input class="form-control" ng-model="multiBoundData[selectedThumbIndex].child_masks[bIndex].actual_width" placeholder="Width" type="text"  ng-disabled="allBoundary.length == 0" ng-change="changeDimension('w')"/>
                            <span class="input-group-addon" ng-bind="productUnit">
                                <!-- inch -->
                            </span>
                        </input>
                    </div>
                </div>
                <div class="col-xs-4 col-md-6 col-padd">
                    <span class="custom-label">
                              height
                    </span>
                    <div class="form-group input-group">
                        <input class="form-control" ng-model="multiBoundData[selectedThumbIndex].child_masks[bIndex].actual_height" placeholder="Height" type="text"  
                        ng-disabled="allBoundary.length == 0" ng-change="changeDimension('h')"/>
                        <span class="input-group-addon" ng-bind="productUnit">
                            <!-- inch -->
                        </span>
                    </input>
                </div>
            </div>
        </div>
                <!-- <div class="row">
                    <div class="col-sm-12">
                        <div class="checkbox check-info">
                            <input id="checkbox4" ng-model="restric[bIndex]" type="checkbox" value="1" ng-checked="multiBoundData[selectedThumbIndex].child_masks[bIndex].restrict_design == '1'" ng-change="changeOnMBrestrictDesign(restric[bIndex])" ng-disabled="allBoundary.length == 0"/>
                            <label class="bold" for="checkbox4">
                                Restrict designs to print area
                            </label>
                        </div>
                    </div>
                </div> -->
            </div>
        </div>

    </div>
</div>
