<div class="row">
    <div class="col-md-12">
        <div class="row column-seperation">
            <div class="col-md-6">
                <div class="xe-product-setting bg-white">
                    <div class="setting-view m-h-588">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="checkbox check-info m-t-20 m-l-5" ng-hide="isSimple || pidType == 'custom'">
                                    <input id="checkbox7" type="checkbox" ng-model="tstatus" value="7" ng-click="enableTemplate(tstatus)" 
                                    ng-checked="tstatus"/>
                                    <label class="bold" for="checkbox7">
                                        Product image
                                    </label>
                                    <i class="fa fa-info-circle ng-scope info-module-icon m-l-5" tooltip="" tooltip-placement="left" ng-click="showProductFaqDetails(11)">
                                    </i>
                                </input>
                            </div>
                            <div class="form-group m-l-5" ng-show="tstatus">
                                <div class="btn-group pull-left full-width" ng-hide="isSimple || pidType == 'custom'">
                                    <button type="button" class="btn btn-default text-ellipsis text-left"  data-toggle="dropdown">
                                        {{ selectedTemplate }}
                                    </button>
                                    <button type="button" class="btn btn-default dropdown-toggle btn-group-caret" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <span class="caret">
                                        </span>
                                        <span class="sr-only">
                                            Toggle Dropdown
                                        </span>
                                    </button>
                                    <ul class="dropdown-menu full-width" role="menu" ng-class="{'button-scroll':productTemplateDetails.length> 4}">
                                        <li ng-repeat="template in productTemplateDetails" ng-click="assignProductTemplate($index)">
                                            <a href="">
                                                {{ template.name }}
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="gray-line">
                    </div>
                    <div class="row" ng-hide="boundary.name == 'multipleBoundary'">
                        <div class="col-sm-12">
                            <div class="checkbox check-info m-l-5">
                                <input id="checkbox8" type="checkbox" value="8" ng-model="isBleed.bleedStatus" ng-checked="isBleedMark" ng-change="enableBleed(isBleed.bleedStatus)"  ng-click="enableBleed(isBleed.bleedStatus)" />
                                <label class="bold" for="checkbox8">
                                    Bleed mark
                                </label>
                                 <i class="fa fa-info-circle ng-scope info-module-icon m-l-25" tooltip="" tooltip-placement="left" ng-click="showProductFaqDetails(12)">
                                </i>
                            </div>
                            <div class="clearfix m-l-5">
                                Bleed is a printing term that refers to printing that goes beyond the edge of the sheet before trimming. In other words, the bleed is the area to be trimmed off.
                            </div>
                        </div>
                        <div class="col-xs-6 col-md-4" ng-show="isBleedMark == '1'">
                            <div class="checkbox check-info m-t-20 m-l-5">
                                <input id="checkbox9" type="checkbox" ng-model="isCrop.cropStatus" value="9" ng-checked="tempMaskData[0].is_cropMark == '1'" ng-change="changeCropMark(isCrop.cropStatus)" />
                                <label class="bold" for="checkbox9">
                                    Crop mark
                                </label>
                            </div>
                            <div class="form-group input-group m-b-0">
                                <input class="form-control" ng-model="tempMaskData[0].cropValue" placeholder="0.00" ng-keyup="setCropValue(tempMaskData[0].cropValue)" type="text"  price-only="price-only"/>
                                <span class="input-group-addon" ng-bind="productUnit">
                                    <!-- inch -->
                                </span>
                            </input>
                        </div>
                    </div>
                    <div class="col-xs-6 col-md-4" ng-show="isBleedMark == '1'">
                        <div class="checkbox check-info m-t-20 m-l-5">
                            <input id="checkbox10" type="checkbox" ng-model="isSafe.safeStatus" ng-checked="tempMaskData[0].is_safeZone == '1'" ng-change="changeSafeZone(isSafe.safeStatus)" value="10" />
                            <label class="bold" for="checkbox10">
                                Safe zone
                            </label>
                        </div>
                        <div class="form-group input-group m-b-0">
                            <input class="form-control" ng-model="tempMaskData[0].safeValue" placeholder="0.00" ng-keyup="setSafeValue(tempMaskData[0].safeValue)" type="text"  price-only="price-only"/>
                            <span class="input-group-addon" ng-bind="productUnit">
                                <!-- inch -->
                            </span>
                        </input>
                    </div>
                </div>
            </div>
            <div class="gray-line" ng-hide="boundary.name == 'multipleBoundary'">
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <label class="custom-label m-l-5">
                        Measurement unit
                    </label>
                    <div class="form-group m-l-5">
                        <div class="btn-group btn-flex">
                            <button type="button" class="btn btn-default w-full text-left"  data-toggle="dropdown">
                                {{ selectedScaleUnit.name }}
                            </button>
                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="caret">
                                </span>
                                <span class="sr-only">
                                    Toggle Dropdown
                                </span>
                            </button>
                            <ul class="dropdown-menu w-full" role="menu" ng-class="{'button-scroll':scaleUnitList.length> 4}">
                                <li ng-repeat="unit in scaleUnitList" ng-disabled="true" ng-click="selectedUnit($index,true)">
                                    <a href="">
                                        {{ unit.name }}
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-md-6" ng-show="boundary.name != 'multipleBoundary'">
    <div class="xe-product-preview-wrap">
        <div class="xe-product-preview">
            <div class="setting-print-method-content">
                <h5>
                    Assign print method
                     <i class="fa fa-info-circle ng-scope info-module-icon m-l-10" tooltip="" tooltip-placement="left" ng-click="showProductFaqDetails(13)">
                </i>
                </h5>
               
                <p>
                    Enable/Disable print type for every individual product. Any change you make will be limited to the product only.
                </p>
                <div class="gray-line">
                </div>
                <ng-include src="'modules/product/views/partials/printtypesetting.html'">
                </ng-include>
            </div>
        </div>
    </div>
</div>
<div class="col-md-12">
    <div class="xe-product-ftr">
        <button class="btn btn-info btn-cons" type="button" ng-click="saveMaskBoundary(true)" ng-disabled="demoStatus">
            <span class="bold">
                Save
            </span>
        </button>
        <span class="text-danger m-l-10" ng-show="!isVariableAreaDimention.status">Invalid default width and default height.</span>
    </div>
</div>
</div>
</div>
<ng-include src="'modules/product/doc/ps11.html'">
</ng-include>
<ng-include src="'modules/product/doc/ps12.html'">
</ng-include>
<ng-include src="'modules/product/doc/ps13.html'">
</ng-include>
</div>
