<div class="xe-product-setting m-t-20">
    <div class="setting-view m-h-leftbar">
        <div class="row">
            <div class="col-sm-12 p-r-40">
                <div class="clearfix m-b-10">
                    <div class="col-xs-3 col-md-5 col-padd">
                        <label class="custom-label">
                            Default width
                        </label>
                        <div class="form-group input-group">
                            <input class="form-control" 
                            ng-model="tempMaskData[selectedThumbIndex].customsize.width" 
                            placeholder="width" ng-keyup="setDefaultDimension(tempMaskData[selectedThumbIndex].customsize.width,'width')" type="text"/>
                            <span class="input-group-addon" ng-bind="productUnit">
                                <!-- inch -->
                            </span>
                        </input>
                    </div>
                </div>
                <div class="col-xs-3 col-md-5 col-padd">
                    <label class="custom-label">
                        Default height
                    </label>
                    <div class="form-group input-group">
                        <input class="form-control" 
                        ng-model="tempMaskData[selectedThumbIndex].customsize.height"
                        placeholder="height" ng-keyup="setDefaultDimension(tempMaskData[selectedThumbIndex].customsize.height,'height')" type="text"/>
                        <span class="input-group-addon" ng-bind="productUnit">
                            <!-- inch -->
                        </span>
                    </input>                  
                </div>               
            </div>
            <div class="col-xs-4 col-md-1 col-padd">
               <i class="fa fa-info-circle ng-scope info-module-icon" tooltip="" tooltip-placement="left" ng-click="showProductFaqDetails(6)">
               </i> 
            </div>
        </div>
        <div class="clearfix m-b-10">
            <div class="col-xs-4 col-md-5 col-padd">
                <label class="custom-label">
                    Minimum width
                </label>
                <div class="form-group input-group">
                    <input class="form-control" 
                    ng-model="tempMaskData[selectedThumbIndex].custom_min_width"
                    placeholder="width" type="text" ng-keyup="setMinDimension(tempMaskData[selectedThumbIndex].custom_min_width,'width')"/>
                    <span class="input-group-addon" ng-bind="productUnit">
                        <!-- inch -->
                    </span>
                </input>
            </div>
        </div>
        <div class="col-xs-4 col-md-5 col-padd">
            <label class="custom-label">
                Minimum height
            </label>
            <div class="form-group input-group">
                <input class="form-control" 
                ng-model="tempMaskData[selectedThumbIndex].custom_min_height"
                placeholder="height" type="text" ng-keyup="setMinDimension(tempMaskData[selectedThumbIndex].custom_min_height,'height')"/>
                <span class="input-group-addon" ng-bind="productUnit">
                    <!-- inch -->
                </span>
            </input>
        </div>
    </div>
</div>
<div class="clearfix">
    <div class="col-xs-4 col-md-5 col-padd">
        <label class="custom-label">
            Maximum width
        </label>
        <div class="form-group input-group">
            <input class="form-control" 
            ng-model="tempMaskData[selectedThumbIndex].custom_max_width"
            placeholder="width" type="text" ng-keyup="setMaxDimension(tempMaskData[selectedThumbIndex].custom_max_width,'width')"/>
            <span class="input-group-addon" ng-bind="productUnit">
                <!-- inch -->
            </span>
        </input>
    </div>
</div>
<div class="col-xs-4 col-md-5 col-padd">
    <label class="custom-label">
        Maximum height
    </label>
    <div class="form-group input-group">
        <input class="form-control" 
        ng-model="tempMaskData[selectedThumbIndex].custom_max_height"
        placeholder="height" type="text" ng-keyup="setMaxDimension(tempMaskData[selectedThumbIndex].custom_max_height,'height')"/>
        <span class="input-group-addon" ng-bind="productUnit">
            <!-- inch -->
        </span>
    </input>
</div>
</div>
</div>
</div>
    <div class="col-sm-12">
        <div class="gray-line"></div>
    </div>
    <div class="col-sm-8">
    <div class="row">
        <div class="col-sm-6">
            <label class="custom-label">
                Price per square unit
            </label>
            <div class="form-group input-group">
                <input class="form-control" ng-model="tempMaskData[selectedThumbIndex].custom_boundary_price" ng-keyup = "setBoundaryPrice()"
                placeholder="price" type="text">
                <span class="input-group-addon">
                    {{ appCurrency }}
                </span>          
            </div>
            
        </div> 
        <div>
            <i class="fa fa-info-circle ng-scope info-module-icon" tooltip="" tooltip-placement="left" ng-click = "showProductFaqDetails(5)">
            </i>               
        </div>    
    </div>
        <!-- <div class="checkbox check-info">
            <input id="checkbox4" type="checkbox" value="1">
            <label class="bold" for="checkbox4">
            Restrict designs to print area
            </label>
            <i class="fa fa-info-circle"></i>
        </div> -->
    <div class="row">
        <div class="col-sm-6">
            <div class="checkbox check-info">
                <input id="checkboxb" ng-model="bstatus" type="checkbox" ng-checked="tempMaskData[selectedThumbIndex].isBorderEnable == '1'" ng-change="borderEnabled(bstatus,selectedThumbIndex)" value="1">
                <label class="bold" for="checkboxb">
                Enable border
                </label>
<!--              <i class="fa fa-info-circle" tooltip= "{{ borderMessage }}" tooltip-placement="right"></i>-->
            </div>
        </div>
        <div>
            <i class="fa fa-info-circle ng-scope info-module-icon" tooltip="" tooltip-placement="left" ng-click="showProductFaqDetails(4)">
            </i>
        </div>
    </div>
    <div class="clearfix">
        <div class="checkbox check-info">
            <input id="checkbox5" type="checkbox" value="2" ng-model="isSidesAdded[selectedThumbIndex]" ng-checked="isSidesAdded[selectedThumbIndex] == '1'" ng-change="enableAddSides(isSidesAdded[selectedThumbIndex],selectedThumbIndex)">
            <label class="bold" for="checkbox5">
            <!-- Allow users to add sides -->
            <xe-translate text-value="Add Sides Description">
            </xe-translate>
            </label>
            <i class="fa fa-info-circle" tooltip= "{{ addSideMessage }}" tooltip-placement="right"></i>
        </div>
        <div class="form-group m-t-10 m-l-25 m-b-0" ng-show = "isSidesAdded[selectedThumbIndex]">
            <label class="custom-label">
            <xe-translate text-value="Add Sides">
                    </xe-translate>
            </label>
            <input ng-model="sidesAllowed[selectedThumbIndex]" type="text" class="form-control" price-Only="priceOnly" name="pName" ng-keyup="sideValidate(sidesAllowed[selectedThumbIndex])"/>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="checkbox check-info">
                <input id="checkboxbd" ng-model="dimensionstatus" type="checkbox" ng-checked="tempMaskData[selectedThumbIndex].isDimensionEnable == '1'" ng-change="dimensionEnabled(dimensionstatus,'portlet-error')" value="1">
                <label class="bold" for="checkboxbd">
                    Allow user to change Dimension
                </label>
            </div>
        </div>
        <div class="col-sm-12">
            <div pg-portlet id="portlet-error"></div>
        </div>        
    </div>
</div>

</div>
<ng-include src="'modules/product/doc/ps04.html'">
</ng-include>
<ng-include src="'modules/product/doc/ps05.html'">
</ng-include>
<ng-include src="'modules/product/doc/ps06.html'">
</ng-include>
</div>
