<div class="xe-product-setting m-t-20">
    <div class="head-section">
        <div class="row">
            <div class="col-sm-4">
                <div class="btn-group pull-left full-width">
                    <button type="button" class="btn btn-default text-ellipsis text-left"  data-toggle="dropdown">
                        {{ tempMaskData[selectedThumbIndex].mask_name }}
                    </button>
                    <button type="button" class="btn btn-default dropdown-toggle btn-group-caret" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="caret">
                        </span>
                        <span class="sr-only">
                            Toggle Dropdown
                        </span>
                    </button>
                    <ul class="dropdown-menu full-width" role="menu" ng-class="{'button-scroll':allCustomMaskData.length> 4}">
                        <li ng-repeat="mask in allCustomMaskData" ng-click="selectMaskSize(mask,$index)">
                            <a href="">
                                {{ mask.name }}
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-1 bold m-t-5">
                OR
            </div>
            <div class="col-sm-6">
                <button class="btn btn-info btn-cons" type="button" ng-click="openCustomMaskSetting()">
                    <span class="bold text-uppercase">
                        Add new
                    </span>
                </button>
                <i class="fa fa-info-circle" tooltip= "{{ addNewMaskMessage }}" tooltip-placement="right">
                </i>
            </div>
        </div>
    </div>
    <div class="setting-view">
        <div class="row">
            <div class="col-sm-8">
                <div class="clearfix m-b-10">
                    <div class="col-xs-4 col-md-6 col-padd">
                        <label class="custom-label">
                            Default width
                        </label>
                        <div class="form-group input-group">
                            <input class="form-control"  ng-model="tempMaskData[selectedThumbIndex].custom_mask.width" placeholder="Width" type="text" ng-keyup="updateMaskdefaultDimesion('h')"/>
                            <span class="input-group-addon" ng-bind="productUnit" >
                                <!-- inch -->
                            </span>
                        </input>
                    </div>
                </div>
                <div class="col-xs-4 col-md-6 col-padd">
                    <label class="custom-label">
                        Default height
                    </label>
                    <div class="form-group input-group">
                        <input class="form-control"  ng-model="tempMaskData[selectedThumbIndex].custom_mask.height" placeholder="Height" type="text" ng-keyup="updateMaskdefaultDimesion('w')"/>
                        <span class="input-group-addon" ng-bind="productUnit">
                            <!-- inch -->
                        </span>
                    </input>
                </div>
            </div>
        </div>
        <div class="clearfix m-b-10">
            <div class="col-xs-4 col-md-6 col-padd">
                <label class="custom-label">
                    Minimum width
                </label>
                <div class="form-group input-group">
                    <input class="form-control"  ng-model="tempMaskData[selectedThumbIndex].custom_min_width_mask" placeholder="Width" type="text" ng-keyup="updateMinMask('w')"/>
                    <span class="input-group-addon" ng-bind="productUnit">
                        <!-- inch -->
                    </span>
                </div>
            </div>
            <div class="col-xs-4 col-md-6 col-padd">
                <label class="custom-label">
                    Minimum height
                </label>
                <div class="form-group input-group">
                    <input class="form-control" ng-model="tempMaskData[selectedThumbIndex].custom_min_height_mask" placeholder="Height" type="text" ng-keyup="updateMinMask('h')"/>
                    <span class="input-group-addon" ng-bind="productUnit">
                        <!-- inch -->
                    </span>
                </input>
            </div>
        </div>
    </div>
    <div class="clearfix">
        <div class="col-xs-4 col-md-6 col-padd">
            <label class="custom-label">
                Maximum width
            </label>
            <div class="form-group input-group">
                <input class="form-control" ng-model="tempMaskData[selectedThumbIndex].custom_max_width_mask" placeholder="Width" type="text" ng-keyup="updateMaxMask('w')"/>
                <span class="input-group-addon" ng-bind="productUnit">
                    <!-- inch -->
                </span>
            </input>
        </div>
    </div>
    <div class="col-xs-4 col-md-6 col-padd">
        <label class="custom-label">
            Maximum height
        </label>
        <div class="form-group input-group">
            <input class="form-control" ng-model="tempMaskData[selectedThumbIndex].custom_max_height_mask" placeholder="Height" type="text" ng-keyup="updateMaxMask('h')"/>
            <span class="input-group-addon" ng-bind="productUnit">
                <!-- inch -->
            </span>
        </input>
    </div>
</div>
</div>
</div>
<div class="col-sm-12">
<div class="gray-line">
</div>
</div>
<div class="col-sm-8">
    <div class="row">
        <div class="col-sm-6">
            <label class="custom-label">
                Price per square unit
            </label>
            <div class="form-group input-group">
                <input class="form-control" ng-model="tempMaskData[selectedThumbIndex].custom_boundary_price"  placeholder="price" type="text"/>
                    <span class="input-group-addon">
                    {{ appCurrency }}
                    </span>
                   
                </input>
            </div>
        </div>
        <i class="fa fa-info-circle ng-scope info-module-icon" tooltip="" tooltip-placement="left" ng-click="showProductFaqDetails(7)">
        </i>
    </div>
<!-- <div class="checkbox check-info">
<input id="checkbox4" type="checkbox" value="1"/>
<label class="bold" for="checkbox4">
Restrict designs to print area
</label>
<i class="fa fa-info-circle">
</i>
</div> -->
<div class="clearfix">
    <div class="checkbox check-info">
        <input id="checkbox5" type="checkbox" value="2" ng-model="isSidesAdded[selectedThumbIndex]" ng-checked="isSidesAdded[selectedThumbIndex] == '1'" ng-change="enableAddSides(isSidesAdded[selectedThumbIndex],selectedThumbIndex)">
        <label class="bold" for="checkbox5">
        <!-- Allow users to add sides -->
        <xe-translate text-value="Add Sides Description">
        </xe-translate>
        </label>
        <i class="fa fa-info-circle" tooltip= "{{ addSideMessage }}" tooltip-placement="right"></i>
    </div>
    <div class="form-group m-t-10 m-l-25 m-b-0" ng-show = "isSidesAdded[selectedThumbIndex]">
        <label class="custom-label">
        <xe-translate text-value="Add Sides">
              </xe-translate>
        </label>
        <input ng-model="sidesAllowed[selectedThumbIndex]" type="text" class="form-control" price-Only="priceOnly" name="pName" ng-keyup="sideValidate(sidesAllowed[selectedThumbIndex])"/>
    </div>
</div>
</div>
</div>
</div>
<ng-include src="'modules/product/doc/ps07.html'">
</ng-include>
</div>
