.aitraph {
    position: absolute;
    overflow: hidden;
}

.aitraph-li {
    cursor: pointer;
    padding: 1px;
}
.aitraph-li.error {
    border: 1px solid red;
    padding: 0;
}

.aitraph-li .aitcg_image_div {
    margin: 2px;
}

.aitcg_downloadlinks ul {
    margin-bottom: 5px;
    list-style: none;
}

.aitcg_print_sub {
    margin-left: 7px;
}

.aitcg_print_sub:nth-child(6) {
    margin-top: 10px;
}

.aitcg_print_sub label {
	font-weight: 400;
}

.aitcg-under-template-block label {
    font-weight: 400;
}

.aitcg_print_sub input{
    margin: 3px;
}

.aitcg_bgupload {
    margin:3px;
}

.aitcg_downloadlinks ul li {
    padding-left: 10px;
}

.aitcg_image_container {
    background: url('img/transparency.gif');
}

.aitcg_image_container .aitraph-top {
    border: 1px solid #FAA819;
    background: url('img/blank.gif');
    box-sizing: border-box;
}

.aitcg-overlay {
    position: absolute;
    top : 0;
    left: 0;
    z-index:10000;

    background: url('img/edit_64.png') no-repeat center center;
    opacity: 0.4;
    filter: alpha(opacity = 40);
}

.nav-primary li.level0:hover {
    z-index: 100000 !important;
}

.aitcg_image_div .aitcg-overlay {
    background: url('img/edit_48.png') no-repeat center center;
}

.aitcg_image_div .aitcg-overlay.view-icon {
    background: url('img/zoom_48.png') no-repeat center center;
}

.more-views .aitcg_image_div .aitcg-overlay {
    background: url('img/edit_32.png') no-repeat center center;
}

.aitcg-overlay:hover {
    opacity: 1.0;
    filter: alpha(opacity = 100);
}

.aitraph-bot {
    padding: 1px;
    box-sizing: border-box;
}

.aitcg_image_div {
    position:relative;
    float: none;
    width: 0;
    cursor: pointer;
}
.aitcg_image_div .aitcg_preview_bg {
    top: 0;
    left: 0;
    position:relative;
    max-width:none;
}

.aitcg_image_div .aitraph {
    margin: -1px;
}

.aitcg_image_div .aitraph-top {
    border: 1px solid black;
}

.aitcg_image_div .aitraph .ith {
    position: absolute;
    top: 0;
    left: 0;
}    
    
#loading-mask {
    background:url('img/blank.gif') repeat;
    position:absolute;
    color:#d85909;
    font-size:1.1em;
    font-weight:bold;
    text-align:center;
    opacity:0.80;
/*    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)"; *//* IE8 */
    filter: alpha(opacity=80);
    box-sizing: content-box;
	z-index:59999;
    }
#loading-mask .loader {
    position:fixed;
    top:45%;
    left:50%;
    width:120px;
    margin-left:-120px;
    padding:15px 60px;
    background:#fff4e9;
    border:2px solid #f1af73;
    color:#d85909;
    font-weight:bold;
    text-align:center;
    z-index:50000;
    box-sizing: content-box;
}
#loading-mask .loader img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
#message-popup-window-mask { position:fixed; top:0; right:0; bottom:0; left:0; width:100%; height:100%; z-index:10000; background-color:#efefef; opacity:.5; /*-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";*//*IE8*/    filter: alpha(opacity=80); }
.message-popup { position:absolute; z-index:6001; width:407px; top:-9999em; left:50%; margin:0 0 0 -203px; background:#f3bf8f; padding:0 4px 4px; }
.message-popup.show { top:280px; }
.message-popup .message-popup-head { padding:1px 0; }
.message-popup .message-popup-head h2 { padding:0 10px; margin:0; font:bold 12px/19px Arial, Helvetica, sans-serif; color:#644f3b; }
.message-popup .message-popup-head a { float:right; border:1px solid #ea7601; padding:0 12px 0 7px; font:normal 12px/17px Arial, Helvetica, sans-serif; color:#fff; text-decoration:none !important; cursor:pointer; }
.message-popup .message-popup-head a span { float:left; padding-left:19px;}
.message-popup-ait {
    position: relative;
    /*overflow: hidden;*/
    padding-bottom: 60px;
}

#wrapperAitcgUrl{
display: none;
}

.message-popup .aitclear {
    clear:both;
}

.message-popup .print-area-editor {
    padding-bottom:0;
}

.input-box .aitinput {
    /*float: left; */
    width: auto; 
    margin-right: 20px;
}
.input-box .aitimage {
}
.input-box .aitclear {
    clear:both;
}

.aitcg-popup {
    position: absolute;
    left: 50%;
    width: 750px;
    padding: 10px 15px;
    margin-left: -376px;
    z-index: 10001;

    background-color: #F7F7F7;
    border: 1px solid #C4C6C8;
}
    
.aitcg-popup .title {
    position: relative;
    border-bottom: 1px solid #C4C6C8;
    text-align: left;
    font-size: 16px;
    line-height: 30px;
    font-weight: bold;
}

.aitcg-popup.print-area-editor .title {
    border: none;
    margin-bottom: 0;
    float: right;
    width: 450px;
    color: #fff;
    padding: 5px 0px 5px 20px;
    margin-bottom: 15px;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 400;
    border-radius: 2px;
}

#message-popup-window .aitcg_image_container {

    float: left;
}
.aitcg-popup .title .close-but,
.aitcg-popup .title .help-but{
    float: right;
    height: 30px;
    width: 30px;

    background: url('img/close.png') no-repeat center center;
    z-index: 10000;
    cursor: pointer;
}

.aitcg-popup .title .help-but {
    background-image: url('img/help.png');
    cursor:help;
}
    
.aitcg-popup .text {
    font-size: 12px;
    color: #6D6E6E;
}
    
.aitcg-popup .buttons {
    padding-top: 10px;
    margin: 10px -15px 0;
    border-top: 1px solid #C4C6C8;
}
/* Styles for ColorPicker popUp */

.jscolorpicker {
    border: 0;
    border-radius: 3px;
    height: 40px;
    padding: 14px!important;
    outline: none;
    font-size: 14px;
}

.aitcg-button {
    margin: 10px 10px 0 0;
    text-align: center;
    white-space: nowrap;
    outline: none;
    font: bold 12px/18px Arial,Helvetica,sans-serif;
    cursor: pointer;
    text-decoration: none;
    border: 1px solid #C4C6C8;
    border-radius: 3px;
    font-size: 14px;
    text-transform: uppercase;
    padding: 11px 20px;
}

/* Bottom control panel */

#aitcg-control-panel {
    position: relative;
    float: right;
    margin-top: 10px;
    clear: right;
    margin-bottom: 20px;
}

#aitcg-control-panel .apply-but {
    float: right;
    margin-right: 0;
    color: #fff;
    background: #4a90e0;
    padding: 10px;
    border: none;
    text-transform: uppercase;
    outline: none;
    font-size: 14px;
    font-weight: 400;
    padding: 18px;
    border-radius: 3px;
}

#message-popup-window .apply-but {
    width: 450px;
}

#aitcg-control-panel .apply-but:active {
    background: #386AE0;
}

#aitcg-control-panel .reset-but {
    display: none;
}

.aitcg_error {
    color: #dd0000;
    font-size: 12px;
}

.aitcg_preview_inverted_mask {
	position:absolute;
	left:0;
	top:0;
	z-index:6000;
	pointer-events:none;
}

.aitraph tspan {
	-webkit-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Toolbox */

.aitcg-toolbox {
    position: relative;
    max-width: 450px;
}

.message-popup-ait>.aitcg-toolbox {
    float: right;
    width: 450px;
}

.aitcg-toolbox-accordion .toolTitle {
    margin: 3px;
    clear: both;
    font-weight: bold;
    width: 100%;
    border-top: 1px solid black;
    cursor: pointer;
}

.aitcg-toolbox-accordion .toolTitle .plus,
.aitcg-toolbox-accordion .toolTitle.selected .minus {
    display: inline;
}

.aitcg-toolbox-accordion .toolTitle .minus,
.aitcg-toolbox-accordion .toolTitle.selected .plus {
    display: none;
}

.aitcg-toolbox-icons {
    width: 450px;
}

.aitcg-toolbox .tools-titles,
.aitcg-toolbox .tools-bodies {
    clear: both;
    width: 100%;
}

.aitcg-toolbox .tool-body {
    display: none;
    padding-bottom: 5px;
}

.aitcg-toolbox .tool-body.selected {
    display: block;
}

.aitcg-toolbox-icons .toolTitle {
    float: left;
    cursor: pointer;
    width: 90px;
    padding: 10px 0px;
    background: #fff;
    opacity: 1!important;
    margin-bottom: 30px;
    border: solid #C4C6C8;
    border-width: 1px 0 1px 1px;
}

.aitcg-toolbox-icons .toolTitle:last-child {
    border-width: 1px;
}

.aitcg-toolbox-icons .toolTitle .icon {
    float: left;
    border-radius: 5px;
    background-position: center center;
    background-repeat: no-repeat;
    height: 32px;
    box-sizing: content-box;
    border: 0!important;
    background-color: rgba(0,0,0, 0)!important;
    width: 90px;
    margin: 0;
    padding: 0;
}

.aitcg-toolbox-icons .toolTitle .label {
	float: left;
    clear: both;
    font-weight: bold;
    font-size: 12px;
    width: 90px;
    padding: 2px 0;
    text-align: center;
    text-transform: uppercase;
}

.aitcg-toolbox .text-edit-notice {
    font: bold 12px/15px Arial,Helvetica,sans-serif;
    padding: 2px 3px;
    text-transform: uppercase;
}

.message-popup-window .aitcg-toolbox-icons .toolTitle.selected,
.aitcg-toolbox-icons .toolTitle:hover {
    background: #F7F7F7;
    opacity: 1.0;
    filter: alpha(opacity=100);
}

.aitcg-toolbox-icons .toolTitle.selected {
    border-width: 1px 0 0 1px;
}

.aitcg-toolbox-icons .toolTitle:last-child.selected {
    border-width: 1px 1px 0 1px;
}

.aitcg-toolbox-icons .toolTitle:first-child.selected {
    border-radius: 0;
}

.aitcg-toolbox-icons .toolTitle:last-child.selected {
    border-radius: 0;
}

.aitcg-toolbox input, .aitcg-toolbox select {
    padding: 1px;
    font: 12px/15px Arial,Helvetica,sans-serif;
}

.aitcg-toolbox select {
    width: 450px;
    background: #F7F7F7;
    outline: none;
    width: 450px;
    background: #F7F7F7;
    outline: none;
    position: absolute;
    top: 22px;
}

.aitcg-toolbox table.form-list
{
    border-spacing: 5px;
    display: inline;
}

.aitcg-toolbox table.form-list label {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
}

.aitcg-font-preview {
    overflow: hidden;
    margin-left: 80px;
}

.aitcg-font-preview img {
    max-width: 370px;
}

.aitcg-toolbox .tool-body .buttons,
.aitcg-under-template-block {
    margin: 10px 0 0 0;
    border: none;
    padding: 2px 0;
    width: 100%;
    clear: both;
}

.aitcg-toolbox .category-previews {
    max-height: 280px;
    overflow: auto;
    margin: 3px 0;
    position: relative;
}

.aitcg-toolbox .category-previews .container {
    margin: -3px 0 -3px -3px;
}

.aitcg-toolbox .category-previews div div {
    float: left;
    padding: 3px;
    width: 137px;
    height: 137px;
}

.aitcg-toolbox .category-previews input {
    display: none;
}

.aitcg-toolbox .category-previews img {
    cursor: pointer;
    padding: 1px;
    width: 135px;
    height: 135px;
}

.aitcg-toolbox .category-previews img.selected,
.aitcg-toolbox .category-previews img:hover {
    border: 1px solid red;
    padding: 0;
}

#aitcg-tooltip {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px 12px;
    z-index: 100010;


    font-size: 16px;
    text-align: center;
}

/* Tooltips color themes */
.aitcg-tooltip-dark {
    background: url('img/black_75.png');
    color: #ffffff;
    border-bottom: 1px solid white;
}

.aitcg-tooltip-light {
    background: url('img/white_75.png');
    color: #000000;
    border-bottom: 1px solid black;
}
.form-list textarea[id*='add_text_']{
    width: 370px;
    height: 100px;
    max-width: 370px;
    min-width: 370px;
    background: #F7F7F7;
    outline: none;
    border-radius: 3px;
    padding: 10px;
    font-size: 12px;
}

.form-list input[id*='add_text_']{
    width: 370px;
    max-width: 370px;
    min-width: 370px;
    background: #F7F7F7;
    outline: none;
    border-radius: 3px;
    padding: 10px;
    font-size: 12px;
}

.form-list select[id*='font-preview-selector-']{
    width: 370px;
    position: absolute;
    z-index: 2;
    top: 18px;
}

span#custom_select {
    width: 370px;
    display: inline-block;
    border: 1px solid #C4C6C8;
    border-radius: 3px;
    font-size: 14px;
    padding: 9px 10px;
    background: #F7F7F7;
    cursor: pointer;
    z-index: 1000;
    position: absolute;
    top: 0;
}
span#custom_select .option{

}

span#custom_family_select {
    width: 370px;
    display: inline-block;
    border: 1px solid #C4C6C8;
    border-radius: 3px;
    font-size: 14px;
    padding: 9px 10px;
    background: #F7F7F7;
    cursor: pointer;
    z-index: 2000;
    position: absolute;
    top: 0;
}
span#custom_family_select .option{

}
span#custom_select2 {
    width: 450px;
    display: inline-block;
    border: 1px solid #C4C6C8;
    border-radius: 3px;
    font-size: 14px;
    padding: 9px 10px;
    background: #F7F7F7;
    cursor: pointer;
    z-index: 1000;
    position: absolute;
    top: 0;
    left: 0;
    /* margin-bottom: 20px; */
}

span#custom_select3 {
    width: 450px;
    display: inline-block;
    border: 1px solid #C4C6C8;
    border-radius: 3px;
    font-size: 14px;
    padding: 9px 10px;
    background: #F7F7F7;
    cursor: pointer;
    z-index: 1000;
    position: absolute;
    top: 0;
    left: 0;
    /* margin-bottom: 20px; */
}

span#custom_select div.button {
	height: 16px;
    width: 16px;
    top: 13px;
    left: 340px;
    position: absolute;
    z-index: 999999;
    background: url('img/dropdown.png') no-repeat center center;
}

span#custom_select div.options {
    display: none;
}

span#custom_select div.options .option {
    margin: 0 -10px;
    padding: 2px 10px;
    font-size: 12px;
}

span#custom_select div.options .option:hover {
    background-color: rgba(0, 0, 0, .05);
    cursor: pointer;
}

span#custom_family_select div.button {
    height: 16px;
    width: 16px;
    top: 13px;
    left: 340px;
    position: absolute;
    z-index: 999999;
    background: url('img/dropdown.png') no-repeat center center;
}

span#custom_family_select div.options {
    display: none;
}

span#custom_family_select div.options .option {
    margin: 0 -10px;
    padding: 2px 10px;
    font-size: 12px;
}

span#custom_family_select div.options .option:hover {
    background-color: rgba(0, 0, 0, .05);
    cursor: pointer;
}

span#custom_select2 div.button {
	height: 16px;
    width: 16px;
    top: 13px;
    left: 420px;
    position: absolute;
    z-index: 999999;
    background: url('img/dropdown.png') no-repeat center center;
}

span#custom_select2 div.options .option {
    margin: 0 -10px;
    padding: 2px 10px;
    font-size: 12px;
}

span#custom_select2 div.options {
    display: none;
}

span#custom_select2 div.options .option:hover {
    background-color: rgba(0, 0, 0, .05);
    cursor: pointer;
}

span#custom_select3 div.button {
	height: 16px;
    width: 16px;
    top: 13px;
    left: 420px;
    position: absolute;
    z-index: 999999;
    background: url('img/dropdown.png') no-repeat center center;
}

span#custom_select3 div.options .option {
    margin: 0 -10px;
    padding: 2px 10px;
    font-size: 12px;
}

span#custom_select3 div.options {
    display: none;
}

span#custom_select3 div.options .option:hover {
    background-color: rgba(0, 0, 0, .05);
    cursor: pointer;
}

.tools-bodies .form-list td.label {
    min-width: 80px;
}

.tools-bodies .form-list tr {
    margin-bottom: 20px;
    display: inline-block;
    width: 450px;
}

span.icon.align-button {
    border: solid #C4C6C6;
    border-width: 1px 1px 1px 1px;
    background-position: center center;
    background-repeat: no-repeat;
    border-radius: 0px;
    box-sizing: content-box;
    float: left;
    height: 16px;
    margin: 0px;
    padding: 13px;
    width: 16px;
    opacity: 0.5;
}

span.icon.align-button.button-left {
    border-width: 1px 0 1px 1px;
    border-radius: 5px 0 0 5px;
}

span.icon.align-button.button-right {
    border-width: 1px 1px 1px 0;
    border-radius: 0 5px 5px 0;
}

span.icon.align-button:hover {
    cursor: pointer;
}

span#text_params {
    display: block;
    text-align: right;
}

span#text_lenght {
    display: inline;
    text-align: right;
    font-size: 12px;
    color: #C4C6C8;
}

span#text_limit {
    display: inline;
    text-align: right;
    font-size: 12px;
    color: #C4C6C8;
}

tr td.label.rigth {
    padding-left: 64px;
}

tr td.value.rigth {
    padding-left: 25px;
}

#socialblock {
    margin: 10px 0 0 0;
    border: none;
    padding: 2px 0;
    width: 100%;
    clear: both;
}

#socialblock .icon {
    width: 32px;
    height: 32px;
}

.get-photos-button {
    clear: both;
    font-size: 18px;
    font-weight: 500;
    color: #2F77AD;
    padding-bottom: 28px;
    padding-top: 28px;
    padding-left: 10px;
    border-bottom: 1px solid #D8D8D8;
}

.get-photos-button:hover {
    cursor: pointer;
}
    .get-photos-button span{
        font-weight: 300;
        color: #808080;
    }

.get-photos-button#get-instagram-photos {
}
    .get-photos-button#get-instagram-photos .icon {
        background-image: url('img/instagramBlue.png');
        float: left;
        margin-right: 20px;
    }

.get-photos-button#get-pinterest-photos {
}

    .get-photos-button#get-pinterest-photos .icon {
        background-image: url('img/pinterestBlue.png');
        float: left;
        margin-right: 20px;
    }

#login {
    display: inline-flex;
    font-size: 18px;
    font-weight: 300;
    color: #808080;
    vertical-align: middle;
    line-height: 40px;
    padding-top: 10px;
    padding-left: 5px;
}

#login #instagram-login {
    text-align: center;
    font-size: 12px;
    font-weight: 500;
    color: #2F77AD;
    line-height: initial;
    margin-bottom: 5px;
    margin-left: 40px;
}

#login #instagram-login:hover {
    cursor: pointer;
}

    #login #instagram-login .icon{
        background-image: url('img/instagramGray.png');
        margin: 0 auto;
        line-height: 40px;
    }

#login #pinterest-login {
    text-align: center;
    font-size: 12px;
    font-weight: 500;
    color: #2F77AD;
    line-height: initial;
    margin-bottom: 5px;
    margin: 0 20px;
}

#login #pinterest-login:hover{
    cursor: pointer;
}

    #login #pinterest-login .icon{
        background-image: url('img/pinterestGray.png');
        margin: 0 auto;
    }

.tools-bodies select {
    display: none;
}

div.slider {
    float: left;
    width:200px;
    margin:10px 0;
    background-color:#ccc;
    height:10px;
    position: relative;
}

div.slider div.handle {
    width:10px;
    height:15px;
    background-color:#4a90e0;
    cursor:move;
    position: absolute;
}

div#zoom_element {
    width:50px;
    height:50px;
    background:#2d86bd;
    position:relative;
}

.downText {
    cursor: pointer;
    border: solid #C4C6C6;
    border-width: 1px 1px 1px 1px;
    background-position: center center;
    background-repeat: no-repeat;
    border-radius: 0px;
    box-sizing: content-box;
    float: left;
    height: 16px;
    margin: 0px;
    padding: 13px;
    width: 50px;
    text-align: center;
    opacity: 0.5;
    font-weight: 600;
}

.downText.selected {
    color: #000000;
    opacity: 1;
}

.downText#downTextUp {
    margin-left: 13px;
    border-width: 1px 0 1px 1px;
    border-radius: 5px 0 0 5px;
}

.downText#downTextDown {
    border-radius: 0 5px 5px 0;
}

@media only screen and (max-width: 500px) {
    #aitcg-tool-title-Save {
        display: none;
    }

    .toolTitle:nth-child(4) {
        border-width: 1px;
    }
}
