<link href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" rel="stylesheet" />
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script>jQuery.noConflict();</script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script type="text/javascript">
    jQuery(document).ready(function(){
        jQuery('.datepicker').datepicker({
            dateFormat: "yy-mm-dd"
        });
    });
</script>

<div class="dpdshippinglist-container">
    <form action="" method="post">
        <input type="hidden" name="form_key" value="<?php echo Mage::getSingleton('core/session')->getFormKey(); ?>" />
        <label>Starting Date</label><br>
        <input type="text" name="starting_date" class="datepicker" value="<?php if(isset($_POST['starting_date'])){ echo $_POST['starting_date']; } else { echo date('Y-m-d'); } ?>" /><br><br>
        <label>Ending Date</label><br>
        <input type="text" name="ending_date" class="datepicker" value="<?php if(isset($_POST['ending_date'])){ echo $_POST['ending_date']; } else { echo date('Y-m-d'); } ?>" /><br><br>
        <input type="submit" name="generate_dpdshippniglist" value="Generate DPD Shipping List" /><br><br>
    </form>
    <?php
    if( isset($_POST['generate_dpdshippniglist'])) {
        /**
	    * Get the resource model
	    */
        $resource = Mage::getSingleton('core/resource');
        
        /**
        * Retrieve the read connection
        */
        $readConnection = $resource->getConnection('core_read');
        /**
        * Get the table name
        */
        $salesShipmentTable = $resource->getTableName('sales_flat_shipment');
        $customerTable = $resource->getTableName('customer_entity');
        $salesOrderAddressTable = $resource->getTableName('sales_flat_order_address');
        
        $startingDateWhere = '';
        if(isset($_POST['starting_date']) && $_POST['starting_date'] != ''){
            $startingDate = $_POST['starting_date'];
            $startingDateWhere = " AND DATE(t1.created_at) >= '$startingDate'";
        }

        $endingDateWhere = '';
        if(isset($_POST['ending_date']) && $_POST['ending_date'] != ''){
            $endingDate = $_POST['ending_date'];
            $endingDateWhere = " AND DATE(t1.created_at) <= '$endingDate.'";
        }

        $query = "SELECT t1.entity_id, t1.dpd_label_path, t1.dpd_tracking_url, t1.customer_id FROM $salesShipmentTable t1 WHERE t1.dpd_label_exported IS NOT NULL ".$startingDateWhere.$endingDateWhere;
        /**
        * Execute the query and store the results in $results
        */
        $results = $readConnection->fetchAll($query);
        if($results){
    ?>
    <form action="" method="post">
        <input type="hidden" name="form_key" value="<?php echo Mage::getSingleton('core/session')->getFormKey(); ?>" />
        <input type="hidden" name="starting_date" value="<?php echo $_POST['starting_date']; ?>" />
        <input type="hidden" name="ending_date" value="<?php echo $_POST['ending_date']; ?>" />
        <input type="submit" name="generate_dpdshippinglist_pdf" style="display:inline-block;padding:10px 20px;background-color:grey; color: white;" value="Download PDF" />
    </form>
    <br><br>
    <table style="border-spacing: 15px 0;">
        <thead>
            <tr>
                <th>Nr.</th>
                <th>Bestellnummer</th>
                <th>Paket-Nr</th>
                <th>Customer Name</th>
                <th>Customer Email</th>
                <th>Customer Address</th>
                <th>Tracking URL</th>
            </tr>
        </thead>
        <tbody>
            <?php
                $i = 1;
                foreach($results as $result){
                    $dpdLabelPath = $result['dpd_label_path'];
                    $dpdLabelPathArray = explode("-", $dpdLabelPath);
                    $orderNumber = $dpdLabelPathArray[0];
                    $dpdLabelPathFileName = $dpdLabelPathArray[1];
                    $trackingNumberArray = explode(".", $dpdLabelPathFileName);
                    $trackingNumber = $trackingNumberArray[0];
                    $order_id = $result['entity_id'];
                    $customer_id = 0;
                    if($result['customer_id']){
                        $customer_id = $result['customer_id'];
                    }
                    $query = "SELECT t3.firstname, t3.lastname, t3.email, t3.telephone, t3.street, t3.city  FROM $salesOrderAddressTable t3  WHERE t3.customer_id = $customer_id AND t3.address_type = 'shipping' LIMIT 1";
                    $customerDetails = $readConnection->fetchAll($query);
                    ?>
                    <tr>
                        <td><?php echo $i; ?></td>
                        <td><?php echo $orderNumber; ?></td>
                        <td><?php echo $trackingNumber; ?></td>
                        <?php
                        if($customerDetails){
                            ?>
                            <td><?php echo $customerDetails[0]['firstname'].' '.$customerDetails[0]['lastname']; ?></td>
                            <td><?php echo $customerDetails[0]['email']; ?></td>
                            <td><?php echo $customerDetails[0]['street'].' '. $customerDetails[0]['city']; ?></td>
                            <?php
                        }
                        else{
                            ?>
                            <td></td>
                            <td></td>
                            <td></td>
                            <?php
                        }
                        ?>
                        <td><?php echo $result['dpd_tracking_url']; ?></td>
                    </tr>
                    <?php
                    $i++;
                }
            ?>
        </tbody>
    </table>
    <?php 
        }
        else{
            ?>
            <div>No Result Found.</div>
            <?php
        }
    }
    ?>
</div>