<!--
    preloader start
-->
<div class="panel panel-default" ng-hide="preloader">
    <div class="graphics-wrap-height">
        <div class="panel-body text-center">
            <img class="image-responsive-height demo-mw-50 page-loader" src="assets/img/progress/progress-circle-master.svg" alt="Progress"/>
        </div>
    </div>
</div>
<!-- preloader end -->
<div class="panel panel-default" ng-show="preloader">
    <div class="loader-OnUpload" pg-portlet on-refresh="refreshTest('.loader-OnUpload')">
        <div class="panel-body">
            <div class="col-sm-6 b-r-light">
                <div class="panel-heading padding-0">
                    <div class="panel-title">
                        <xe-translate text-value="Preview">
                        </xe-translate>
                    </div>
                </div>
                <div class="pull-left m-r-10">
                    <div class="gallery-upload-thumb" ng-show="isUploadMaskSvgVisible">
                        <img class="img-responsive" ng-src="{{ uploadMask.svgUrl }}"/>
                    </div>
                    <button class="btn btn-success btn-sm m-t-10" ng-file-select ng-file-change="browseMask($files)">
                        <xe-translate text-value="Upload Mask">
                        </xe-translate>
                    </button>
                    <p class="small" ng-show="isError1">
                        svg
                    </p>
                    <p class="small text-danger" ng-show="showError1">
                        {{ showMsg1 }}
                    </p>
                </div>
                <div class="pull-left">
                    <div class="gallery-upload-thumb" ng-show="isUploadMaskImgVisible">
                        <img class="img-responsive" ng-src="{{ uploadMask.imgUrl }}"/>
                    </div>
                    <button class="btn btn-success btn-sm m-t-10" ng-file-select ng-file-change="browseImage($files)">
                        <xe-translate text-value="Upload Image">
                        </xe-translate>
                    </button>
                    <p class="small" ng-show="isError2">
                        png, jpeg, jpg, bmp
                    </p>
                    <p class="small text-danger" ng-show="showError2">
                        {{ showMsg2 }}
                    </p>
                </div>
            </div>
            <div class="col-sm-5">
                <div class="panel-heading p-t-0">
                    <div class="panel-title">
                        <xe-translate text-value="Properties">
                        </xe-translate>
                    </div>
                </div>
                <div class="form-group form-group-default required m-l-20" pg-form-group>
                    <label>
                        <xe-translate text-value="Name">
                        </xe-translate>
                    </label>
                    <input type="text" class="form-control" name="Name" ng-model="uploadMask.name" required/>
                </div>
            </div>
        </div>
        <div class="panel-footer b-t-none clearfix">
            <div class="pull-right">
                <button class="btn btn-primary btn-sm" type="button" ng-click="uploadMaskToServer(uploadMask.name)"  ng-class="{'disabled': !uploadMask.name || !uploadMask.svgUrl || !uploadMask.imgUrl}" ng-disabled="demoStatus">
                    <xe-translate text-value="Save">
                    </xe-translate>
                </button>
                <button class="btn btn-primary btn-sm" type="button" ng-click="cancelUploadMask()">
                    <xe-translate text-value="Cancel">
                    </xe-translate>
                </button>
            </div>
        </div>
    </div>
</div>
