<div class="panel-heading separator p-t-0">
    <div class="panel-title">
        <h4 class ="xe-panel-title pull-left">
            <xe-translate text-value="Mail Designs To Customers">
            </xe-translate>
        </h4>
        <i class="fa fa-info-circle ng-scope info-module-icon m-l-10" ng-click="showSettingsFaqDetails(13)">
        </i>
    </div>
</div>
<div class="panel-body m-t-20">
    <form class="form-horizontal" role="form" autocomplete="off">
        <div class="form-group">
            <div class="form-group no-border no-margin">
                <div class="col-sm-10">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="checkbox check-info">
                                <input type="checkbox" id="is_email_allowed" ng-model="addToCartSetting.is_email_allowed" ng-true-value="1" ng-false-value="0" ng-checked="addToCartSetting.is_email_allowed == 1" ng-change="changedEmailAddress(addToCartSetting.is_email_allowed)"/>
                                <label for="is_email_allowed">
                                    <xe-translate text-value="Enabled">
                                    </xe-translate>
                                </label>
                            </div> <br> 

                            <div class="col-sm-10 clearfix" ng-show="addToCartSetting.is_email_allowed == 1">
                                <label class="col-sm-2 control-label">
                                    <xe-translate text-value="Email Address">
                                    </xe-translate>
                                </label>
                                <div class="col-sm-10">
                                    <div class="pull-left m-l-10" style=" margin-left: 50px;">
                                        <input type="email" ng-model="addToCartSetting.email"class="form-control" required ng-keyup ="validateEmail(addToCartSetting.email)" placeholder="Enter the Email Address" ng-pattern="/^[_a-z0-9]+(\.[_a-z0-9]+)*@[a-z0-9-]+(\.[a-z0-9-]+)*(\.[a-z]{2,4})$/" style="width: 300px;"/>

                                        <p class="small text-danger" ng-show = "isEmail" style = "margin-left: 0px;">
                                            {{ showMsg2 }}
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

<div class="panel-footer wizard-ftr bg-white">
    <button class="btn btn-sm btn-info pull-left m-r-10" ng-click="updateGeneralSetting()" ng-disabled="demoStatus || isEmail">
        <xe-translate text-value="Save">
        </xe-translate>
    </button>
</div>
<ng-include src="'modules/setting/doc/s13.html'">
</ng-include>