<div class="panel-heading separator p-t-0">
    <div class="panel-title">
        <h4 class ="xe-panel-title pull-left">
            <xe-translate text-value="Image Upload Description">
            </xe-translate>
        </h4>
        <i class="fa fa-info-circle ng-scope info-module-icon m-l-10" ng-click="showSettingsFaqDetails(9)">
        </i>
    </div>
</div>
<div class="panel-body m-t-20">
    <form class="form-horizontal" role="form" autocomplete="off">
        <div class="form-group">
            <div class="form-group no-border no-margin">
                <div class="col-sm-12">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="checkbox check-info">
                                <input type="checkbox" id="is_terms_and_condition_allow" ng-model="addToCartSetting.is_terms_and_condition_allow" ng-true-value="1" ng-false-value="0" ng-checked="addToCartSetting.is_terms_and_condition_allow == 1" ng-change="changedTermsAndCondition(addToCartSetting.is_terms_and_condition_allow)"/>
                                <label for="is_terms_and_condition_allow">
                                    <xe-translate text-value="Enabled">
                                    </xe-translate>
                                </label>
                            </div> <br>
                            <div class="row" ng-show="addToCartSetting.is_terms_and_condition_allow == 1">
                                <div class="form-group form-group-default input-group nested-form-group w-full" pg-form-group>
                                    <label>
                                        <xe-translate text-value="Term and Condition">
                                        </xe-translate>
                                    </label>
                                    <textarea type="text" placeholder="Set Term and Condition"  style="width: 100%; height: 125px;"  ng-model="imgUploadTermsCondition.note">
                                    </textarea>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </form>
</div>

<div class="panel-footer wizard-ftr bg-white">
    <button class="btn btn-sm btn-info pull-left m-r-10" ng-click="updateGeneralSetting()" ng-class="{'disabled': imgUploadTermsCondition.note == '' && addToCartSetting.is_terms_and_condition_allow == 1}"  ng-disabled="demoStatus">
        <xe-translate text-value="Save">
        </xe-translate>
    </button>
</div>
<ng-include src="'modules/setting/doc/s9.html'">
</ng-include>