<div class="panel-heading separator p-t-0">
    <div class="panel-title">
        <h4 class ="xe-panel-title pull-left">
            <xe-translate text-value="Notes Description">
            </xe-translate>
        </h4>
        <i class="fa fa-info-circle ng-scope info-module-icon m-l-10" ng-click="showSettingsFaqDetails(8)">
        </i>
    </div>
</div>
<div class="panel-body m-t-20">
    <form class="form-horizontal" role="form" autocomplete="off">
        <div class="form-group">
            <div class="form-group no-border no-margin">
                <div class="col-sm-10">
                    <div class="row">
                        <textarea type="text" placeholder="Enter Instructions For Notes"  style="width: 100%; height: 125px;"  ng-model="addToCartSetting.notes">
                        </textarea>
                        <br/>
                        <div class="form-group no-border no-margin">
                            <label class="col-sm-2 control-label">
                                <xe-translate text-value="No Of Characters Allowed">
                                </xe-translate>
                            </label>
                            <div class="col-sm-10">
                                <div pg-form-group class="form-group">
                                    <input type="text"  ng-model="addToCartSetting.no_of_chars"  id= "no_of_chars" class="form-control" placeholder="Enter No Of Characters" style="width: 140px;margin-left: -10px;" numbers-only="numbers-only"/>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </form>
</div>

<div class="panel-footer wizard-ftr bg-white">
    <button class="btn btn-sm btn-info pull-left m-r-10" ng-click="updateGeneralSetting()" ng-disabled="demoStatus">
        <xe-translate text-value="Save">
        </xe-translate>
    </button>
</div>
<ng-include src="'modules/setting/doc/s8.html'">
</ng-include>