<div class="panel-heading separator p-t-0">
    <div class="panel-title">
        <h4 class ="xe-panel-title pull-left">
            <xe-translate text-value="Price Style">
            </xe-translate>
        </h4>
        <i class="fa fa-info-circle ng-scope info-module-icon m-l-10" ng-click="showSettingsFaqDetails(5)">
        </i>
    </div>
</div>
<div class="panel-body m-t-20">
    <form class="form-horizontal" role="form" autocomplete="off">
        <div class="form-group">

            <div class="col-sm-10 clearfix">
                <div class="form-group no-border no-margin">
                    <label class="col-sm-2 control-label">
                        <xe-translate text-value="Prefix">
                        </xe-translate>
                    </label>
                    <div class="col-sm-10">
                        <div class="pull-left m-l-10">
                            <input type="text"  ng-model="addToCartSetting.price_prefix"  class="form-control input-sm" placeholder="Enter Prefix"/>
                        </div>
                    </div>
                </div>
                <div class="form-group no-border no-margin">
                    <label class="col-sm-2 control-label">
                        <xe-translate text-value="Price">
                        </xe-translate>
                    </label>
                    <div class="col-sm-10">
                        <div class="pull-left m-l-10">
                            <input type="text"  ng-model="price"  
                            class="form-control input-sm" placeholder="Enter Price"price-only="price-only"/>
                        </div>
                    </div>
                </div>
                <div class="form-group no-border no-margin">
                    <label class="col-sm-2 control-label">
                        <xe-translate text-value="Suffix">
                        </xe-translate>
                    </label>
                    <div class="col-sm-10">
                        <div class="pull-left m-l-10">
                            <input type="text"  ng-model="addToCartSetting.price_suffix"  class="form-control input-sm" placeholder="Enter Suffix"/>
                        </div>
                    </div>
                </div>
                <div class="form-group no-border no-margin">
                    <label class="col-sm-2 control-label">
                        <xe-translate text-value="Preview">
                        </xe-translate>
                    </label>
                    <div class="col-sm-10">
                        <label class="control-label" style="font-size: small;">
                            <span>
                                {{ addToCartSetting.price_prefix }}
                            </span>
                            {{ price }}
                            <span>
                                {{ addToCartSetting.price_suffix }}
                            </span>
                        </label>
                    </div>
                </div>
            </div>
        </div>
        
    </form>
</div>

<div class="panel-footer wizard-ftr bg-white">
    <button class="btn btn-sm btn-info pull-left m-r-10" ng-click="updateGeneralSetting()" ng-disabled="demoStatus">
        <xe-translate text-value="Save">
        </xe-translate>
    </button>
</div>
<ng-include src="'modules/setting/doc/s5.html'">
    </ng-include>