<div class="panel-heading separator p-t-0">
    <div class="panel-title">
        <h4 class ="xe-panel-title">
            <xe-translate text-value="Social Image">
            </xe-translate>
            <p class="social-import-desc">{{ socialImportMessage }}</p>
        </h4>
    </div>
</div>
<div class="panel-body m-t-20">
    <form role="form" autocomplete="off">
        <div class="row">
            <div class="col-sm-12">
                <div class="form-group">
                    <label class="control-label block m-b-30 font-s-16">
                        <xe-translate text-value="{{socialImageModalLabel}}">
                        </xe-translate>
                    </label>
                </div>
            </div>
            <div class="col-sm-12">

                <div class="form-group">
                    <div class="row m-t-10">
                        <div class="col-sm-12">
                            <div class="form-group no-border no-margin">
                                <label class="col-sm-2 control-label">
                                    <xe-translate text-value="App Id">
                                    </xe-translate>
                                </label>
                                <div class="col-sm-5">
                                    <div pg-form-group class="form-group">
                                        <input type="text"  ng-model="addToCartSetting.app_id" id="app_id" class="form-control" placeholder="Enter Application Id" numbers-only="numbers-only"/>
                                    </div>
                                </div>
                            </div>
                        </div>

                         <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group no-border no-margin">
                                    <label class="col-sm-2 m-t-5 control-label">
                                        <xe-translate text-value="Domain Name">
                                        </xe-translate>
                                    </label>
                                    <div class="col-sm-5">
                                        <div pg-form-group class="form-group">
                                            <input type="text"  ng-model="addToCartSetting.domain_name" id="domain_name" class="form-control" placeholder="Enter Domain Name"/>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group no-border no-margin">
                                    <label class="col-sm-2 control-label">
                                        <xe-translate text-value="Site Url">
                                        </xe-translate>
                                    </label>
                                    <div class="col-sm-5">
                                        <div pg-form-group class="form-group">
                                            <input type="text"  ng-model="addToCartSetting.site_url" id="site_url" class="form-control" placeholder="Enter Site Url"/>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <p class="small text-danger"  ng-show = "isValidate" style = "margin-left:250px;">
                            {{ showErr }}
                        </p>
                    </div>
                    <div class = "clearfix m-t-20">
                         <button type="button" class="btn btn-sm btn-info pull-left m-r-10" ng-click="updateSocialImageFacebookDetails()" ng-class="{'disabled': !addToCartSetting.app_id || !addToCartSetting.domain_name || !addToCartSetting.site_url}" ng-disabled="demoStatus || buttonStatus" >
                         
                            <span>
                                <xe-translate text-value="Save">
                                </xe-translate>
                            </span>
                        </button>
                    </div>
                </div>
            </div>
            
            <div class="col-sm-12 m-t-50 m-b-50">
                <hr/>
            </div>
            <div class="col-sm-12">
               <div class="form-group">
                    <label class="control-label block font-s-16 pull-left m-t-5">
                        <xe-translate text-value="{{socialImageInstaLabel}}">
                        </xe-translate>
                    </label>
                    <i class="fa fa-info-circle ng-scope info-module-icon m-l-10" ng-click="showSettingsFaqDetails(10)">
                    </i>
                </div>
            </div>
            <div class="col-sm-12">
                <div class="form-group">
                    <div class="row m-t-10" ng-repeat="social in socialDetailsList">
                        <div class="col-sm-12">
                            <div class="form-group no-border no-margin">
                                <label class="col-sm-2 control-label m-t-10">
                                    <xe-translate text-value="Client Id">
                                    </xe-translate>
                                </label>
                                <div class="col-sm-5">
                                    <div pg-form-group class="form-group">
                                        <input type="text"  ng-model="socialKeyValues[$index]" id="client_id" class="form-control" placeholder="Enter Client Secret code"/>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class = "clearfix m-t-20">
                        <button type="button" class="btn btn-sm btn-info pull-left m-r-10" ng-click="updateSocialImageInstaDetails()"  ng-class="{'disabled':isIdStatus == true || socialKeyValues == ''}" ng-disabled="demoStatus || buttonStatus">
                            <span>
                                <xe-translate text-value="Save">
                                </xe-translate>
                            </span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <ng-include src="'modules/setting/doc/s10.html'">
    </ng-include>
</div>