<div class="panel-heading separator p-t-0">
    <div class="panel-title">
        <h4 class ="xe-panel-title pull-left">
            <xe-translate text-value="Unit Settings">
            </xe-translate>
        </h4>
         <i class="fa fa-info-circle ng-scope info-module-icon m-l-10" ng-click="showSettingsFaqDetails(2)"></i>
    </div>
</div>
<div class="panel-body m-t-20">
    <form class="form-horizontal" role="form" autocomplete="off">
        <div class="form-group">

            <div class="col-sm-10 clearfix">
                <label class="col-sm-2 control-label">
                    <xe-translate text-value="Change unit">
                    </xe-translate>
                </label>
                <div class="col-sm-10">
                    <div class="pull-left m-l-10">
                        <input type="text"  ng-model="addToCartSetting.unit"  class="form-control input-sm" placeholder="Enter Unit"/>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

<div class="panel-footer wizard-ftr bg-white">
    <button class="btn btn-sm btn-info pull-left m-r-10" ng-click="updateGeneralSetting()" ng-disabled="demoStatus || !addToCartSetting.unit">
        <xe-translate text-value="Save">
        </xe-translate>
    </button>
</div>
<ng-include src="'modules/setting/doc/s2.html'">
</ng-include>