<form class="form-horizontal">
    <div class="form-group">
        <div class="col-sm-10 clearfix">
            <label class="col-sm-2 control-label">
                <xe-translate text-value="Name">
                </xe-translate>
            </label>
            <div class="col-sm-10">
                <div class="pull-left m-l-10">
                    <input type="text" placeholder="{{ printMethodPlaceHolder }}" class="form-control input-sm"  ng-model="printProfile.name"/>
                </div>
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-10 clearfix">
            <label class="col-sm-2 control-label">
                <xe-translate text-value="Print method icon">
                </xe-translate>
            </label>
            <div class="col-sm-10">
                <div class="pull-left">
                    <img class="print-method-image" ng-src="{{ addPrintImageUrl }}"/>
                </div>
                <div class="pull-left m-l-10">
                    <button class="btn btn-success btn-xs btn-cons block m-b-10" accept=".png,.jpg,.jpeg,.bmp" ng-file-select ng-file-change="uploadPrintImage($files)" ng-disabled="demoStatus">
                        <span>
                            <xe-translate text-value="Browse Image">
                            </xe-translate>
                        </span>
                    </button>
                    <!-- <button class="btn btn-success btn-xs btn-cons block" ng-click="uploadPrintMethodImage()" 
                    ng-disabled="demoStatus || uploadButton">
                    <xe-translate text-value="Upload"></xe-translate></button> -->
                </div>
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-10 clearfix">
            <label class="col-sm-2 control-label">
                <xe-translate text-value="Description">
                </xe-translate>
            </label>
            <div class="col-sm-10">
                <div class="pull-left m-l-10">
                    <textarea type="textarea" placeholder="{{ printMethodDescriptionPlaceHolder }}" class="form-control input-sm" ng-model="printProfile.description"/>
                </div>
            </div>
        </div>
    </div>
</form>
<div class="panel-footer wizard-ftr bg-white">
    <button class="btn btn-sm btn-success pull-left m-r-10" ng-click="addNewPrintProfile('featureSetting')" ng-disabled="demoStatus">
        <xe-translate text-value="Next">
        </xe-translate>
    </button>
    <!-- <button class="btn btn-sm btn-success pull-right m-r-10" ng-click="backToPrintList()" ng-disabled="demoStatus">
        <xe-translate text-value="Back"></xe-translate></button> -->
</div>
