<div class="panel-heading separator p-t-0">
    <div class="panel-title pull-left">
        <h4>
            <xe-translate text-value="Choose Profile">
            </xe-translate>
        </h4>
    </div>
    <i class="fa fa-info-circle info-module-icon m-t-15 m-l-10" ng-click="showPrintProfileFaq(3)">
    </i>
</div>
<div class="panel-body m-t-20">
    <form class="form-horizontal" role="form" autocomplete="off">
        <div class="form-group">
            <label class="col-sm-2 control-label">
                <xe-translate text-value="Select Profile">
                </xe-translate>
            </label>
            <!--  <div class="col-sm-10">
                 <div id="list_view_{{$index}}" class="pull-left" ng-repeat="print in printMethods track by $index">
                     <button class="btn btn-sm btn-success pull-right m-r-10 m-b-10" 
                         ng-click="choosePrintProfile($index)" 
                         ng-disabled="demoStatus">{{print.name}}
                     </button>
                 </div>
             </div> -->
            <div class="btn-group">
                <button type="button" class="btn btn-default"  data-toggle="dropdown" style="width: 180px;">
                    {{ selectedPrintItem }}
                </button>
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="caret">
                    </span>
                    <span class="sr-only">
                        Toggle Dropdown
                    </span>
                </button>
                <ul class="dropdown-menu" role="menu" style="width: 207px;" ng-class="{'button-scroll':printMethods.length> 4}">
                    <li ng-repeat="print in printMethods" ng-click="selectedPrintProfile($index)">
                        <a href="">
                            {{ print.name }}
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </form>
</div>
<div class="panel-footer wizard-ftr bg-white">
    <a href="#" class="pull-left m-r-10" ng-click="skipPrintSetting(selectedIndex)">
        <xe-translate text-value="Skip">
        </xe-translate>
    </a>
    <button class="btn btn-sm btn-success pull-left m-r-10"  ng-click="backPrintSettings(selectedIndex)" ng-disabled="demoStatus">
        <xe-translate text-value="Back">
        </xe-translate>
    </button>
    <button ng-show="!statusMode" class="btn btn-sm btn-success pull-left m-r-10" ng-click="updateChooseProfile('')" ng-disabled="demoStatus">
        <xe-translate text-value="Save">
        </xe-translate>
    </button>
    <button class="btn btn-sm btn-success pull-left m-r-10" ng-click="updateChooseProfile('generalSetting')" ng-disabled="demoStatus">
        <xe-translate text-value="Save And Continiue">
        </xe-translate>
    </button>
</div>
 <ng-include src="'modules/printSettingWizard/doc/p3.html'">
    </ng-include>
