<div class="panel-heading separator p-t-0">
    <div class="panel-title pull-left">
    <h4><xe-translate text-value="Color Settings"></xe-translate></h4>
    </div>
    <i class="fa fa-info-circle info-module-icon m-t-15 m-l-10" ng-click="showPrintProfileFaq(6)">
    </i>
 </div>
<div class="panel-body m-t-20">
<form class="form-horizontal" role="form" autocomplete="off">
    <div class="form-group">
        <!-- <div class="help-me small"><a href="http://inkxe.com/support/kb/faq.php?id=22" target="_blank">
            <xe-translate text-value="What is this"></xe-translate></a>
        </div> -->
        <!-- <label class="col-sm-2 control-label"></label> -->
        <div class="col-sm-12">
            <div class="pull-left m-l-1">
                <div class="checkbox check-info">
                    <input type="checkbox" id="all" ng-model="enableAllColor"
                        ng-change="setAllColor(enableAllColor)">
                    <label for="all"><xe-translate text-value="Enable All Color"></xe-translate></label>
                </div>
            </div>
        </div>
    </div>
    <div class="form-group">
        <!-- <div class="help-me small"><a href="http://inkxe.com/support/kb/faq.php?id=22" target="_blank">
            <xe-translate text-value="What is this"></xe-translate></a>
        </div> -->
        <label class="col-sm-2 control-label"><xe-translate text-value="Show Used Color"></xe-translate></label>
        <div class="col-sm-10">
            <div class="m-b-15">
                <div class="checkbox check-info">
                    <input type="checkbox" id="usedColor" ng-model="printSettings.is_used_colors"
                         ng-true-value="1" ng-false-value="0" ng-checked="printSettings.is_used_colors == 1" ng-change="changeUsedColor(printSettings.is_used_colors)">
                    <label for="usedColor"><xe-translate text-value="Enabled"></xe-translate></label>
                </div>
             </div> 
        </div>
    </div>
     
    <div class="form-group">
        <!-- <div class="help-me small"><a href="http://inkxe.com/support/kb/faq.php?id=22" target="_blank">
            <xe-translate text-value="What is this"></xe-translate></a>
        </div> -->
        <label class="col-sm-2 control-label"><xe-translate text-value="Show Color Picker"></xe-translate></label>
        <div class="col-sm-10" >
            
            <div class="m-b-15">
                <div class="checkbox check-info">
                    <input type="checkbox" id="is_color_chooser" ng-model="printSettings.is_color_chooser"
                         ng-true-value="1" ng-false-value="0" ng-checked="printSettings.is_color_chooser == 1"
                         ng-change="changedColorChooser(printSettings.is_color_chooser,'portlet-error')">
                    <label for="is_color_chooser"><xe-translate text-value="Enabled"></xe-translate></label>
                </div>
             </div> 
            <div class="col-sm-10" pg-portlet id="portlet-error"></div>
        </div>
    </div>
    <div class="form-group">
        <!-- <div class="help-me small"><a href="http://inkxe.com/support/kb/faq.php?id=22" target="_blank">
            <xe-translate text-value="What is this"></xe-translate></a>
        </div> -->
        <label class="col-sm-2 control-label"><xe-translate text-value="Maximum Number Of Palettes"></xe-translate></label>
        <div class="col-sm-10">
            <div class="m-b-15">
                <div class="checkbox check-info">
                    <input type="checkbox" id="is_max_palettes" ng-model="printSettings.is_max_palettes"
                         ng-true-value="1" ng-false-value="0" ng-checked="printSettings.is_max_palettes == 1" ng-change="changeMaxPalette(printSettings.is_max_palettes)">
                    <label for="is_max_palettes"><xe-translate text-value="Enabled"></xe-translate></label>
                </div>
             </div> 
            <div class="row" ng-show="printSettings.is_max_palettes == 1">
                <div class="col-md-5">
                    <div class="form-group form-group-default input-group nested-form-group" pg-form-group>
                        <label><xe-translate text-value="Number Of palettes"></xe-translate></label>
                        <input type="text" class="form-control usd" aria-invalid="false" placeholder="Set Maximum Number of palettes"   ng-model="printSettings.max_palettes" numbers-only="numbers-only">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="form-group">
        <!-- <div class="help-me small"><a href="http://inkxe.com/support/kb/faq.php?id=22" target="_blank">
            <xe-translate text-value="What is this"></xe-translate></a>
        </div> -->
        <label class="col-sm-2 control-label"><xe-translate text-value="Force setcolor conversion"></xe-translate></label>
        <div class="col-sm-10" >
            <div class="m-b-15">
                <div class="checkbox check-info">
                    <input type="checkbox" id="is_forcecolor" ng-model="printSettings.is_forcecolor"
                         ng-true-value="1" ng-false-value="0" ng-checked="printSettings.is_forcecolor == 1"
                         ng-change="changedForceColor(printSettings.is_forcecolor,'portlet-Force')">
                    <label for="is_forcecolor"><xe-translate text-value="Enabled"></xe-translate></label>
                </div>
                <div class="col-sm-10" pg-portlet id="portlet-Force"></div>
             </div>
        </div>
    </div>

    <div class="form-group">
        <!-- <div class="help-me small"><a href="http://inkxe.com/support/kb/faq.php?id=22" target="_blank">
            <xe-translate text-value="What is this"></xe-translate></a>
        </div> -->
        <label class="col-sm-2 control-label"><xe-translate text-value="Fill Color"></xe-translate></label>
        <div class="col-sm-10" ng-show="enableAllColor">
            <div class="pull-left m-r-10">
              <spectrum-colorpicker ng-model="FillColorVal" options="{showInput: true, showAlpha: false}"
               format="'hex'" on-hide="onFillColorChange(color)">
              </spectrum-colorpicker>
          </div>
        </div>
        <div class="col-sm-10" ng-hide="enableAllColor">
             <div class="pull-left m-r-10">
                  <div ng-click="showFillColorListModal()" class="sp-replacer sp-light"><div class="sp-preview"><div class="sp-preview-inner" ng-style="{'background-color': tempFillColorVal}"></div></div><div class="sp-dd">▼</div></div>
              </div>       
        </div>
    </div>

    <div class="form-group">
        <!-- <div class="help-me small"><a href="http://inkxe.com/support/kb/faq.php?id=22" target="_blank">
            <xe-translate text-value="What is this"></xe-translate></a>
        </div> -->
        <label class="col-sm-2 control-label"><xe-translate text-value="Border Color"></xe-translate></label>
        <div class="col-sm-10">
             <div class="pull-left m-r-10" ng-show="enableAllColor">
                  <spectrum-colorpicker ng-model="strokeColorVal" options="{showInput: true, showAlpha: false}"
                   format="'hex'" on-hide="onStrokeColorChange(color)">
                  </spectrum-colorpicker>
              </div>       
            
        </div>
        <div class="col-sm-10" ng-hide="enableAllColor">
             <div class="pull-left m-r-10">
                  <div ng-click="showStrokeColorListModal()" class="sp-replacer sp-light"><div class="sp-preview"><div class="sp-preview-inner" ng-style="{'background-color': tempStrokeColorVal}"></div></div><div class="sp-dd">▼</div></div>
              </div>       
        </div>
    </div>
    <div class="form-group">
        <!-- <div class="help-me small"><a href="http://inkxe.com/support/kb/faq.php?id=22" target="_blank">
            <xe-translate text-value="What is this"></xe-translate></a>
        </div> -->
        <label class="col-sm-2 control-label"><xe-translate text-value="WordCloud Fill Color"></xe-translate></label>
        <div class="col-sm-10">
            <div class="m-r-10 m-b-10">
              <label class="m-r-10"><xe-translate text-value="Color One"></xe-translate></label>
              <spectrum-colorpicker ng-show="enableAllColor" ng-model="wordCloudColorVal1" options="{showInput: true, showAlpha: false}"
               format="'hex'" on-hide="onWordCloudColorVal1Change(color)">
              </spectrum-colorpicker>

              <div ng-hide="enableAllColor" ng-click="showWordcloud1ColorListModal()" class="sp-replacer sp-light"><div class="sp-preview"><div class="sp-preview-inner" ng-style="{'background-color': tempWordCloudColorVal1}"></div></div><div class="sp-dd">▼</div></div>

           </div>
            <div class="m-r-10 m-b-10">
            <label class="m-r-10"><xe-translate text-value="Color Two"></xe-translate></label>
              <spectrum-colorpicker ng-show="enableAllColor" ng-model="wordCloudColorVal2" options="{showInput: true, showAlpha: false}"
               format="'hex'" on-hide="onWordCloudColorVal2Change(color)">
              </spectrum-colorpicker>

              <div ng-hide="enableAllColor" ng-click="showWordcloud2ColorListModal()" class="sp-replacer sp-light"><div class="sp-preview"><div class="sp-preview-inner" ng-style="{'background-color': tempWordCloudColorVal2}"></div></div><div class="sp-dd">▼</div></div>

           </div>
            <div class="m-r-10">
            <label class="m-r-10"><xe-translate text-value="Color Three"></xe-translate></label>
              <spectrum-colorpicker ng-show="enableAllColor" ng-model="wordCloudColorVal3" options="{showInput: true, showAlpha: false}"
               format="'hex'" on-hide="onWordCloudColorVal3Change(color)">
              </spectrum-colorpicker>

              <div ng-hide="enableAllColor" ng-click="showWordcloud3ColorListModal()" class="sp-replacer sp-light"><div class="sp-preview"><div class="sp-preview-inner" ng-style="{'background-color': tempWordCloudColorVal3}"></div></div><div class="sp-dd">▼</div></div>

           </div>
        </div>
    </div>
    
</form>
</div>
<div class="panel-footer wizard-ftr bg-white">
    <button class="btn btn-sm btn-success pull-left m-r-10" ng-click="backPrintSettings(selectedIndex)" ng-disabled="demoStatus">
        <xe-translate text-value="Back"></xe-translate></button>
    <button ng-show="!statusMode" class="btn btn-sm btn-success pull-left m-r-10" ng-click="updateColor('')" ng-disabled="demoStatus">
        <xe-translate text-value="Save"></xe-translate></button>
    <button class="btn btn-sm btn-success pull-left m-r-10" ng-click="updateColor('costSetting')" ng-disabled="demoStatus">
        <xe-translate text-value="Save And Continiue"></xe-translate></button>
</div>
<ng-include src="'modules/printSettingWizard/doc/p6.html'">
</ng-include>