<div class="panel-heading separator p-t-0">
    <div class="panel-title pull-left">
        <h4>
            <xe-translate text-value="Color Price Table">
            </xe-translate>
        </h4>
    </div>
    <i class="fa fa-info-circle info-module-icon m-t-15 m-l-10" ng-click="showPrintProfileFaq(19)">
    </i>
</div>
<div class="panel-body">
    <form class="form-horizontal" role="form" autocomplete="off">
        <div class="form-group m-t-10">
            <div class="col-sm-12">
                <div class="panel panel-default" ng-show="printSettings.is_color_price_range == 1">
                    <div class="panel-body">
                        <div class="row">
                            <div calss="clearfix m-t-20 pull-left m-b-10">
                                <label class="pull-left m-r-50 m-t-5">
                                    <xe-translate text-value="Screen Cost">
                                    </xe-translate>
                                </label>
                                <div>
                                    <input type="text" class="input-sm form-control w-md pull-left m-r-10" pg-form-group="" ng-model="printSettings.screen_cost" price-only="price-only"/>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="clearfix m-t-20 pull-left m-b-10">
                                <label class="pull-left m-r-10 m-t-5">
                                    <xe-translate text-value="Number of Colors">
                                    </xe-translate>
                                </label>
                                <input type="text" class="input-sm form-control w-md pull-left m-r-10" name="start" pg-form-group="" ng-model="colorPriceTable.no_of_colors" numbers-only="numbers-only"/>
                            </div>
                        </div>
                    </div>
                    <div class="panel-footer no-margin">
                        <button type="button" class="btn btn-default btn-sm" ng-click="updateNoOfColors(colorPriceTable.no_of_colors)" ng-disabled="demoStatus" ng-class="{'disabled':colorPriceTable.no_of_colors==0}">
                            <span>
                                <xe-translate text-value="Update">
                                </xe-translate>
                            </span>
                        </button>
                    </div>
                </div>
                <div class="clearfix overflow-auto" ng-show="printSettings.is_color_price_range == 1">
                    <table class="table table-bordered no-margin table-sm">
                        <thead>
                            <tr class="table-head-bg">
                                <th class="w-140">
                                    <xe-translate text-value="Print Quantity">
                                    </xe-translate>
                                </th>
                                <th class="w-140" ng-repeat="range in colorRangeDetails[0].clr_price track by $index">
                                    {{ $index + 1 }}&nbsp;&nbsp;
                                    <span>
                                        Color
                                    </span>
                                </th>
                                <th>
                                    <xe-translate text-value="White Base">
                                    </xe-translate>
                                </th>
                                <th>
                                    <xe-translate text-value="Discount For Sides">
                                    </xe-translate>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="range in colorRangeDetails">
                                <td>
                                    <a ng-if="$index == colorRangeDetails.length-1 && $index!= 0" class="range-delete-icon" href="#" ng-click="removeRange($index)" ng-disabled="demoStatus">
                                        <!-- <xe-translate text-value="Remove"></xe-translate> -->
                                        <i class="fa fa-times">
                                        </i>
                                    </a>
                                    <div class="pos-rlt w-140">
                                        <div class="input-group">
                                            <input type="text" class="input-sm form-control" name="start" ng-model="range.from" pg-form-group="" numbers-only="numbers-only"/>
                                            <span class="input-group-addon">
                                                <xe-translate text-value="to">
                                                </xe-translate>
                                            </span>
                                            <input type="text" class="input-sm form-control" name="end" ng-model="range.to" pg-form-group="" numbers-only="numbers-only"/>
                                        </div>
                                    </div>
                                </td>
                                <td ng-repeat="colorprice in colorRangeDetails[0].clr_price track by $index" ng-init="range.fixedPrice= getStatus($parent.$index)">
                                    <div class="price-check-wrap">
                                        <div class="form-group price-check-off">
                                            <input type="text" class="form-control"  id="color-price_{{ $parent.$index }}_{{ $index }}_price" ng-model="range.clr_price[$index].price" pg-form-group=""  price-only="price-only"  ng-focus="onColorPriceFocous($parent.$index,$index,range)" ng-class="{'active':range.clr_price[$index].is_fixed == 1}" ng-show="range.clr_price[$index].is_fixed == 1"/>
                                            <input type="text" class="form-control"  id="color-price_{{ $parent.$index }}_{{ $index }}_perc" ng-model="range.clr_price[$index].perc" pg-form-group=""  ng-focus="onColorPriceFocous($parent.$index,$index,range)" ng-show="range.clr_price[$index].is_fixed == 0" price-only="price-only"/>
                                        </div>
                                        <div class="checkbox check-info price-check-on" ng-show="range.fixedPrice[$index].activeCheckBox">
                                            <input type="checkbox" value="pro_{{ $parent.$index }}_{{ $index }}" id="pro_{{ $parent.$index }}_{{ $index }}" ng-model="pricestatus"  ng-change="applyFixedCost($parent.$index,$index,pricestatus)" ng-checked="range.clr_price[$index].is_fixed == 1"/>
                                            <label style="margin:0 0 0 10px" for="pro_{{ $parent.$index }}_{{ $index }}">
                                            </label>
                                        </div>
                                    </div>
                                </td>
                                <td ng-init="range.fixedWBStatus= getColorWhitebaseStatus()">
                                    <div class="price-check-wrap">
                                        <div class="form-group price-check-off">
                                            <input type="text" class="form-control w-110"  ng-model="range.wht_base.price" pg-form-group=""  id="color-wb-{{ $index }}_price" price-only="price-only" ng-focus="onWhiteBasePriceFocous($index)" ng-class="{'active':range.wht_base.is_fixed == 1}" ng-show="range.wht_base.is_fixed == 1"/>
                                            <input type="text" class="form-control w-110"  ng-model="range.wht_base.perc" pg-form-group=""  id="color-wb-{{ $index }}_perc" ng-focus="onWhiteBasePriceFocous($index)" ng-show="range.wht_base.is_fixed == 0" price-only="price-only"/>
                                        </div>
                                        <div class="checkbox check-info price-check-on" ng-show="range.fixedWBStatus.activeCheckBox">
                                            <input type="checkbox" value="wb_{{ $index }}" id="wb_{{ $index }}" ng-model="cwbstatus"  ng-change="applyColorWhiteBaseFixed($index,cwbstatus)" ng-checked="range.wht_base.is_fixed == 1"/>
                                            <label style="margin:0 0 0 10px" for="wb_{{ $index }}">
                                            </label>
                                        </div>
                                    </div>
                                </td>
                                <td ng-init="range.fixedSideDiscountStatus= getSideDiscountStatus()">
                                    <div class="price-check-wrap">
                                        <div class="form-group price-check-off">
                                            <input type="text" class="form-control w-110"  ng-model="range.side_disc.price" pg-form-group=""  id="color-dfs-{{ $index }}_price" price-only="price-only" ng-focus="onSideDiscountPriceFocous($index)" ng-class="{'active':range.side_disc.is_fixed == 1}" ng-show="range.side_disc.is_fixed == 1"/>
                                            <input type="text" class="form-control w-110"  ng-model="range.side_disc.perc" pg-form-group=""  id="color-dfs-{{ $index }}_perc" ng-focus="onSideDiscountPriceFocous($index)" price-only="price-only" ng-show="range.side_disc.is_fixed == 0"/>
                                        </div>
                                        <div class="checkbox check-info price-check-on" ng-show="range.fixedSideDiscountStatus.activeCheckBox">
                                            <input type="checkbox" value="dfs_{{ $index }}" id="dfs_{{ $index }}" ng-model="cdfsstatus"  ng-change="applyFixedDiscountForSide($index,cdfsstatus)" ng-checked="range.side_disc.is_fixed == 1"/>
                                            <label style="margin:0 0 0 10px" for="dfs_{{ $index }}">
                                            </label>
                                        </div>
                                    </div>  
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="clearfix color-table-range" ng-show="printSettings.is_color_price_range == 1">
                        <button class="btn m-b-10 btn-sm btn-success btn-addon" ng-click="addNewColorRange()"ng-disabled="demoStatus">
                            <i class="fa fa-plus">
                            </i>
                            <xe-translate text-value="Add Range">
                            </xe-translate>
                        </button>
                    </div>
                </div>
                <div class="clearfix m-t-20">
                    <span class="active" style="    background-color: rgba(164, 211, 243, 0.52);   width: 80px;    height: 30px;    display: inline-block;">
                    </span>
                    <span style="display: inline-block;    vertical-align: top; padding-top:5px">
                        <xe-translate text-value="Highlights field">
                        </xe-translate>
                    </span>
                </div>
                <hr/>
                <h4>
                    <xe-translate text-value="Color Area Price">
                    </xe-translate>
                </h4>
                <div class="radio radio-success m-b-25">
                    <input type="radio" value="1" name="optionyes3" id="enable3" ng-model="printSettings.is_color_area_price"  ng-checked="printSettings.is_color_area_price == 1" ng-change="printSettings.is_color_area_price = 1"/>
                    <label for="enable3">
                        <xe-translate text-value="Enabled">
                        </xe-translate>
                    </label>
                    <input type="radio" value="0" name="optionyes3" id="disable3" ng-model="printSettings.is_color_area_price" ng-checked="printSettings.is_color_area_price == 0" ng-change="printSettings.is_color_area_price = 0"/>
                    <label for="disable3">
                        <xe-translate text-value="Disabled">
                        </xe-translate>
                    </label>
                </div>
                <div class="btn-group dropdown-default" pg-dropdown ng-show="printSettings.is_color_area_price == 1">
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" style="width: 180px;"  aria-expanded="0">
                        {{ selectedPrintSize.type }}
                        <span class="caret">
                        </span>
                    </button>
                    <ul class="dropdown-menu" role="menu" style="width: 180px!important;">
                        <li ng-click="selectedPrintSize.type = 'Fixed Cost'; printSettings.is_percentage = 0">
                            <a href="">
                                <xe-translate text-value="Fixed Cost">
                                </xe-translate>
                            </a>
                        </li>
                        <li ng-click="selectedPrintSize.type = 'percentage'; printSettings.is_percentage = 1">
                            <a href="">
                                <xe-translate text-value="percentage">
                                </xe-translate>
                            </a>
                        </li>
                    </ul>
                </div>
                <div ng-show="printSettings.is_color_area_price == 1">
                    <div class="col-sm-4"  ng-repeat="printsize in printSizeList">
                        <div class="print-size-price-input">
                            <div class="form-group form-group-default input-group nested-form-group" pg-form-group>
                                <label>
                                    {{ printsize.name }}
                                </label>
                                <input type="text" class="form-control usd" aria-invalid="false" placeholder="Enter price" ng-model="printsize.price" price-only="price-only" ng-show="printSettings.is_percentage == 0"/>
                                <input type="text" class="form-control usd" aria-invalid="false" placeholder="Enter price" ng-model="printsize.percentage" ng-show="printSettings.is_percentage == 1" price-only="price-only"/>
                                <span class="input-group-addon" ng-show="printSettings.is_percentage == 1">
                                    %
                                </span>
                                <span class="input-group-addon" ng-show="printSettings.is_percentage == 0">
                                    {{ appCurrency }}
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="gap-h">
                </div>
            </div>
        </div>
    </form>
</div>
<div class="panel-footer wizard-ftr bg-white">
    <a href="#" class="pull-left m-r-10" ng-click="skipPrintSetting(selectedIndex)">
        <xe-translate text-value="Skip">
        </xe-translate>
    </a>
    <button class="btn btn-sm btn-success pull-left m-r-10" ng-click="backPrintSettings(selectedIndex)" ng-disabled="demoStatus">
        <xe-translate text-value="Back">
        </xe-translate>
    </button>
    <button ng-show="!statusMode" class="btn btn-sm btn-success pull-left m-r-10" ng-click="updateColorPriceTable('')" ng-disabled="demoStatus">
        <xe-translate text-value="Save">
        </xe-translate>
    </button>
    <button class="btn btn-sm btn-success pull-left m-r-10" ng-click="updateColorPriceTable('templateSettnig')" ng-disabled="demoStatus">
        <xe-translate text-value="Save And Continiue">
        </xe-translate>
    </button>
</div>
<ng-include src="'modules/printSettingWizard/doc/p19.html'">
</ng-include>
