<div class="panel-heading separator p-t-0">
    <div class="panel-title pull-left">
        <h4>
            <xe-translate text-value="Manage Features">
            </xe-translate>
        </h4>
    </div>
    <i class="fa fa-info-circle info-module-icon m-t-15 m-l-10" ng-click="showPrintProfileFaq(2)">
    </i>
</div>
<div class="panel-body m-t-20">
    <form class="form-horizontal" role="form" autocomplete="off">
        <div class="form-group">
            <!-- <label class="col-sm-2 control-label"><xe-translate text-value="Manage Features"></xe-translate></label> -->
            <div class="col-sm-10">
                <div class="checkbox check-info pull-left w-50per" ng-repeat="printFeature in printFeatureListView">
                    <input type="checkbox" name="{{ printFeature.name }}" id="{{ printFeature.id }}_printFeature" ng-model="printFeature.status" ng-change="changedPrintFeaturesTab(printFeature.status,printFeature,$index)" ng-checked="printFeature.status == '1'"/>
                    <label for="{{ printFeature.id }}_printFeature">
                        {{ printFeature.name }}
                    </label>
                    <ul class="xe-feature-list">
                        <li ng-repeat="subPrintFeature in printFeature.subtabs_list">
                            <input type="checkbox"  name="{{ subPrintFeature.name }}" id="{{ subPrintFeature.id }}_subPrintFeature" ng-model="subPrintFeature.status " ng-change="changedPrintFeaturesSubTab(subPrintFeature.status,subPrintFeature,$parent.$index,printFeature.subtabs_list)" ng-checked="subPrintFeature.status == '1'"/>
                            <label for="{{ subPrintFeature.id }}_subPrintFeature">
                                {{ subPrintFeature.name }}
                                <a ng-href="#" name="selectColor" ng-if = "subPrintFeature.id == '45' && subPrintFeature.status == 1" ng-click="editMaxNumberOfSelectedColor()" class="inline-icons">
                                    <i class="fa fa-pencil text-info">
                                    </i>
                                </a>
                            </label>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </form>
</div>
<div class="panel-footer wizard-ftr bg-white">
    <button class="btn btn-sm btn-success pull-left m-r-10" ng-click="backPrintSettings(selectedIndex)" ng-disabled="demoStatus">
        <xe-translate text-value="Back">
        </xe-translate>
    </button>
    <button ng-show="!statusMode" class="btn btn-sm btn-success pull-left m-r-10" ng-click="updateFeatures('')" ng-disabled="demoStatus">
        <xe-translate text-value="Save">
        </xe-translate>
    </button>
    <button class="btn btn-sm btn-success pull-left m-r-10" ng-click="updateFeatures('chooseProfile')" ng-disabled="demoStatus">
        <xe-translate text-value="Save And Continiue">
        </xe-translate>
    </button>
</div>
<ng-include src="'modules/printSettingWizard/doc/p2.html'">
</ng-include>
