<div class="panel-heading separator p-t-0">
    <div class="panel-title pull-left">
        <h4>
            <xe-translate text-value="General Settings">
            </xe-translate>
        </h4>
    </div>
    <i class="fa fa-info-circle info-module-icon m-t-15 m-l-10" ng-click="showPrintProfileFaq(4)">
    </i>
</div>
<div class="panel-body m-t-20">
    <form class="form-horizontal" role="form" autocomplete="off">
        <div class="form-group">
            <!-- <div class="help-me small"><a href="http://inkxe.com/support/kb/faq.php?id=22" target="_blank">
                <xe-translate text-value="What is this"></xe-translate></a>
            </div> -->
            <label class="col-sm-2 control-label">
                <xe-translate text-value="Minimum Order Quantity">
                </xe-translate>
            </label>
            <div class="col-sm-10">
                <div class="m-b-15">
                    <div class="checkbox check-info">
                        <input type="checkbox" id="all" ng-model="printSettings.is_min_order" ng-true-value="1" ng-false-value="0" ng-checked="printSettings.is_min_order == 1" ng-change="changeMinOrderStatus(printSettings.is_min_order)"/>
                        <label for="all">
                            <xe-translate text-value="Enabled">
                            </xe-translate>
                        </label>
                    </div>
                </div>
                <div class="row" ng-show="printSettings.is_min_order == 1">
                    <div class="col-md-5">
                        <div class="form-group form-group-default input-group nested-form-group w-full" pg-form-group>
                            <label>
                                <xe-translate text-value="Minimum order quantity">
                                </xe-translate>
                            </label>
                            <input type="text" placeholder="Set minimum order quantity for this printing type"  class="form-control" maxlength="5" ng-model="printSettings.min_order_quantity" numbers-only="numbers-only"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <!-- <div class="help-me small"><a href="http://inkxe.com/support/kb/faq.php?id=22" target="_blank">
                <xe-translate text-value="What is this"></xe-translate></a>
            </div> -->
            <label class="col-sm-2 control-label">
                <xe-translate text-value="Set as default">
                </xe-translate>
            </label>
            <div class="col-sm-10">
                <div class="pull-left m-l-10">
                    <div class="checkbox check-info">
                        <input type="checkbox" id="print_method_default" ng-model="printSettingsTemp.printStatus" ng-change="updatePrintStatus(printSettingsTemp.printStatus)"/>
                        <label for="print_method_default">
                            <xe-translate text-value="Enabled">
                            </xe-translate>
                        </label>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <!-- <div class="help-me small"><a href="http://inkxe.com/support/kb/faq.php?id=22" target="_blank">
                <xe-translate text-value="What is this"></xe-translate></a>
            </div> -->
            <label class="col-sm-2 control-label">
                <xe-translate text-value="Force Gray Scale">
                </xe-translate>
            </label>
            <div class="col-sm-10">
                <div class="m-b-15">
                    <div class="checkbox check-info">
                        <input type="checkbox" id="gray" ng-model="printSettings.is_gray_scale" ng-true-value="1" ng-false-value="0" ng-checked="printSettings.is_gray_scale == 1 || printSettings.is_gray_scale == 2" ng-change="changedGrayScaleChooser(printSettings.is_gray_scale,'portlet-error1')"/>
                        <label for="gray">
                            <xe-translate text-value="Enabled">
                            </xe-translate>
                        </label>
                    </div>
                    <div class="col-sm-10" pg-portlet id="portlet-error1">
                    </div>
                </div>
                <div class="btn-group dropdown-default" pg-dropdown ng-show="printSettings.is_gray_scale == 1 || printSettings.is_gray_scale == 2">
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" style="width: 180px;"  aria-expanded="0">
                        {{ selectedGrayScale.type }}
                        <span class="caret">
                        </span>
                    </button>
                    <ul class="dropdown-menu" role="menu" style="width: 180px!important;">
                        <li ng-click="selectedGrayScale.type = 'Gray scale'; printSettings.is_gray_scale = 1">
                            <a href="">
                                <xe-translate text-value="Gray scale">
                                </xe-translate>
                            </a>
                        </li>
                        <li ng-click="selectedGrayScale.type = 'Black and white'; printSettings.is_gray_scale = 2">
                            <a href="">
                                <xe-translate text-value="Black and white">
                                </xe-translate>
                            </a>
                        </li>
                    </ul>
                </div>
                <i class="fa fa-info-circle" tooltip= "Gray scale image is a range of grey shades from white to black" tooltip-placement="right" ng-show="printSettings.is_gray_scale == 1 || printSettings.is_gray_scale == 2">
                </i>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">
                <xe-translate text-value="Engrave">
                </xe-translate>
            </label>
            <div class="col-sm-10">
                <div class="m-b-15">
                    <div class="checkbox check-info">
                        <input type="checkbox" id="blend" ng-model="printSettings.is_engrave" ng-true-value="1" ng-false-value="0" ng-checked="printSettings.is_engrave != 0" ng-change="changedBlendChooser(printSettings.is_engrave,'portlet-error1')"/>
                        <label for="blend">
                            <xe-translate text-value="Enabled">
                            </xe-translate>
                        </label>
                    </div>
                    <div class="col-sm-10" pg-portlet id="portlet-error1">
                    </div>
                </div>
                <div class="btn-group dropdown-default" pg-dropdown ng-show="printSettings.is_engrave != 0">
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" style="width: 180px;background: #fff!important;"  aria-expanded="0">
                        {{ selectedFilter.label }}
                        <span class="caret">
                        </span>
                    </button>
                    <ul class="dropdown-menu" role="menu" style="width: 180px!important;top:41px!important" ng-class="{'button-scroll':engraveFilterList.length> 4}">
                        <li  ng-repeat="filter in engraveFilterList" ng-click="changeEngraveFilter(filter)">
                                <a href="">{{filter.label}}</a>
                        </li>
                        <!-- <li ng-click="selectedBlendType.type = 'Wooden'; printSettings.is_engrave = 1">
                            <a href="">
                                <xe-translate text-value="Wooden">
                                </xe-translate>
                            </a>
                        </li>
                        <li ng-click="selectedBlendType.type = 'Metal'; printSettings.is_engrave = 2">
                            <a href="">
                                <xe-translate text-value="Metal">
                                </xe-translate>
                            </a>
                        </li> -->
                    </ul>
                </div>
                <i class="fa fa-info-circle" tooltip= "Blend mode effect" tooltip-placement="right" ng-show="printSettings.is_engrave == 1 || printSettings.is_engrave == 2">
                </i>
            </div>
        </div>
        <!-- Browse Button for Background pattern -->
        <div class="form-group">
            <label class="col-sm-2 control-label">
                 <xe-translate text-value="Browse"> </xe-translate> 
                <xe-translate text-value="For Background Patterns">
                </xe-translate>
            </label>
            <div class="col-sm-10">
                <div class="m-b-15">
                    <div class="checkbox check-info">
                        <input type="checkbox" id="is_browse_allow" ng-model="printSettings.is_browse_allow" ng-true-value="1" ng-false-value="0" ng-checked="printSettings.is_browse_allow == 1" ng-change="changeBrowsePattern(printSettings.is_browse_allow)"/>
                        <label for="is_browse_allow">
                            <xe-translate text-value="Enabled">
                            </xe-translate>
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <ng-include src="'modules/printSettingWizard/doc/p4.html'">
    </ng-include>
</div>
<div class="panel-footer wizard-ftr bg-white">
    <button class="btn btn-sm btn-success pull-left m-r-10" ng-click="backPrintSettings(selectedIndex)" ng-disabled="demoStatus">
        <xe-translate text-value="Back">
        </xe-translate>
    </button>
    <button ng-show="!statusMode" class="btn btn-sm btn-success pull-left m-r-10" ng-click="updateGeneralSetting('')" ng-disabled="demoStatus">
        <xe-translate text-value="Save">
        </xe-translate>
    </button>
    <button class="btn btn-sm btn-success pull-left m-r-10" ng-click="updateGeneralSetting('categoryList')" ng-disabled="demoStatus">
        <xe-translate text-value="Save And Continiue">
        </xe-translate>
    </button>
</div>
