<div class="panel-heading separator p-t-0">
    <div class="panel-title pull-left">
        <h4>
            <xe-translate text-value="Printing Area Price">
            </xe-translate>
        </h4>
    </div>
    <i class="fa fa-info-circle info-module-icon m-t-15 m-l-10" ng-click="showPrintProfileFaq(18)">
    </i>
</div>
<div class="panel-body m-t-20">
    <form class="form-horizontal" role="form" autocomplete="off">
        <div class="form-group">
            <div class="col-sm-12">
                <div class="clearfix" ng-show="printSettings.is_print_size == 1">
                    <div class="btn-group dropdown-default" pg-dropdown>
                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" style="width: 180px;"  aria-expanded="0">
                            {{ selectedArea.type }}
                            <span class="caret">
                            </span>
                        </button>
                        <ul class="dropdown-menu" role="menu" style="width: 180px!important;">
                            <li ng-click="selectedArea.type = 'Fixed Cost'; printSettings.is_print_area_percentage = 0">
                                <a href="">
                                    <xe-translate text-value="Fixed Cost">
                                    </xe-translate>
                                </a>
                            </li>
                            <li ng-click="selectedArea.type = 'Variable Cost'; printSettings.is_print_area_percentage = 1">
                                <a href="">
                                    <xe-translate text-value="Variable Cost">
                                    </xe-translate>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <!-- <div class="clearfix m-t-20" ng-show="printSettings.is_print_size == 1"> -->
                    <button class="btn m-b-10 btn-sm btn-success btn-addon pull-right" ng-click="addNewAreaRange()"  ng-disabled="demoStatus">
                        <i class="fa fa-plus">
                        </i>
                        <xe-translate text-value="Add Range">
                        </xe-translate>
                    </button>
                    <!-- </div>  -->
                </div>
                <div class="clearfix overflow-auto" style="height: 620px;" ng-show="printSettings.is_print_size == 1">
                    <table class="table table-bordered no-margin table-sm table-child">
                        <thead>
                            <tr>
                                <th class="w-100">
                                    <xe-translate text-value="Size Name">
                                    </xe-translate>
                                </th>
                                <th ng-repeat="areaRange in printAreaRangeDetails">
                                    <div class="pos-rlt w-100" ng-show="$index> 0">
                                        <a ng-show="$index == printAreaRangeDetails.length-1 && $index!= 0" class="range-delete-icon-up" href="#" ng-click="removeAreaRange($index)" ng-disabled="demoStatus">
                                            <!-- <xe-translate text-value="Remove"></xe-translate> -->
                                            <i class="fa fa-times">
                                            </i>
                                        </a>
                                        <div class="input-group">
                                            <input type="text" class="input-sm form-control" name="start" ng-model="areaRange.from" pg-form-group="" numbers-only="numbers-only"/>
                                            <span class="input-group-addon">
                                                <xe-translate text-value="to">
                                                </xe-translate>
                                            </span>
                                            <input type="text" class="input-sm form-control" name="end" ng-model="areaRange.to" pg-form-group="" numbers-only="numbers-only"/>
                                        </div>
                                    </div>
                                    <div class="w-100" ng-show="$index == 0">
                                        <span>
                                            1
                                        </span>
                                    </div>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="areaPrice in printAreaRangeDetails[0].area_prc track by $index">
                                <td>
                                    {{ areaPrice.name }}
                                </td>
                                <td ng-repeat="range in printAreaRangeDetails">
                                    <div class="w-100">
                                        <div class="form-group price-check-off">
                                            <input type="text" class="form-control"  id="area_price_{{ $parent.$index }}_{{ $index }}_price" ng-model="range.area_prc[$parent.$index].price"  pg-form-group=""  price-only="price-only"  ng-show="printSettings.is_print_area_percentage == 0"/>
                                            <input type="text" class="form-control"  id="area_price_{{ $parent.$index }}_{{ $index }}_perc" ng-model="range.area_prc[$parent.$index].percentage"  pg-form-group=""  ng-show="printSettings.is_print_area_percentage == 1" price-only="price-only"/>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="clearfix  m-b-25 m-t-25">
                        <xe-translate text-value="WHITE BASE">
                        </xe-translate>
                        :
                        <div class="radio radio-success">
                            <input type="radio" value="1" name="optionyes33" id="enable3" ng-model="printAreaRangeDetails[0].wht_base.is_fixed" ng-checked="printAreaRangeDetails[0].wht_base.is_fixed == '1'"  ng-change="whitebaseTypeChanged('1')"/>
                            <label for="enable3">
                                <xe-translate text-value="Fixed Cost">
                                </xe-translate>
                            </label>
                            <input type="radio" value="0" name="optionyes33" id="disable3"  ng-model="printAreaRangeDetails[0].wht_base.is_fixed" ng-checked="printAreaRangeDetails[0].wht_base.is_fixed == '0'"  ng-change="whitebaseTypeChanged('0')"/>
                            <label for="disable3">
                                <xe-translate text-value="percentage">
                                </xe-translate>
                            </label>
                        </div>
                    </div>
                    <table class="table table-bordered no-margin table-sm table-child">
                        <tbody>
                            <tr>
                                <td class="w-100" style="font-weight: 600;">
                                </td>
                                <td ng-repeat="rangeWhiteBase in printAreaRangeDetails">
                                    <div class="w-100">
                                        <div class="form-group price-check-off">
                                            <input type="text" class="form-control"  id="whitebase-price_{{ $index }}_price" ng-model="rangeWhiteBase.wht_base.price" pg-form-group=""  price-only="price-only"  ng-show="rangeWhiteBase.wht_base.is_fixed == 1"/>
                                            <input type="text" class="form-control"  id="whitebase-price_{{ $index }}_perc" ng-model="rangeWhiteBase.wht_base.percentage" pg-form-group=""  ng-show="rangeWhiteBase.wht_base.is_fixed == 0" price-only="price-only"/>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="panel-heading separator p-t-0">
                    <div class="panel-title pull-left">
                        <h4>
                            <xe-translate text-value="Mask Area Price">
                            </xe-translate>
                        </h4>
                    </div>
                    <i class="fa fa-info-circle info-module-icon m-t-15 m-l-10" ng-click="showPrintProfileFaq(20)">
                    </i>
                </div>
                <div class="panel-body">
                    <form class="form-horizontal" role="form" autocomplete="off">
                        <div class="form-group">
                            <div class="col-sm-12">
                                <div class="clearfix m-t-10">
                                    <button type="button" class="btn btn-success btn-sm" ng-click="openMaskPrice()">
                                        <span>
                                            <xe-translate text-value="price for masks">
                                            </xe-translate>
                                        </span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </form>
        </div>
        <div class="panel-footer wizard-ftr bg-white">
            <button class="btn btn-sm btn-success pull-left m-r-10" ng-click="backPrintSettings(selectedIndex)" ng-disabled="demoStatus">
                <xe-translate text-value="Back">
                </xe-translate>
            </button>
            <button ng-show="!statusMode" class="btn btn-sm btn-success pull-left m-r-10" ng-click="updatePrintAreaTable('')" ng-disabled="demoStatus">
                <xe-translate text-value="Save">
                </xe-translate>
            </button>
            <button class="btn btn-sm btn-success pull-left m-r-10" ng-click="updatePrintAreaTable('templateSettnig')" ng-disabled="demoStatus">
                <xe-translate text-value="Save And Continiue">
                </xe-translate>
            </button>
        </div>
        <ng-include src="'modules/printSettingWizard/doc/p18.html'">
        </ng-include>
        <ng-include src="'modules/printSettingWizard/doc/p20.html'">
        </ng-include>