 <div class="panel-heading separator p-t-0">
    <div class="panel-title pull-left">
        <h4>
            <xe-translate text-value="Side Team Price Table"></xe-translate>
        </h4>
    </div>
    <i class="fa fa-info-circle info-module-icon m-t-15 m-l-10" ng-click="showPrintProfileFaq(17)">
    </i>
</div>
<div class="panel-body">
    <form class="form-horizontal" role="form" autocomplete="off">
        <div class="form-group m-t-10">
            <div class="col-sm-12">
            
                <div class="clearfix">
             		<ng-include src="'modules/printSettingWizard/views/partials/nameNumberPriceTable.html'"></ng-include>
             		<ng-include src="'modules/printSettingWizard/views/partials/extraSidePrice.html'"></ng-include>
                </div>
                
                <div class="gap-h">
                </div>
            </div>
        </div>
    </form>
</div>
<div class="panel-footer wizard-ftr bg-white">
    <a href="#" class="pull-left m-r-10" ng-click="skipPrintSetting(selectedIndex)">
        <xe-translate text-value="Skip">
        </xe-translate>
    </a>
    <button class="btn btn-sm btn-success pull-left m-r-10" ng-click="backPrintSettings(selectedIndex)" ng-disabled="demoStatus">
        <xe-translate text-value="Back">
        </xe-translate>
    </button>
    <button ng-show="!statusMode" class="btn btn-sm btn-success pull-left m-r-10" ng-click="updateTeamAndSidePriceTable('')" ng-disabled="demoStatus">
        <xe-translate text-value="Save">
        </xe-translate>
    </button>
    <button class="btn btn-sm btn-success pull-left m-r-10" ng-click="updateTeamAndSidePriceTable('templateSettnig')" ng-disabled="demoStatus">
        <xe-translate text-value="Save And Continiue">
        </xe-translate>
    </button>
</div>
<ng-include src="'modules/printSettingWizard/doc/p17.html'">
</ng-include>
