<div class="modal fade slide-right" id="shapeFaq2" pg-portlet tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-body info-module-single">
                <h4 class="info-module-title">
                  How to manage shape category?
                </h4>
                To manage (add/edit/delete) shape category,
                <ol>
                    <li>Open inkXE Admin.</li>
                    <li>Go to <b>Graphics</b> in the toolbar towards the left and select <b>Shapes</b>.</li>
                    <li>Move to the top-right-corner and tap <b>Manage Categories</b>.<img src="modules/shape/doc/assets/shape4.png" /></li>
                    <li>
                        A box will appear. You can take following actions there:
                        <ul>
                            <li>Add a category - Design Categories, simply enter a name and click Add.<img src="modules/shape/doc/assets/shape5.png" style="width: auto;" /></li>
                            <li>Edit a category - Hover the mouse over your selected shape category and click on edit icon.<img src="modules/shape/doc/assets/shape6.png" style="width: auto;" /></li>
                            <li>Delete a category - Hover the mouse over your selected shape category and click on delete icon.<img src="modules/shape/doc/assets/shape7.png" style="width: auto;" /></li>
                        </ul>
                    </li>
                    <li>Once done, tap outside the box to close it.</li><br>
                </ol>
                Your changes have been successfully applied.
            </div>
        </div>
    </div>
</div>