<div class="modal fade slide-right" id="shapeFaq1" pg-portlet tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-body info-module">
                <div class="panel-group" id="accordion" role="tablist">
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingOne">
                            <h4 class="panel-title">
                                <a class="collapsed" data-toggle="collapse" data-parent="#accordion"  href="#collapseOne" target="_self" aria-expanded="false" aria-controls="collapseOne">
                                  How to add shape?
                                </a>
                            </h4>
                        </div>
                        <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                            <hr>
                            <div class="panel-body">
                                To add shape,<br><br>
                                <div style="padding: 7.0px 10.0px;background-color: rgb(216,235,248);border: 1.0px solid rgb(151,193,218);">
                                    NOTE: Supported format is svg only. 
                                </div><br>
                                <div style="padding: 7.0px 10.0px;background-color: rgb(216,235,248);border: 1.0px solid rgb(151,193,218);">
                                    TIP: You can also add shapes in bulk. Simply select multiple shapes and follow same instructions. 
                                </div><br>
                                <ol>
                                    <li>Open inkXE Admin.</li>
                                    <li>Go to <b>Graphics</b> in the toolbar towards the left and select <b>Shapes</b>.</li>
                                    <li>Move to the right and tap <b>Add New Shape</b>.<img src="modules/shape/doc/assets/shape1.png" /></li>
                                    <li>A box will appear. Click Upload Shape to upload a shape and set its properties, such as name, tags, and category.</li>
                                    <li>Click <b>Save</b>.</li>
                                </ol>
                                Your shape has been added.
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingTwo">
                            <h4 class="panel-title">
                                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" target="_self" aria-expanded="false" aria-controls="collapseTwo">
                                  How to edit shape?
                                </a>
                            </h4>
                        </div>
                        <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                            <hr>
                            <div class="panel-body">
                                To edit shape,
                                <ol>
                                    <li>Open inkXE Admin.</li>
                                    <li>Go to <b>Graphics</b> in the toolbar towards the left and select <b>Shapes</b>.</li>
                                    <li>Move to the right and you will see the available shapes.</li>
                                    <li>Now, select the shape you want to edit and click <b>Edit Selected</b>.<img src="modules/shape/doc/assets/shape2.png" /></li>
                                    <li>A box will appear where you can edit properties of selected shape, such as name, tags, and category.</li>
                                    <li>Make your changes and click <b>Save</b>.</li>
                                </ol>
                                <div style="padding: 7.0px 10.0px;background-color: rgb(216,235,248);border: 1.0px solid rgb(151,193,218);">
                                    TIP: You can also edit shapes in bulk. Simply select multiple shapes and follow same instructions. 
                                </div><br>
                                Your shape has been edited.
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingThree">
                            <h4 class="panel-title">
                                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" target="_self" aria-expanded="false" aria-controls="collapseThree">
                                  How to delete shape?
                                </a>
                            </h4>
                        </div>
                        <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                            <hr>
                            <div class="panel-body">
                                To delete shape,
                                <ol>
                                    <li>Open inkXE Admin.</li>
                                    <li>Go to <b>Graphics</b> in the toolbar towards the left and select <b>Shapes</b>.</li>
                                    <li>Move to the right and you will see the available shapes.</li>
                                    <li>Now, select the shape you want to delete and click <b>Delete Selected</b>.<img src="modules/shape/doc/assets/shape3.png" /></li>
                                    <li>A pop-up will open asking you to confirm your action.</li>
                                    <li>Click <b>Confirm</b>.</li>
                                </ol>
                                <div style="padding: 7.0px 10.0px;background-color: rgb(216,235,248);border: 1.0px solid rgb(151,193,218);">
                                    TIP: You can also delete shapes in bulk. Simply select multiple shapes and follow same instructions. 
                                </div><br>
                                Your shape has been deleted.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>