<div class="modal fade slide-right" id="pd1" pg-portlet tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-body info-module-single">
                <h4 class="info-module-title">
                    How to add pre-decorated product template as product?
                </h4>
                <br>
                <div style="padding: 7.0px 10.0px;background-color: rgb(216,235,248);border: 1.0px solid rgb(151,193,218);">
                    Note: Before moving on with the steps, you need to create pre-decorated product template. For this, go to Product&gt;&gt;Product List&gt;&gt;Product Page&gt;&gt;Create pre-decorated product.
                </div>
                To add pre-decorated product template as product,
                <ol>
                  <li>Open inkXE Admin.</li>
                  <li> Go to <b>Products</b>in the toolbar towards the left and select <b>Pre-Decorated Templates</b> from the drop-down.</li>
                  <li>A new page will appear towards the right. Select your product template.</li>
                  <li> Click <b>Add As Product</b>.<img src="modules/preDecoratedProducts/doc/assets/pd01_01.png" /></li>
                  <li> A new page will appear. Set properties of selected template, such as name, sku, description, color, etc.</li>
                  <li>Click Save</b>.</li>
                  <div style="padding: 7.0px 10.0px;background-color: rgb(216,235,248);border: 1.0px solid rgb(151,193,218);">
                       NOTE: Once your product is saved, you will be asked if you would like to create another template. If yes, tap on the button to proceed.
                  </div>
                </ol>
                Your pre-decorated product template has been added as product.
            </div>
        </div>
    </div>
</div>