<!--
    preloader start
-->
<div class="panel panel-default" ng-hide="preloader">
    <div class="graphics-wrap-height">
        <div class="panel-body text-center">
            <img class="image-responsive-height demo-mw-50 page-loader" src="assets/img/progress/progress-circle-master.svg" alt="Progress"/>
        </div>
    </div>
</div>
<!-- preloader end -->
<div class="panel panel-default" ng-show="preloader">
    <div class="loader-OnUpload" pg-portlet on-refresh="refreshTest('.loader-OnUpload')">
        <div class="panel-body">
            <div class="col-sm-4">
                <div class="panel-heading padding-0">
                    <div class="panel-title">
                        <xe-translate text-value="Preview">
                        </xe-translate>
                    </div>
                </div>
                <!-- <div class="gallery-upload-thumb" ng-show="isUploadWebfontsVisible">
                    <img class="img-responsive" ng-src="{{uploadShapeUrl}}">
                </div> -->
                <div class="font-box overflow-hide" ng-show="isUploadWebfontsVisible">
                    <div ng-style="{'font-family':uploadFonts.family}">
                        {{ uploadFonts.name }}
                    </div>
                </div>
                <span ng-show="isUploadFileCount">
                    {{ uploadFileCount }}
                    <xe-translate text-value="files selected">
                    </xe-translate>
                </span>
                <button class="btn btn-success btn-sm btn-cons m-t-10" ng-file-select ng-file-change="upload($files)" multiple accept=".ttf,">
                    <xe-translate text-value="Upload Fonts">
                    </xe-translate>
                </button>
                <p class="small" ng-show="isError">
                    .ttf
                </p>
                <p class="small text-danger" ng-show="showError">
                    {{ showMsg }}
                </p>
            </div>
            <div class="col-sm-4 b-r-light b-l-light">
                <div class="panel-heading p-t-0 p-l-20 p-r-20">
                    <div class="panel-title">
                        <xe-translate text-value="Properties">
                        </xe-translate>
                    </div>
                </div>
                <form id="form-personal" role="form" autocomplete="off" class="p-l-20 p-r-20">
                    <div class="row clearfix">
                        <div class="col-sm-8">
                            <div class="form-group form-group-default required" pg-form-group>
                                <label>
                                    <xe-translate text-value="Name">
                                    </xe-translate>
                                </label>
                                <input type="text" class="form-control" name="Name" ng-model="uploadFonts.name" required/>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group form-group-default" pg-form-group>
                                <label>
                                    <xe-translate text-value="Price">
                                    </xe-translate>
                                </label>
                                <input type="text" class="form-control" name="price" ng-model="uploadFonts.price" money required/>
                            </div>
                        </div>
                    </div>
                    <div class="row clearfix">
                        <div class="col-sm-8">
                            <div pg-form-group class="form-group form-group-default">
                                <label>
                                    <xe-translate text-value="Tags">
                                    </xe-translate>
                                </label>
                                <!-- <input class="tagsinput custom-tag-input" type="text" ng-model="uploadTagList" 
                                 ui-jq="tagsinput" ng-change="setUploadTagList(uploadTagList)"/> -->
                                <tags-input ng-model="uploadTags">
                                </tags-input>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-sm-4">
                <div class="panel-heading p-t-0 p-l-20 p-r-20">
                    <div class="panel-title">
                        <xe-translate text-value="Assign Category">
                        </xe-translate>
                    </div>
                    <span style='color:red;'>
                        *
                    </span>
                </div>
                <div class="clearfix p-l-20 p-r-20 m-b-10" ng-repeat="elem in categoryElms">
                    <div class="btn-group pull-left m-r-20">
                        <button type="button" class="btn btn-default text-ellipsis"  data-toggle="dropdown" style="width:147px">
                            {{ elem.category }}
                        </button>
                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="caret">
                            </span>
                            <span class="sr-only">
                                Toggle Dropdown
                            </span>
                        </button>
                        <ul class="dropdown-menu" role="menu" ng-class="{'button-scroll':webfontsCategoryList.length> 4}" style="width:174px">
                            <li ng-click="selectCategoryDefault('Select Category',$index)">
                                <a href="">
                                    <xe-translate text-value="Select Category">
                                    </xe-translate>
                                </a>
                            </li>
                            <li ng-repeat="categoryItem in webfontsCategoryList" ng-click="uploadCategorySelected(categoryItem,$parent.$index)">
                                <a href="">
                                    {{ categoryItem.category_name }}
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="pull-right">
                        <button class="btn btn-info btn-xs" type="button" ng-click="removeUploadCategoryElms($index)">
                            <i class="fa fa-times">
                            </i>
                        </button>
                    </div>
                </div>
                <button class="btn btn-success btn-xs m-r-20 pull-right" type="button" ng-click="addUploadCategoyElm()">
                    <i class="fa fa-plus">
                    </i>
                </button>
            </div>
            <!-- <div class="col-sm-2 ">
                <div class="panel-heading padding-0">
                    <div class="panel-title"><xe-translate text-value="Printing Methods"></xe-translate></div>
                </div>        
                <form id="form-personal" role="form" autocomplete="off" class="p-l-20 p-r-20">
                  <div class="row clearfix">
                    <div class="col-sm-8"> 
                        <div class="checkbox check-success" ng-repeat="uploadPrint in printMethods">
                          <input type="checkbox" id="upload_{{uploadPrint.id}}" ng-model="uploadPrintType[$index]">
                            <label for="upload_{{uploadPrint.id}}">{{uploadPrint.name}}</label>
                        </div>
                    </div>
                  </div>
                </form>
            </div> -->
        </div>
        <div class="panel-footer b-t-none clearfix">
            <div class="pull-right">
                <button class="btn btn-primary btn-sm" type="button"  ng-click="uploadWebfontsTTF()"  ng-class="{'disabled': !uploadFonts.name || !base64List}"  ng-disabled="demoStatus">
                    <xe-translate text-value="Save">
                    </xe-translate>
                </button>
                <button class="btn btn-primary btn-sm" type="button" ng-click="cancelUploadWebfonts()">
                    <xe-translate text-value="Cancel">
                    </xe-translate>
                </button>
            </div>
        </div>
    </div>
</div>
