<div class="modal fade slide-right" id="o1" pg-portlet tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-body info-module">
                <div class="panel-group" id="accordion1" role="tablist">
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingOne">
                            <h4 class="panel-title">
                                <a class="collapsed" data-toggle="collapse" data-parent="#accordion1"  href="#collapseOne" target="_self" aria-expanded="false" aria-controls="collapseOne">
                                  How to download order from inkXE Admin?
                                </a>
                            </h4>
                        </div>
                        <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                            <hr>
                            <div class="panel-body">
                                To download order from inkXE Admin,
                                <ol>
                                    <li>Open inkXE Admin.</li>
                                    <li>Go to <b>Orders</b> in the toolbar towards the left.</li>
                                    <li> In the new page, select the order/s you want to download by clicking on its respective checkbox.<img src="modules/orders/doc/assets/o1_1.png" /></li>
                                    <li>
                                        Click Download Orders, which appears once you make your selection.
                                        <ul>
                                            <li>A zip file containing order details will download.</li>
                                        </ul>
                                    </li>
                                </ol>
                                You have downloaded order from inkXE Admin.
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingTwo">
                            <h4 class="panel-title">
                                <a class="collapsed" data-toggle="collapse" data-parent="#accordion1" href="#collapseTwo" target="_self" aria-expanded="false" aria-controls="collapseTwo">
                                  How to view order file?
                                </a>
                            </h4>
                        </div>
                        <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                            <hr>
                             <div class="panel-body">
                                <div style="padding: 7.0px 10.0px;background-color: rgb(216,235,248);border: 1.0px solid rgb(151,193,218);">
                                    INFO: You need to download the order file before proceeding here. To do that, follow the steps mentioned in: How to download order from inkXE admin? 
                                </div>
                                <br>
                                To view order file,
                                <ol>
                                    <li>Extract the order file, which downloads in zip format.</li>
                                    <li>A folder with the order ID will get created. Open it. You will see something similar to this.<img src="modules/orders/doc/assets/o1_2.jpg" /></li>
                                    <li>Folder with numerical name includes output files.</li>
                                    <li>info.html includes detailed order information, such as print area with actual height and width, print method, color name, color category, hexcode, customer name, order id, etc.</li>
                                </ol>
                                You have enabled auto conversion of uploaded images.
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingThree">
                            <h4 class="panel-title">
                                <a class="collapsed" data-toggle="collapse" data-parent="#accordion1" href="#collapseThree" target="_self" aria-expanded="false" aria-controls="collapseThree">
                                  How to change print status of order?
                                </a>
                            </h4>
                        </div>
                        <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                            <hr>
                            <div class="panel-body">
                                To change print status of order,
                                <ol>
                                    <li>Open inkXE Admin.</li>
                                    <li>Go to <b>Orders</b> in the toolbar towards the left.</li>
                                    <li>In the new page, go to your selected order row and toggle the switch under Print Status.<img src="modules/orders/doc/assets/o1_3.png" /></li>
                                   </ol>
                                You have changed print status of selected order.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>