<div class="modal fade slide-right" id="o2" pg-portlet tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-body info-module">
                <div class="panel-group" id="accordion2" role="tablist">
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingOn">
                            <h4 class="panel-title">
                                <a class="collapsed" data-toggle="collapse" data-parent="#accordion2"  href="#collapseOn" target="_self" aria-expanded="false" aria-controls="collapseOn">
                                  How to use Order App?
                                </a>
                            </h4>
                        </div>
                        <div id="collapseOn" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOn">
                            <hr>
                            <div class="panel-body">
                                To use order app,
                                <ol>
                                    <li>Open inkXE Admin.</li>
                                    <li>Go to <b>Orders</b> in the toolbar towards the left.</li>
                                    <li>Move to right and download <b>Order App</b> for Windows or Mac.<img src="modules/orders/doc/assets/o2_1.png" /></li>
                                    <li>Extract and open the downloaded order app.</li>
                                    <br>
                                    <div style="padding: 7.0px 10.0px;background-color: rgb(216,235,248);border: 1.0px solid rgb(151,193,218);">
                                    NOTE: Inkscape should be available in your Mac system before you start using the order app. 
                                    </div>
                                    <br>
                                    <div style="padding: 7.0px 10.0px;background-color: rgb(216,235,248);border: 1.0px solid rgb(151,193,218);">
                                    NOTE: The instructions of this articles are applicable to order app version 5.3.0
                                    </div>
                                    <li>Now click on <b>Add Store</b>.<img src="modules/orders/doc/assets/o2_2.png" /></li>
                                    <li>On the store details page, enter <b>Store Name</b>, <b>Base URL</b>, <b>Username</b> and <b>Password</b> and select the required <b>File Formats (PDF/PNG)</b> and click on Save. For example store name as T-shirt Designer, base url as inkxe.com.<img src="modules/orders/doc/assets/o2_3.png" /></li>
                                    <li>On the store settings page, you will see a list of all the stores added.
                                        <img src="modules/orders/doc/assets/o2_4.png" /></li>
                                    <li>Below the action column, you will see two icons, first icon is used for editing and second one is used for deleting the added store.</li>
                                    <li>Now, below the <b>Orders</b>  column, you will see an <b>Open</b> button, click on it.</li>
                                    <li>On the order page you will see all orders of your selected store.<img src="modules/orders/doc/assets/o2_5.png" /></li>
                                    <li>Below the Action column, you will see three options, first option is for order info, second one is for view orders and third one is for download order.</li>
                                    <li>You will also see a Sync button on the top right hand side, by clicking on it will update the orders lists.</li>
                                    <li>There is one drop down menu also provided on the top left hand side by which you can switch to the different stores simultaneously.<img src="modules/orders/doc/assets/o2_6.png" /></li>
                                    
                                </ol>
                                You have downloaded order from inkXE Admin.
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingTw">
                            <h4 class="panel-title">
                                <a class="collapsed" data-toggle="collapse" data-parent="#accordion2" href="#collapseTw" target="_self" aria-expanded="false" aria-controls="collapseTw">
                                  How to download inkXE order app for Windows and Mac OS X?
                                </a>
                            </h4>
                        </div>
                        <div id="collapseTw" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTw">
                            <hr>
                             <div class="panel-body">
                                To download inkXE order app,
                                <ol>
                                    <li>Open inkXE Admin.</li>
                                    <li>Go to <b>Orders</b> in the toolbar towards the left.</li>
                                    <li>In the new page, locate <b>Download order app</b>. You will find two icons: <b>Windows & Apple</b>.<img src="modules/orders/doc/assets/o1_4.png" /></li>
                                    <li>Click on desired logo to initiate the download.</li>
                                </ol>
                                Your inkXE order app will start downloading.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>