<div class="container-fluid" ng-controller="WebfontsController">
    <link id="webfontlink" type="text/css" rel="stylesheet" ng-href="{{ fontscssPathURL }}"/>
    <div class="row" ng-init="init()">
        <div class="col-sm-12">
            <div class="panel panel-transparent">
                <div class="panel-body padding-0">
                    <button type="button" class="btn btn-info btn-sm btn-cons from-top" ng-click="addNewWebfonts()">
                        <span>
                            <xe-translate text-value="Add New Webfonts">
                            </xe-translate>
                        </span>
                    </button>
                    <i class="fa fa-info-circle info-module-icon" ng-click="showWebfontsFaq(1)">
                    </i>
                    <i class="fa fa-info-circle info-module-icon pull-right" ng-click="showWebfontsFaq(2)">
                    </i>
                    <button type="button"  class="btn btn-info btn-sm btn-cons from-top  pull-right" ng-click="openCatModal()">
                        <span>
                            <xe-translate text-value="Manage Categories">
                            </xe-translate>
                        </span>
                    </button>
                </div>
            </div>
            <ng-include src="'modules/webFonts/views/partials/webfontsEditView.html'" ng-show="isEditViewActive">
            </ng-include>
            <ng-include src="'modules/webFonts/views/partials/webfontsUploadView.html'" ng-show="isUploadViewActive">
            </ng-include>
            <div class="panel panel-default">
                <div class="panel-heading separator">
                    <div class="w-full">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="m-r-10 m-t-n-5 pull-left">
                                    <div class="checkbox check-success ">
                                        <input type="checkbox" value="selectAll" id="selectAll" ng-model="allChecked" ng-change="selectAllChecked(allChecked)"/>
                                        <label for="selectAll">
                                            <xe-translate text-value="Select All">
                                            </xe-translate>
                                        </label>
                                    </div>
                                </div>
                                <div class="m-r-10 pull-left">
                                    <button type="button" class="btn btn-default btn-sm btn-cons from-top" ng-click="editSelectedWebfonts()"  ng-class="{'disabled': fileCount < 1}">
                                        <span>
                                            <xe-translate text-value="Edit Selected">
                                            </xe-translate>
                                        </span>
                                    </button>
                                </div>
                                <div class="m-r-10 pull-left">
                                    <button type="button" class="btn btn-default btn-sm btn-cons from-top" ng-click="deleteSelectedwebfonts()" id="webfont_delete_modal" ng-model="modal.slideUp"  ng-class="{'disabled': fileCount < 1}" ng-disabled="demoStatus">
                                        <span>
                                            <xe-translate text-value="Delete Selected">
                                            </xe-translate>
                                        </span>
                                    </button>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="pull-right">
                                    <div class="btn-group pull-left m-r-20">
                                        <button type="button" class="btn btn-default text-ellipsis"  data-toggle="dropdown" style="width:137px">
                                            {{ selectedCategory }}
                                        </button>
                                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <span class="caret">
                                            </span>
                                            <span class="sr-only">
                                                Toggle Dropdown
                                            </span>
                                        </button>
                                        <ul class="dropdown-menu" role="menu" ng-class="{'button-scroll':webfontsCategoryList.length> 4}" style="width:163px">
                                            <li ng-click="categorySelected('')">
                                                <a href="">
                                                    <xe-translate text-value="All Categories">
                                                    </xe-translate>
                                                </a>
                                            </li>
                                            <li ng-repeat="category in webfontsCategoryList"  ng-click="categorySelected(category)">
                                                <a href="">
                                                    {{ category.category_name }}
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel-body m-t-20">
                    <!--preloader-->
                    <div class="row">
                        <div class="col-lg-12 bg-white" ng-hide="dataLoaded">
                            <div class="product-wrap-height">
                                <div class="panel-body text-center">
                                    <img class="image-responsive-height demo-mw-50 page-loader" src="assets/img/demo/progress.svg" alt="Progress"/>
                                    <span class="loader-label">
                                        <xe-translate text-value="Loading Font styles">
                                        </xe-translate>
                                        ...
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div ng-hide="dataList" class="font-box-wrap">
                        <label class="font-box pos-rlt overflow-hide" ng-repeat="webFonts in webfontsList" ng-click="">
                            <div class="no-margin cursor-pointer" for="font_{{ $index }}" style="font-size: 30px !important;">
                                <div id='{{ webFonts.id }}' class="webfont-list"  ng-style="{'font-family':webFonts.family}">
                                    {{ webFonts.name }}
                                </div>
                            </div>
                            <div class="checkbox check-success font-check">
                                <input type="checkbox" id="font_{{ $index }}"  ng-model="webfontsCheck[$index]"  ng-change="webfontsSelected(webfontsCheck[$index],$index)"/>
                                <label for="font_{{ $index }}">
                                </label>
                            </div>
                        </label>
                        <span ng-show="noData">
                            <p class="font-normal text-lg text-center m-t-150">
                                <xe-translate text-value="No Font found">
                                </xe-translate>
                            </p>
                        </span>
                    </div>
                </div>
                <div ng-show="isLoadMore" class="panel-footer text-center b-t-none">
                    <button type="button" class="btn btn-success btn-sm btn-cons from-top" ng-click="loadMore()" ng-disabled="isLoadMorePreloader" ng-show="isLoadMore">
                        <span>
                            <xe-translate text-value="Load More">
                            </xe-translate>
                        </span>
                    </button>
                    <img class="image-responsive-height demo-mw-30 " src="assets/img/progress/progress-circle-master.svg" alt="Progress" ng-show="isLoadMorePreloader"/>
                </div>
            </div>
        </div>
    </div>
    <ng-include src="'modules/webFonts/views/partials/webfontsCategoryModal.html'">
    </ng-include>
    <ng-include src="'modules/webFonts/doc/webFontsFaq1.html'">
    </ng-include>
    <ng-include src="'modules/webFonts/doc/webFontsFaq2.html'">
    </ng-include>
</div>
