.btn-primary{
	color:#fff;
	background:#04949f;
	border:1px solid #04949f;
}

.btn-primary:hover{
	color:#fff;
	background:#047780;
	border:1px solid #047780;
}

.btn-sb{
	background:#04949f;
	border-radius:0;
	color:#fff;
}

.btn-sb:hover{
	background:#047780;
	border-radius:0;
	color:#fff;
}

.btn-pv{
	background:#303030;
	border-radius:0;
	color:#fff;
}

.btn-pv:hover{
	background:#303030;
	border-radius:0;
	color:#fff;
}

.btn-ps{
	background:#8e8e8e;
	border-radius:0;
	color:#fff;
}

.btn-ps:hover{
	background:#8e8e8e;
	border-radius:0;
	color:#fff;
}