@media only screen and (min-width : 1024px) {
		
	.row-title h1{
		color:#3d3d3d;
		font-size:30px;
		font-weight:300 !important;
	}
	
	.row-title h2{
		color:#737373;
		font-size:20px;
		font-weight:100 !important;
		margin-top:0;
		margin-bottom:50px;
	}
	
	ul.dropdown-menu.menu-shopingbag {
    	width: 400px;
	}
	
	a.left.carousel-control {
		cursor:pointer;
		height: 50px;
		width: 50px;
		top: 43%;
		left: 2%;
	}
	
	a.right.carousel-control {
		cursor:pointer;
		height: 50px;
		width: 50px;
		top: 43%;
		right: 2%;
	}

}


@media only screen and (max-width : 768px) {
	
	.row-title h1{
		color:#3d3d3d;
		font-size:20px;
		font-weight:300 !important;
	}
	
	.row-title h2{
		color:#737373;
		font-size:13px;
		font-weight:100 !important;
		margin-top:0;
		margin-bottom:50px;
	}
	
	.language-selector{
		display:inline-block;
	}

}

@media only screen and (max-width : 568px) {

}


@media only screen and (max-width : 320px) {

}