.panel-front-theaser{
	box-shadow:0;
	border:1px solid #ccc;
	border-radius:0;
}

.panel-front-theaser .panel-body{
	padding:0;
}

.panel-front-theaser .panel-footer{
	color:#fff;
	background:#04949f;
	border-radius:0;
}

.panel-front-theaser .panel-footer h3{
	font-size:20px;
}

.panel-ghost, .panel-ghost .panel-heading, .panel-ghost .panel-body, .panel-ghost .panel-footer{
	background:none;
	border:none;
	box-shadow:none;
	border-radius:0;
}

.panel-ghost .panel-footer h3{
	font-size:20px;
}