@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,700,800);

body{
	background:#fff;
	font-family: 'Open Sans', sans-serif;
}

.row{
	margin:0 !important;
	padding:0;
	padding-top:20px;
	padding-bottom:20px;
}

.img-center{
	float:none;
	margin:0 auto;
}

.col-center{
	float:none;
	margin:0 auto;
}

.row-title{
	float:none;
	margin:0 auto;
	text-align:center;
	position:relative;
	margin-top:30px;
	z-index:4;
}

.row-title .min-nav{
	display:inline-block;
	list-style:none;
}

.row-title .min-nav li{
	float:left;
	padding-left:10px;
	padding-right:10px;
	font-size:15px;
	font-weight:700;
}

.row-title .min-nav li:hover{
	background:#04949f;
	border-radius:3px;
	color:#fff;
	cursor:pointer;
}

.media-icon{
	font-size:35px;
}

.overlay{
	background:rgba(0,0,0,0.6);
	top:0;
	left:0;
	right:0;
	bottom:0;
	position:absolute;
	min-height:100%;
	z-index:1;
}

#back-to-top {
    background: #04949f none repeat scroll 0 0;
    border: 1px solid #f9f9f9;
    border-radius: 2px;
    bottom: 40px;
    color: #fff;
    cursor: pointer;
    height: 32px;
    line-height: 30px;
    opacity: 0;
    position: fixed;
    right: 40px;
    text-align: center;
    text-decoration: none;
    transition: opacity 0.2s ease-out 0s;
    width: 32px;
    z-index: 2;
}

#back-to-top:hover {
    background: #047780;
}

#back-to-top.show {
    opacity: 1;
}

.carousel-control{
	background:none !important;
	cursor:pointer;
}



.padding-25{
	padding:25px;
}

.navbar-hf{
	margin-bottom:0;
}

.small-details{
	font-size:10px;
}

.menu-shopingbag li{
	padding:5px;
}

.menu-shopingbag li:hover{
	background-color:#f9f9f9;
}

.shopingbag-item{
	margin:15px !important;
}

.product-footer {
    border: 1px solid #ccc;
    padding: 5px;

}

#start-with-hf{
	background:#04949f;
	color:#fff;
}

#start-with-hf .row-title h1{
	color:#fff;
}

#start-with-hf .row-title h2{
	color:#f9f9f9;
}

.list-group-front .list-group-item{
	border:none;
}

.list-group-front .list-group-item:hover{
	background:rgba(4,148,159,0.4);
	color:#fff;
}

#row-newsletter{
	background:#f9f9f9;
	padding-bottom:25px;
}

#row-front-contact{
	background:#e8e8e8;
	padding-top:25px;
	padding-bottom:25px;
}

#row-front-contact .media .media-heading a{
	color:#04949f;
}

#footer{
	background:#04949f;
	color:#fff;
	padding-top:15px;
	padding-bottom:15px;
	text-align:center;
	
}

#footer .links a{
	color:#fff;
	padding:15px;
}
