<?php
/**
 * Magmex Adventcalendar template for the showing Advent Calendars
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the EULA
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://www.magmex.com/MAGMEX_SOFTWARE_LICENSE.txt
 *
 * @copyright Copyright (c) 2015 magmex, Michael Stork, (http://www.magmex.com)
 * @license http://www.magmex.com/MAGMEX_SOFTWARE_LICENSE.txt
 * @category Magmex
 * @package Magmex_AdventCalendar
 * @author Michael Stork <m.stork@magmex.com>
 */
?>
<?php echo $this->getScriptTags(); ?>
<?php $_modelAdventCalendar = $this->getAdventCalendar(); ?>
<?php if (($_modelAdventCalendar->getId()) !== null): ?>
    <div id="magmexAdventCalendar" class="<?php echo $_modelAdventCalendar->getLayoutType(); ?>">
        <?php if ($_modelAdventCalendar->getTitle() !== null): ?>
            <div class="title <?php echo $this->getTitleCssClass(); ?>">
                <?php echo $this->stripTags($_modelAdventCalendar->getTitle(), null, true); ?>
            </div>
        <?php endif; ?>
        <div id="adventCalendarDoorContainer">
        <?php foreach ($_modelAdventCalendar->getAdventCalendarDayCollection() as $_adventCalendarDay): ?>
            <?php $_dayNumer = $this->getDayForAdventCalendarDate($_adventCalendarDay); ?>
                <div id="adventCalendarDay<?php echo $_adventCalendarDay->getSortOrder(); ?>"
                     class="adventCalendarDoor<?php if ($_adventCalendarDay->isDayActive() === true): ?> doorActive<?php endif; ?>"
                     style="background-color: <?php echo $_adventCalendarDay->getBackgroundColor(); ?>
                         <?php if ($_modelAdventCalendar->getShowDoorBackgroundImages() == '1'): ?>
                             ; background-position: <?php echo $this->getDoorBackgroundImageSpritePosition($_adventCalendarDay); ?>px, 0
                         <?php endif; ?>"
                     rel="<?php echo $_adventCalendarDay->getId() . '_' . $_dayNumer; ?>">
                    <div class="dayText"><?php echo $this->getDayForAdventCalendarDate($_adventCalendarDay); ?></div>
                </div>
        <?php endforeach; ?>
        </div>
    </div>
<?php else: ?>
    <strong><?php echo $this->__('No Advent Calendar is yet created for this year and this store view'); ?></strong>
<?php endif;?>

<script type="text/javascript">
Magmex.AdventCalendar.config = {
   layoutType: '<?php echo $_modelAdventCalendar->getLayoutType(); ?>',
   dayActionContainerHtml: '<div id="magmexAdventCalendarDayActionLayer">'
                          + '<div id="dayNumberContainer" style="background-color: <?php echo $_modelAdventCalendar->getMainColor(); ?>">'
                          + '<div id="dayNumber"></div>'
                          + '</div>'
                          + '<div id="contentContainer">'
                          + '<div class="closeButton" style="background-color: <?php echo $_modelAdventCalendar->getMainColor(); ?>"><span></span></div>'
                          + '<div class="loadingImage"></div>'
                          + '</div>'
                          + '</div>',
    dayActionAjaxUrl: '<?php echo $this->getDayActionAjaxUrl(); ?>',
    mainBackgroundImage: {
        url: '<?php echo $this->getMainBackgroundImageUrl(); ?>',
        width: 1100
    },
    showDoorBackgroundImages: <?php echo $_modelAdventCalendar->getShowDoorBackgroundImages(); ?>,
    doorBackgroundImageSprite: {
        url: '<?php echo $this->getDoorBackgroundImageSpriteUrl(); ?>',
        width: 3000
    }
}
</script>