<?php
echo $this->getChildHtml('order_info_org');
require_once Mage::getModuleDir('','Redgecko_Magnalister').DIRECTORY_SEPARATOR.'Lib'.DIRECTORY_SEPARATOR.'Core'.DIRECTORY_SEPARATOR.'ML.php';
$_order = $this->getOrder();
//ML::gi()->bootstrap();
ML::setFastLoad(true);
$oOrder=MLOrder::factory()->set('current_orders_id',$_order->getIncrementId());
if($oOrder->get('special')!==null){
//    ML::gi()->init(array('mp'=>$oOrder->get('mpid')));
    ?>
    <div class="clear"></div>
    <div class="entry-edit">
        <div class="entry-edit-head">
            <h4 class="icon-head head-products">
                magnalister Details
            </h4>
            <img style="background:white;float:right;margin:2px 0 2px 0;border:1px solid white;" src="<?php echo $oOrder->getLogo() ?>" />
        </div>
        <div class="fieldset" id="magnalister">
            <?php
            include MLFilesystem::gi()->getViewPath('hook_orderdetails');
            ?>
        </div>
    </div>
    <div class="clear"></div>
    <?php
}
?>