

<div class="entry-edit">

    <div class="entry-edit-head">
        <h4><?php echo $this->isBundle() ? $this->__('Images and Description of Bundle Items and Custom Options') : $this->__('Images and Description of Custom Options'); ?></h4>
    </div>
    
<?php if ((!$this->hasCustomOptions() && (!$this->isBundle() || $this->getProduct()->getPriceType() == 1)) || ($this->isBundle() && !$this->hasBoptions())): ?>
  <div class="optionbundle-import-options">
    <?php 
      if (!$this->hasCustomOptions() && !$this->hasBoptions() && $this->isBundle() && $this->getProduct()->getPriceType() == 1){  
        echo $this->__('Import from Product (SKU):'); 
      } elseif (!$this->hasCustomOptions() && (!$this->isBundle() || $this->getProduct()->getPriceType() == 1)) {
        echo $this->__('Import Custom Options from Product (SKU):'); 
        echo '<input type="hidden" name="product[optionbundle_import_custom_options]" value="1">';                 
      } elseif ($this->isBundle() && !$this->hasBoptions()){
        echo $this->__('Import Bundle Items from Product (SKU):'); 
        echo '<input type="hidden" name="product[optionbundle_import_bundle_options]" value="1">';     
      }  
    ?>
    <input class="input-text" type="text" name="product[optionbundle_import_sku]" value="">&nbsp;&nbsp;
    <?php if (!$this->hasCustomOptions() && !$this->hasBoptions() && $this->isBundle() && $this->getProduct()->getPriceType() == 1): ?>    
      <input type="checkbox" name="product[optionbundle_import_custom_options]" id="optionbundle_import_cutom_options" checked="checked" value="1">
      <label for="optionbundle_import_cutom_options"><?php echo $this->__('Custom Options') ;?></label>,&nbsp;&nbsp;
      <input type="checkbox" name="product[optionbundle_import_bundle_options]" id="optionbundle_import_bundle_options" checked="checked" value="1">
      <label for="optionbundle_import_bundle_options"><?php echo $this->__('Bundle Items') ;?></label>&nbsp;                      
    <?php endif; ?>                          
  </div>
<?php endif; ?>
<?php if ($this->hasCustomOptions() || ($this->isBundle() && $this->hasBoptions())): ?>
  <fieldset>
    <ul class="super-attributes optionbundle-container">
    <?php foreach ($this->getOptions() as $option): ?> 
      <li class="attribute" style="position: relative; " id="ob_optionimages_<?php echo $option['type'] ?>_<?php echo $option['id'] ?>">
        <div class="left optionbundle-option-title">
            <strong><?php  echo $option['title'] ?></strong>
        </div>
        <div class="values-container right">
          <table>
          <tr> 
          <td>                    
          <?php  echo Mage::helper('catalog')->__('Note') ?>:
          </td>           
          <td width="155">                       
            <input type="text" id="optionbundle_<?php echo $option['type'].'_'.$option['id']; ?>_note" name="product[optionbundle_<?php echo $option['type'] == 'b' ? 'boption' : 'option'; ?>][<?php echo $option['id'] ?>][note]" class="input-text" value="<?php echo $this->htmlEscape($option['note']) ?>" <?php echo $this->getNoteDisabled($option); ?>/>
            <span  <?php echo $this->getShowTextArea($option) ?> title="<?php echo $this->getClickToEditText() ?>" id="optionbundle_<?php echo $option['type'].'_'.$option['id']; ?>_note_show" class="optionbundle-showhide-link" <?php echo $this->getNoteShowHidden($option) ?>>e</span>  
            <span onclick="optionBundleImage.hideTextArea(this);" title="<?php echo $this->__('Click to hide') ?>" id="optionbundle_<?php echo $option['type'].'_'.$option['id']; ?>_note_hide" class="optionbundle-showhide-link" style="display:none;">h</span>                   
            <?php echo $this->getNoteScopeHtml($option); ?>  
          </td>           
          <td>                
          <?php if (count($option['values']) > 0): ?> 
            <?php echo $this->__('Layout') ?>:
            <?php echo $this->getLayoutSelect($option); ?>  &nbsp;&nbsp;        
            <?php echo $this->__('Popup') ?>:                    
            <input type="checkbox" id="optionbundle_<?php echo $option['type'].'_'.$option['id']; ?>_popup" name="product[optionbundle_<?php echo $option['type'] == 'b' ? 'boption' : 'option'; ?>][<?php echo $option['id'] ?>][popup]"  <?php echo $option['popup'] == 1 ? 'checked="checked"' : ''; ?>  <?php echo in_array($option['layout'], array('swap')) ? 'disabled="disabled"' : ''; ?> value="1"/>  
          <?php endif; ?>                
          <?php if ($option['type'] == 'o'): ?>
            <input type="hidden" name="product[optionbundle_option][<?php echo $option['id'] ?>][previous_order]" class="input-text" value="<?php echo $option['sort_order'] ?>"/>
          <?php endif; ?> 
          </td>          
          </tr>
          </table>           
          <?php if (count($option['values']) > 0): ?>        
            <ul class="attribute-values">  
              <li class="attribute-value optionbundle-value">
                <div class="left optionbundle-optionimages-value-container-title">
                   <strong><?php echo Mage::helper('catalog')->__('Title') ?></strong>
                </div>
                <div class="attribute-values-container-main">
                  <div class="attribute-values-container left optionbundle-value-container-price">
                    <strong><?php echo Mage::helper('catalog')->__('Price') ?></strong>
                  </div>              
                  <div class="attribute-values-container left optionbundle-value-container-image">
                    <strong><?php echo $this->__('Image') ?></strong>                  
                    <?php if ($option['type'] == 'b'): ?>
                      <?php echo $this->__('Use product') ?>:                        
                      <input type="checkbox" onclick="optionBundleImage.useProductImage('<?php echo $option['id']; ?>', this.checked);" name="product[optionbundle_boption][<?php echo $option['id'] ?>][use_product_image]"  <?php echo $option['use_product_image'] == 1 ? 'checked="checked"' : ''; ?> value="1"/>  
                    <?php endif; ?>                     
                  </div>
                  <div class="attribute-values-container left">
                    <strong><?php echo $this->__('Description') ?></strong>
                    <?php if ($option['type'] == 'b'): ?>
                      <?php echo $this->__('Use product') ?>:                        
                      <input type="checkbox" onclick="optionBundleImage.useProductDescription('<?php echo $option['id']; ?>', this.checked);" name="product[optionbundle_boption][<?php echo $option['id'] ?>][use_product_description]"  <?php echo $option['use_product_description'] == 1 ? 'checked="checked"' : ''; ?> value="1"/>  
                    <?php endif; ?>                                 
                  </div>
                  <div class="attribute-values-container right optionbundle-value-container-default">                               
                  </div>                  
                </div>
              </li>       
            <?php foreach ($option['values'] as $value): ?>                                
              <li class="attribute-value optionbundle-value">
                <div id="ob_value_<?php echo $option['type'] ?>_<?php echo $value['id'] ?>_cell" class="left optionbundle-optionimages-value-container-title">
                  <?php  echo $value['title'] ?> 
                </div>
                <div class="attribute-values-container-main">
                  <div class="attribute-values-container left optionbundle-value-container-price">
                    <?php  echo $value['price'] ?>&nbsp;
                  </div>              
                  <div id="ob_uploader_<?php echo $option['type'].'_'.$value['id'] ?>_cell" class="attribute-values-container left optionbundle-value-container-image"  > 
                   <div class="files" style="width:135px;<?php echo $option['type'] == 'b' && $option['use_product_image'] == 1 ? 'display:none;' : ''; ?>">
                       <div  id="ob_uploader_<?php echo $option['type'].'_'.$value['id'] ?>_place_holder" onmouseover="optionBundleImage.loadUploader('<?php echo $option['type'].'_'.$value['id'] ?>')">
                          <span><?php echo $value['image'] != '' ? $this->__('Roll Over for Preview') : $this->__('Roll Over for Uploader'); ?></span>
                       </div>         
                       <div id="ob_uploader_<?php echo $option['type'].'_'.$value['id'] ?>_row" style="display:none"  class="hide_uploader_row">            
                          <div class="row" >
 
                            <input type="hidden" id="ob_uploader_<?php echo $option['type'].'_'.$value['id'] ?>_save" name="product[optionbundle_<?php echo $option['type'] == 'b' ? 'bvalue' : 'value'; ?>][<?php echo $value['id'] ?>][image_json]" value="<?php echo $this->htmlEscape($value['image_json']); ?>" />                 
                
                            <div id="ob_uploader_<?php echo $option['type'].'_'.$value['id'] ?>-browse">
                              <button id="ob_uploader_<?php echo $option['type'].'_'.$value['id'] ?>-browse_button" title="<?php echo Mage::helper('uploader')->__('Browse Files...'); ?>" type="button" class="scalable browse" onclick="" style=""><span><span><span>...</span></span></span></button>
                              <input style="visibility: hidden; position: absolute;" type="file">
                            </div>                
                
                            <img src="<?php echo $this->getSkinUrl('images/spacer.gif')?>" id="ob_uploader_<?php echo $option['type'].'_'.$value['id'] ?>_img" width="40" style="display:none;" alt="" /><button id="ob_uploader_<?php echo $option['type'].'_'.$value['id'] ?>-delete" title="<?php echo Mage::helper('catalog')->__('Delete'); ?>" type="button" class="scalable delete" onclick="optionBundleImage.deleteImage('<?php echo $option['type'].'_'.$value['id']; ?>')" style="display:none;"><span><span><span></span></span></span></button>
                
                            <div id="ob_uploader_<?php echo $option['type'].'_'.$value['id'] ?>" class="uploader a-left">
                                <div id="ob_uploader_<?php echo $option['type'].'_'.$value['id'] ?>-old" class="file-row-info"></div>
                                <div id="ob_uploader_<?php echo $option['type'].'_'.$value['id'] ?>-new" class="file-row-info new-file"></div>
                                <div class="clear"></div>
                            </div>
                        
                          </div>
                       </div>
                    </div>                             
                    <input type="hidden" name="product[optionbundle_<?php echo $option['type'] == 'b' ? 'bvalue' : 'value'; ?>][<?php echo $value['id'] ?>][image]" value="<?php echo $value['image']; ?>" />  
                  </div>
                  <div id="optionbundle_description_cell_<?php echo $option['type'].'_'.$value['id'] ?>" class="attribute-values-container left optionbundle-value-container-description" <?php echo $option['type'] == 'b' && $option['use_product_description'] == 1 ? 'style="display:none"' : ''; ?>>                                 
                    <input type="text" id="optionbundle_<?php echo $option['type'].'_'.$value['id']; ?>_description" name="product[optionbundle_<?php echo $option['type'] == 'b' ? 'bvalue' : 'value'; ?>][<?php echo $value['id'] ?>][description]" class="input-text" value="<?php echo $this->htmlEscape($value['description']) ?>" <?php echo $this->getDescriptionDisabled($value); ?>/>
                    <span  <?php echo $this->getShowTextArea($option, $value) ?> title="<?php echo $this->getClickToEditText() ?>" id="optionbundle_<?php echo $option['type'].'_'.$value['id']; ?>_description_show" class="optionbundle-showhide-link" <?php echo $this->getDescriptionShowHidden($value) ?>>e</span>  
                    <span onclick="optionBundleImage.hideTextArea(this);" title="<?php echo $this->__('Click to hide') ?>" id="optionbundle_<?php echo $option['type'].'_'.$value['id']; ?>_description_hide" class="optionbundle-showhide-link" style="display:none;">h</span>            
                      <?php echo $this->getDescriptionScopeHtml($option, $value); ?>                                                                                          
                  </div>                  
                  <div class="attribute-values-container right optionbundle-value-container-default">                      
                  </div>                    
                </div>
              </li>
            <?php endforeach; ?> 
            </ul>
          <?php endif; ?>        
        </div>
      </li>
    <?php endforeach; ?>
    </ul>
  </fieldset>
                       
  <script type="text/javascript">
  //<![CDATA[
  
  OptionBundleImage.Config = { 
     expiredMessage   : '<?php echo $this->jsQuoteEscape($this->__('Your session has been expired. Please, reload the page and upload images if necessary')) ?>',  
     uploaderConfig   : <?php echo $this->getConfigJson(); ?>,  
     uploaderId       : '<?php echo $this->getUploaderId(); ?>',     
     uploaderTemplate :   '<div class="no-display" id="[[idName]]-template">' +
                        '   <div id="{{id}}-container" class="file-row file-row-narrow">' +
                        '      <span class="file-info">' +
                        '         <span class="file-info-name">{{name}}</span>' +
                        '                  ' +
                        '         <span class="file-info-size">({{size}})</span>' +
                        '      </span>' +
                        '      <span class="progress-text"></span>' +
                        '      <div class="clear"></div>' +
                        '   </div>' +
                        '</div>'
  };
  
  optionBundleImage = new OptionBundleImage.Main();
   
  //]]> 
  </script>
<?php endif; ?>