<!--
    preloader start
-->
<div class="panel panel-default" ng-hide="preloader">
    <div class="graphics-wrap-height">
        <div class="panel-body text-center">
            <img class="image-responsive-height demo-mw-50 page-loader" src="assets/img/progress/progress-circle-master.svg" alt="Progress"/>
        </div>
    </div>
</div>
<!-- preloader end -->
<!-- upload View Start -->
<div class="panel panel-default" ng-show="preloader">
    <div class="loader-OnUpload" pg-portlet on-refresh="refreshTest('.loader-OnUpload')">
        <div class="panel-body">
            <div class="col-sm-2">
                <div class="panel-heading padding-0">
                    <div class="panel-title">
                        <xe-translate text-value="Preview">
                        </xe-translate>
                    </div>
                </div>
                <div class="gallery-upload-thumb" ng-show="isUploadShapeVisible">
                    <img class="img-responsive" ng-src="{{ uploadShape.url }}"/>
                </div>
                <div class="gallery-upload-thumb" ng-show="isUploadFileCount">
                    <span ng-show="isUploadFileCount">
                        {{ uploadFileCount }} files selected
                    </span>
                </div>
                <button class="btn btn-success btn-sm btn-cons m-t-10" multiple  ng-file-select ng-file-change="upload($files)">
                    <xe-translate text-value="Upload Shape">
                    </xe-translate>
                </button>
                <p class="small" ng-show="isError">
                    svg
                </p>
                <p class="small text-danger" ng-show="showError">
                    {{ showMsg }}
                </p>
            </div>
            <div class="col-sm-6 b-r-light b-l-light">
                <div class="panel-heading p-t-0">
                    <div class="panel-title">
                        <xe-translate text-value="Properties">
                        </xe-translate>
                    </div>
                </div>
                <form id="form-personal" role="form" autocomplete="off" class="p-l-20 p-r-20">
                    <div class="row clearfix">
                        <div class="col-sm-8">
                            <div class="form-group form-group-default required" pg-form-group>
                                <label>
                                    <xe-translate text-value="Name">
                                    </xe-translate>
                                </label>
                                <input type="text" class="form-control" name="Name" ng-model="uploadShape.name" required/>
                            </div>
                        </div>
                        <!--  <div class="col-sm-4">
                           <div class="form-group form-group-default required" pg-form-group>
                             <label><xe-translate text-value="Price"></xe-translate></label>
                             <input type="text" class="form-control" name="price" ng-model="uploadShape.price" money required>
                           </div>
                         </div> -->
                    </div>
                    <div class="row clearfix">
                        <div class="col-sm-8">
                            <div pg-form-group class="form-group form-group-default">
                                <label>
                                    <xe-translate text-value="Tags">
                                    </xe-translate>
                                </label>
                                <!-- <input class="tagsinput custom-tag-input" type="text" ng-model="uploadTagList" 
                                 ui-jq="tagsinput" ng-change="setUploadTagList(uploadTagList)"/> -->
                                <tags-input ng-model="uploadTags">
                                </tags-input>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-sm-4">
                <div class="panel-heading p-t-0">
                    <div class="panel-title">
                        <xe-translate text-value="Assign Category">
                        </xe-translate>
                    </div>
                    <span style='color:red;'>
                        *
                    </span>
                </div>
                <div class="clearfix m-b-10 p-l-20" ng-repeat="elem in categoryElms">
                    <div class="btn-group pull-left m-r-20">
                        <button type="button" class="btn btn-default text-ellipsis"  data-toggle="dropdown" style="width:147px">
                            {{ elem.category }}
                        </button>
                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="caret">
                            </span>
                            <span class="sr-only">
                                Toggle Dropdown
                            </span>
                        </button>
                        <ul class="dropdown-menu" role="menu" ng-class="{'button-scroll':shapeCategoryList.length> 4}" style="width:174px">
                            <li ng-click="selectCategoryDefault('Select Category',$index)">
                                <a href="">
                                    <xe-translate text-value="Select Category">
                                    </xe-translate>
                                </a>
                            </li>
                            <li ng-repeat="categoryItem in shapeCategoryList" ng-click="uploadCategorySelected(categoryItem,$parent.$index)">
                                <a href="">
                                    {{ categoryItem.category_name }}
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="pull-right">
                        <button class="btn btn-info btn-xs" type="button" ng-click="removeUploadCategoryElms($index)">
                            <i class="fa fa-times">
                            </i>
                        </button>
                    </div>
                </div>
                <button class="btn btn-success btn-xs pull-right" type="button" ng-click="addUploadCategoyElm()">
                    <i class="fa fa-plus">
                    </i>
                </button>
                <!-- <div class="clearfix p-l-20 p-r-20 m-b-10" ng-repeat="elem in categoryElms">
                <select class="btn dropdown-toggle" 
                        style="width:160px;" ng-model="categoryItem" 
                        ng-change="uploadCategorySelected(categoryItem,$index)"
                        ng-options="categoryItem as categoryItem.category_name for categoryItem in shapeCategoryList">
                        <option value="">{{elem.category_name == null?'Select Category':elem.category_name}}</option>
                </select> -->
                <!--  <select ng-model="categoryItem" ng-change="editCategorySelected(item,$index)">
                   <option value="">{{item.category_name == null?'Select Category':item.category_name}}</option>
                   <option ng-repeat="categoryItem in shapeCategoryList">
                     {{categoryItem.category_name}}
                   </option>
                 </select> -->
                <!-- <div class="pull-right">
                  <button class="btn btn-info btn-sm" type="button" ng-click="removeUploadCategoryElms($index)">
                    <i class="fa fa-times"></i>
                  </button>
                </div> 
                </div>
                <button class="btn btn-success btn-sm pull-right m-r-20" type="button" ng-click="addUploadCategoyElm()">
                  <i class="fa fa-plus"></i></button> -->
            </div>
        </div>
        <div class="panel-footer b-t-none clearfix">
            <div class="pull-right">
                <button class="btn btn-primary btn-sm" type="button" ng-click="uploadShapeDetails()"  ng-class="{'disabled': !uploadShape.name || !uploadShape.url}"  ng-disabled="demoStatus">
                    <xe-translate text-value="Save">
                    </xe-translate>
                </button>
                <button class="btn btn-primary btn-sm" type="button" ng-click="cancelUploadShape()">
                    <xe-translate text-value="Cancel">
                    </xe-translate>
                </button>
            </div>
        </div>
    </div>
</div>
