/**
 * Magmex Adventcalendar css for styling Advent Calendars
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the EULA
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://www.magmex.com/MAGMEX_SOFTWARE_LICENSE.txt
 *
 * @copyright Copyright (c) 2015 magmex, Michael Stork, (http://www.magmex.com)
 * @license http://www.magmex.com/MAGMEX_SOFTWARE_LICENSE.txt
 * @category Magmex
 * @package Magmex_AdventCalendar
 * @author Michael Stork <m.stork@magmex.com>
 */
@CHARSET "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Anaheim|Henny+Penny');

#magmexAdventCalendar {
    display: none;
    position: relative;
    width: 1100px;
    height: 800px;
    background-color: grey;
    margin-bottom: 15px;
    line-height: normal;
}

#magmexAdventCalendar .title.standardBackgroundOne {
    position: absolute;
    top: 27px;
    left: 47px;
    font-family: 'Anaheim', sans-serif;
    font-size: 60px;
    color: #5B5B5B;
}

#magmexAdventCalendar .title.standardBackgroundTwo,
#magmexAdventCalendar .title.standardBackgroundThree,
#magmexAdventCalendar .title.standardBackgroundFour {
    position: absolute;
    font-family: 'Henny Penny', cursive;
    text-align: center;
}

#magmexAdventCalendar .title.standardBackgroundTwo {
    width: 800px;
    height: 60px;
    top: 80px;
    left: 150px;
    font-size: 46px;
    color: #C20000;
    text-transform: uppercase;
}

#magmexAdventCalendar .title.standardBackgroundThree {
    width: 550px;
    height: 60px;
    top: 72px; 
    left: 267px;
    font-size: 46px;
    color: #FFFFFF;
    text-transform: uppercase;
}

#magmexAdventCalendar .title.standardBackgroundFour {
    width: 195px;
    height: 140px;
    top: 84px;
    left: 328px;
    font-size: 36px;
    padding: auto;
    color: #5B5B5B;
    line-height: 44px;
}

/* sameSizeDoors layout */

#magmexAdventCalendar.sameSizeDoors #adventCalendarDoorContainer {
    position: absolute;
    top: 205px;
    left: 150px;
}




#magmexAdventCalendar.sameSizeDoors #adventCalendarDoorContainer .adventCalendarDoor {
    float: left;
    margin: 5px;
    width: 118px;
    height: 118px;
    border: 4px solid #FFFFFF;
}

#magmexAdventCalendar.sameSizeDoors #adventCalendarDoorContainer .adventCalendarDoor.doorActive,
#magmexAdventCalendar.randomSizeDoors #adventCalendarDoorContainer .adventCalendarDoor.doorActive  {
    cursor: pointer;
}

#magmexAdventCalendar.sameSizeDoors #adventCalendarDoorContainer .adventCalendarDoor .dayText,
#magmexAdventCalendar.randomSizeDoors #adventCalendarDoorContainer .adventCalendarDoor .dayText {
    width: 50px;
    height: 32px;
    font-family: 'Anaheim', sans-serif;
    color: #FFFFFF;
    font-size: 32px;
    margin: 55% 0 0 65%;
}

#magmexAdventCalendar.sameSizeDoors #adventCalendarDoorContainer #adventCalendarDay7.adventCalendarDoor,
#magmexAdventCalendar.sameSizeDoors #adventCalendarDoorContainer #adventCalendarDay13.adventCalendarDoor,
#magmexAdventCalendar.sameSizeDoors #adventCalendarDoorContainer #adventCalendarDay19.adventCalendarDoor {
    clear: both;
}

/* sameSizeDoors layout for 1100px x 800px - counted from left to bottom to right top to bottom*/
#magmexAdventCalendar.randomSizeDoors #adventCalendarDoorContainer .adventCalendarDoor {
    position: absolute;
    margin: 5px;
    border: 4px solid #FFFFFF;
}

#magmexAdventCalendar.randomSizeDoors #adventCalendarDoorContainer #adventCalendarDay2.adventCalendarDoor,
#magmexAdventCalendar.randomSizeDoors #adventCalendarDoorContainer #adventCalendarDay14.adventCalendarDoor,
#magmexAdventCalendar.randomSizeDoors #adventCalendarDoorContainer #adventCalendarDay16.adventCalendarDoor,
#magmexAdventCalendar.randomSizeDoors #adventCalendarDoorContainer #adventCalendarDay18.adventCalendarDoor,
#magmexAdventCalendar.randomSizeDoors #adventCalendarDoorContainer #adventCalendarDay20.adventCalendarDoor {
    width: 97px;
    height: 97px;
}

#magmexAdventCalendar.randomSizeDoors #adventCalendarDoorContainer #adventCalendarDay4.adventCalendarDoor,
#magmexAdventCalendar.randomSizeDoors #adventCalendarDoorContainer #adventCalendarDay7.adventCalendarDoor,
#magmexAdventCalendar.randomSizeDoors #adventCalendarDoorContainer #adventCalendarDay9.adventCalendarDoor,
#magmexAdventCalendar.randomSizeDoors #adventCalendarDoorContainer #adventCalendarDay11.adventCalendarDoor,
#magmexAdventCalendar.randomSizeDoors #adventCalendarDoorContainer #adventCalendarDay13.adventCalendarDoor,
#magmexAdventCalendar.randomSizeDoors #adventCalendarDoorContainer #adventCalendarDay15.adventCalendarDoor,
#magmexAdventCalendar.randomSizeDoors #adventCalendarDoorContainer #adventCalendarDay19.adventCalendarDoor,
#magmexAdventCalendar.randomSizeDoors #adventCalendarDoorContainer #adventCalendarDay24.adventCalendarDoor {
    height: 91px;
    width: 91px;
}

#magmexAdventCalendar.randomSizeDoors #adventCalendarDoorContainer #adventCalendarDay1.adventCalendarDoor,
#magmexAdventCalendar.randomSizeDoors #adventCalendarDoorContainer #adventCalendarDay3.adventCalendarDoor,
#magmexAdventCalendar.randomSizeDoors #adventCalendarDoorContainer #adventCalendarDay5.adventCalendarDoor,
#magmexAdventCalendar.randomSizeDoors #adventCalendarDoorContainer #adventCalendarDay8.adventCalendarDoor,
#magmexAdventCalendar.randomSizeDoors #adventCalendarDoorContainer #adventCalendarDay12.adventCalendarDoor,
#magmexAdventCalendar.randomSizeDoors #adventCalendarDoorContainer #adventCalendarDay17.adventCalendarDoor,
#magmexAdventCalendar.randomSizeDoors #adventCalendarDoorContainer #adventCalendarDay22.adventCalendarDoor {
    width: 118px;
    height: 118px;
}

#magmexAdventCalendar.randomSizeDoors #adventCalendarDoorContainer #adventCalendarDay6.adventCalendarDoor,
#magmexAdventCalendar.randomSizeDoors #adventCalendarDoorContainer #adventCalendarDay10.adventCalendarDoor,
#magmexAdventCalendar.randomSizeDoors #adventCalendarDoorContainer #adventCalendarDay21.adventCalendarDoor,
#magmexAdventCalendar.randomSizeDoors #adventCalendarDoorContainer #adventCalendarDay23.adventCalendarDoor {
    width: 135px;
    height: 135px;
}
    
#magmexAdventCalendar.randomSizeDoors #adventCalendarDoorContainer #adventCalendarDay1.adventCalendarDoor {
    top: 384px;
    left: 39px;
}

#magmexAdventCalendar.randomSizeDoors #adventCalendarDoorContainer #adventCalendarDay2.adventCalendarDoor {
    top: 533px;
    left: 18px;
}

#magmexAdventCalendar.randomSizeDoors #adventCalendarDoorContainer #adventCalendarDay3.adventCalendarDoor {
    top: 656px;
    left: 72px;
}

#magmexAdventCalendar.randomSizeDoors #adventCalendarDoorContainer #adventCalendarDay4.adventCalendarDoor {
    top: 482px;
    left: 176px;
}

#magmexAdventCalendar.randomSizeDoors #adventCalendarDoorContainer #adventCalendarDay5.adventCalendarDoor {
    top: 627px;
    left: 226px;
}

#magmexAdventCalendar.randomSizeDoors #adventCalendarDoorContainer #adventCalendarDay6.adventCalendarDoor {
    top: 437px;
    left: 295px;
}

#magmexAdventCalendar.randomSizeDoors #adventCalendarDoorContainer #adventCalendarDay7.adventCalendarDoor {
    top: 594px;
    left: 366px;
}

#magmexAdventCalendar.randomSizeDoors #adventCalendarDoorContainer #adventCalendarDay8.adventCalendarDoor {
    top: 381px;
    left: 446px;
}

#magmexAdventCalendar.randomSizeDoors #adventCalendarDoorContainer #adventCalendarDay9.adventCalendarDoor {
    top: 515px;
    left: 475px;
}

#magmexAdventCalendar.randomSizeDoors #adventCalendarDoorContainer #adventCalendarDay10.adventCalendarDoor {
    top: 621px;
    left: 478px;
}

#magmexAdventCalendar.randomSizeDoors #adventCalendarDoorContainer #adventCalendarDay11.adventCalendarDoor {
    top: 345px;
    left: 605px;
}

#magmexAdventCalendar.randomSizeDoors #adventCalendarDoorContainer #adventCalendarDay12.adventCalendarDoor {
    top: 480px;
    left: 584px;
}

#magmexAdventCalendar.randomSizeDoors #adventCalendarDoorContainer #adventCalendarDay13.adventCalendarDoor {
    top: 623px;
    left: 652px;
}

#magmexAdventCalendar.randomSizeDoors #adventCalendarDoorContainer #adventCalendarDay14.adventCalendarDoor {
    top: 224px;
    left: 693px;
}

#magmexAdventCalendar.randomSizeDoors #adventCalendarDoorContainer #adventCalendarDay15.adventCalendarDoor {
    top: 419px;
    left: 715px;
}

#magmexAdventCalendar.randomSizeDoors #adventCalendarDoorContainer #adventCalendarDay16.adventCalendarDoor {
    top: 534px;
    left: 773px;
}

#magmexAdventCalendar.randomSizeDoors #adventCalendarDoorContainer #adventCalendarDay17.adventCalendarDoor {
    top: 656px;
    left: 816px;
}

#magmexAdventCalendar.randomSizeDoors #adventCalendarDoorContainer #adventCalendarDay18.adventCalendarDoor {
    top: 34px;
    left: 796px;
}

#magmexAdventCalendar.randomSizeDoors #adventCalendarDoorContainer #adventCalendarDay19.adventCalendarDoor {
    top: 176px;
    left: 806px;
}

#magmexAdventCalendar.randomSizeDoors #adventCalendarDoorContainer #adventCalendarDay20.adventCalendarDoor {
    top: 298px;
    left: 818px;
}

#magmexAdventCalendar.randomSizeDoors #adventCalendarDoorContainer #adventCalendarDay21.adventCalendarDoor {
    top: 105px;
    left: 922px;
}

#magmexAdventCalendar.randomSizeDoors #adventCalendarDoorContainer #adventCalendarDay22.adventCalendarDoor {
    top: 309px;
    left: 951px;
}

#magmexAdventCalendar.randomSizeDoors #adventCalendarDoorContainer #adventCalendarDay23.adventCalendarDoor {
    top: 452px;
    left: 893px;
}

#magmexAdventCalendar.randomSizeDoors #adventCalendarDoorContainer #adventCalendarDay24.adventCalendarDoor {
    top: 609px;
    left: 978px;
}



#magmexAdventCalendarDayActionLayer {
    width: 840px;
	height: 420px;
    border: 5px solid #FFFFFF;
}

#magmexAdventCalendarDayActionLayer h1 {
    margin: 30px 0 5px 0;
    font-size: 25px;
}

#magmexAdventCalendarDayActionLayer #dayNumberContainer {
    background-image: url('../../../images/magmex/adventcalendar/sprites/elements_sprite.png');
    background-position: 320px 299px;
    background-repeat: no-repeat;
    width: 410px;
    height: 410px;
    float: left;
}

#magmexAdventCalendarDayActionLayer #dayNumberContainer #dayNumber {
    width: 130px;
    height: 110px;
    margin: 195px 0 0 214px;
    color: #FFFFFF;
    font-family: 'Anaheim', sans-serif;
    font-size: 145px;
    text-align: right;
}

#magmexAdventCalendarDayActionLayer #contentContainer {
    position: relative;
    width: 410px;
    height: 410px;
    float: right;
    margin-left: 9px;
}

#magmexAdventCalendarDayActionLayer #contentContainer .closeButton {
    position: absolute;
    left: 379px;
    z-index: 1;
    width: 30px;
    height: 30px;
    float: right;
    color: #FFFFFF;
    font-size: 18px;
    cursor: pointer;
}

#magmexAdventCalendarDayActionLayer #contentContainer .closeButton span {
    display: block;
    background-image: url('../../../images/magmex/adventcalendar/sprites/elements_sprite.png');
    background-position: -90px 0;
    margin: 7px 0 0 8px;
    width: 13px;
    height: 15px;
}


#magmexAdventCalendarDayActionLayer #contentContainer .loadingImage {
    margin: 189px 0 0 189px;
    width: 32px;
    height: 32px;
    background-image: url('../../../images/magmex/adventcalendar/loading.gif');
}

/* Day action Product discount */
#magmexAdventCalendarDayActionLayer #contentContainer #dayActionProductDiscount {
    text-align: center;
}

#magmexAdventCalendarDayActionLayer #contentContainer #dayActionProductDiscount h1 {
    margin: 2px 0 5px 0;    
}

/* Day action Teaser Link */
#magmexAdventCalendarDayActionLayer #contentContainer #dayActionTeaserLink .teaserLink {
    position: absolute;
}

/* Day action Coupon */
#magmexAdventCalendarDayActionLayer #contentContainer #dayActionCoupon {
    font-size: 15px;
}

#magmexAdventCalendarDayActionLayer #contentContainer #dayActionCoupon .description,
#magmexAdventCalendarDayActionLayer #contentContainer #dayActionCoupon .availability,
#magmexAdventCalendarDayActionLayer #contentContainer #dayActionCoupon .image {
    margin-top: 20px;
}

#magmexAdventCalendarDayActionLayer #contentContainer #dayActionCoupon .description {
    height: 150px;
}

#magmexAdventCalendarDayActionLayer #contentContainer #dayActionCoupon .couponCode {
    margin-top: 42px;
    text-align: center;
    font-size: 35px;
}

#magmexAdventCalendarDayActionLayer #contentContainer #dayActionCoupon .rightText {
    position: absolute;
    top: 370px;
    font-size: 12px;
}