<!--
    preloader start
-->
<div class="panel panel-default" ng-hide="preloader">
    <div class="graphics-wrap-height">
        <div class="panel-body text-center">
            <img class="image-responsive-height demo-mw-50 page-loader" src="assets/img/progress/progress-circle-master.svg" alt="Progress"/>
        </div>
    </div>
</div>
<!-- preloader end -->
<div class="panel panel-default" ng-show="preloader">
    <div class="loader-OnUpload" pg-portlet on-refresh="refreshTest('.loader-OnUpload')">
        <div class="panel-body">
            <div class="col-sm-9 b-r-light">
                <div class="panel-heading padding-0">
                    <div class="panel-title">
                        <xe-translate text-value="Preview">
                        </xe-translate>
                    </div>
                </div>
                <div class="m-b-40">
                    <button class="btn btn-success btn-sm btn-cons m-t-10" multiple accept=".svg,;" ng-file-select ng-file-change="uploadFX($files)">
                        <span>
                            <xe-translate text-value="Browse TextFX fonts">
                            </xe-translate>
                        </span>
                    </button>
                    <p class="small" ng-show="isError">
                        .svg
                    </p>
                    <p class="small text-danger" ng-show="showError">
                        {{ showMsg }}
                    </p>
                </div>
                <div>
                    <div class="textfx-view clearfix" ng-repeat="font in textFXFontList" ng-mouseenter="showUploadCharCloseBtn[$index]=true" ng-mouseleave="showUploadCharCloseBtn[$index]=false; showUploadCharConfirmBtn[$index]=false">
                        <div class="textfx-delete" ng-show="showUploadCharCloseBtn[$index]" ng-click="uploadCharCloseBtnClick($index)">
                            <i class="fa fa-times">
                            </i>
                        </div>
                        <div class="textfx-delete-confirm" ng-show="showUploadCharConfirmBtn[$index]"  ng-click="deleteCharInUploadView($index)">
                            <xe-translate text-value="Confirm">
                            </xe-translate>
                        </div>
                        <div class="textfx-view-thumb">
                            <img ng-src="{{ font }}" class="img-responsive"/>
                        </div>
                        <div class="textfx-view-name">
                            <input type="text" class="form-control input-sm" ng-model="uploadCharacters[$index]"/>
                        </div>
                    </div>
                    <div>
                        <button class="btn btn-success btn-sm clearfix m-t-15" type="button" ng-show="textFXFontList.length" multiple accept=".svg,;" ng-file-select ng-file-change="browseMoreFxFonts($files)">
                            <span>
                                <xe-translate text-value="Add More Fonts">
                                </xe-translate>
                            </span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="panel-heading p-t-0">
                    <div class="panel-title">
                        <xe-translate text-value="Properties">
                        </xe-translate>
                    </div>
                </div>
                <form id="form-personal" role="form" autocomplete="off" class="p-l-20">
                    <div class="row clearfix">
                        <div class="col-sm-12">
                            <div class="form-group form-group-default required">
                                <label>
                                    <xe-translate text-value="Name">
                                    </xe-translate>
                                </label>
                                <input type="text" class="form-control" name="Name" required ng-model="uploadTextFx.name"/>
                            </div>
                        </div>
                    </div>
                     <div class="row clearfix">
                        <div class="col-sm-12">
                            <div class="form-group form-group-default">
                                <label>
                                    <xe-translate text-value="Per Letter Price">
                                    </xe-translate>
                                </label>
                                <input type="text" class="form-control" name="Price" ng-model="uploadTextFx.price"/>
                            </div>
                        </div>
                    </div>
                    <!-- <div class="row clearfix">
                    <div class="col-sm-12">
                      <div class="form-group form-group-default required">
                      <label>Price</label>
                      <input type="text" class="form-control" name="Name" required>
                      </div>
                    </div>
                    </div> -->
                    <div class="row clearfix">
                    </div>
                </form>
            </div>
        </div>
        <div class="panel-footer b-t-none clearfix">
            <div class="pull-right">
                <button class="btn btn-primary btn-sm" type="button" ng-click="uploadTextFxFonts()"  ng-disabled="demoStatus" ng-class="{'disabled': !uploadTextFx.name || !base64List}">
                    <xe-translate text-value="Save">
                    </xe-translate>
                </button>
                <button class="btn btn-primary btn-sm" type="button" ng-click="cancelUploadTextFx()">
                    <xe-translate text-value="Cancel">
                    </xe-translate>
                </button>
            </div>
        </div>
    </div>
</div>
