<div class="container-fluid" ng-controller="WordCloudController">
    <div class="row" ng-init="init()">
        <div class="col-sm-12">
            <div class="panel panel-transparent">
                <div class="panel-body padding-0">
                    <button type="button" class="btn btn-info btn-sm btn-cons from-top" ng-click="addNewWordCloud()">
                        <span>
                            <xe-translate text-value="Add New WordCloud">
                            </xe-translate>
                        </span>
                    </button>
                    <i class="fa fa-info-circle info-module-icon" ng-click="showWordCloudFaq(1)">
                    </i>
                </div>
            </div>
            <ng-include src="'modules/wordCloud/views/partials/wordCloudEditView.html'" ng-show="isEditViewActive">
            </ng-include>
            <ng-include src="'modules/wordCloud/views/partials/wordCloudUploadView.html'" ng-show="isWordCloudUploadViewActive">
            </ng-include>
            <div class="panel panel-default">
                <div class="panel-heading separator">
                    <div class="w-full">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="m-r-10 m-t-n-5 pull-left">
                                    <div class="checkbox check-success ">
                                        <input type="checkbox" value="selectAll" id="selectAll" ng-model="allChecked" ng-change="selectAllChecked(allChecked)"/>
                                        <label for="selectAll">
                                            <xe-translate text-value="Select All">
                                            </xe-translate>
                                        </label>
                                    </div>
                                </div>
                                <div class="m-r-10 pull-left">
                                    <button type="button" class="btn btn-default btn-sm btn-cons" ng-click="editSelectedTwordCloud()"  ng-class="{'disabled': fileCount < 1}">
                                        <span>
                                            <xe-translate text-value="Edit Selected">
                                            </xe-translate>
                                        </span>
                                    </button>
                                </div>
                                <div class="m-r-10 pull-left">
                                    <button type="button" class="btn btn-default btn-sm btn-cons" ng-click="deleteSelectedWordCloud()" id="wordcloud_delete_modal" ng-model="modal.slideUp"  ng-class="{'disabled': fileCount < 1}" ng-disabled="demoStatus">
                                        <span>
                                            <xe-translate text-value="Delete Selected">
                                            </xe-translate>
                                        </span>
                                    </button>
                                </div>
                            </div>
                            <div class="col-sm-6">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel-body m-t-20">
                    <!--preloader-->
                    <div class="row">
                        <div class="col-lg-12 bg-white" ng-hide="dataLoaded">
                            <div class="product-wrap-height">
                                <div class="panel-body text-center">
                                    <img class="image-responsive-height demo-mw-50 page-loader" src="assets/img/demo/progress.svg" alt="Progress"/>
                                    <span class="loader-label">
                                        <xe-translate text-value="Loading WordClouds">
                                        </xe-translate>
                                        ...
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div ng-hide="dataList" class="gallery-box-wrap">
                        <div class="gallery-box pos-rlt" ng-repeat="wordCloud in wordCloudList">
                            <label class="no-margin cursor-pointer" for="{{ wordCloud.id }}">
                                <div class="padding-10">
                                    <img  class="img-thumb" ng-src="{{ wordCloudUrl+wordCloud.filename }}" width="100" height="100"/>
                                </div>
                            </label>
                            <div class="checkbox check-success gallery-check">
                                <input type="checkbox" value="{{ wordCloud.id }}" id="{{ wordCloud.id }}"  ng-model="wordCloudCheck[$index]"  ng-change="wordCloudSelected(wordCloudCheck[$index],$index)"/>
                                <label for="{{ wordCloud.id }}">
                                </label>
                            </div>
                        </div>
                        <span ng-show="noData">
                            <p class="font-normal text-lg text-center m-t-150">
                                <xe-translate text-value="No Wordcloud found">
                                </xe-translate>
                            </p>
                        </span>
                    </div>
                </div>
                <div ng-show="isLoadMore" class="panel-footer text-center b-t-none">
                    <button type="button" class="btn btn-success btn-sm btn-cons from-top" ng-click="loadMore()" ng-show="isLoadMore">
                        <span>
                            <xe-translate text-value="Load More">
                            </xe-translate>
                        </span>
                    </button>
                    <img class="image-responsive-height demo-mw-30 " src="assets/img/progress/progress-circle-master.svg" alt="Progress" ng-show="isLoadMorePreloader"/>
                </div>
            </div>
        </div>
    </div>
    <ng-include src="'modules/wordCloud/doc/wordCloudFaq1.html'">
    </ng-include>
</div>
