<div class="modal fade slide-right" id="designFaq2" pg-portlet tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-body info-module">
                <div class="panel-group" id="accordion2" role="tablist">
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingOnee">
                            <h4 class="panel-title">
                                <a class="collapsed" data-toggle="collapse" data-parent="#accordion2"  href="#collapseOnee" target="_self" aria-expanded="false" aria-controls="collapseOnee">
                                  How to set default designs category?
                                </a>
                            </h4>
                        </div>
                        <div id="collapseOnee" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOnee">
                            <hr>
                            <div class="panel-body">
                                <ol>
                                    <li>Open inkXE Admin.</li>
                                    <li>Go to the toolbar section to the left, then click <b>Graphics</b>.</li>
                                    <li>From the drop-down menu select <b>Designs</b>.</li>
                                    <li>Go to the top right corner and click on <b>All Categories > Subcategory</b>.<img src="modules/design/doc/assets/design1_6.png" style="display: auto;" /></li>
                                    <li>A pop-up will open. Select the category and subcategory from the drop-down menu.<img src="modules/design/doc/assets/design1_7.png" /></li>
                                    <li>Click <b>Save</b>.</li>
                                </ol>
                                You have now set default designs category.<br><br>
                                <div style="padding: 7.0px 10.0px;background-color: rgb(216,235,248);border: 1.0px solid rgb(151,193,218);">
                                    Note: Tool will load with the default categories and subcategories as set in the admin panel.  
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingTwoo">
                            <h4 class="panel-title">
                                <a class="collapsed" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwoo" target="_self" aria-expanded="false" aria-controls="collapseTwoo">
                                  How to manage clipart category?
                                </a>
                            </h4>
                        </div>
                        <div id="collapseTwoo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwoo">
                            <hr>
                            <div class="panel-body">
                                To manage (add/edit/delete) clipart category,
                                <ol>
                                    <li>Open inkXE Admin.</li>
                                    <li>Go to <b>Graphics</b> in the toolbar towards the left and select <b>Designs</b>.</li>
                                    <li>Move to the top-right-corner and tap <b>Manage Categories</b>.<img src="modules/design/doc/assets/design1_8.png" /></li>
                                    <li>
                                        A box will appear. You can take following actions there:
                                        <ul>
                                            <li>Add a category - In the left column under Design Categories, simply enter a name and click Add.<img src="modules/design/doc/assets/design1_9.png" /></li>
                                            <li>Edit a category - Hover the mouse over your selected category and click on edit icon.<img src="modules/design/doc/assets/design1_10.png" /></li>
                                            <li>Delete a category - Hover the mouse over your selected category and click on delete icon.<img src="modules/design/doc/assets/design1_11.png" /></li>
                                        </ul>
                                    </li>
                                    <li>Once done, tap outside the box to close it.</li><br>
                                </ol>
                                Your changes have been successfully applied.
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingThreee">
                            <h4 class="panel-title">
                                <a class="collapsed" data-toggle="collapse" data-parent="#accordion2" href="#collapseThreee" target="_self" aria-expanded="false" aria-controls="collapseThreee">
                                  How to manage clipart subcategory?
                                </a>
                            </h4>
                        </div>
                        <div id="collapseThreee" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThreee">
                            <hr>
                             <div class="panel-body">
                                To manage (add/edit/delete) clipart subcategory,
                                <ol>
                                    <li>Open inkXE Admin.</li>
                                    <li>Go to <b>Graphics</b> in the toolbar towards the left and select <b>Designs</b>.</li>
                                    <li>Move to the top-right-corner and tap <b>Manage Categories</b>.<img src="modules/design/doc/assets/design1_8.png" /></li>
                                    <li>
                                        A box will appear. You can take following actions there:
                                        <ul>
                                            <li>Add a subcategory - Select your category and move right towards the box under Design Subcategories. Simply, enter your subcategory name there and click Add.<img src="modules/design/doc/assets/design1_12.png" /></li>
                                            <li>Edit a subcategory -  Select your category and move right to see the existing subcategories. Then, hover the mouse over your selected subcategory and click on edit icon.<img src="modules/design/doc/assets/design1_13.png" /></li>
                                            <li>Delete a subcategory -  Select your category and move right to see the existing subcategories. Then, hover the mouse over your selected subcategory and click on delete icon.<img src="modules/design/doc/assets/design1_14.png" /></li>
                                        </ul>
                                    </li>
                                    <li>Once done, tap outside the box to close it.</li><br>
                                </ol>
                                Your changes have been successfully applied.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>