<div class="modal fade slide-right" id="designFaq1" pg-portlet tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-body info-module">
                <div class="panel-group" id="accordion" role="tablist">
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingOne">
                            <h4 class="panel-title">
                                <a class="collapsed" data-toggle="collapse" data-parent="#accordion"  href="#collapseOne" target="_self" aria-expanded="false" aria-controls="collapseOne">
                                  How to add clipart/artwork/design?
                                </a>
                            </h4>
                        </div>
                        <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                            <hr>
                            <div class="panel-body">
                                To add clipart/artwork/design,
                                <br><br>
                                <div style="padding: 7.0px 10.0px;background-color: rgb(216,235,248);border: 1.0px solid rgb(151,193,218);">
                                    NOTE: Supported formats are svg, png, jpeg, jpg, and bmp. 
                                </div>
                                <br>
                                <div style="padding: 7.0px 10.0px;background-color: rgb(216,235,248);border: 1.0px solid rgb(151,193,218);">
                                    TIP: You can also add cliparts in bulk. Simply, select multiple clipart designs and upload.
                                </div><br>
                                <ol>
                                    <li>Open inkXE Admin.</li>
                                    <li>Go to <b>Graphics</b> in the toolbar towards the left and select <b>Designs</b>.</li>
                                    <li>Move to the right and tap <b>Add New Clipart</b>.<img src="modules/design/doc/assets/design1_1.png" /></li>
                                    <li>A box will appear. Click <b>Upload Design</b>. Set properties of the design you upload, such as name, height, width, category, etc.</li>
                                    <li>Click <b>Save</b>.</li>
                                </ol>
                                Your clipart/artwork/design has been added.
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingTwo">
                            <h4 class="panel-title">
                                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" target="_self" aria-expanded="false" aria-controls="collapseTwo">
                                  How to edit clipart?
                                </a>
                            </h4>
                        </div>
                        <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                            <hr>
                            <div class="panel-body">
                                To edit cliparts/designs,
                                <ol>
                                    <li>Open inkXE Admin.</li>
                                    <li>Go to <b>Graphics</b> in the toolbar towards the left and select <b>Designs</b>.</li>
                                    <li>Move to the right and you see the available cliparts.</li>
                                    <li>Now, select the clipart you want to edit and click <b>Edit Selected</b>.<img src="modules/design/doc/assets/design1_2.png" /></li>
                                    <li>A box will appear where you can edit properties of selected clipart, such as name, price, height, width, tags, category, and subcategory.</li>
                                    <li>Make your changes and click <b>Save</b>.</li>
                                </ol>
                                <div style="padding: 7.0px 10.0px;background-color: rgb(216,235,248);border: 1.0px solid rgb(151,193,218);">
                                    TIP: You can also edit cliparts in bulk. Simply select multiple cliparts and follow same instructions. 
                                </div><br>
                                Your clipart has been edited.
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingThree">
                            <h4 class="panel-title">
                                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" target="_self" aria-expanded="false" aria-controls="collapseThree">
                                  How to delete clipart?
                                </a>
                            </h4>
                        </div>
                        <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                            <hr>
                            <div class="panel-body">
                                To delete cliparts/designs,
                                <ol>
                                    <li>Open inkXE Admin.</li>
                                    <li>Go to <b>Graphics</b> in the toolbar towards the left and select <b>Designs</b>.</li>
                                    <li>Move to the right and you see the available cliparts.</li>
                                    <li>Now, select the clipart you want to delete and click <b>Delete Selected</b>.<img src="modules/design/doc/assets/design1_3.png" /></li>
                                    <li>A pop-up will open asking you to confirm your action.</li>
                                    <li>Click <b>Confirm</b>.</li>
                                </ol>
                                <div style="padding: 7.0px 10.0px;background-color: rgb(216,235,248);border: 1.0px solid rgb(151,193,218);">
                                    TIP: You can also delete cliparts in bulk. Simply select multiple cliparts and follow same instructions. 
                                </div><br>
                                Your clipart has been deleted.
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingFour">
                            <h4 class="panel-title">
                                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" target="_self" aria-expanded="false" aria-controls="collapseFour">
                                  How to import clipart?
                                </a>
                            </h4>
                        </div>
                        <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
                            <hr>
                            <div class="panel-body">
                                <div style="padding: 7.0px 10.0px;background-color: rgb(216,235,248);border: 1.0px solid rgb(151,193,218);">
                                    Note: You will receive a link from inkXE to download the .zip file clipart package. 
                                </div>
                                <br>
                                <ol>
                                    <li>Open inkXE Admin.</li>
                                    <li>Go to the toolbar section to the left, then click <b>Graphics</b>.</li>
                                    <li>From the drop-down menu select <b>Designs</b>.</li>
                                    <li>In the <b>Graphics</b> page, click <b>Import Clipart</b>.<img src="modules/design/doc/assets/design1_4.png" /></li>
                                    <li>Select the .zip file provided by inkXE from your local system and click <b>Open</b>.</li>
                                    <li>Click <b>Upload</b>.<img src="modules/design/doc/assets/design1_5.png" style="width: auto;" /></li>
                                </ol>
                                <div style="padding: 7.0px 10.0px;background-color: rgb(216,235,248);border: 1.0px solid rgb(151,193,218);">
                                    Note: You have to set ‘max file size’ to 100MB in your server before importing the clipart package. However, the categories and subcategories are already assigned to the clipart. 
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>