/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
.navbar-barrenoire:after{
		background:url(../images/BN_landingpage_schatten.png);
		background-position-x: 50px;
		background-size: cover;
		width: 100%;
		height: 2px;
	}
	
	#video-container:after {
		background: url(../images/BN_landingpage_kreisschatten.png);
		background-size: cover;
		height: 5px;
		width: 100%;
	}
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
	.navbar-barrenoire:after{
		background:url(../images/BN_landingpage_schatten.png);
		background-position-x: 50px;
		background-size: cover;
		width: 100%;
		height: 2px;
	}
	
	#video-container:after {
		background: url(../images/BN_landingpage_kreisschatten.png);
		background-size: cover;
		height: 5px;
		width: 100%;
	}
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
	.navbar-barrenoire:after{
		background:url(../images/BN_landingpage_schatten.png);
		background-position-x: 50px;
		background-size: cover;
		width: 100%;
		height: 5px;
	}
	
	#video-container:after {
		background: url(../images/BN_landingpage_kreisschatten.png);
		background-size: cover;
		height: 5px;
		width: 100%;
	}
	
	.name{
		font-size:35px;
	}
	
	.special{
		font-size:35px;
	}
	
	h2{
		font-size:15px;
	}
}

/* Extra Small Devices, Phones */ 
@media only screen and (max-width : 480px) {

}

/* Custom, iPhone Retina */ 
@media only screen and (max-width : 320px) {
	
}