@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,700,800);
@import url(https://fonts.googleapis.com/css?family=Raleway:800);

body{
	background:#fff;
	font-family: 'Open Sans', sans-serif;
	font-size:17px;
	font-weight:100;
	line-height:28px;
}

.row{
	margin:0;
	padding:0;
	padding-top:20px;
	padding-bottom:20px;
}

.img-center{
	float:none;
	margin:0 auto;
}

.col-center{
	float:none;
	margin:0 auto;
}

.row-title{
	float:none;
	margin:0 auto;
	text-align:center;
	position:relative;
	margin-top:30px;
	z-index:4;
}

.overlay{
	background:rgba(255,255,255,0.99);
	top:0;
	left:0;
	right:0;
	bottom:0;
	position:absolute;
	min-height:100%;
	z-index:100;
	-webkit-transition-duration: 0.9s; /* Safari */
    transition-duration: 0.9s;
}

#back-to-top {
    background: #04949f none repeat scroll 0 0;
    border: 1px solid #f9f9f9;
    border-radius: 2px;
    bottom: 40px;
    color: #fff;
    cursor: pointer;
    height: 32px;
    line-height: 30px;
    opacity: 0;
    position: fixed;
    right: 40px;
    text-align: center;
    text-decoration: none;
    transition: opacity 0.2s ease-out 0s;
    width: 32px;
    z-index: 2;
}

#back-to-top:hover {
    background: #047780;
}

#back-to-top.show {
    opacity: 1;
}

.carousel-control{
	background:none !important;
	cursor:pointer;
}

.icon-bar{
	background:#ccc;
}


/*Begin*/

.navbar-barrenoire{
	background:#fff;
	border-radius:0;
	margin-top:15px;	
}

.navbar-barrenoire:after{
	background:url(../images/BN_landingpage_schatten.png);
	background-position-x: 250px;
    background-size: contain;
    width: 100%;
    height: 30px;
}

.navbar-barrenoire .navbar-nav li a{
	font-family: 'Open Sans', sans-serif;
	font-weight:100;
	text-transform:uppercase;
	color:#797979;
	font-size:15px;
}

.navbar-barrenoire .navbar-nav li a:hover{
	background:none;
	border-bottom:1px solid #5d5d5d;
	color:#5d5d5d;
}


#video-container:after {
    background: url(../images/BN_landingpage_kreisschatten.png);
    background-size: contain;
    height: 20px;
    width: 100%;
}

.name{
	font-family: 'Raleway', sans-serif;
	font-size:90px;
	font-weight:800;
}

.special{
	background:url('../images/clipping.png');
    background-repeat:no-repeat;
    background-position:0 -50px;
    color:transparent;
    -webkit-font-smoothing:antialiased;
    -webkit-background-clip:text;
    -moz-background-clip:text;
    background-clip:text;
    -webkit-text-fill-color:transparent;
    margin:0;
	font-family: 'Raleway', sans-serif;
	font-size:90px;
	font-weight:800;
}
