<div class="modal fade slide-right" id="webFontsFaq1" pg-portlet tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-body info-module">
                <div class="panel-group" id="accordion" role="tablist">
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingOne">
                            <h4 class="panel-title">
                                <a class="collapsed" data-toggle="collapse" data-parent="#accordion"  href="#collapseOne" target="_self" aria-expanded="false" aria-controls="collapseOne">
                                  How to add font/web font?
                                </a>
                            </h4>
                        </div>
                        <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                            <hr>
                            <div class="panel-body">
                                To add font/web font,<br><br>
                                <div style="padding: 7.0px 10.0px;background-color: rgb(216,235,248);border: 1.0px solid rgb(151,193,218);">
                                    NOTE: Supported format is ttf. 
                                </div><br>
                                <div style="padding: 7.0px 10.0px;background-color: rgb(216,235,248);border: 1.0px solid rgb(151,193,218);">
                                    TIP: You can also add web fonts in bulk. Simply select multiple web fonts and follow same instructions. 
                                </div><br>
                                <ol>
                                    <li>Open inkXE Admin.</li>
                                    <li>Go to <b>Text</b> in the toolbar towards the left and select <b>Web Fonts</b>.</li>
                                    <li>Move to the right and tap <b>Add Web Fonts</b>.<img src="modules/webFonts/doc/assets/webFonts1.png" /></li>
                                    <li>A box will appear. Click <b>Add Webfonts</b> to upload a web font and set its properties, such as name, price, tags, and category.</li>
                                    <li>Click <b>Save</b>.</li>
                                </ol>
                                Your web font has been added.
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingTwo">
                            <h4 class="panel-title">
                                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" target="_self" aria-expanded="false" aria-controls="collapseTwo">
                                  How to edit font/web font?
                                </a>
                            </h4>
                        </div>
                        <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                            <hr>
                            <div class="panel-body">
                                To edit font/web font,
                                <ol>
                                    <li>Open inkXE Admin.</li>
                                    <li>Go to <b>Text</b> in the toolbar towards the left and select <b>Web Fonts</b>.</li>
                                    <li>Move to the right and you will see the available web fonts.</li>
                                    <li>Now, select the web font you want to edit and click <b>Edit Selected</b>.<img src="modules/webFonts/doc/assets/webFonts2.png" /></li>
                                    <li>A box will appear where you can edit properties of selected web font, such as name, price, tags, and category.</li>
                                    <li>Make your changes and click <b>Save</b>.</li>
                                </ol>
                                <div style="padding: 7.0px 10.0px;background-color: rgb(216,235,248);border: 1.0px solid rgb(151,193,218);">
                                    TIP: You can also edit color palettes in bulk. Simply select multiple web fonts and follow same instructions. 
                                </div><br>
                                Your web font has been edited.
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingThree">
                            <h4 class="panel-title">
                                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" target="_self" aria-expanded="false" aria-controls="collapseThree">
                                  How to delete font/web font?
                                </a>
                            </h4>
                        </div>
                        <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                            <hr>
                            <div class="panel-body">
                                To delete font/web font,
                                <ol>
                                    <li>Open inkXE Admin.</li>
                                    <li>Go to <b>Text</b> in the toolbar towards the left and select <b>Web Fonts</b>.</li>
                                    <li>Move to the right and you will see the available web fonts.</li>
                                    <li>Now, select the web font you want to delete and click <b>Delete Selected</b>.<img src="modules/webFonts/doc/assets/webFonts3.png" /></li>
                                    <li>A pop-up will open asking you to confirm your action.</li>
                                    <li>Click <b>Confirm</b>.</li>
                                </ol>
                                <div style="padding: 7.0px 10.0px;background-color: rgb(216,235,248);border: 1.0px solid rgb(151,193,218);">
                                    TIP: You can also delete web fonts in bulk. Simply select multiple web fonts and follow same instructions. 
                                </div><br>
                                Your font/web font has been deleted.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>