<div class="panel panel-default">
    <div class="panel-body">
        <div class="row">
            <div class="col-sm-6">
                <h4 class="user-head-title">
                    <xe-translate text-value="Edit User privileges">
                    </xe-translate>
                </h4>
                <form class="" role="form">
                    <div class="form-group form-group-default required ">
                        <label>
                            <xe-translate text-value="Name">
                            </xe-translate>
                        </label>
                        <input type="name" ng-model="editInfoList.name"class="form-control" required/>
                    </div>
                    <div class="form-group form-group-default required ">
                        <label>
                            <xe-translate text-value="Email">
                            </xe-translate>
                        </label>
                        <input type="email" ng-model="editInfoList.email" ng-readonly="userType == '0'" class="form-control" required  ng-pattern="/^[_a-z0-9]+(\.[_a-z0-9]+)*@[a-z0-9-]+(\.[a-z0-9-]+)*(\.[a-z]{2,4})$/"/>
                    </div>
                    <a href="" ng-click="showPwChange()" class="no-underline text-right" ng-show="change_pw">
                        <xe-translate text-value="Change Password Text" class="ng-isolate-scope"></xe-translate>
                    </a>
                    <div class="clearfix" ng-hide="change_pw">
                        <div class="form-group form-group-default required ">
                            <label>
                                <xe-translate text-value="Current Password">
                                </xe-translate>
                            </label>
                            <input type="password" ng-model="editInfoList.password"class="form-control" required/>
                        </div>
                        <div class="form-group form-group-default col-sm-6 required ">
                            <label>
                                <xe-translate text-value="New Password">
                                </xe-translate>
                            </label>
                            <input type="password" ng-model="passwordFields.newPassword"class="form-control" required/>
                        </div>
                        <div class="form-group form-group-default col-sm-6 required ">
                            <label>
                                <xe-translate text-value="Reenter Password">
                                </xe-translate>
                            </label>
                            <input type="password" ng-model="passwordFields.copyPassword"class="form-control" required/>
                        </div>
                        <a href="" ng-click="showPwChange()" class="no-underline text-right">
                        <xe-translate text-value="Cancel" class="ng-isolate-scope"></xe-translate>
                    </a>
                    </div>
                </form>
            </div>
            <div class="col-sm-6" ng-hide="editInfoList.userType == 1 || userType==0">
                <h4 class="user-head-title">
                    <xe-translate text-value="Enable Disable Privileges">
                    </xe-translate>
                </h4>
                <div class="form-group no-border no-margin">
                    <div class="col-sm-10">
                        <div class="checkbox check-info pull-left w-250 m-t-0" ng-repeat="privilege in privilegesList">
                            <input type="checkbox"  id="edit_{{ privilege.id }}" ng-model="privilege.status"  ng-click="privilege.status=(privilege.status==true?false:true);"/>
                            <label for="edit_{{ privilege.id }}">
                                {{ privilege.name }}
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row preloader-box" ng-show="isPreloader">
            <div class="col-lg-12 bg-white">
                <div class="preloader-height">
                    <div class="panel-body text-center">
                        <img class="image-responsive-height demo-mw-50 page-loader" src="assets/img/demo/progress.svg" alt="Progress"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="panel-footer">
        <div class="clearfix block" ng-hide="isPreloader">
            <button class="btn btn-success pull-right" type="button" ng-click="cancelUser()">
                <xe-translate text-value="Cancel">
                </xe-translate>
            </button>
            <button class="btn btn-success pull-right m-r-10" type="button"  ng-click="updateUserPrivilege(editInfoList,passwordFields)">
                <xe-translate text-value="Save">
                </xe-translate>
            </button>
        </div>
    </div>
</div>
