<div id="door-1">
    <div class="modal fade" id="modalDoor-1" tabindex="-1" role="dialog" aria-labelledby="meinModalLabel">
        <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
          </div>
          <div class="modal-body text-center">
                <h1 class="headline">Geschenk</h1>
                <h2 class="whatitis"><i class="fa fa-gift"></i></h2>
                <p class="task">Ab einem Einkaufswert von 30€, erhälst du 3 Bögen HappyFashion Pro nach Wahl!</p>
                <hr>
                <div class="input-group present">
                  <input class="form-control" id="gutscheincode" value="HFP-01-12-15" placeholder="HFP-01-12-15" readonly>
                  <span class="done"><i class="fa fa-check"></i> Code Kopiert</span>
                  <span class="input-group-btn">
                   <button class="btn btn-success code-copy" data-clipboard-target="#gutscheincode">
                    Gutscheincode Kopieren <i class="fa fa-clip"></i>
                	</button>
                  </span>
                </div>
                <br>
                <a class="btn btn-success btn-block" href="http://www.happyfabric.de/plotterfolien/flock-und-flexfolien/happyfashion-pro.html?___store=de" target="_blank">Jetzt Geschenk sichern!</a>
                <br>                    
                <span class="usage">
                    Gültig nur am 1. Dezember 2015
                </span>
          </div>
          <div class="modal-footer text-center">
            <button type="button" class="btn btn-default 
            " data-dismiss="modal">Schließen</button>
          </div>
        </div>
      </div>
    </div>
</div>
<div id="door-2">
    <div class="modal fade" id="modalDoor-2" tabindex="-1" role="dialog" aria-labelledby="meinModalLabel">
        <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
          </div>
          <div class="modal-body text-center">
                <h1 class="headline">Gutscheincode</h1>
                <h2 class="whatitis"><i class="fa fa-gift"></i></h2>
                <p class="task">Ab einem Einkaufswert von 30€, erhälst du einen Rakel Gratis!</p>                
                <hr>
                <div class="input-group present">
                  <input class="form-control" id="gutscheincode" value="RAKEL-02-12-15" placeholder="RAKEL-02-12-15" readonly>
                  <span class="done"><i class="fa fa-check"></i> Code Kopiert</span>
                  <span class="input-group-btn">
                   <button class="btn btn-success code-copy" data-clipboard-target="#gutscheincode">
                    Gutscheincode Kopieren <i class="fa fa-clip"></i>
                	</button>
                  </span>
                </div>
                <br>
                <a class="btn btn-success btn-block" href="http://www.happyfabric.de/zubehor/happyrakel-zubehoer.html" target="_blank">Jetzt Geschenk sichern!</a>
                <br>                    
                <span class="usage">
                    Gültig nur am 2. Dezember 2015
                </span>
          </div>
          <div class="modal-footer text-center">
            <button type="button" class="btn btn-default 
            " data-dismiss="modal">Schließen</button>
          </div>
        </div>
      </div>
    </div>
</div>
<div id="door-3">
    <div class="modal fade" id="modalDoor-3" tabindex="-1" role="dialog" aria-labelledby="meinModalLabel">
        <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
          </div>
          <div class="modal-body text-center">
               <h1 class="headline">Gutscheincode</h1>
                <h2 class="whatitis"><i class="fa fa-gift"></i></h2>
                <p class="task">Ab einem einkaufswert von 35€, erhälst du 35% Rabatt auf das Folienset XMAS Blau</p>                
                <hr>
                <div class="input-group present">
                  <input class="form-control" id="gutscheincode" value="XSET-03-12-2015" placeholder="XSET-03-12-2015" readonly>
                  <span class="done"><i class="fa fa-check"></i> Code Kopiert</span>
                  <span class="input-group-btn">
                   <button class="btn btn-success code-copy" data-clipboard-target="#gutscheincode">
                    Gutscheincode Kopieren <i class="fa fa-clip"></i>
                	</button>
                  </span>
                </div>
                <br>
                <a class="btn btn-success btn-block" href="http://www.happyfabric.de/plotterfolien/foliensets/weihnachten-blau-folienset.html" target="_blank">Jetzt Geschenk sichern!</a>
                <br>                    
                <span class="usage">
                    Gültig nur am 3. Dezember 2015
                </span>
          </div>
          <div class="modal-footer text-center">
            <button type="button" class="btn btn-default 
            " data-dismiss="modal">Schließen</button>
          </div>
        </div>
      </div>
    </div>
</div>
<div id="door-4">
    <div class="modal fade" id="modalDoor-4" tabindex="-1" role="dialog" aria-labelledby="meinModalLabel">
        <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
          </div>
          <div class="modal-body text-center">
                <h1 class="headline">Gutscheincode</h1>
                <h2 class="whatitis"><i class="fa fa-gift"></i></h2>
                <p class="task">Ab einem Einkaufswert von 100€, erhälst du einen Rakel & Weeder Gratis!</p>                
                <hr>
                <div class="input-group present">
                  <input class="form-control" id="gutscheincode" value="RW-04-12-15" placeholder="RW-04-12-15" readonly>
                  <span class="done"><i class="fa fa-check"></i> Code Kopiert</span>
                  <span class="input-group-btn">
                   <button class="btn btn-success code-copy" data-clipboard-target="#gutscheincode">
                    Gutscheincode Kopieren <i class="fa fa-clip"></i>
                	</button>
                  </span>
                </div>
                <br>
                <a class="btn btn-success btn-block" href="http://www.happyfabric.de/catalogsearch/result/?q=HFA0000002+HFA0000001" target="_blank">Jetzt Geschenk sichern!</a>
                <br>                    
                <span class="usage">
                    Gültig nur am 4. Dezember 2015
                </span>
          </div>
          <div class="modal-footer text-center">
            <button type="button" class="btn btn-default 
            " data-dismiss="modal">Schließen</button>
          </div>
        </div>
      </div>
    </div>
</div>
-------
<div id="door-5">
    <div class="modal fade" id="modalDoor-5" tabindex="-1" role="dialog" aria-labelledby="meinModalLabel">
        <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
          </div>
          <div class="modal-body text-center">
                <h1 class="headline">Gutscheincode</h1>
                <h2 class="whatitis"><i class="fa fa-gift"></i></h2>
                <p class="task">Ab einem Einkaufswert von 30€, erhälst du ein Thermoband Gratis!</p>                
                <hr>
                <div class="input-group present">
                  <input class="form-control" id="gutscheincode" value="TB-05-12-15" placeholder="TB-05-12-15" readonly>
                  <span class="done"><i class="fa fa-check"></i> Code Kopiert</span>
                  <span class="input-group-btn">
                   <button class="btn btn-success code-copy" data-clipboard-target="#gutscheincode">
                    Gutscheincode Kopieren <i class="fa fa-clip"></i>
                	</button>
                  </span>
                </div>
                <br>
                <a class="btn btn-success btn-block" href="http://www.happyfabric.de/zubehor/happyfix-thermoband-zubehoer.html" target="_blank">Jetzt Geschenk sichern!</a>
                <br>                    
                <span class="usage">
                    Gültig nur am 5. Dezember 2015
                </span>
          </div>
          <div class="modal-footer text-center">
            <button type="button" class="btn btn-default 
            " data-dismiss="modal">Schließen</button>
          </div>
        </div>
      </div>
    </div>
</div>
<div id="door-6">
    <div class="modal fade" id="modalDoor-6" tabindex="-1" role="dialog" aria-labelledby="meinModalLabel">
        <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
          </div>
          <div class="modal-body text-center">
                <h1 class="headline">Gutscheincode</h1>
                <h2 class="whatitis"><i class="fa fa-gift"></i></h2>
                <p class="task">10% auf die HappyPress, auf ein HappyPress Set, auf die HappyPress Pro & die Silhouette Cameo!</p>                
                <hr>
                <div class="input-group present">
                  <input class="form-control" id="gutscheincode2" value="HPC-06-12-15" placeholder="HPC-06-12-15" readonly>
                  <span class="done"><i class="fa fa-check"></i> Code Kopiert</span>
                  <span class="input-group-btn">
                   <button class="btn btn-success code-copy" data-clipboard-target="#gutscheincode2">
                    Gutscheincode Kopieren <i class="fa fa-clip"></i>
                	</button>
                  </span>
                </div>
                <br>
                <a class="btn btn-success btn-block" href="http://www.happyfabric.de/catalogsearch/result/?q=HFP-0001+HFC-0003+HF-TKS-HP+HFP200002" target="_blank">Jetzt Geschenk sichern!</a>
                <br>                    
                <span class="usage">
                    Gültig nur am 6. Dezember 2015
                </span>
          </div>
          <div class="modal-footer text-center">
            <button type="button" class="btn btn-default 
            " data-dismiss="modal">Schließen</button>
          </div>
        </div>
      </div>
    </div>
</div>
<div id="door-7">
    <div class="modal fade" id="modalDoor-7" tabindex="-1" role="dialog" aria-labelledby="meinModalLabel">
        <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
          </div>
          <div class="modal-body text-center">
                <h1 class="headline">Geschenk</h1>
                <h2 class="whatitis"><i class="fa fa-gift"></i></h2>
                <p class="task">Ein Thermoband zu Ihrer Bestellung Gratis!</p>
                
                <a href="" class="btn btn-block btn-success">Jetzt zum schnäppchen</a>
                <br>                    
                <span class="usage">
                    Gültig nur am 2. Dezember 2015
                </span>
          </div>
          <div class="modal-footer text-center">
            <button type="button" class="btn btn-default 
            " data-dismiss="modal">Schließen</button>
          </div>
        </div>
      </div>
    </div>
</div>
<div id="door-8">
    <div class="modal fade" id="modalDoor-8" tabindex="-1" role="dialog" aria-labelledby="meinModalLabel">
        <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
          </div>
          <div class="modal-body text-center">
                <h1 class="headline">Geschenk</h1>
                <h2 class="whatitis"><i class="fa fa-gift"></i></h2>
                <p class="task">Ein Thermoband zu Ihrer Bestellung Gratis!</p>
                
                <a href="" class="btn btn-block btn-success">Jetzt zum schnäppchen</a>
                <br>                    
                <span class="usage">
                    Gültig nur am 2. Dezember 2015
                </span>
          </div>
          <div class="modal-footer text-center">
            <button type="button" class="btn btn-default 
            " data-dismiss="modal">Schließen</button>
          </div>
        </div>
      </div>
    </div>
</div>
<div id="door-9">
    <div class="modal fade" id="modalDoor-9" tabindex="-1" role="dialog" aria-labelledby="meinModalLabel">
        <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
          </div>
          <div class="modal-body text-center">
                <h1 class="headline">Geschenk</h1>
                <h2 class="whatitis"><i class="fa fa-gift"></i></h2>
                <p class="task">Ein Thermoband zu Ihrer Bestellung Gratis!</p>
                
                <a href="" class="btn btn-block btn-success">Jetzt zum schnäppchen</a>
                <br>                    
                <span class="usage">
                    Gültig nur am 2. Dezember 2015
                </span>
          </div>
          <div class="modal-footer text-center">
            <button type="button" class="btn btn-default 
            " data-dismiss="modal">Schließen</button>
          </div>
        </div>
      </div>
    </div>
</div>
<div id="door-10">
    <div class="modal fade" id="modalDoor-10" tabindex="-1" role="dialog" aria-labelledby="meinModalLabel">
        <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
          </div>
          <div class="modal-body text-center">
                <h1 class="headline">Geschenk</h1>
                <h2 class="whatitis"><i class="fa fa-gift"></i></h2>
                <p class="task">Ein Thermoband zu Ihrer Bestellung Gratis!</p>
                
                <a href="" class="btn btn-block btn-success">Jetzt zum schnäppchen</a>
                <br>                    
                <span class="usage">
                    Gültig nur am 2. Dezember 2015
                </span>
          </div>
          <div class="modal-footer text-center">
            <button type="button" class="btn btn-default 
            " data-dismiss="modal">Schließen</button>
          </div>
        </div>
      </div>
    </div>
</div>
<div id="door-11">
    <div class="modal fade" id="modalDoor-11" tabindex="-1" role="dialog" aria-labelledby="meinModalLabel">
        <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
          </div>
          <div class="modal-body text-center">
                <h1 class="headline">Geschenk</h1>
                <h2 class="whatitis"><i class="fa fa-gift"></i></h2>
                <p class="task">Ein Thermoband zu Ihrer Bestellung Gratis!</p>
                
                <a href="" class="btn btn-block btn-success">Jetzt zum schnäppchen</a>
                <br>                    
                <span class="usage">
                    Gültig nur am 2. Dezember 2015
                </span>
          </div>
          <div class="modal-footer text-center">
            <button type="button" class="btn btn-default 
            " data-dismiss="modal">Schließen</button>
          </div>
        </div>
      </div>
    </div>
</div>
<div id="door-12">
    <div class="modal fade" id="modalDoor-12" tabindex="-1" role="dialog" aria-labelledby="meinModalLabel">
        <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
          </div>
          <div class="modal-body text-center">
                <h1 class="headline">Geschenk</h1>
                <h2 class="whatitis"><i class="fa fa-gift"></i></h2>
                <p class="task">Ein Thermoband zu Ihrer Bestellung Gratis!</p>
                
                <a href="" class="btn btn-block btn-success">Jetzt zum schnäppchen</a>
                <br>                    
                <span class="usage">
                    Gültig nur am 2. Dezember 2015
                </span>
          </div>
          <div class="modal-footer text-center">
            <button type="button" class="btn btn-default 
            " data-dismiss="modal">Schließen</button>
          </div>
        </div>
      </div>
    </div>
</div>
<div id="door-13">
    <div class="modal fade" id="modalDoor-13" tabindex="-1" role="dialog" aria-labelledby="meinModalLabel">
        <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
          </div>
          <div class="modal-body text-center">
                <h1 class="headline">Geschenk</h1>
                <h2 class="whatitis"><i class="fa fa-gift"></i></h2>
                <p class="task">Ein Thermoband zu Ihrer Bestellung Gratis!</p>
                
                <a href="" class="btn btn-block btn-success">Jetzt zum schnäppchen</a>
                <br>                    
                <span class="usage">
                    Gültig nur am 2. Dezember 2015
                </span>
          </div>
          <div class="modal-footer text-center">
            <button type="button" class="btn btn-default 
            " data-dismiss="modal">Schließen</button>
          </div>
        </div>
      </div>
    </div>
</div>
<div id="door-14">
    <div class="modal fade" id="modalDoor-14" tabindex="-1" role="dialog" aria-labelledby="meinModalLabel">
        <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
          </div>
          <div class="modal-body text-center">
                <h1 class="headline">Geschenk</h1>
                <h2 class="whatitis"><i class="fa fa-gift"></i></h2>
                <p class="task">Ein Thermoband zu Ihrer Bestellung Gratis!</p>
                
                <a href="" class="btn btn-block btn-success">Jetzt zum schnäppchen</a>
                <br>                    
                <span class="usage">
                    Gültig nur am 2. Dezember 2015
                </span>
          </div>
          <div class="modal-footer text-center">
            <button type="button" class="btn btn-default 
            " data-dismiss="modal">Schließen</button>
          </div>
        </div>
      </div>
    </div>
</div>
<div id="door-15">
    <div class="modal fade" id="modalDoor-15" tabindex="-1" role="dialog" aria-labelledby="meinModalLabel">
        <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
          </div>
          <div class="modal-body text-center">
                <h1 class="headline">Geschenk</h1>
                <h2 class="whatitis"><i class="fa fa-gift"></i></h2>
                <p class="task">Ein Thermoband zu Ihrer Bestellung Gratis!</p>
                
                <a href="" class="btn btn-block btn-success">Jetzt zum schnäppchen</a>
                <br>                    
                <span class="usage">
                    Gültig nur am 2. Dezember 2015
                </span>
          </div>
          <div class="modal-footer text-center">
            <button type="button" class="btn btn-default 
            " data-dismiss="modal">Schließen</button>
          </div>
        </div>
      </div>
    </div>
</div>
<div id="door-16">
    <div class="modal fade" id="modalDoor-16" tabindex="-1" role="dialog" aria-labelledby="meinModalLabel">
        <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
          </div>
          <div class="modal-body text-center">
                <h1 class="headline">Geschenk</h1>
                <h2 class="whatitis"><i class="fa fa-gift"></i></h2>
                <p class="task">Ein Thermoband zu Ihrer Bestellung Gratis!</p>
                
                <a href="" class="btn btn-block btn-success">Jetzt zum schnäppchen</a>
                <br>                    
                <span class="usage">
                    Gültig nur am 2. Dezember 2015
                </span>
          </div>
          <div class="modal-footer text-center">
            <button type="button" class="btn btn-default 
            " data-dismiss="modal">Schließen</button>
          </div>
        </div>
      </div>
    </div>
</div>
<div id="door-17">
    <div class="modal fade" id="modalDoor-17" tabindex="-1" role="dialog" aria-labelledby="meinModalLabel">
        <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
          </div>
          <div class="modal-body text-center">
                <h1 class="headline">Geschenk</h1>
                <h2 class="whatitis"><i class="fa fa-gift"></i></h2>
                <p class="task">Ein Thermoband zu Ihrer Bestellung Gratis!</p>
                
                <a href="" class="btn btn-block btn-success">Jetzt zum schnäppchen</a>
                <br>                    
                <span class="usage">
                    Gültig nur am 2. Dezember 2015
                </span>
          </div>
          <div class="modal-footer text-center">
            <button type="button" class="btn btn-default 
            " data-dismiss="modal">Schließen</button>
          </div>
        </div>
      </div>
    </div>
</div>
<div id="door-18">
    <div class="modal fade" id="modalDoor-18" tabindex="-1" role="dialog" aria-labelledby="meinModalLabel">
        <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
          </div>
          <div class="modal-body text-center">
                <h1 class="headline">Geschenk</h1>
                <h2 class="whatitis"><i class="fa fa-gift"></i></h2>
                <p class="task">Ein Thermoband zu Ihrer Bestellung Gratis!</p>
                
                <a href="" class="btn btn-block btn-success">Jetzt zum schnäppchen</a>
                <br>                    
                <span class="usage">
                    Gültig nur am 2. Dezember 2015
                </span>
          </div>
          <div class="modal-footer text-center">
            <button type="button" class="btn btn-default 
            " data-dismiss="modal">Schließen</button>
          </div>
        </div>
      </div>
    </div>
</div>
<div id="door-19">
    <div class="modal fade" id="modalDoor-19" tabindex="-1" role="dialog" aria-labelledby="meinModalLabel">
        <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
          </div>
          <div class="modal-body text-center">
                <h1 class="headline">Geschenk</h1>
                <h2 class="whatitis"><i class="fa fa-gift"></i></h2>
                <p class="task">Ein Thermoband zu Ihrer Bestellung Gratis!</p>
                
                <a href="" class="btn btn-block btn-success">Jetzt zum schnäppchen</a>
                <br>                    
                <span class="usage">
                    Gültig nur am 2. Dezember 2015
                </span>
          </div>
          <div class="modal-footer text-center">
            <button type="button" class="btn btn-default 
            " data-dismiss="modal">Schließen</button>
          </div>
        </div>
      </div>
    </div>
</div>
<div id="door-20">
    <div class="modal fade" id="modalDoor-20" tabindex="-1" role="dialog" aria-labelledby="meinModalLabel">
        <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
          </div>
          <div class="modal-body text-center">
                <h1 class="headline">Geschenk</h1>
                <h2 class="whatitis"><i class="fa fa-gift"></i></h2>
                <p class="task">Ein Thermoband zu Ihrer Bestellung Gratis!</p>
                
                <a href="" class="btn btn-block btn-success">Jetzt zum schnäppchen</a>
                <br>                    
                <span class="usage">
                    Gültig nur am 2. Dezember 2015
                </span>
          </div>
          <div class="modal-footer text-center">
            <button type="button" class="btn btn-default 
            " data-dismiss="modal">Schließen</button>
          </div>
        </div>
      </div>
    </div>
</div>
<div id="door-21">
    <div class="modal fade" id="modalDoor-21" tabindex="-1" role="dialog" aria-labelledby="meinModalLabel">
        <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
          </div>
          <div class="modal-body text-center">
                <h1 class="headline">Geschenk</h1>
                <h2 class="whatitis"><i class="fa fa-gift"></i></h2>
                <p class="task">Ein Thermoband zu Ihrer Bestellung Gratis!</p>
                
                <a href="" class="btn btn-block btn-success">Jetzt zum schnäppchen</a>
                <br>                    
                <span class="usage">
                    Gültig nur am 2. Dezember 2015
                </span>
          </div>
          <div class="modal-footer text-center">
            <button type="button" class="btn btn-default 
            " data-dismiss="modal">Schließen</button>
          </div>
        </div>
      </div>
    </div>
</div>
<div id="door-22">
    <div class="modal fade" id="modalDoor-22" tabindex="-1" role="dialog" aria-labelledby="meinModalLabel">
        <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
          </div>
          <div class="modal-body text-center">
                <h1 class="headline">Geschenk</h1>
                <h2 class="whatitis"><i class="fa fa-gift"></i></h2>
                <p class="task">Ein Thermoband zu Ihrer Bestellung Gratis!</p>
                
                <a href="" class="btn btn-block btn-success">Jetzt zum schnäppchen</a>
                <br>                    
                <span class="usage">
                    Gültig nur am 2. Dezember 2015
                </span>
          </div>
          <div class="modal-footer text-center">
            <button type="button" class="btn btn-default 
            " data-dismiss="modal">Schließen</button>
          </div>
        </div>
      </div>
    </div>
</div>
<div id="door-23">
    <div class="modal fade" id="modalDoor-23" tabindex="-1" role="dialog" aria-labelledby="meinModalLabel">
        <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
          </div>
          <div class="modal-body text-center">
                <h1 class="headline">Geschenk</h1>
                <h2 class="whatitis"><i class="fa fa-gift"></i></h2>
                <p class="task">Ein Thermoband zu Ihrer Bestellung Gratis!</p>
                
                <a href="" class="btn btn-block btn-success">Jetzt zum schnäppchen</a>
                <br>                    
                <span class="usage">
                    Gültig nur am 2. Dezember 2015
                </span>
          </div>
          <div class="modal-footer text-center">
            <button type="button" class="btn btn-default 
            " data-dismiss="modal">Schließen</button>
          </div>
        </div>
      </div>
    </div>
</div>
<div id="door-24">
    <div class="modal fade" id="modalDoor-24" tabindex="-1" role="dialog" aria-labelledby="meinModalLabel">
        <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
          </div>
          <div class="modal-body text-center">
                <h1 class="headline">Geschenk</h1>
                <h2 class="whatitis"><i class="fa fa-gift"></i></h2>
                <p class="task">Ein Thermoband zu Ihrer Bestellung Gratis!</p>
                
                <a href="" class="btn btn-block btn-success">Jetzt zum schnäppchen</a>
                <br>                    
                <span class="usage">
                    Gültig nur am 2. Dezember 2015
                </span>
          </div>
          <div class="modal-footer text-center">
            <button type="button" class="btn btn-default 
            " data-dismiss="modal">Schließen</button>
          </div>
        </div>
      </div>
    </div>
</div>
