<!--
    preloader start
-->
<div class="panel panel-default" ng-hide="preloader">
    <div class="graphics-wrap-height">
        <div class="panel-body text-center">
            <img class="image-responsive-height demo-mw-50 page-loader" src="assets/img/progress/progress-circle-master.svg" alt="Progress"/>
        </div>
    </div>
</div>
<!-- preloader end -->
<div class="panel panel-default" ng-show="preloader">
    <div class="loader-OnUpload" pg-portlet on-refresh="refreshTest('.loader-OnUpload')">
        <div class="panel-body">
            <div class="col-sm-4 b-r-light">
                <div class="panel-heading padding-0">
                    <div class="panel-title">
                        <xe-translate text-value="Preview">
                        </xe-translate>
                    </div>
                </div>
                <div class="pull-left m-r-10">
                    <div class="gallery-upload-thumb" ng-show="isUploadDistressVisible">
                        <img class="img-responsive" ng-src="{{ uploadDistress.url }}"/>
                    </div>
                    <div class="gallery-upload-thumb" ng-show="isUploadFileCount">
                        <span ng-show="isUploadFileCount">
                            {{ uploadFileCount }}
                            <xe-translate text-value="files selected">
                            </xe-translate>
                        </span>
                    </div>
                    <button class="btn btn-success btn-sm m-t-10"  multiple accept=".png,.jpg" ng-file-select ng-file-change="browseDistress($files)">
                        <xe-translate text-value="Upload Distress">
                        </xe-translate>
                    </button>
                    <p class="small" ng-show="isError">
                        .png .jpg
                    </p>
                    <p class="small text-danger" ng-show="showError">
                        {{ showMsg }}
                    </p>
                </div>
            </div>
            <div class="col-sm-5">
                <div class="panel-heading p-l-20 p-r-20 p-t-0">
                    <div class="panel-title">
                        <xe-translate text-value="Properties">
                        </xe-translate>
                    </div>
                </div>
                <div class="form-group form-group-default required m-l-20" pg-form-group>
                    <label>
                        <xe-translate text-value="Name">
                        </xe-translate>
                    </label>
                    <input type="text" class="form-control" name="Name" ng-model="uploadDistress.name" required/>
                </div>
            </div>
        </div>
        <div class="panel-footer b-t-none clearfix">
            <div class="pull-right">
                <button class="btn btn-primary btn-sm" type="button" ng-click="uploadDistressToServer(uploadDistress.name)"  ng-class="{'disabled': !uploadDistress.name || !uploadBase64}" ng-disabled="demoStatus">
                    <xe-translate text-value="Save">
                    </xe-translate>
                </button>
                <button class="btn btn-primary btn-sm" type="button" ng-click="cancelUploadDistress()">
                    <xe-translate text-value="Cancel">
                    </xe-translate>
                </button>
            </div>
        </div>
    </div>
</div>
