<?php
/**
 * @author Amasty Team
 * @copyright Copyright (c) 2018 Amasty (https://www.amasty.com)
 * @package Amasty_Faq
 */
?>
<div class="amfaq-divider-bottom amfaq-divider-top"></div>
<div class="amfaq-buttons">
    <a href="<?php echo Mage::helper('amfaq')->getFaqUrl(); ?>" class="amfaq-button back"><i></i><?php echo $this->__('Back to All Topics'); ?></a>
    <?php if(Mage::getStoreConfig('amfaq/faq_page/ask_form')):?>
        <a href="#" class="amfaq-button ask"><i></i><?php echo $this->__('Ask a Question'); ?></a>
    <?php endif ?>
</div>
<?php if (Mage::getStoreConfig('amfaq/faq_page/ask_form')): ?>
    <div id="amfaq-ask-form-wrap" style="display: none;"?>
        <div class="amfaq-question-form">
            <form action="<?php echo Mage::helper('amfaq')->getFaqUrl(); ?>" id="amfaq-ask-form-inline" method="post">
                <ul class="form-list">
                    <li class="wide">
                        <label for="title" class="required"><?php echo $this->__('If you didn\'t find the answer on your question, please, ask here:'); ?></label>
                        <div class="input-box">
                            <textarea name="title" id="title" title="<?php echo $this->__('Question'); ?>" class="required-entry input-text" cols="5" rows="3" placeholder="<?php echo $this->__('Type your question here...'); ?>"></textarea>
                        </div>
                    </li>
                    <?php if (Mage::getStoreConfig('amfaq/gdpr/enabled')): ?>
                        <script type="text/javascript">
                            //<![CDATA[
                            if(!window.toogleVisibilityOnObjects) {
                                var toogleVisibilityOnObjects = function(source, objects) {
                                    if($(source) && $(source).checked) {
                                        objects.each(function(item){
                                            $(item).show();
                                            $$('#' + item + ' .input-text').each(function(item) {
                                                item.removeClassName('validation-passed');
                                            });
                                        });
                                    } else {
                                        objects.each(function(item){
                                            if ($(item)) {
                                                $(item).hide();
                                                $$('#' + item + ' .input-text').each(function(sitem) {
                                                    sitem.addClassName('validation-passed');
                                                });
                                                $$('#' + item + ' .giftmessage-area').each(function(sitem) {
                                                    sitem.value = '';
                                                });
                                                $$('#' + item + ' .checkbox').each(function(sitem) {
                                                    sitem.checked = false;
                                                });
                                                $$('#' + item + ' .select').each(function(sitem) {
                                                    sitem.value = '';
                                                });
                                                $$('#' + item + ' .price-box').each(function(sitem) {
                                                    sitem.addClassName('no-display');
                                                });
                                            }
                                        });
                                    }
                                }
                            }
                            //]]>
                        </script>
                        <li class="control">
                            <div class="input-box">
                                <input type="checkbox" name="amfaq-gdpr" title="<?php echo $this->__('GDPR'); ?>" value="1" id="amfaq-gdpr" class="checkbox" onclick="toogleVisibilityOnObjects(this, ['allow-amfaq-gdpr-container']);">
                            </div>
                            <label for="amfaq-gdpr"><?php echo $this->__(Mage::getStoreConfig('amfaq/gdpr/text')); ?></label>
                        </li>
                    <?php endif; ?>
                    <li class="fields" id="allow-amfaq-gdpr-container">
                        <div class="field">
                            <label for="amfaq-email" class="required"><?php echo $this->__('Your E-mail:'); ?></label>
                            <div class="input-box">
                                <input name="email" id="amfaq-email" title="<?php echo $this->__('Email'); ?>" value="<?php echo $this->getEmail(); ?>" class="input-text required-entry validate-email" type="text">
                            </div>
                        </div>
                        <div class="field">
                            <label for="amfaq-name" class="required"><?php echo $this->__('Your Name:'); ?></label>
                            <div class="input-box">
                                <input name="name" id="amfaq-name" title="<?php echo $this->__('Name'); ?>" value="<?php echo $this->getName(); ?>" class="input-text required-entry" type="text">
                            </div>
                        </div>
                    </li>
                    <input name="imarobot" type="text" style="display: none;" />
                </ul>
                <input type="submit" class="amfaq-button button" value="<?php echo $this->__('Send the Question'); ?>" />
            </form>
            <script type="text/javascript">
                //<![CDATA[
                var askForm = new VarienForm('amfaq-ask-form-inline', true);
                <?php if (Mage::getStoreConfig('amfaq/gdpr/enabled')): ?>
                    toogleVisibilityOnObjects('amfaq-gdpr', ['allow-amfaq-gdpr-container']);
                <?php endif; ?>
                //]]>
            </script>
        </div>
    </div>
<?php endif ?>