<?php
/**
 * @author Amasty Team
 * @copyright Copyright (c) 2018 Amasty (https://www.amasty.com)
 * @package Amasty_Faq
 */
?>
<?php
$questions = $this->getQuestions();
$_cmsHelper = Mage::helper('cms');
$_processor = $_cmsHelper->getBlockTemplateProcessor();
$helper =  Mage::helper('amfaq');
$product = Mage::registry('current_product');
?>


<div class="box-collateral box-amfaq" id="product-faq">
    <h2><?php echo $this->__('Product Questions')?></h2>
    <div class="std">
        <button type="button" title="<?php echo $this->__('Ask a Question') ?>" class="ask button"><span><span><?php echo $this->__('Ask a Question') ?></span></span></button>
<?php if (sizeof($questions) > 0): ?>
        <dl class="amfaq-questions amcollapse">
            <?php foreach ($questions as $question): ?>
                <dt class="title"><span><?php echo $question->title?></span></dt>
                <dd style="display:none;">
                    <div>
                        <?php echo $_processor->filter($question->answer)?>
                        <?php if (sizeof($files = $question->getFiles()) > 0):?>
                            <div class="attachments">
                                <?php echo $this->__('Attachments:') ?>
                                <?php foreach ($files as $file): ?>
                                    <a href="<?php echo $helper->getDownloadUrl($file->getID())?>"><?php echo $file->getName() ?></a>
                                <?php endforeach ?>
                            </div>
                        <?php endif?>
                        <?php
                        if(Mage::getStoreConfig('amfaq/rating/enabled'))
                            echo Mage::getBlockSingleton('amfaq/rating')->setQuestion($question)->toHtml();
                        ?>
                    </div>
                </dd>
            <?php endforeach; ?>
        </dl>
<?php else: ?>
    <div class="amfaq-no-questions">
        <strong><?php echo $this->__('No Questions'); ?></strong>
    </div>
<?php endif; ?>
    </div>
</div>