<div class="login-wrapper" style="background:#3e4155;">
    <!-- START Login Background Pic Wrapper-->
    <div class="bg-pic">
        <!-- START Background Pic-->
        <img alt="" src="assets/img/login-bg.png">
            <!-- END Background Pic-->
            <!-- START Background Caption-->
            <div class="bg-caption pull-bottom sm-pull-bottom text-white p-l-20 m-b-20">
                <img alt="" src="assets/img/inkxe-logo.png" width="180"/>
                <h2 class="semi-bold text-white">
                    <xe-translate text-value="inkXE Product Design Tool Admin">
                    </xe-translate>
                </h2>
                <p>
                    <span class="hint-text">
                        Copyright © {{year}}
                    </span>
                    <span class="font-montserrat">
                        inkXE
                    </span>
                    .
                    <span class="hint-text">
                        All rights reserved.
                    </span>
                    <span class="sm-block">
                        <a class="m-l-10 m-r-10" href="https://support.inkxe.com/portal/kb" target="_blank">
                            Knowledge Base
                        </a>
                    </span>
                </p>
            </div>
            <!-- END Background Caption-->
        </img>
    </div>
    <!-- END Login Background Pic Wrapper-->
    <!-- START Login Right Container-->
    <div class="login-container bg-white">
        <div class="p-l-50 m-l-20 p-r-50 m-r-20 p-t-50 m-t-30 sm-p-l-15 sm-p-r-15 sm-p-t-40">
            <p class="p-t-35">
                <xe-translate text-value="Provide secret answer">
                </xe-translate>
            </p>
            <!-- START Login Form -->
            <form class="p-t-15" id="form-login" role="form">
                <!-- <div class="text-danger text-center error-msg">
          {{authError}}
        </div> -->
                <!-- START Form Control-->
                <div class="form-group form-group-default">
                    <label>
                        <xe-translate text-value="User Name">
                        </xe-translate>
                    </label>
                    <div class="controls">
                        <!-- <input type="text" placeholder="Email" ng-model="userEmail.email" class="form-control no-border" disabled> -->
                        <label>
                            {{userEmail.email}}
                        </label>
                    </div>
                </div>
                <div class="form-group form-group-default">
                    <label>
                        <xe-translate text-value="Secret Question">
                        </xe-translate>
                    </label>
                    <div class="controls">
                        <!-- <input type="text" placeholder="Secret Question" ng-model="userEmail.secretQuestion" class="form-control no-border" disabled> -->
                        <label>
                            {{userEmail.secretQuestion}}
                        </label>
                    </div>
                </div>
                <div class="form-group form-group-default">
                    <label>
                        <xe-translate text-value="Secret Answer">
                        </xe-translate>
                    </label>
                    <div class="controls">
                        <input class="form-control no-border" ng-model="userEmail.secretAnswer" placeholder="Secret answer" type="password">
                        </input>
                    </div>
                </div>
                <div class="error-msg" ng-class="cssClass">
                    {{authError}}
                </div>
                <!-- END Form Control-->
                <button class="btn btn-primary btn-cons m-t-10" ng-class="{'disabled': !userEmail.secretQuestion || !userEmail.secretAnswer}" ng-click="checkSecretQuestion()">
                    <xe-translate text-value="Submit">
                    </xe-translate>
                </button>
                <button class="btn btn-primary btn-cons m-t-10" ng-click="cancelForgotPassword()" type="button">
                    <span>
                        <xe-translate text-value="Cancel">
                        </xe-translate>
                    </span>
                </button>
            </form>
            <!--END Login Form-->
        </div>
    </div>
    <!-- END Login Right Container-->
</div>