<!-- START COPYRIGHT -->
<!-- START CONTAINER FLUID -->
<div class="container-fluid container-fixed-lg footer">
    <div class="copyright sm-text-center">
        <p class="small no-margin pull-left sm-pull-reset">
            <span class="hint-text">
                Copyright © 2015
            </span>
            <span class="font-montserrat">
                inkXE
            </span>
            .
            <span class="hint-text">
                All rights reserved.
            </span>
            <span class="sm-block">
                <a class="m-l-10 m-r-10" href="https://support.inkxe.com/portal/kb" target="_blank">
                    Knowledgebase
                </a>
            </span>
        </p>
        <div class="clearfix">
        </div>
    </div>
</div>
<!-- END COPYRIGHT -->
