<?php
    $baseUrl = Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_WEB);
if(Mage::getSingleton('checkout/session')) {
	$sesId=Mage::getSingleton("core/session")->getEncryptedSessionId();
	echo "<input type='hidden' name='my-designer-ses-id' id='my-designer-ses-id' value='".$sesId."'/> ";  

 } 
 ?>
 <style type="text/css">
#iframeloading{
width: 1030px;
    height: 770px;
    vertical-align: middle;
    line-height: 770px;
    text-align: center;
    position: absolute;
    top: 55px;
	display:none;
    background: rgba(0,0,0,0.2) url(<?php echo $baseUrl; ?>xetool/admin/assets/img/demo/progress.svg) center center no-repeat;
}
</style>
 <script type="text/javascript">
jQuery(document).ready(function() {
  //jQuery('#iframeloading').show();
     jQuery('#tshirtIFrame').load(function () {
     jQuery('#iframeloading').hide();
   });
});
</script>
 <div id="iframeloading" class="loading">&nbsp;</div>