<div class="container-fluid" ng-controller="DesignController">
    <div class="row" ng-init="init()">
        <div class="col-sm-12">
            <div class="panel panel-transparent">
                <div class="panel-body padding-0">
                    <div class="pull-left">
                        <button type="button" class="btn btn-info btn-sm btn-cons" ng-click="addNewClipArt()" ng-show="addImport">
                            <span>
                                <xe-translate text-value="Add New Clipart">
                                </xe-translate>
                            </span>
                        </button>
                    </div>
                    <div class="pull-left">
                        <button type="button" class="btn btn-info btn-sm btn-cons" ng-click="showZipUpload()"  multiple="" ng-file-select="" ng-file-change="uploadImportClipart($files)" name="design_Files[]" id="designFiles" __refelem__="true" style="overflow: hidden;" ng-disabled="isUploadingToServer">
                            <xe-translate text-value="Import Clipart">
                            </xe-translate>
                        </button>
                        <i class="fa fa-info-circle info-module-icon m-t-0 m-r-5" ng-click="showDesignFaq(1)">
                        </i>
                        <p class="small" ng-show="uploadZip">
                            <xe-translate text-value="Upload Zip File Only">
                            </xe-translate>
                        </p>
                       
                    </div>
                    <div class="pull-left" ng-hide="isZipUploadedToServer">
                        <button type="button" class="btn btn-success btn-sm btn-cons m-t-10" ng-click="uploadZipFile()"  ng-if="isZipFile" style="margin-top: 1px!important;" ng-disabled="isUploadingToServer">
                            <xe-translate text-value="Upload">
                            </xe-translate>
                        </button>
                        <div class="clearfix">
                            <span class="text-success m-t-5" ng-if = "isZipFile">{{importZipFileName}}</span>
                            <span class="text-danger m-t-5" ng-show="errMsgMaxmSize">{{errMsgMaxmSize}}</span>
                        </div>
                    </div>
                    <div class="pull-left" ng-hide="isZipUploadedToServer" ng-if="isCancel" >
                        <a ng-click="cancelUploading()" ng-if="isZipFile" style="margin-top: 3px!important;">
                            <u class="no-margin cursor-pointer ng-binding">
                               <span class="ng-binding text-danger m-t-5 m-l-5 block">
                                  <xe-translate text-value="Cancel">
                                  </xe-translate>
                               </span>   
                            </u>   
                        </a>
                    </div>
                    <div class="pull-right text-right">
                        <button type="button" class="btn btn-info btn-sm btn-cons" ng-click="editDesignCategory()">
                            <span>
                                <xe-translate text-value="Manage Categories">
                                </xe-translate>
                            </span>
                        </button>
                        <i class="fa fa-info-circle info-module-icon m-t-0 m-r-5" ng-click="showDesignFaq(2)">
                        </i>
                         <div class="clearfix m-t-5">
                            <span>Set default category :</span> <a ng-click="openDefaultCategorySubcategoryModal()"><u class="no-margin cursor-pointer">{{ selectedDefaultCat }} <span ng-if="showSubCatLabel"> > {{ selectedDefaultSubCat }}</span></u></a>
                        </div>
                    </div>
                   
                     <div class="clearfix">
                        <p class="small text-danger ng-binding" ng-hide="errorMessage !=''">{{errorMessage}}</p>
                        <p class="small text-danger ng-binding">{{maxFileUpload}}</p>
                        <p class="small text-danger ng-binding" ng-show="show_Error" >
                            <xe-translate text-value="Invalid File Format">
                            </xe-translate>
                        </p>
                    </div>
                </div>
            </div>
            <ng-include src="'modules/design/views/partials/designEditView.html'" ng-show="isEditViewActive">
            </ng-include>
            <ng-include src="'modules/design/views/partials/designUploadView.html'"  ng-show="isUploadViewActive">
            </ng-include>
            <div class="panel panel-default" ng-show="isPanelBody">
                <div class="panel-heading separator">
                    <div class="w-full">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="m-r-10 m-t-n-5 pull-left">
                                    <div class="checkbox check-success ">
                                        <input type="checkbox" value="selectAll" id="selectAll" ng-model="allChecked" ng-change="selectAllChecked(allChecked)"/>
                                        <label for="selectAll">
                                            <xe-translate text-value="Select All">
                                            </xe-translate>
                                        </label>
                                    </div>
                                </div>
                                <div class="m-r-10 pull-left">
                                    <button type="button" class="btn btn-default btn-sm btn-cons" ng-click="editSelectedDesign()"  ng-class="{'disabled': fileCount < 1}">
                                        <span>
                                            <xe-translate text-value="Edit Selected">
                                            </xe-translate>
                                        </span>
                                    </button>
                                </div>
                                <div class="m-r-10 pull-left">
                                    <button type="button" class="btn btn-default btn-sm btn-cons"  ng-click="deleteSelectedDesign()" id="design_delete_modal" ng-model="modal.slideUp" ng-class="{'disabled': fileCount < 1}" ng-disabled="demoStatus">
                                        <span>
                                            <xe-translate text-value="Delete Selected">
                                            </xe-translate>
                                        </span>
                                    </button>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="pull-right">
                                    <div class="btn-group pull-left m-r-20">
                                        <button type="button" class="btn btn-default text-ellipsis"  data-toggle="dropdown" style="width:137px">
                                            {{ selectedCategory }}
                                        </button>
                                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <span class="caret">
                                            </span>
                                            <span class="sr-only">
                                                Toggle Dropdown
                                            </span>
                                        </button>
                                        <ul class="dropdown-menu" role="menu" ng-class="{'button-scroll':designCategoryList.length> 4}" style="width:163px">
                                            <li ng-click="categorySelected('')">
                                                <a href="">
                                                    <xe-translate text-value="All Categories">
                                                    </xe-translate>
                                                </a>
                                            </li>
                                            <li ng-repeat="category in designCategoryList"  ng-click="categorySelected(category)">
                                                <a href="">
                                                    {{ category.category_name }}
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="btn-group pull-left m-r-20">
                                        <button type="button" class="btn btn-default text-ellipsis"  data-toggle="dropdown" style="width:137px"  ng-class="{'disabled': selectedCategory == 'All Categories' || designSubCategoryList.length == 0}">
                                            {{ selectedSubCategory }}
                                        </button>
                                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" ng-class="{'disabled': selectedCategory == 'All Categories' || designSubCategoryList.length == 0}">
                                            <span class="caret">
                                            </span>
                                            <span class="sr-only">
                                                Toggle Dropdown
                                            </span>
                                        </button>
                                        <ul class="dropdown-menu" role="menu" ng-class="{'button-scroll':designSubCategoryList.length> 4}" style="width:163px">
                                            <li ng-repeat="subCategory in designSubCategoryList"  ng-click="subCategorySelected(subCategory)">
                                                <a href="">
                                                    {{ subCategory.sub_category }}
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel-body m-t-20">
                    <!--preloader-->
                    <div class="row">
                        <div class="col-lg-12 bg-white" ng-hide="dataLoaded">
                            <div class="product-wrap-height">
                                <div class="panel-body text-center">
                                    <img class="image-responsive-height demo-mw-50 page-loader" src="assets/img/demo/progress.svg" alt="Progress"/>
                                    <span class="loader-label">
                                        <xe-translate text-value="Loading Designs">
                                        </xe-translate>
                                        ...
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div ng-hide="dataList" class="design-admin-box-wrap">
                        <div class="design-box pos-rlt" ng-repeat="design in designList">
                            <!-- <div class="padding-10">
                                <img class="img-thumb" ng-src="{{design.url}}" width="100" height="100">
                            </div>  -->
                            <label class="no-margin cursor-pointer" for="{{ design.id }}">
                                <div id="divsvg_{{ $index }}" class="design_zoom_list">
                                    <img src="assets/img/demo/progress.svg" width="30" height="30" style="height:80px; vertical-align:middle;"/>
                                </div>
                            </label>
                            <div class="checkbox check-success template-check">
                                <input type="checkbox" value="{{ design.id }}" id="{{ design.id }}"  ng-model="designCheck[$index]"  ng-change="designSelected(designCheck[$index])"/>
                                <label for="{{ design.id }}">
                                </label>
                            </div>
                        </div>
                        <span ng-show="noData">
                            <p class="font-normal text-lg text-center m-t-150">
                                <xe-translate text-value="No Design found">
                                </xe-translate>
                            </p>
                        </span>
                    </div>
                </div>
                <div class="panel-footer text-center b-t-none" ng-show="isLoadMore">
                    <button type="button" class="btn btn-success btn-sm btn-cons" ng-click="loadMore()" ng-disabled="isLoadMorePreloader">
                        <xe-translate text-value="Load More">
                        </xe-translate>
                    </button>
                    <img class="image-responsive-height demo-mw-30 " src="assets/img/progress/progress-circle-master.svg" alt="Progress" ng-show="isLoadMorePreloader"/>
                </div>
            </div>
            <!--upload button preloader-->
            <div class="row">
                <div class="col-lg-12 bg-white" ng-show="isUploaded">
                    <div class="product-wrap-height">
                        <div class="panel-body text-center">
                            <img class="image-responsive-height demo-mw-50 page-loader" src="assets/img/demo/progress.svg" alt="Progress"/>
                            <span class="loader-label">
                                <xe-translate text-value="Graphics Import">
                                </xe-translate>
                                ...
                            </span>
                        </div>
                    </div>
                </div>    
            </div>
        </div>
    </div>
    <ng-include src="'modules/design/views/partials/designCategoryModal.html'">
    </ng-include>
    <ng-include src="'modules/design/views/partials/deleteDesignCategory.html'">
    </ng-include>    
</div>
<ng-include src="'modules/design/doc/designFaq1.html'">
</ng-include>
<ng-include src="'modules/design/doc/designFaq2.html'">
</ng-include>
