/*
Custom CSS for Boutique Landing Page
*/
.panel {
    -webkit-box-shadow: 0 0 4px 0 hsla(0, 0%, 0%, 0.2);
    box-shadow: 0 0 4px 0 hsla(0, 0%, 0%, 0.2);
}

.sidebar .block-content {
    padding-left: 0;
    border: none;
}

.owl-carousel .owl-wrapper-outer {
    padding-top: 10px;
}

.header-right {
    margin-bottom: 95px;
}

#topbar-costumer-actions {
    background: url('/media/images/Boutique-verlauf.png') no-repeat center;
    background-size: 200px;
}

.hf-brand {
    margin-top: 90px;
}

.hf-brand-fixed {
    margin-top: 0;
}
/* Category images in Boutique */
.image-gallery-big {
    padding: 0;
}

.image-gallery-small-top {
    padding: 0 0 5px;
}

.image-gallery-small-bottom {
    padding: 5px 0 0;
}
@media only screen and (max-width: 991px) {
    #topbar-costumer-actions {
        background-size: 150px;
    }

    .header-right {
        margin-bottom: 45px;
    }

    .hf-brand {
        margin-top: 0;
        top: 0;
    }
}