/* customize for body */
body {
    line-height: 18px;
    color: hsl(0, 0%, 10%);
    font-size: 14px;
    background: hsl(0, 0%, 100%);
    text-align: left;
    font-family: 'Nunito', 'HelveticaNeue-Light', 'Helvetica Neue Light',
        'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Nunito', 'HelveticaNeue-Light', 'Helvetica Neue Light',
        'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;
}

h2 {
    font-size: 2rem;
}

h2.w_heading {
    margin: 10px 10px 20px;
    font-size: 2.5rem;
}

h1.logo {
    margin: 0;
}

p {
    line-height: 1.6;
    font-size: 1.4rem;
}

a {
    color: hsl(150, 22%, 42%);
    font-weight: 600;
}

input {
    border: 1px solid hsl(0, 0%, 90%);
}

label {
    color: hsl(0, 0%, 10%);
}

figure {
    overflow: hidden;
}

a figure img {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
}

a figure:hover img {
    -webkit-transform: scale(1.08);
    transform: scale(1.08);
}
/* customize for topbar */
#topbar {
    background-color: transparent;
    border: none;
}
/* customize for footer */
#footer {
    background-color: transparent;
}
/* customize for powered */
/* customize for product */
/* customize for modules */
.sidebar .block-title {
    background-color: #fff;
    border: none;
    padding-top: 5px;
    padding-left: 0;
}

.sidebar .block-title strong span {
    color: hsl(0, 0%, 10%);
}

.sidebar .block-content {
    background-color: #fff;
    border: 1px solid #ccc;
    padding-left: 0;
    border: none;
}

.sidebar .block {
    border: #cec3b1;
}

ul#wp-category-list {
    padding-left: 9px;
}

ul#wp-archive-list {
    padding-left: 9px;
}

ul#wp-recent-comments-list {
    padding-left: 9px;
}

img.size-full,
img.size-large {
    max-width: 100%;
}
/*Basti*/
.no-padding-lg {
    padding: 0;
}

.row-level-2 .block-content {
    padding: 0 0 34px;
}

.product-view .product-img-box .product-image-zoom {
    border: none;
    border-bottom: 1px solid hsl(150, 22%, 82%);
    -webkit-box-shadow: none;
    box-shadow: none;
    max-width: 100%;
}

.col-center {
    float: none;
    margin: 0 auto;
}

.img-center {
    float: none;
    margin: 0 auto;
}

.no-style {
    -webkit-box-shadow: none;
    box-shadow: none;
    border: none;
}

.offcanvas-effect-3.offcanvas-menu-open .offcanvas-effect-3.offcanvas-menu {
    max-height: 100%;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
}

.offcanvas-effect-3.offcanvas-menu-open .offcanvas-pusher {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    overflow: hidden;
}

#menu-offcanvas .close-mobile-nav.close-block .button-close-menu {
    color: hsl(0, 0%, 10%);
    margin-top: -40px;
}

.button-close-menu {
    color: hsl(0, 0%, 10%);
    height: 47px;
    background: #ccc;
    padding: 14px;
}

.products-list .availability {
    float: left;
    padding: 15px;
    width: 50%;
    text-align: center;
}
/*Back to Top*/
#back-to-top {
    background: #009ba4 none repeat scroll 0 0;
    border: 0 none;
    border-radius: 2px;
    color: #fff;
    cursor: pointer;
    height: 32px;
    line-height: 30px;
    opacity: 0;
    position: fixed;
    right: 0;
    text-align: center;
    text-decoration: none;
    -webkit-transition: opacity 0.2s ease-out 0s;
    transition: opacity 0.2s ease-out 0s;
    width: 32px;
    z-index: 300;
    top: 150px;
    left: 0;
    margin: 0 auto;
}

#back-to-top:hover {
    background: hsl(150, 22%, 82%);
}

#back-to-top.show {
    opacity: 1;
}
/*Navbar-Toggle*/
.navbar-toggle {
    background: #05949f;
    border: 2px solid #fff;
    margin: 8px 10px 0 0 !important;
    padding: 11px 13px;
}

.navbar-toggle .icon-bar {
    color: #fff;
}

.menu-shopingbag li {
    padding: 5px;
}

.menu-shopingbag li:hover {
    background-color: #f9f9f9;
}

.shopingbag-item {
    margin: 15px !important;
}

ul.dropdown-menu.menu-shopingbag {
    width: 400px;
}

#navbar-top-info {
    color: hsl(0, 0%, 10%);
    padding: 15px;
    -webkit-box-shadow: none;
    box-shadow: none;
    background: transparent;
    z-index: 0;
    position: inherit;
}

.navbar-newcostumer-info {
    display: none;
    position: absolute;
    width: 100%;
}

.navbar-newcostumer-info .panel {
    -webkit-box-shadow: 0 0 4px 0 hsla(0, 0%, 0%, 0.2);
    box-shadow: 0 0 4px 0 hsla(0, 0%, 0%, 0.2);
}

.navbar-top-info:hover .navbar-newcostumer-info {
    display: block;
    z-index: 9999;
}

.title-white {
    color: #fff;
}

.title-black {
    color: hsl(0, 0%, 60%);
    border-bottom: none;
    padding-left: 15px;
    padding-right: 15px;
    font-weight: 400;
}

.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:focus,
.navbar-inverse .navbar-nav > .active > a:hover {
    background: none;
}
/*Panels*/
/*
.panel{
	box-shadow:none !important;
} */
.panel-heading {
    padding: 10px 7px;
}

.panel-top-bar .panel-heading {
    border-bottom: 1px solid hsl(150, 22%, 82%);
    color: hsl(0, 0%, 10%);
    background: hsl(0, 0%, 100%);
    font-weight: 300;
}

.panel-top-bar .panel-body {
    background: transparent;
    color: hsl(0, 0%, 10%);
}
/*Buttons*/
.btn-success {
    background: hsl(150, 22%, 82%);
    border: 1px solid hsl(150, 22%, 42%);
    color: hsl(0, 0%, 10%);
    border-radius: 15px;
}

.btn-success:active,
.btn-success:focus,
.btn-success:hover {
    background: hsl(150, 22%, 82%);
    border: 1px solid hsl(150, 22%, 42%);
    color: hsl(0, 0%, 10%);
}

.btn-beige {
    background: #cec3b1;
    color: #fff;
    border: 2px solid #fff;
}

.btn-beige:hover {
    background: #bfb5a5;
    color: #fff;
}

.block-cart .actions .view-cart,
.block-cart .actions button.button {
    font-style: inherit;
    background: hsl(150, 22%, 82%);
    border: 1px solid hsl(150, 22%, 42%);
    color: hsl(0, 0%, 10%) !important;
    border-radius: 15px;
}

.block-cart .actions .view-cart:hover,
.block-cart .actions button.button {
    background: hsl(150, 22%, 82%);
    border: 1px solid hsl(150, 22%, 42%);
    color: hsl(0, 0%, 10%);
    border-radius: 15px;
}

.product-view .add-to-box .add-cart button.btn-cart,
.product-view .add-to-cart .add-cart button.btn-cart {
    background: hsl(150, 22%, 82%);
    border: 1px solid hsl(150, 22%, 42%);
    color: hsl(0, 0%, 10%);
    border-radius: 15px;
}

.product-view .add-to-box .add-cart button.btn-cart,
.product-view .add-to-cart .add-cart button.btn-cart:hover {
    background: hsl(150, 22%, 82%);
    border: 1px solid hsl(150, 22%, 42%);
    color: hsl(0, 0%, 10%);
}

.button:hover {
    color: hsl(0, 0%, 10%) !important;
    background-color: hsl(150, 22%, 62%);
    border: 1px solid hsl(150, 22%, 42%);
}

.button,
input.button {
    background: hsl(150, 22%, 82%);
    border: 1px solid hsl(150, 22%, 42%);
    color: hsl(0, 0%, 10%);
    border-radius: 15px;
}

.button,
input.button:hover {
    color: hsl(0, 0%, 10%) !important;
    border: 1px solid hsl(150, 22%, 42%);
    border-radius: 15px;
}

a.button {
    border-radius: 15px;
    font-weight: 400;
}

.image .actions button {
    border-radius: 0;
}

.btn-cart {
    background: hsl(150, 22%, 82%);
    border: 1px solid hsl(150, 22%, 42%);
    color: hsl(0, 0%, 10%);
    -webkit-box-shadow: none;
    box-shadow: none;
}

.btn-cart:hover {
    color: hsl(0, 0%, 10%) !important;
    border: 1px solid hsl(150, 22%, 42%);
    background-color: hsl(150, 22%, 62%);
    -webkit-box-shadow: none;
    box-shadow: none;
}

.btn-cart:focus {
    background: hsl(150, 22%, 62%);
    border: 1px solid hsl(150, 22%, 42%);
    color: hsl(0, 0%, 10%);
}
/*Buttons Ende*/
/*Page Wrapper*/
/*Page Wrapper Ende*/
/*Topbar (Mein Benutzerkonto, Mein Wunschzettel etc.)*/
#hf-navbar-fixed-top {
    position: static;
    left: 0;
    right: 0;
    z-index: 100;
}

#topbar .links li {
    list-style-type: none;
}

.hf-brand img {
    -webkit-box-shadow: none;
    box-shadow: none;
}

.hf-brand {
    position: absolute;
    top: 55px;
    margin-left: 40px;
    z-index: 2500;
}

.hf-topbar-links {
    margin-left: 150px;
}

#ves-mainnav .navbar-inverse {
    border: none;
}

#topbar .links li {
    margin: 0 10px 0 7px;
}
/*Topbar Ende*/
/*Neue Artikel*/
.products-grid li.item {
    width: 175px !important;
    list-style: none;
    margin: 5px !important;
}

.products-grid .price-box {
    text-align: center;
}

p.old-price {
    margin: 0 !important;
}

.products-grid .actions {
    margin-top: 15px;
}

.box-up-sell .availability,
.products-grid .availability {
    float: left;
    width: 50%;
    text-align: center;
    padding: 17px 0;
}

.widget .widget-title h2 {
    font-size: 21px;
    line-height: 32px;
    color: hsl(0, 0%, 10%);
    text-align: left;
    font-family: 'Nunito', 'HelveticaNeue-Light', 'Helvetica Neue Light',
        'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;
    margin: 10px;
    font-weight: 400;
}

h3.product-name {
    margin: 0 !important;
    font-size: 13px !important;
}

p.special-price {
    margin: 0;
}

.lp-product-details {
    min-height: 135px;
}

.lp-sell-button {
    margin-bottom: 5px;
}

ul.lp-wish-you-been-my {
    padding: 0;
}

.lp-wish-you-been-my li {
    list-style: none;
}

.lp-price-box .price-box {
    width: auto !important;
}
/*Neue Artikel Ende*/
/*Carousel Landingpage*/
.carousel-inner {
    padding-bottom: 15px;
    width: 100%;
}

.carousel-inner .carousel-caption h3 {
    font-size: 25px;
    font-weight: bold;
}

.carousel-inner .carousel-caption p {
    font-size: 18px;
}

.std em,
.std i {
    font-style: normal !important;
}
/*Carousel Landingpage Ende*/
/*Related Products - Schau mal das passt dazu*/
.related-price-box {
    display: block;
}

.carousel-control.left {
    background: transparent;
    -webkit-box-shadow: 0 0 4px 0 hsla(0, 0%, 0%, 0.2);
    box-shadow: 0 0 4px 0 hsla(0, 0%, 0%, 0.2);
    color: hsl(0, 0%, 10%);
    opacity: 1;
}

.carousel-control.right {
    background: transparent;
    -webkit-box-shadow: 0 0 4px 0 hsla(0, 0%, 0%, 0.2);
    box-shadow: 0 0 4px 0 hsla(0, 0%, 0%, 0.2);
    color: hsl(0, 0%, 10%);
    opacity: 1;
}
/* Large Devices, Wide Screens */
@media only screen and (max-width: 1200px) {
    a.top-link-blog {
        display: none;
    }

    a.top-link-cart {
        display: none;
    }

    #ves-mainnav .navbar-nav {
        margin-left: 60px;
    }

    section#columns {
        margin-top: 175px;
    }

    .carousel-inner {
        width: 100%;
    }

    .lp-slide-left {
        position: absolute;
        top: 50%;
        border: 1px solid;
        color: #fff;
        display: block;
        z-index: 80;
        font-size: 12px;
        font-style: normal !important;
        opacity: 1;
        background: rgba(0, 0, 0, 0.5);
        left: 15px;
    }

    .lp-slide-right {
        position: absolute;
        top: 50%;
        border: 1px solid;
        color: #fff;
        display: block;
        z-index: 80;
        font-size: 12px;
        font-style: normal !important;
        opacity: 1;
        background: rgba(0, 0, 0, 0.5);
        right: 15px !important;
    }

    .lp-slide-left:hover {
        position: absolute;
        top: 50%;
        border: 1px solid;
        color: #fff;
        display: block;
        z-index: 80;
        opacity: 1;
        background: rgba(0, 0, 0, 0.5);
        left: 15px;
    }

    .lp-slide-right:hover {
        position: absolute;
        top: 50%;
        border: 1px solid;
        color: #fff;
        display: block;
        z-index: 80;
        opacity: 1;
        background: rgba(0, 0, 0, 0.5);
        right: 15px !important;
    }

    .lp-slide-left:focus {
        position: absolute;
        top: 50%;
        border: 1px solid;
        color: #fff;
        display: block;
        z-index: 80;
        opacity: 1;
        background: rgba(0, 0, 0, 0.5);
        left: 15px;
    }

    .lp-slide-right:focus {
        position: absolute;
        top: 50%;
        border: 1px solid;
        color: #fff;
        display: block;
        z-index: 80;
        opacity: 1;
        background: rgba(0, 0, 0, 0.5);
        right: 15px !important;
    }

    .std em,
    .std i {
        font-style: normal !important;
    }
}
/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {
    #hf-navbar-fixed-top {
        -webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
        box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
        position: relative;
        z-index: 100;
    }

    .carousel-inner {
        width: 100%;
    }

    .lp-slide-left {
        position: absolute;
        top: 50%;
        border: 1px solid;
        color: #fff;
        display: block;
        z-index: 80;
        font-size: 12px;
        font-style: normal !important;
        opacity: 1;
        background: rgba(0, 0, 0, 0.5);
        left: 15px;
    }

    .lp-slide-right {
        position: absolute;
        top: 50%;
        border: 1px solid;
        color: #fff;
        display: block;
        z-index: 80;
        font-size: 12px;
        font-style: normal !important;
        opacity: 1;
        background: rgba(0, 0, 0, 0.5);
        right: 15px !important;
    }

    .lp-slide-left:hover {
        position: absolute;
        top: 50%;
        border: 1px solid;
        color: #fff;
        display: block;
        z-index: 80;
        opacity: 1;
        background: rgba(0, 0, 0, 0.5);
        left: 15px;
    }

    .lp-slide-right:hover {
        position: absolute;
        top: 50%;
        border: 1px solid;
        color: #fff;
        display: block;
        z-index: 80;
        opacity: 1;
        background: rgba(0, 0, 0, 0.5);
        right: 15px !important;
    }

    .lp-slide-left:focus {
        position: absolute;
        top: 50%;
        border: 1px solid;
        color: #fff;
        display: block;
        z-index: 80;
        opacity: 1;
        background: rgba(0, 0, 0, 0.5);
        left: 15px;
    }

    .lp-slide-right:focus {
        position: absolute;
        top: 50%;
        border: 1px solid;
        color: #fff;
        display: block;
        z-index: 80;
        opacity: 1;
        background: rgba(0, 0, 0, 0.5);
        right: 15px !important;
    }

    .std em,
    .std i {
        font-style: normal !important;
    }

    #lp-angebot-slider .owl-item {
        width: 325px;
    }

    #lp-angebot-slider .owl-item {
        width: 348px;
    }
}
/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
    .topLinks.top-nav-links.pull-left {
        margin-left: 0;
    }

    .table-responsive {
        border: none;
    }

    .carousel-inner {
        width: 100%;
    }

    .lp-slide-left {
        position: absolute;
        top: 50%;
        border: 1px solid;
        color: #fff;
        display: block;
        z-index: 80;
        font-size: 12px;
        font-style: normal !important;
        opacity: 1;
        background: rgba(0, 0, 0, 0.5);
        left: 15px;
    }

    .lp-slide-right {
        position: absolute;
        top: 50%;
        border: 1px solid;
        color: #fff;
        display: block;
        z-index: 80;
        font-size: 12px;
        font-style: normal !important;
        opacity: 1;
        background: rgba(0, 0, 0, 0.5);
        right: 15px !important;
    }

    .lp-slide-left:hover {
        position: absolute;
        top: 50%;
        border: 1px solid;
        color: #fff;
        display: block;
        z-index: 80;
        opacity: 1;
        background: rgba(0, 0, 0, 0.5);
        left: 15px;
    }

    .lp-slide-right:hover {
        position: absolute;
        top: 50%;
        border: 1px solid;
        color: #fff;
        display: block;
        z-index: 80;
        opacity: 1;
        background: rgba(0, 0, 0, 0.5);
        right: 15px !important;
    }

    .lp-slide-left:focus {
        position: absolute;
        top: 50%;
        border: 1px solid;
        color: #fff;
        display: block;
        z-index: 80;
        opacity: 1;
        background: rgba(0, 0, 0, 0.5);
        left: 15px;
    }

    .lp-slide-right:focus {
        position: absolute;
        top: 50%;
        border: 1px solid;
        color: #fff;
        display: block;
        z-index: 80;
        opacity: 1;
        background: rgba(0, 0, 0, 0.5);
        right: 15px !important;
    }

    .std em,
    .std i {
        font-style: normal !important;
    }

    section#columns {
        margin-top: 50px;
    }

    #blog-btn-intro {
        margin: 0 auto;
        position: relative;
        width: auto !important;
        display: block;
    }

    #lp-angebot-slider .owl-item {
        width: 340px;
    }
}
/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {
    /*BTN Nostyle*/
    .btn-nostyle {
        font-size: 14px;
    }

    .hf-brand {
        margin-left: 25px;
    }

    .plotterfolien-nav {
        width: 100%;
    }

    ul.newsletterbox-links {
        list-style: none;
        margin: 0 auto;
        left: 0;
        right: 0;
        display: inline-block;
    }

    ul.newsletterbox-links li {
        float: none !important;
    }

    #newsletter-singup {
        height: 390px !important;
    }

    .widget-new-products .panel.panel-default .panel-footer {
        min-height: 340px;
    }

    #lp-angebot-slider .owl-item {
        width: 348px;
    }
}
/* Custom, iPhone Retina */
@media only screen and (max-width: 320px) {
    .carousel-inner .carousel-caption h3 {
        font-size: 20px;
        font-weight: bold;
    }

    .carousel-inner .carousel-caption p {
        font-size: 15px;
    }

    .hf-brand {
        margin-left: 25px;
    }

    .text-for-small {
        font-size: 12px !important;
    }

    .compare-top-mobile {
        right: 37% !important;
    }
}
/*
Big Category Images
section#header-big-image {
    position: relative;
    top: 85px;
}

div#page-wrapper {
    margin-top: -234px;
}

*/
.product-img-box .image .onsale {
    right: 20px;
    top: 50px;
}
/*Blog*/
#blog-btn-intro {
    margin: 0 auto;
    position: relative;
    width: 480px;
    display: block;
}

.btn-blog {
    height: 40px;
    background: #cebca5;
    -webkit-box-shadow: 0 4px 0 #7e6b5d;
    box-shadow: 0 4px 0 #7e6b5d;
    margin-bottom: 10px;
    font-size: 15px;
}

a.btn-blog {
    color: #fff;
}

.btn-blog:hover {
    height: 40px;
    background: #7e6b5d;
    -webkit-box-shadow: 0 4px 0 #cebca5;
    box-shadow: 0 4px 0 #cebca5;
}

.blog-btn-group .btn-blog {
    height: 40px;
    background: #cebca5;
    -webkit-box-shadow: 0 4px 0 #7e6b5d;
    box-shadow: 0 4px 0 #7e6b5d;
    margin-bottom: 10px;
    font-size: 15px;
}

.blog-btn-group .btn-blog:hover {
    height: 40px;
    background: #7e6b5d;
    -webkit-box-shadow: 0 4px 0 #cebca5;
    box-shadow: 0 4px 0 #cebca5;
}

.blog-btn-group .btn-blog a {
    color: #212121;
}

.panel-blog .panel-heading {
    background: #cebca5;
    -webkit-box-shadow: 0 4px 0 #7e6b5d;
    box-shadow: 0 4px 0 #7e6b5d;
    color: #212121;
    height: 50px;
    margin: 0;
    padding: 0 0 0 15px;
}

.panel-blog .panel-heading a {
    color: #212121;
}

.panel-blog .panel-body {
    border: none !important;
}

.post-list a,
.post-view a {
    color: hsl(150, 22%, 42%);
    font-weight: 600;
}

.post-list ul,
.post-view ul {
    font-size: 1.4rem;
    margin-bottom: 20px;
}

span.caret-wrapper {
    position: relative;
    margin-top: -54px;
    display: block;
    float: right;
    margin-right: 15px;
}

span.caret-wrapper .caret {
    border-top: #212121 4px solid;
}

.carousel-inner > .item > a > img,
.carousel-inner > .item > img {
    max-width: 100%;
}

.no-img-styles {
    border: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}
/*19.5.2016*/
/*Bundle Product Style -> ves_fashion/template/bundle/catalog/product/view/type/bundle/option*/
.bundle-price .price-notice .price {
    font-size: 15px;
    padding-left: 11px;
}
/*25.5.2016*/
/*Produkt Zoom Border error*/
.zoomLens {
    border: none !important;
    background-color: none !important;
    opacity: 0 !important;
}
/*Navbar-Top-Mobile-Info*/
.navbar-top-mobile-info {
    -webkit-box-shadow: none;
    box-shadow: none;
}

.btn-beige {
    color: hsl(0, 0%, 10%);
    background: #ebe7e0;
    border: none;
}

.mobile-explainator-modal .modal-content {
    background-color: hsl(0, 0%, 100%) !important;
}

.mobile-explainator-modal .modal-body {
    padding: 0;
}

.mobile-explainator-modal .modal-content .panel-top-bar {
    border: none;
    text-align: center;
}

.btn-group .btn + .btn,
.btn-group .btn + .btn-group,
.btn-group .btn-group + .btn,
.btn-group .btn-group + .btn-group {
    margin-left: 0;
}

.widget-new-products .panel.panel-default .panel-body {
    min-height: 125px;
}

.widget-new-products .panel.panel-default .panel-footer {
    min-height: 295px;
}

.block-related .panel-default {
    border: none;
}

.block-related .panel-footer {
    border-top: none;
    background: transparent;
}

.customer-account-login .panel-default {
    border: none;
}

.customer-account-login .panel-default > .panel-footer,
.customer-account-login .panel-default > .panel-heading {
    background: transparent;
    border: none;
}
/*Angebotsslider*/
.compare-products {
    background: hsl(150, 22%, 42%) !important;
}

.carousel-inner > .item > a > img,
.carousel-inner > .item > img {
    max-width: 100%;
}

.no-img-styles {
    border: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

#angebot-slider .block .block-title {
    background: none;
    display: none;
}

#angebot-slider .block .block-title strong span {
    background: none;
    color: hsl(150, 22%, 42%) !important;
    text-transform: normal !important;
}

.row-widget-title h2 {
    color: hsl(150, 22%, 42%);
    font-size: 15px;
    font-weight: bold;
    font-family: 'Nunito', 'HelveticaNeue-Light', 'Helvetica Neue Light',
        'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;
}

.product-block .image .onsale,
.product-img-box .image .onsale {
    background: hsl(150, 22%, 42%);
    color: #fff;
}

.product-block .image .onsale span,
.product-img-box .image .onsale span {
    color: #fff;
    border-color: #fff;
}

.product-block .price {
    padding-bottom: 0;
}
/*Sale Heartshape*/
.onsale-heart img {
    border: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    position: absolute;
    z-index: 11;
    height: 60px;
    margin-top: 10px;
    margin-left: 10px;
}

.box-products .onsale-heart img {
    margin-top: -30px;
}

.box-products .owl-wrapper {
    margin-top: 30px;
}
/*Neu 4.5.2016*/
.offcanvas-menu ul.megamenu > li > a {
    color: hsl(0, 0%, 10%);
    background: hsl(0, 0%, 100%);
    border-bottom: 1px solid hsl(0, 0%, 10%);
    margin-bottom: 0;
}

.menu-footer .copyright {
    margin: 0;
    border-bottom: none;
    margin-top: 0;
}

span.open-child {
    color: hsl(0, 0%, 10%);
    margin-top: 0;
}

.tab-content {
    padding: 0;
    color: hsl(0, 0%, 10%);
}

.plotterfolien-nav {
    width: 250px;
}

.plotterfolien-nav li {
    height: 30px;
}

.plotterfolien-nav .divider {
    border-top: 1px solid #ccc;
    background: none;
    height: 10px;
    margin-bottom: -3px;
    margin-top: 0;
}

.plotterfolien-nav hr {
    margin: 0;
    padding: 0;
}

#normal-width {
    width: 580px;
    height: 400px;
}

#normal-width h3 {
    font-size: 13px;
    line-height: 32px;
    font-family: 'Nunito', 'HelveticaNeue-Light', 'Helvetica Neue Light',
        'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;
    text-transform: uppercase;
    color: hsl(0, 0%, 10%);
    margin-bottom: -10px;
    font-weight: 600;
}

.plotterfolien-nav h4 {
    color: #ccc;
}

.height-5 {
    height: 5px !important;
}

span.nav-produkt-name {
    color: hsl(150, 22%, 42%);
    display: block;
    margin-top: -1px;
}

.explainator {
    font-size: 11px !important;
    color: hsl(0, 0%, 60%) !important;
    margin: 0;
    line-height: 15px !important;
    display: block;
    margin-top: -27px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 6px;
}

#lp-angebot-slider .block .block-title {
    display: none;
}

#lp-angebot-slider .product-img img {
    -webkit-box-shadow: none;
    box-shadow: none;
}

#lp-angebot-slider .products-grid {
    border: 1px solid #ccc;
    box-shadow: 0 8px 11px -8px black;
    -webkit-box-shadow: 0 8px 11px -8px black;
    -moz-box-shadow: 0 8px 11px -8px black;
    display: inline-block;
    margin: 5px;
}

#lp-angebot-slider .owl-item {
    width: 273px;
}

.no-margin {
    margin: 0 !important;
    border: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}
/*Newsletter Box*/
#newsletter-singup {
    background: hsl(0, 0%, 97%);
    height: 280px;
    position: relative;
    padding-top: 60px;
}

#newsletter-singup .row-title h3 {
    font-size: 25px;
    color: hsl(0, 0%, 10%);
}

#newsletter-singup .row-title h4 {
    font-size: 18px;
    color: #232323;
}

#newsletter-singup input.button {
    margin-left: 10px;
}

.row-title {
    text-align: center;
}

ul.newsletterbox-links {
    list-style: none;
    margin: 0 auto;
    left: 0;
    right: 0;
    display: inline-block;
}

ul.newsletterbox-links li {
    float: left;
}
/*Owl Carousel*/
.owl-theme .owl-controls .owl-buttons div {
    color: hsl(0, 0%, 10%);
    font-weight: bold;
    display: inline-block;
    zoom: 1;
    margin: 5px;
    padding: 3px 10px;
    font-size: 12px;
    border-radius: 3px;
    background: hsl(0, 0%, 100%);
    -webkit-box-shadow: 0 0 4px 0 hsla(0, 0%, 0%, 0.2);
    box-shadow: 0 0 4px 0 hsla(0, 0%, 0%, 0.2);
    -webkit-filter: none;
    filter: none;
    opacity: 1;
}

.owl-prev {
    position: absolute;
    top: 45%;
    left: -20px;
}

.owl-prev a {
    color: #fff;
    font-weight: bold;
    font-size: 14px;
}

.owl-next {
    position: absolute;
    top: 45%;
    right: -20px;
}

.owl-next a {
    color: #fff;
    font-weight: bold;
    font-size: 14px;
}

.owl-pagination {
    display: none;
}
/*Artikel Vergleichen*/
.compare-top {
    display: none;
    position: absolute;
    top: 5px;
    z-index: 1;
    right: 420px;
}

.compare-top-mobile {
    width: 50px;
    height: 50px;
    right: 29%;
    margin-top: 10px;
    position: absolute;
}

.compare-top-mobile .btn-compare-mobile {
    background-color: #363636;
    display: none;
    width: 35px;
    height: 35px;
    color: #a8a8a8 !important;
    border-radius: 50%;
    text-align: center;
    margin: 0 3px;
    padding-top: 8px;
    font-size: 16px !important;
}

.compare-page-back-btn {
    float: right;
}
/*Block Titles*/
.block .block-title {
    background: transparent;
}
/*Bündelartikel Preisliste*/
ul.options-list .price-notice .price {
    font-size: 15px;
}

.product-options .price-notice .price {
    font-size: 15px;
}
/*Articel min Height*/
.product-collateral .tab-content {
    min-height: 500px;
}

.review-product-list .product-collateral .tab-content {
    min-height: 0;
}
/*Blog Styles*/
/*Pressen und Bügeleisen Tabelle*/
.tg {
    border-collapse: collapse;
    border-spacing: 0;
    border-style: none;
}

.tg td {
    font-family: Arial, sans-serif;
    font-size: 14px;
    padding: 5px;
    border-style: none;
    border-width: 0;
    overflow: hidden;
    word-break: normal;
}

.tg th {
    font-family: Arial, sans-serif;
    font-size: 14px;
    font-weight: normal;
    padding: 5px;
    border-style: none;
    border-width: 0;
    overflow: hidden;
    word-break: normal;
}

.tg .tg-k9zw {
    font-size: 12px;
    background-color: hsl(150, 22%, 82%);
    color: #343434;
}

.tg .tg-x0jg {
    font-weight: bold;
    font-size: 12px;
    background-color: #ffffff;
    color: #343434;
    vertical-align: top;
}

.tg .tg-93xx {
    font-weight: bold;
    font-size: 12px;
    background-color: #ffffff;
    color: #343434;
}

.tg .tg-wnvm {
    font-size: 12px;
    background-color: #ffffff;
    color: #343434;
    vertical-align: top;
    padding: 5px 15px;
}

.tg .tg-gi4b {
    font-size: 12px;
    background-color: #ffffff;
    vertical-align: top;
    padding: 5px 15px;
}

.tg .tg-6thc {
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif !important;
    background-color: hsl(150, 22%, 82%);
    color: #343434;
    vertical-align: top;
    padding: 5px 15px;
}

.tg .tg-4kk7 {
    font-size: 12px;
    background-color: #ffffff;
    color: #343434;
}

.tg .tg-k06t {
    font-size: 12px;
    background-color: hsl(150, 22%, 82%);
    color: #343434;
    vertical-align: top;
    padding: 5px 15px;
}

.tg .tg-wnvm1 {
    font-size: 12px;
    width: 100px;
    background-color: #eee;
    color: #343434;
    vertical-align: top;
    padding: 5px 15px;
}
/*Welche Folie eignet sich für welchen Stoff*/
.tg {
    border-collapse: collapse;
    border-spacing: 0;
}

.tg td {
    font-family: Myriad Pro, sans-serif;
    font-size: 13px;
    padding: 10px 5px;
    overflow: hidden;
    word-break: normal;
}

.tg th {
    font-family: Myriad Pro, sans-serif;
    font-size: 13px;
    font-weight: normal;
    padding: 10px 5px;
    overflow: hidden;
    word-break: normal;
}

.tg .tg-6kuv {
    color: #333333;
    vertical-align: top;
}

.tg .tg-w1ms {
    background-color: #ffffff;
    color: #333333;
    vertical-align: top;
}

.tg .tg-npdw {
    background-color: hsl(150, 22%, 82%);
    color: #333333;
    vertical-align: top;
}

.tg .tg-4jb6 {
    background-color: #ffffff;
    color: #333333;
    text-align: center;
    vertical-align: top;
}

.tg .tg-bvwe {
    background-color: hsl(150, 22%, 82%);
    color: #333333;
    text-align: center;
    vertical-align: top;
}

.tg .tg-s4h7 {
    color: #333333;
    text-align: center;
    vertical-align: top;
}
/*Blogstyle Ende*/
/*Adventskalender*/
.adv-wrapper {
    background: #fcf8f5;
}

.adv-page-container {
    padding-top: 70px;
    padding-bottom: 100px;
}

#magmexAdventCalendarDayActionLayer {
    width: 840px;
    height: 420px;
}
@media (max-width: 850px) {
    .blockUI {
        left: 0 !important;
        width: 100% !important;
    }

    #magmexAdventCalendarDayActionLayer {
        width: 100%;
    }

    #magmexAdventCalendarDayActionLayer #dayNumberContainer {
        display: none;
    }

    #magmexAdventCalendarDayActionLayer #contentContainer {
        width: 100%;
        margin-left: 0;
    }

    #magmexAdventCalendarDayActionLayer #contentContainer .closeButton {
        left: auto;
        right: 10px;
    }
}
/*Adventskalender Ende*/
/*Baseprice */
.baseprice-box {
    display: none;
}

.product-block .baseprice-box {
    font-size: 10px;
    font-family: 'Lato', 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;
    color: hsl(0, 0%, 60%);
    display: block;
}

.product-base-price-container {
    left: 100px;
    display: block !important;
}

.baseprice-box span.price {
    font-size: 12px !important;
}
/*Static Footer*/
div#footer-social {
    border-bottom: 1px solid hsl(0, 0%, 10%);
    padding-top: 30px;
    padding-left: 50px;
    padding-bottom: 20px;
}

div#footer-social .visitus {
    font-weight: bold;
    font-size: 15px;
}

.static-footer .col-lg-12.col-md-4.col-sm-6.col-xs-12 {
    background: none;
}

ul.icon-footer {
    list-style: none;
}

ul.icon-footer li {
    display: inline-block;
}

ul.icon-footer li i {
    font-size: 25px;
}

ul.icon-footer li .name {
    padding-bottom: 15px;
}

#footer-informations .some-benfits .ben-item {
    margin-bottom: 35px;
    display: inline-block;
    padding: 0;
    margin-left: 0;
    font-size: 13px;
}

#footer-informations .some-benfits .ben-item .title {
    font-weight: bold;
    display: block;
    font-size: 15px;
}

#footer-informations .some-benfits .ben-item small {
    font-weight: 100;
    font-size: 10px;
}

#footer-informations .some-benfits .ben-item .fa-check {
    font-size: 20px;
    color: green;
}

#footer-informations .some-benfits .ben-item .fa-phone {
    font-size: 20px;
    color: green;
}
@media only screen and (max-width: 768px) {
    #footer-informations .some-benfits .ben-item {
        margin-bottom: 25px;
    }
}

#footer-informations {
    padding-top: 20px;
    padding-left: 40px;
}

.footer-links li:first-child {
    font-size: 15px;
    font-weight: bold;
    text-transform: uppercase;
}

div#footer-payment {
    border-top: 1px solid hsl(0, 0%, 10%);
    margin-top: 28px;
}

div#footer-payment h3 {
    font-weight: bold;
    font-size: 15px;
    text-transform: uppercase;
}

ul.icon-footer li:nth-child(2) {
    top: -3px;
    position: relative;
    font-weight: bold;
    font-size: 16px;
}

.no-styles {
    border: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}

.no-styles {
    border: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}

.owl-item img {
    border: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    max-width: 100%;
}

#dhl_locationfinder_trigger .locationfinder-opener {
    position: relative !important;
    margin-top: 20px;
    margin-bottom: 20px;
}

#dhl_locationfinder_trigger .locationfinder-opener.active {
    display: block;
}

.embed-container {
    position: relative;
    padding-bottom: 56.25%;
    /* ratio 16x9 */
    height: 0;
    overflow: hidden;
    width: 100%;
    height: auto;
}

.embed-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
/* ratio 4x3 */
.embed-container.ratio4x3 {
    padding-bottom: 75%;
}

.block-layered-nav .block-content.no-display {
    display: block;
}
/*
Custom CSS for Boutique Landing Page
*/
.panel {
    -webkit-box-shadow: none;
    box-shadow: none;
}

.block-layered-nav .block-title {
    text-align: center;
    background: transparent;
    margin-bottom: 30px;
    padding: 15px 0 0;
}

.productcarousel .block-title {
    text-align: center;
    background: transparent;
    margin-bottom: 10px;
    padding: 15px 0 0;
}

div.boutique-block > div.block-title {
    display: none;
}

.block .actions a:hover {
    text-decoration: none;
    color: hsl(150, 22%, 32%);
    background-color: hsl(150, 22%, 62%);
}

.product-block .product-img {
    border-bottom: 1px solid hsl(150, 22%, 82%);
}
/* .page-title {
    display: none;
} */
.category-boutique .page-title h1 {
    display: none;
}

.amshopby-filters-top .block-content {
    margin-left: -10px;
}

.block-layered-nav .block-title {
    display: none;
}

.block-layered-nav dd li {
    background: transparent;
    padding: 7px 0;
}

.block-layered-nav dt {
    padding: 7px 0;
    color: hsl(0, 0%, 10%);
}

div.block-layered-nav dd a {
    color: hsl(0, 0%, 60%);
    font-weight: 400;
}

.amshopby-filters-top,
.amshopby-page-container,
.block-layered-nav {
    font-weight: 300;
}

.sidebar {
    padding-left: 0;
}

.sidebar .block-content .label {
    padding-left: 0;
}

.sidebar .block-productcarousel {
    display: none;
}

.sidebar .block-tags {
    display: none;
}

.block-layered-nav .actions a {
    background-color: hsl(150, 22%, 82%);
    border: 1px solid hsl(150, 22%, 42%);
    color: hsl(0, 0%, 10%);
    transition: all 300ms ease-in-out;
    -webkit-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    -o-transition: all 300ms ease-in-out;
}

#ves-mainnav .navbar-nav > li > a {
    font-family: 'Oswald', 'HelveticaNeue-Light', 'Helvetica Neue Light',
        'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;
    font-size: 16px;
    display: block;
    line-height: 18px;
    text-decoration: none;
    float: left;
    padding: 16px 20px;
    color: hsl(0, 0%, 10%);
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 400;
}

#ves-mainnav .navbar-nav > li.dropdown > a > .caret {
    display: none !important;
}

#ves-mainnav {
    background-color: hsl(0, 0%, 100%);
    border: none;
    border-top: 1px solid hsl(0, 0%, 92%);
    -webkit-box-shadow: 0 4px 6px -2px hsla(0, 0%, 0%, 0.2);
    box-shadow: 0 4px 6px -2px hsla(0, 0%, 0%, 0.2);
    margin-bottom: 0;
}

#ves-mainnav .navbar-nav > li .dropdown-menu a span {
    color: hsl(150, 22%, 42%);
    font-weight: 400;
}

#ves-mainnav .navbar-nav > li > a > span.menu-title {
    color: hsl(0, 0%, 10%) !important;
}

#topbar .links li a {
    color: hsl(0, 0%, 60%);
}

#topbar .links li.last a {
    border-right: none;
}

.btn-primary {
    background: hsl(150, 22%, 82%);
    border: 1px solid hsl(150, 22%, 42%);
    color: hsl(0, 0%, 10%);
    border-radius: 15px;
}

.btn-primary.active,
.btn-primary:active,
.btn-primary:focus,
.btn-primary:hover {
    color: hsl(0, 0%, 10%) !important;
    border: 1px solid hsl(150, 22%, 42%);
    background-color: hsl(150, 22%, 62%);
    transition: all 300ms ease-in-out;
    -webkit-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    -o-transition: all 300ms ease-in-out;
}

.panel-body .btn-success {
    color: hsl(0, 0%, 10%);
}

.block .block-content {
    padding-top: 0;
}

.tax-details {
    font-size: 10px;
    font-family: 'Lato', 'HelveticaNeue-Light', 'Helvetica Neue Light',
        'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;
    color: hsl(0, 0%, 60%);
    display: block;
    margin: 0 0 5px;
}

.tax-details a {
    color: hsl(0, 0%, 60%);
}

.regular-price .price {
    font-family: 'Lato', 'HelveticaNeue-Light', 'Helvetica Neue Light',
        'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;
}

.price-box .price {
    font-family: 'Lato', 'HelveticaNeue-Light', 'Helvetica Neue Light',
        'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;
}

.old-price .price {
    font-weight: 400;
}

.block .block-title strong span {
    font-family: 'Montserrat', 'HelveticaNeue-Light', 'Helvetica Neue Light',
        'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;
    font-size: 2.5rem;
    font-weight: 400;
    clear: both;
    text-transform: uppercase;
    color: hsl(0, 0%, 10%);
}

.sidebar .block .block-title strong span {
    font-size: 13px;
    font-weight: 600;
}

.block-blog .block-title {
    background: hsl(0, 0%, 100%);
    padding: 0 7px;
}

.price-box {
    width: auto;
}

.price {
    text-align: center;
}

.product-block {
    border-radius: 0;
    padding: 0;
    margin-bottom: 40px;
}

.products-grid .product-name {
    margin-top: 7%;
    margin-bottom: 7%;
    font-size: 16px;
    padding: 0 5%;
}

.block .block-content .product-name {
    margin-bottom: 7%;
}

.copyright {
    text-align: center;
    border-top: 1px solid hsl(0, 0%, 10%);
    padding: 30px 0;
    border-bottom: 10px solid hsl(150, 22%, 82%);
    line-height: 24px;
}

#ves-mainnav .navbar-nav > li:hover {
    border-color: hsl(0, 0%, 92%);
    background: hsl(0, 0%, 92%);
    transition: all 300ms ease-in-out;
    -webkit-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    -o-transition: all 300ms ease-in-out;
}

#ves-mainnav .navbar-nav > li .dropdown-menu {
    border: 1px solid hsl(150, 22%, 82%);
    padding: 8px;
}

a:hover {
    text-decoration: none;
    color: hsl(150, 22%, 32%) !important;
}

.panel-body a.btn-success:hover {
    background: hsl(150, 22%, 62%);
    color: hsl(0, 0%, 10%) !important;
    transition: all 300ms ease-in-out;
    -webkit-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    -o-transition: all 300ms ease-in-out;
}

.dashboard .box {
    background-color: hsl(0, 0%, 97%);
}

.box-info .row > div:nth-of-type(1) {
    padding: 0 5px 0 0;
}

.box-info .row > div:nth-of-type(2) {
    padding: 0 0 0 5px;
}

.block-reorder .actions button.button {
    border: 1px solid hsl(150, 22%, 42%);
}

.block .actions button.button:hover span span {
    text-decoration: none !important;
}

.block .actions button.button span span:hover {
    text-decoration: none !important;
    color: hsl(0, 0%, 10%) !important;
}

.product-block .actions .add-to-links li .fa:hover {
    color: hsl(0, 0%, 10%);
    transition: all 300ms ease-in-out;
    -webkit-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    -o-transition: all 300ms ease-in-out;
}

.product-block .actions .add-to-links li:hover .fa {
    color: hsl(0, 0%, 10%);
    transition: all 300ms ease-in-out;
    -webkit-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    -o-transition: all 300ms ease-in-out;
}

.product-block .actions .add-to-links a {
    background-color: transparent !important;
}

.product-block .image .actions .add-to-links a {
    line-height: 48px;
}

.category-products .product-block .image .actions .add-to-links a {
    line-height: 55px;
}

.block-poll .actions button.button {
    border: 1px solid hsl(150, 22%, 42%);
}

.block .actions a,
.block .actions button.button span span {
    height: inherit;
    color: hsl(0, 0%, 10%);
    border-radius: 0;
}

.block .actions button.button span span {
    padding: 2px 15px;
}

.block .actions a {
    background-color: hsl(150, 22%, 82%);
    border: 1px solid hsl(150, 22%, 42%);
}

.box-info,
.box-recent,
.welcome-msg {
    margin-bottom: 30px;
}

.lp-sell-button .btn-cart {
    border-radius: 15px;
}

.owl-next a,
.owl-prev a {
    color: hsl(0, 0%, 10%);
}

.price > * {
    vertical-align: bottom;
}

.topLinks.top-nav-links.pull-left {
    margin-left: 10px;
    margin-top: -5px;
    font-weight: 400;
}

.header-right {
    margin-top: -5px;
    margin-bottom: 5px;
}

section#columns {
    margin-top: 30px;
}

#topbar-costumer-actions {
    background-color: #fff;
    padding: 10px 0 0;
}

#topbar-costumer-actions #topbar {
    background: transparent;
}

.products-list .product-block .image {
    border: transparent;
    padding: 0;
}

.products-list .actions .button {
    border-radius: 0;
}

.products-list .product-name {
    font-family: 'Nunito', 'HelveticaNeue-Light', 'Helvetica Neue Light',
        'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;
}

.cart-inner .fa {
    background: transparent;
    color: hsl(0, 0%, 60%);
}

.cart-inner h4 {
    color: hsl(0, 0%, 60%);
    font-weight: 400;
}

#hf-navbar-fixed-top .navbar-top-info:hover {
    cursor: help;
}

.box-collateral .button:hover {
    background: hsl(150, 22%, 62%);
    color: hsl(0, 0%, 10%) !important;
}

.product-view .add-to-box .add-cart,
.product-view .add-to-cart .add-cart {
    background: transparent;
}

.rewardssocial-buttons {
    padding-left: 10px;
}

.carousel-control {
    font-size: 14px;
    line-height: 24px !important;
}

.menu-title-boutique {
    text-transform: uppercase;
    color: hsl(0, 0%, 10%);
    letter-spacing: 2px;
    display: block;
    height: 30px;
}

.panel-top-bar {
    border: 1px solid hsl(150, 22%, 82%);
}

.panel-top-bar .panel-body {
    color: hsl(0, 0%, 10%);
    background: transparent;
}

.panel-body .fa-envelope {
    color: hsl(150, 22%, 82%) !important;
}

.rating {
    display: none;
}

.price .delivery-time {
    display: none;
}

.product-block .delivery-time {
    text-align: center;
}

.owlcarousel .delivery-time {
    text-align: center;
}

.product-block > .delivery-time {
    color: hsl(0, 0%, 60%);
    font-size: 10px;
    text-align: center;
    margin: 0;
    line-height: 0.5;
}

.toolbar-bottom .toolbar {
    border: none;
}

.navbar-newcostumer-info .panel-body {
    padding: 10px 15px;
}

.navbar-newcostumer-info .panel-body div img {
    margin: 0;
}

.navbar-newcostumer-info .panel-body img {
    margin: -10px -15px;
    max-width: none;
}

.product-view {
    margin-top: 20px;
}

.product-view .add-to-box .add-cart button.btn-cart:hover,
.product-view .add-to-cart .add-cart button.btn-cart:hover {
    background: hsl(150, 22%, 62%);
}

.product-view .add-to-box .add-cart:hover,
.product-view .add-to-cart .add-cart:hover {
    background: transparent;
}

.cart-top #cart a {
    color: hsl(0, 0%, 60%);
}

.cart-top #cart .actions a {
    color: hsl(0, 0%, 10%) !important;
}

.cart-top #cart .actions a:hover {
    background-color: hsl(150, 22%, 62%);
    transition: all 300ms ease-in-out;
    -webkit-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    -o-transition: all 300ms ease-in-out;
}

#ves-mainnav
    .navbar-nav
    > li
    .dropdown-menu
    .menu-title-boutique
    a
    .menu-title {
    color: hsl(0, 0%, 10%);
}

.ves-megamenu .mega-group > .dropdown-toggle {
    padding: 0 !important;
    border: none;
}

#ves-mainnav
    .navbar-nav
    > li
    .dropdown-menu
    .dropdown-menu-inner
    .dropdown-mega
    a
    span {
    color: hsl(150, 22%, 42%);
}

#ves-mainnav .navbar-nav > li .dropdown-menu .dropdown-submenu a span {
    color: hsl(0, 0%, 10%);
}

#ves-mainnav .navbar-nav > li .dropdown-menu .block-content a {
    line-height: 18px;
}

#ves-mainnav .navbar-nav > li .dropdown-menu a span.nav-produkt-name {
    color: hsl(150, 22%, 42%);
    font-weight: 400;
}

.dropdown-menu table .block-blog .block-content .even {
    background: transparent;
}

.ves-megamenu .mega-group .caret {
    display: none !important;
}

.block-recent-posts .block-title strong span {
    font-size: 2rem;
}

.block-reorder li input {
    margin-top: 10px;
}

.box-collateral .button,
input.button {
    background: hsl(150, 22%, 82%);
    border: 1px solid hsl(150, 22%, 42%);
    color: hsl(0, 0%, 10%);
    border-radius: 15px;
}

.top-search .form-search .search-autocomplete ul {
    border: 1px solid hsl(150, 22%, 82%);
    background-color: hsl(0, 0%, 100%);
}

.top-search .form-search .search-autocomplete {
    z-index: 9999;
}

.top-search .form-search .search-autocomplete ul li {
    background-color: hsl(0, 0%, 100%);
    padding: 8px;
    border-bottom: none;
}

.top-search .form-search .search-autocomplete ul li.odd {
    background-color: hsl(150, 22%, 92%);
}

.top-search .form-search .search-autocomplete ul li.selected {
    background-color: hsl(150, 22%, 72%);
}

.swatch-label {
    background: transparent;
}

.swatch-link {
    border: 1px solid hsl(150, 22%, 82%);
}

.swatch-label,
.swatch-link {
    color: hsl(0, 0%, 10%);
}

.configurable-swatch-list .hover .swatch-link,
.configurable-swatch-list .selected .swatch-link,
.swatch-link:hover {
    border-color: hsl(150, 22%, 42%);
    background: hsl(150, 22%, 82%);
    border-radius: 2px;
}

.select-label {
    color: hsl(150, 22%, 32%);
}

.htabs a {
    bottom: auto;
    border: none;
}

.form-list label {
    color: hsl(0, 0%, 10%);
}

#remember-me-box {
    list-style: none;
}

.remember-me-popup h3 {
    background: hsl(150, 22%, 90%);
}

.remember-me-popup .remember-me-popup-body a {
    background: hsl(150, 22%, 82%);
    border: 1px solid hsl(150, 22%, 42%);
    color: hsl(0, 0%, 10%);
    border-radius: 15px;
    font-weight: 400;
}

.remember-me-popup .remember-me-popup-body a span {
    padding: 10px;
}

.account-create input[type='checkbox'] {
    margin-top: 6px;
}

a.link-tip {
    color: hsl(0, 0%, 60%);
}

.success-msg {
    color: hsl(150, 22%, 32%);
    border-color: hsl(150, 22%, 32%);
    background: hsl(150, 22%, 90%);
}

.no-rating {
    margin: 0 0 5px;
}

.alert-price a {
    margin: 0 0 5px;
    color: hsl(0, 0%, 60%);
}

.product-view .product-shop .availability {
    color: hsl(0, 0%, 60%);
    margin-top: 0;
}

.product-view .product-shop .short-description {
    padding: 30px 0 0;
}

.product-view .product-shop .short-description .std {
    color: hsl(0, 0%, 10%);
}

.product-options dt.swatch-attr .select-label {
    color: hsl(150, 22%, 32%);
}

.product-collateral {
    padding: 32px 0;
}

.selected .swatch-link.has-image img {
    opacity: 0.5;
}

.selected .swatch-link.has-image {
    background: hsl(150, 22%, 62%);
}

.quick-access .quickaccess-toggle {
    background-color: hsl(150, 22%, 82%);
    color: hsl(150, 22%, 32%);
}
@media screen and (max-width: 991px) {
    .quick-access .quickaccess-toggle {
        width: 48px;
        line-height: 48px;
        height: 48px;
    }
}

.buttons-twitter-like {
    margin-bottom: 0;
}

.offcanvas-menu .menu-title {
    line-height: 2;
}

.product-block .actions .add-to-links li {
    line-height: 45px;
    border-left: none;
}

.product-block .actions .add-to-links li:hover {
    background-color: hsl(0, 0%, 92%);
    transition: all 300ms ease-in-out;
    -webkit-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    -o-transition: all 300ms ease-in-out;
}

.product-block .actions button.btn-cart:hover {
    background-color: hsl(0, 0%, 92%);
    transition: all 300ms ease-in-out;
    -webkit-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    -o-transition: all 300ms ease-in-out;
}

.products-list .product-block .actions {
    border: none;
}

.products-list .product-block .actions button.btn-cart {
    background-color: hsl(0, 0%, 95%);
}

.products-list .product-block .actions button.btn-cart:hover {
    background-color: hsl(0, 0%, 92%);
    transition: all 300ms ease-in-out;
    -webkit-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    -o-transition: all 300ms ease-in-out;
}

#menu-offcanvas .dropdown .dropdown-menu .dropdown-menu-inner ul li a {
    color: hsl(0, 0%, 10%);
}

.mini-products-list .product-details .product-name {
    font-size: 1.2em;
}

.cart-top #cart .block-cart {
    text-align: right;
}

.cart-top #cart .content .btn-remove {
    text-align: left;
}

.cart-top #cart .product-name a {
    color: hsl(150, 22%, 32%);
}

.price-as-configured .price-label,
.product-view .product-options-bottom .price-label {
    padding-right: 20px;
}

.addresses-list li.item {
    background: hsl(0, 0%, 97%);
    border: none;
}

.addresses-list li.empty {
    padding: 10px 13px;
}

.pager .pages {
    padding-left: 20px;
}
/* Funktioniert nicht, hover über Details im Warenkorb Popup */
/* .product-details .truncated .truncated_full_value>.item-options {
  top: -63px;
  left: -781%;
} */
#footer .footer-top .block .block-content {
    padding: 0;
}

.price-box-bundle {
    display: none;
}

.block-cart .actions button.button:hover {
    color: hsl(0, 0%, 10%) !important;
    background-color: hsl(150, 22%, 62%);
}

.product-view .add-to-links li a {
    transition: all 300ms ease-in-out;
    -webkit-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    -o-transition: all 300ms ease-in-out;
}

a:focus {
    color: hsl(150, 22%, 32%);
}

.header-fixed {
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 100;
    border-top: 0 !important;
}

.hf-brand-fixed {
    position: fixed;
    margin-top: 0;
    top: 0;
}

.footer-links {
    margin-top: 20px;
}

#footer-informations .some-benfits .ben-item {
    margin-left: 0;
}

.price-from .price-label,
.price-to .price-label {
    font-weight: 400;
    color: hsl(0, 0%, 60%);
}
/* Bundle options */
.product-options dd.ob-list span.content {
    font-size: 11px;
}

.product-options dd.ob-list:first-of-type span.content {
    font-size: inherit;
}

.product-options dd.ob-list ul.options-list li {
    padding: 0 10px 0 5px;
    border: none;
    background: hsl(0, 0%, 97%);
    width: 49%;
    display: inline-table;
    margin-bottom: 3px;
}

.product-options dd.ob-list:first-of-type ul.options-list li {
    width: 100%;
}

.product-options dd.ob-list ul.options-list li .bundle-price {
    display: contents;
}

.product-options dd.ob-list img {
    width: 64px;
    height: 43px;
    margin: 5px 10px 5px 0;
}

.product-options dd.ob-list .description {
    min-height: 0;
}

.product-options dd.ob-list span.content label {
    padding-top: 10px;
}

.product-options dd.ob-list ul.options-list input.checkbox {
    margin: 0 0 5px;
}

.product-options dd.ob-list .price-notice {
    font-family: 'Lato', 'HelveticaNeue-Light', 'Helvetica Neue Light',
        'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;
}

.htabs a.selected {
    color: hsl(0, 0%, 10%);
    background: hsla(0, 0%, 94%);
    border: none;
}

.btn-danger {
    background: hsl(150, 22%, 82%);
    border: 1px solid hsl(150, 22%, 42%);
    color: hsl(0, 0%, 10%);
    border-radius: 15px;
}

.btn-danger.active,
.btn-danger:active,
.btn-danger:focus,
.btn-danger:hover {
    background: hsl(150, 22%, 62%);
    border: 1px solid hsl(150, 22%, 42%);
    color: hsl(0, 0%, 10%);
}

.category-design-and-more p {
    font-size: 1.25rem;
}

img:not([alt]) {
    border: 2px dashed red;
}

img[alt=''] {
    border: 2px dashed red;
}
/* FAQ */
.amfaq-page {
    font-family: 'Nunito', 'HelveticaNeue-Light', 'Helvetica Neue Light',
        'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;
}

.amfaq-page img {
    width: 100%;
}

.amfaq-page .author {
    color: hsl(0, 0%, 60%);
    font-size: 12px;
}

.amfaq-page .author::before {
    content: 'Frage von ';
}

.amfaq-page h1 {
    margin-left: 0;
    font-size: 2.5rem;
    font-weight: 400;
}

.amfaq-page h2 {
    color: hsl(150, 22%, 42%);
    margin-top: 15px;
}

.amfaq-page .amfaq-card .amfaq-questions-group {
    text-align: center;
}

.amfaq-page .amfaq-questions-group h2 ~ .amfaq-questions {
    display: none;
}

.amfaq-page .amfaq-tags {
    display: none;
}

.amfaq-page .amfaq-info {
    margin: 14px 0 30px;
}

.attachments,
.attachments a {
    color: hsl(0, 0%, 60%);
}

.amfaq-page .amfaq-questions .question .title::before {
    font-size: 10px;
    line-height: 2;
}

#amfaqConfirmButtons .blue,
#amfaqConfirmButtons .gray {
    text-shadow: none;
}

#amfaqConfirmBox {
    padding: 10px;
}

.amfaq-page .amfaq-question-form .wide textarea {
    width: 100%;
    font-size: 14px;
}

.amfaq-page .amfaq-question-form .field {
    margin-bottom: 10px;
}
/* .amfaq-divider-bottom {
    border-bottom: 1px solid hsl(0,0%,90%);
} */
#search_mini_form .amfaq-divider-bottom {
    border-bottom: none;
}

.amfaq-page .amfaq-search label {
    color: hsl(0, 0%, 60%);
    padding-bottom: 0;
}

#amfaq-top ~ .amfaq-divider-bottom {
    border-bottom: none;
}

.amfaq-question-form .amfaq-button,
.amfaq-search .amfaq-button {
    border: 1px solid hsl(150, 22%, 42%);
}

.amfaq-page .amfaq-questions .question .title {
    font-size: 1.6rem;
}

.amfaq-page .amfaq-questions .question .author {
    margin-top: 0;
    margin-bottom: 15px;
}

.amfaq-page.amfaq-question-page .amfaq-question-block h1 {
    margin-bottom: 0;
    font-weight: 600;
}

.amfaq-page.amfaq-question-page .amfaq-question-block:after {
    height: 30px;
}

.amfaq-page.amfaq-question-page .topics {
    display: inline-block;
}

.amfaq-page .topics a {
    color: hsl(0, 0%, 60%);
}

.amfaq-page .amfaq-card {
    margin-bottom: 20px;
}

.amfaq-page .ask.amfaq-button {
    border: 1px solid hsl(150, 22%, 42%);
    font-weight: 400;
}

.amfaq-ask-link {
    margin: 15px 0 0;
}

.amfaq-page .amfaq-questions .question {
    margin-bottom: 0;
}

.amfaq-page input[type='text'],
.amfaq-page textarea {
    border: 1px solid hsl(0, 0%, 89%);
    border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.amfaq-page .amfaq-questions .question .read-full {
    color: hsl(0, 0%, 60%);
    font-size: 12px;
    text-decoration: none;
    margin-left: 20px;
}

.amfaq-answer {
    margin-left: 20px;
}

.fa-icon {
    font-family: FontAwesome;
    color: hsl(150, 22%, 42%);
    font-size: 18px;
}

.fa-icon::before {
    width: 4rem;
    display: inline-block;
}

.space::before {
    padding-right: 20px;
}

.short-answer {
    margin-left: 20px;
}

.product-view .ratings .rating-box {
    margin-top: 5px;
}

.product-view .rating-box {
    margin-top: 0;
}

.ratings .rating-box {
    margin-right: 5px;
}

.box-reviews dt {
    color: hsl(0, 0%, 60%);
    font-size: 12px;
    font-weight: 400;
}

.product-view .box-reviews dl a {
    font-size: 16px;
    margin-right: 20px;
}

.product-view .box-reviews dl span {
    font-weight: 400;
}

.product-view .box-reviews dt + dd {
    margin-top: 10px;
    margin-bottom: 40px;
}

.box-reviews h4 {
    color: hsl(0, 0%, 60%);
}

.product-view .box-reviews .form-add {
    margin-top: 40px;
}

.alert-stock a {
    color: hsl(0, 0%, 60%);
}

a.amfaq-ask-link {
    color: hsl(0, 0%, 60%);
    font-size: 11px;
}

.amfaq-page .form-list label {
    display: initial;
}

.amfaq-page .show-more {
    color: hsl(150, 22%, 42%);
}

#amfaqMessageBox .control.field-row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

#amfaqMessageBox .control.field-row .input-box {
    margin: 10px;
}

/* Mobile */
@media only screen and (max-width: 1368px) {
    a.top-link-cart {
        display: none;
    }
}
@media only screen and (max-width: 1200px) {
    #ves-mainnav .navbar-nav > li > a {
        padding: 16px 10px;
    }
}
/* Mobile */
@media only screen and (max-width: 991px) {
    .header-right {
        margin-bottom: 0;
    }

    #topbar-costumer-actions {
        background-size: 150px;
    }

    .btn-beige {
        background: transparent;
        color: hsl(0, 0%, 60%);
        font-weight: 300;
    }

    #hf-navbar-fixed-top {
        -webkit-box-shadow: none;
        box-shadow: none;
    }

    .navbar-toggle {
        background: hsl(150, 22%, 82%);
        border: none;
    }

    .navbar-inverse .navbar-toggle .icon-bar {
        background-color: hsl(150, 22%, 32%);
    }

    .quick-access .inner-toggle {
        border-top: 5px solid hsl(150, 22%, 32%);
    }

    .quick-access .quickaccess-toggle:hover {
        background-color: hsl(150, 22%, 32%);
    }

    .hf-brand {
        margin-top: 0;
        top: 0;
    }

    .htabs a.selected {
        border-color: hsl(0, 0%, 90%);
    }

    .header-fixed-mobile {
        position: fixed;
        width: 100%;
        left: 0;
        top: 0;
        z-index: 100;
        border-top: 0 !important;
    }

    .hf-brand-fixed-mobile {
        position: fixed;
        top: 0;
    }

    .mobile-explainator-modal .modal-content .modal-footer {
        border-top: 0 none transparent;
    }

    .mobile-explainator-modal .modal-content .modal-header {
        border-bottom: 0 none transparent;
    }

    .btn-beige:hover {
        background: transparent;
        color: hsl(150, 22%, 32%);
    }

    .panel-top-bar .panel-body {
        padding: 20px;
    }

    .modal-body .panel {
        -webkit-box-shadow: none;
        box-shadow: none;
    }

    #gewerbeModal .modal-body .panel .panel-body {
        padding: 0;
    }

    #gewerbeModal .modal-body .panel .panel-body img {
        width: 100%;
    }

    .footer-top .container {
        max-width: none;
    }

    .menu-footer .copyright {
        border-top: none;
    }

    .topLinks.top-nav-links.pull-left {
        margin-left: 0 !important;
    }

    #menu-offcanvas .dropdown .dropdown-menu .dropdown-menu-inner ul li span {
        text-transform: none;
        font-family: 'Nunito', 'HelveticaNeue-Light', 'Helvetica Neue Light',
            'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;
        font-weight: 400;
    }

    .image-gallery-big,
    .image-gallery-small-bottom,
    .image-gallery-small-top {
        text-align: center;
    }

    .category-gerate #content a .img-responsive {
        margin-bottom: 20px;
    }
}
@media only screen and (max-width: 768px) {
    #footer-informations .some-benfits .ben-item {
        margin-bottom: 25px;
    }

    .left-block {
        margin-left: auto;
    }

    .row-level-2 .block-content {
        padding: inherit;
    }
}
@media only screen and (max-width: 480px) {
    .product-view .product-img-box .more-views .carousel-control {
        top: 20%;
    }

    #footer-informations {
        padding-left: 0;
    }

    div#footer-social {
        padding-left: 0;
    }
}
@media only screen and (max-width: 414px) {
    .product-view {
        margin-top: 40px;
    }
}
@media only screen and (max-width: 371px) {
    .product-view {
        margin-top: 60px;
    }
}
@media only screen and (max-width: 348px) {
    .hf-brand {
        margin-left: 0;
    }

    .product-view .product-img-box .more-views .carousel-control {
        top: 0;
    }
}
@media only screen and (min-width: 768px) {
    .owl-wrapper-outer {
        min-height: 300px;
    }
}
@media only screen and (min-width: 992px) {
    .owl-wrapper-outer {
        min-height: 370px;
    }
}

.youtube-player {
    position: relative;
    padding-bottom: 56.23%;
    /* Use 75% for 4:3 videos */
    height: 0;
    overflow: hidden;
    max-width: 100%;
    background: #000;
    margin: 5px;
}

.youtube-player iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    background: transparent;
}

.youtube-player img {
    bottom: 0;
    display: block;
    left: 0;
    margin: auto;
    max-width: 100%;
    width: 100%;
    position: absolute;
    right: 0;
    top: 0;
    border: none;
    height: auto;
    cursor: pointer;
    -webkit-transition: 0.4s all;
    transition: 0.4s all;
}

.youtube-player img:hover {
    -webkit-filter: brightness(75%);
}

.youtube-player .play {
    height: 72px;
    width: 72px;
    left: 50%;
    top: 50%;
    margin-left: -36px;
    margin-top: -36px;
    position: absolute;
    background: url('//i.imgur.com/TxzC70f.png') no-repeat;
    cursor: pointer;
}

.cms-index-index .block-content .carousel.slide {
    min-height: 332px;
}

.foliensets {
    margin-bottom: 20px;
}
@media only screen and (max-width: 766px) {
    .foliensets__left {
        padding-left: 0;
        padding-right: 5px;
    }

    .foliensets__right {
        padding-right: 0;
        padding-left: 5px;
    }

    .foliensets {
        margin-bottom: 10px;
    }
}

@media only screen and (min-width: 994px) {
    .navbar ul.navbar-nav > li:nth-child(3) {
        visibility: hidden;
        width: 0;
    }
}

p .google-analytics-untracked {
    display: inline-block;
    padding: 0.8em;
    margin: 0;
    background: hsl(150, 22%, 82%);
    border-radius: 3px;
}

p.amfaq-question-note {
    padding-top: 5px;
}

.settings-form {
    border: none;
    background-color: hsl(0, 0%, 97%);
}

.settings-form .accept {
    line-height: 1;
}

.block .actions button + a {
    border-radius: 15px;
    padding: 2px 15px;
    font-weight: 400;
    transition: all 300ms ease-in-out;
    font-size: 13px;
}

.block .actions button + a:hover {
    color: hsl(0, 0%, 10%) !important;
}

.settings-form .button.submit {
    padding: 5px 15px;
}