<div class="modal fade slide-right" id="wordCloudFaq1" pg-portlet tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-body info-module">
                <div class="panel-group" id="accordion" role="tablist">
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingOne">
                            <h4 class="panel-title">
                                <a class="collapsed" data-toggle="collapse" data-parent="#accordion"  href="#collapseOne" target="_self" aria-expanded="false" aria-controls="collapseOne">
                                  How to add word cloud?
                                </a>
                            </h4>
                        </div>
                        <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                            <hr>
                            <div class="panel-body">
                                To add word cloud,<br><br>
                                <div style="padding: 7.0px 10.0px;background-color: rgb(216,235,248);border: 1.0px solid rgb(151,193,218);">
                                    NOTE: Supported formats are png, jpg, jpeg and bmp. 
                                </div><br>
                                <div style="padding: 7.0px 10.0px;background-color: rgb(216,235,248);border: 1.0px solid rgb(151,193,218);">
                                    TIP: You can also add word clouds in bulk. Simply select multiple word clouds and follow same instructions. 
                                </div><br>
                                <ol>
                                    <li>Open inkXE Admin.</li>
                                    <li>Go to <b>Text</b> in the toolbar towards the left and select <b>Word Cloud</b>.</li>
                                    <li>Move to the right and tap <b>Add New Word Cloud</b>.<img src="modules/wordCloud/doc/assets/wordCloud1.png" /></li>
                                    <li>A box will appear. Click <b>Upload Word Cloud</b> to upload a word cloud and set its property, such as name.</li>
                                    <li>Click <b>Save</b>.</li>
                                </ol>
                                Your word cloud has been added.
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingTwo">
                            <h4 class="panel-title">
                                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" target="_self" aria-expanded="false" aria-controls="collapseTwo">
                                  How to edit word cloud?
                                </a>
                            </h4>
                        </div>
                        <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                            <hr>
                            <div class="panel-body">
                                To edit word cloud,
                                <ol>
                                    <li>Open inkXE Admin.</li>
                                    <li>Go to <b>Text</b> in the toolbar towards the left and select <b>Word Cloud</b>.</li>
                                    <li>Move to the right and you will see the available word clouds.</li>
                                    <li>Now, select the word cloud you want to edit and click <b>Edit Selected</b>.<img src="modules/wordCloud/doc/assets/wordCloud2.png" /></li>
                                    <li>A new page will appear where you can edit property of selected word cloud, such as its name.</li>
                                    <li>Make your changes and click <b>Save</b>.</li>
                                </ol>
                                <div style="padding: 7.0px 10.0px;background-color: rgb(216,235,248);border: 1.0px solid rgb(151,193,218);">
                                    TIP: You can also edit word clouds in bulk. Simply select multiple word clouds and follow same instructions. 
                                </div><br>
                                Your word cloud has been edited.
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingThree">
                            <h4 class="panel-title">
                                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" target="_self" aria-expanded="false" aria-controls="collapseThree">
                                  How to delete word cloud?
                                </a>
                            </h4>
                        </div>
                        <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                            <hr>
                            <div class="panel-body">
                                To delete word cloud,
                                <ol>
                                    <li>Open inkXE Admin.</li>
                                    <li>Go to <b>Text</b> in the toolbar towards the left and select <b>Word Cloud</b>.</li>
                                    <li>Move to the right and you will see the available word clouds.</li>
                                    <li>Now, select the word cloud you want to delete and click <b>Delete Selected</b>.<img src="modules/wordCloud/doc/assets/wordCloud3.png" /></li>
                                    <li>A pop-up will open asking you to confirm your action.</li>
                                    <li>Click <b>Confirm</b>.</li>
                                </ol>
                                <div style="padding: 7.0px 10.0px;background-color: rgb(216,235,248);border: 1.0px solid rgb(151,193,218);">
                                    TIP: You can also delete word clouds in bulk. Simply select multiple word clouds and follow same instructions. 
                                </div><br>
                                Your word cloud has been deleted.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>