<div class="container-fluid" ng-controller="preDecoratedProductCtrl">
    <div class="row" ng-init="init()">
        <div class="col-sm-12">
            <ng-include src="'modules/preDecoratedProducts/views/partials/addPreDecoratedProduct.html'" ng-show="isAddViewActive">
            </ng-include>
            <ng-include src="'modules/preDecoratedProducts/views/partials/addNewVariant.html'" ng-show="isNewColor">
            </ng-include>
            <div class="panel panel-default" ng-hide="isAddViewActive">
                <div class="panel-heading separator">
                    <div class="w-full">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="m-r-10 pull-left">
                                    <button type="button" class="btn btn-info btn-sm btn-cons" ng-click="refreshList()">
                                        <i class="fa fa-refresh" aria-hidden="true">
                                        </i>
                                        <span>
                                            <xe-translate text-value="Refresh">
                                            </xe-translate>
                                        </span>
                                    </button>
                                </div>
                                <div class="m-r-10 pull-left">
                                    <button type="button" class="btn btn-info btn-sm btn-cons" ng-click="addAsProduct()"  ng-class="{'disabled': fileCount == 0 || fileCount> 1}">
                                        <span>
                                            <xe-translate text-value="Add As Product">
                                            </xe-translate>
                                        </span>
                                    </button>
                                </div>
                                <div class="m-r-10 pull-left">
                                    <button type="button" class="btn btn-danger btn-sm btn-cons" ng-click="deleteTemplate()"  ng-class="{'disabled': fileCount == 0}">
                                        <i class="fa fa-trash-o" aria-hidden="true">
                                        </i>
                                        <span>
                                            <xe-translate text-value="Delete">
                                            </xe-translate>
                                        </span>
                                    </button>
                                </div>
                                <div class="m-r-10 pull-left">
                                    <i class="fa fa-info-circle ng-scope info-module-icon" tooltip="" tooltip-placement="left" ng-click="showAddpreDecoFaq(1)">
                                    </i> 
                                </div>
                            </div>
                            <div class="col-sm-6">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel-body m-t-20">
                    <!--preloader-->
                    <div class="row">
                        <div class="col-lg-12 bg-white" ng-show="preloader">
                            <div class="product-wrap-height">
                                <div class="panel-body text-center">
                                    <img class="image-responsive-height demo-mw-50 page-loader" src="assets/img/demo/progress.svg" alt="Progress"/>
                                    <span class="loader-label">
                                        <xe-translate text-value="Loading">
                                        </xe-translate>
                                        ...
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div  class="pre-product-gallery-box-wrap" ng-hide="preloader" id="preProductGallery">
                        <div class="gallery-box pos-rlt" ng-repeat="data in decoratedProductList" ng-if="decoratedProductList.length> 0">
                            <label class="no-margin cursor-pointer" for="{{ data.id }}">
                                <!-- <div class="padding-10">
                                    <img  class="img-thumb" ng-src="{{data.template_image_json[0]}}" style="height:200px;width:200px;">
                                </div>  -->
                                <div id="product_template_{{ $index }}" class="template_list" style="height:200px;width:200px;">
                                    <img src="assets/img/demo/progress.svg" width="30" height="30" style="height:200px; vertical-align:middle;"/>
                                </div>
                            </label>
                            <div class="checkbox check-info gallery-check">
                                <input type="checkbox" value="{{ data.id }}" id="{{ data.id }}"  ng-model="tempCheck[$index]"  ng-change="pTemplateSelected(tempCheck[$index],$index)"/>
                                <label for="{{ data.id }}">
                                </label>
                            </div>
                        </div>
                        <span ng-if="decoratedProductList.length == 0">
                            <p class="font-normal text-lg text-center m-t-150">
                                <xe-translate text-value="Template Not found">
                                </xe-translate>
                            </p>
                        </span>
                    </div>
                </div>
                <div ng-show="isLoadMore" class="panel-footer text-center b-t-none">
                    <button type="button" class="btn btn-info btn-sm btn-cons from-top" ng-click="loadMore()" ng-show="isLoadMore" ng-disabled="isLoadMorePreloader">
                        <span>
                            <xe-translate text-value="Load More">
                            </xe-translate>
                        </span>
                    </button>
                    <img class="image-responsive-height demo-mw-30 " src="assets/img/progress/progress-circle-master.svg" alt="Progress" ng-show="isLoadMorePreloader"/>
                </div>
            </div>
        </div>
    </div>
    <ng-include src="'modules/preDecoratedProducts/doc/pd01.html'">
    </ng-include>
</div>
