@media only screen and (max-width : 992px) {
    section#columns {
        margin-top: 50px;
    }
}

.flashsale-description {
    text-align: center;
    color: #fff;
    padding-top: 5px;
    padding-bottom: 0;
}

.banner-countdowns {
    text-align: center;
    height: 60px;
    margin: -5px;
}

.black-friday {
    font-size: 20px;
    color: #000;
    text-transform: uppercase;
    /*font-family: 'Seymour One', sans-serif;*/
    margin-bottom: 0 !important;
}

.sale {
    font-size: 30px;
    color: #ff0000;
    text-transform: uppercase;
    padding-top: 30px;
    margin-bottom: 50px !important;
    /*font-family: 'Work Sans', sans-serif;*/
    font-weight: 900;
}

.timer-header {
    margin-bottom: 0 !important;
}

.BF-banner {
    margin-bottom: 0;
}

div .panel-body {
    padding: 7px;
}

.special-message-cart {
    font-weight: 600;
    color: #000;
    font-size: 17px;
}

#menu-offcanvas {
    z-index: 999999;
}

#checkout-payment-method-load dt.ppp {
    border-bottom: 1px solid #dfdfdf;
    padding: 5px 20px;
}

#checkout-payment-method-load dt.ppp:before {
    content: '\f044';
    font-family: FontAwesome;
    display: table-cell;
    vertical-align: middle;
    font-size: 30px;
    color: hsl(222, 79%, 28%);
    padding-right: 70px;
}

#checkout-payment-method-load dt.ppp label {
    display: table-cell;
    vertical-align: middle;
    padding: 20px 25px !important;
    color: hsl(0, 0%, 25%);
}