<!--@subject {{var store.getFrontendName()}}: Gutscheinwert wurde zurückgesetzt @-->
<!--@styles
body,td { color:#2f2f2f; font:11px/1.35em Verdana, Arial, Helvetica, sans-serif; }
@-->

<body style="background:#F6F6F6; font-family:Verdana, Arial, Helvetica, sans-serif; font-size:12px; margin:0; padding:0;">
<div style="background:#F6F6F6; font-family:Verdana, Arial, Helvetica, sans-serif; font-size:12px; margin:0; padding:0;">
<table cellspacing="0" cellpadding="0" border="0" width="100%">
    <tr>
        <td align="center" valign="top" style="padding:20px 0 20px 0">
            <!-- [ header starts here] -->
            <table bgcolor="#FFFFFF" cellspacing="0" cellpadding="10" border="0" width="650" style="border:1px solid #E0E0E0;">
                <tr>
                    <td valign="top"><a href="{{store url=''}}"><img src="{{skin url="images/logo_email.gif" _area='frontend'}}" alt="{{var store.getFrontendName()}}"  style="margin-bottom:10px;" border="0"/></a></td>
                </tr>
                <!-- [ middle starts here] -->
                <tr>
                    <td valign="top">
                        <h1 style="font-size:22px; font-weight:normal; line-height:22px; margin:0 0 11px 0;">Hallo {{htmlescape var=$customer_name}},</h1>
                        <p style="font-size:12px; line-height:16px; margin:0;">
                            vielen Dank für Ihren Einkauf bei <strong>{{var store.getFrontendName()}}</strong>!<br/>
                            Sie haben bei Ihrer Bestellung <strong>#{{var order.getIncrementId()}}</strong> am {{var order_date}} Ihren Gutschein eingelöst. Durch die Gutschrift hat Ihr Gutschein nun einen Wert von <strong>{{var coupon_remaining_value}}</strong>. Bei Ihrem nächsten Einkauf können Sie den Restwert des Gutscheins unter Angabe des Gutscheincodes <strong>{{var couponcode}}</strong> nutzen.
                        </p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <h2 style="font-size:18px; font-weight:normal; margin:0;">Übersicht der Gutschein-Einlösung</h2>
                    </td>
                </tr>
                <tr>
                    <td>
                        {{layout handle="modulwerft_couponremainingvalue_email_history" rule=$rule coupon_code=$couponcode}}
                    </td>
                </tr>
                <tr>
                    <td>
                        <p style="font-size:12px; line-height:16px; margin:0 0 11px 0;">
                            Wir freuen uns auf Ihren nächsten Besuch!
                        </p>
                    </td>
                </tr>
                <tr>
                    <td bgcolor="#EAEAEA" align="center" style="background:#EAEAEA; text-align:center;"><p style="font-size:12px; margin:0;">Vielen Dank, <strong>{{var store.getFrontendName()}}</strong></p></td>
                </tr>
            </table>
        </td>
    </tr>
</table>
</div>
</body>
