.btn-primary,
.btn-secondary,
.btn-success {
    background: #01b61b !important;
    border:1px solid #01b61b !important;
}
#nx-tool-box #nx-tool-wrap #nx-wrapper #nx-canvas #side-pane .side-pane-wrap .pane-body .pane-content .nxi-tab-nav .nav-item.active,
.nx-checkbox .xe-custom-checkbox .i-check,
.xe-custom-checkbox-block .xe-custom-checkbox .i-check,
.xe-custom-checkbox-block .xe-custom-checkbox-sm .i-check,
.xe-wordcloud-stage .wordcloud_list ul li.active,
.xe-img-setting .xe-img-setting-wrap .btn-group .btn.active,
.xe-img-gallery .nx-btn-row li #openBtn.active {
  background: #01b61b !important;
}
#nx-navbar .nav .nav-item .nav-link:hover,
#nx-navbar .nav .nav-item .nav-link:focus,
#nx-navbar .nav .nav-item .nav-link.active,
#nx-navbar .nav .nav-item.dropdown.show .dropdown-toggle,
#nx-navbar .nav .nav-item .dropdown-menu .dropdown-item:hover,
#nx-topbar .edit-nav .nav-link:hover,
#nx-topbar .edit-nav .nav-link:focus,
#nx-canvas #nx-designer .tool-thumbs .preview-thumbs ul#ul_product_face li.active,
#nx-canvas #nx-designer .tool-thumbs .preview-thumbs ul#ul_product_face li:focus,
#nx-canvas #nx-designer .tool-thumbs .preview-thumbs ul#ul_product_face li:hover,
#nx-canvas #nx-designer .tool-thumbs .preview-thumbs ul#ul_product_face:focus,
#nx-canvas #nx-designer .tool-thumbs .preview-thumbs ul#ul_product_face:hover,
#nx-canvas #side-pane .side-pane-wrap .pane-header .pane-action .pane-btn:hover,
#nx-canvas #side-pane .side-pane-wrap .pane-header .pane-action .pane-btn:focus,
#nx-canvas #side-pane .side-pane-wrap .pane-body .pane-content .product-info-wrap .btn-link,
#nx-canvas .nx-modal .nx-modal-wrap .nx-modal-body .print-profile-stage ul li:hover .media-body,
#nx-canvas .nx-modal .nx-modal-wrap .nx-modal-body .print-profile-stage ul li:focus .media-body,
.div_plainText_webFont .xe-web-fonts .font-list .font:hover,
.div_plainText_webFont .xe-web-fonts .font-list .font:focus,
.nxi-cart-section .nxi-cart-wrap .checkout-summery .nxi-checkout-price .nxi-cart-price span,
.nx-mobile-menu .navbar-nav .nav-item .nav-link:hover,
.nx-mobile-menu .navbar-nav .nav-item .nav-link:focus,
.mobile-not-support .mobile-not-support-wrap h2,
.text-success {
  color: #01b61b !important;
}

#nx-canvas #nx-designer .tool-thumbs .preview-thumbs ul#ul_product_face li.active,
#nx-canvas #nx-designer .tool-thumbs .preview-thumbs ul#ul_product_face li:focus,
#nx-canvas #nx-designer .tool-thumbs .preview-thumbs ul#ul_product_face li:hover,
#nx-canvas #nx-designer .tool-thumbs .preview-thumbs ul#ul_product_face:focus,
#nx-canvas #nx-designer .tool-thumbs .preview-thumbs ul#ul_product_face:hover,
.design-list .nx-thumbs .pane-scroll .scroll-items:hover,
.design-list .nx-thumbs .pane-scroll .scroll-items.active,
#nx-canvas #side-pane .side-pane-wrap .pane-body .pane-content .nxi-tab-nav .nav-item.active,
.xe-img-setting .xe-img-setting-wrap .btn-group .btn.active,
.xe-img-gallery .nx-btn-row li #openBtn.active,
.color-popup .color-btn .btns.active,
#nx-canvas #nx-designer .tool-thumbs .preview-thumbs ul#ul_product_face li.active,
#nx-canvas #nx-designer .tool-thumbs .preview-thumbs ul#ul_product_face li:focus,
#nx-canvas #nx-designer .tool-thumbs .preview-thumbs ul#ul_product_face li:hover,
#nx-canvas #nx-designer .tool-thumbs .preview-thumbs ul#ul_product_face:focus,
#nx-canvas #nx-designer .tool-thumbs .preview-thumbs ul#ul_product_face:hover,
.design-list .nx-thumbs .pane-scroll .scroll-items:hover,
.design-list .nx-thumbs .pane-scroll .scroll-items.active,
#nx-canvas #side-pane .side-pane-wrap .pane-body .pane-content .nxi-tab-nav .nav-item.active,
.xe-img-setting .xe-img-setting-wrap .btn-group .btn.active,
.xe-img-gallery .nx-btn-row li #openBtn.active,
.color-popup .color-btn .btns.active {
  border-color: #01b61b !important;
}

::-webkit-scrollbar-thumb {
    background-color: #01b61b !important;
}