<!--@subject Website Question from {{var username}} @-->
<!--@vars {"store url=\"\"":"Store Url", "var logo_url":"Email Logo Image Url", "var logo_alt":"Email Logo Image Alt", "var username":"Customer Name", "var usermail":"Customer Email", "var question":"Question", "var current_url":"Current URL", "var
store_name":"Store Name", "var group_name":"Store Group Name", "var website_name":"Website Name"} @-->

<!--@styles body,td { color:#2f2f2f; font:11px/1.35em Verdana, Arial, Helvetica, sans-serif; } @-->

<body style="background:#F6F6F6; font-family:Verdana, Arial, Helvetica, sans-serif; font-size:12px; margin:0; padding:0;">
    <div style="background:#F6F6F6; font-family:Verdana, Arial, Helvetica, sans-serif; font-size:12px; margin:0; padding:0;">
        <table cellspacing="0" cellpadding="0" border="0" height="100%" width="100%">
            <tr>
                <td align="center" valign="top" style="padding:20px 0 20px 0">
                    <!-- [ header starts here] -->
                    <table bgcolor="FFFFFF" cellspacing="0" cellpadding="10" border="0" width="650" style="border:1px solid #E0E0E0;">
                        <tr>
                            <td valign="top" colspan="2">
                                <a href="{{store url=" "}}"><img src="{{var logo_url}}" alt="{{var logo_alt}}" style="margin-bottom:10px;" border="0"/></a>
                            </td>
                        </tr>
                        <!-- [ middle starts here] -->
                        <tr>
                            <td valign="top" colspan="2">
                                <p style="font-size:12px; line-height:16px; margin:0 0 16px 0;">Kunde
                                    {{var username}}
                                    ({{var usermail}}) stellt eine Frage.</p>
                            </td>
                        </tr>
                        <tr>
                            <td valign="top">Frage:</td>
                            <td>{{var question}}</td>
                        </tr>
                        {{depend current_url}}
                        <tr>
                            <td valign="top">URL:</td>
                            <td>
                                <a href="{{var current_url}}" target="_blank">{{var current_url}}</a>
                            </td>
                        </tr>
                    {{/depend}}
                </table>
            </td>
        </tr>
    </table>
</div>
</body>