<!--@subject Your question was answered @-->
<!--@vars {"store url=\"\"":"Store Url", "var logo_url":"Email Logo Image Url", "var logo_alt":"Email Logo Image Alt", "var username":"Customer Name", "var question":"Question", "var answer":"Answer", "var product_links":"Related Product Links", "var
store_name":"Store Name", "var group_name":"Store Group Name", "var website_name":"Website Name"} @-->

<!--@styles body,td { color:#2f2f2f; font:11px/1.35em Verdana, Arial, Helvetica, sans-serif; } @-->

<body style="background:#F6F6F6; font-family:Verdana, Arial, Helvetica, sans-serif; font-size:12px; margin:0; padding:0;">
    <div style="background:#F6F6F6; font-family:Verdana, Arial, Helvetica, sans-serif; font-size:12px; margin:0; padding:0;">
        <table cellspacing="0" cellpadding="0" border="0" height="100%" width="100%">
            <tr>
                <td align="center" valign="top" style="padding:20px 0 20px 0">
                    <!-- [ header starts here] -->
                    <table bgcolor="FFFFFF" cellspacing="0" cellpadding="10" border="0" width="650" style="border:1px solid #E0E0E0;">
                        <tr>
                            <td valign="top" colspan="2">
                                <a href="{{store url=" "}}"><img src="{{var logo_url}}" alt="{{var logo_alt}}" style="margin-bottom:10px;" border="0"/></a>
                            </td>
                        </tr>
                        <!-- [ middle starts here] -->
                        <tr>
                            <td valign="top" colspan="2">
                                <h1 style="font-size:22px; font-weight:normal; line-height:22px; margin:0 0 11px 0;">Hallo
                                    {{var username}},</h1>
                                <p style="font-size:12px; line-height:16px; margin:0 0 16px 0;">Es gibt eine neue Antwort auf deine Frage.</p>
                            </td>
                        </tr>
                        <tr>
                            <td valign="top">Frage:</td>
                            <td>{{var question}}</td>
                        </tr>
                        <tr>
                            <td valign="top">Antwort:</td>
                            <td>{{var answer}}</td>
                        </tr>
                        {{depend product_links}}
                        <tr>
                            <td valign="top">Bezieht sich auf diese Artikel:</td>
                            <td>{{var product_links}}</td>
                        </tr>
                    {{/depend}}
                </table>
            </td>
        </tr>
    </table>
</div>
</body>