<?php
/**
 * Magmex Advent Calendar template for the day action coupon
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the EULA
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://www.magmex.com/MAGMEX_SOFTWARE_LICENSE.txt
 *
 * @copyright Copyright (c) 2015 magmex, Michael Stork, (http://www.magmex.com)
 * @license http://www.magmex.com/MAGMEX_SOFTWARE_LICENSE.txt
 * @category Magmex
 * @package Magmex_AdventCalendar
 * @author Michael Stork <m.stork@magmex.com>
 */
?>
<div id="dayActionCoupon">
    <h1 class="headline"><?php echo $this->getHeadline(); ?></h1>
    <?php if ($this->getImage() !== null): ?>
        <div class="image">
            <img src="<?php echo Mage::getBaseUrl('media') . DS . $this->getImage(); ?>" />
        </div>
    <?php else: ?>
        <div class="description"><?php echo $this->getDescription(); ?></div>
    <?php endif; ?>
    <div class="availability">
        <?php if ($this->getFromDate() !== null && $this->getToDate() !== null): ?>
            <?php echo $this->__('Valid from'); ?> <?php echo $this->formatDate($this->getFromDate(), Mage_Core_Model_Locale::FORMAT_TYPE_MEDIUM); ?> <?php echo $this->__('to'); ?> <?php echo $this->formatDate($this->getToDate(), Mage_Core_Model_Locale::FORMAT_TYPE_MEDIUM); ?>.
        <?php elseif ($this->getFromDate() !== null): ?>
            <?php echo $this->__('Valid from'); ?> <?php echo $this->formatDate($this->getFromDate(), Mage_Core_Model_Locale::FORMAT_TYPE_MEDIUM); ?>.
        <?php elseif ($this->getToDate() !== null): ?>
            <?php echo $this->__('Valid to'); ?> <?php echo $this->formatDate($this->getToDate(), Mage_Core_Model_Locale::FORMAT_TYPE_MEDIUM); ?>.
        <?php endif; ?>
    </div>
    <div class="couponCode" style="color: <?php echo $this->getCouponCodeColor(); ?>"><?php echo $this->getCode(); ?></div>
    <?php if ($this->getRightText() !== null): ?>
    <div class="rightText"><?php echo $this->getRightText(); ?></div>
    <?php endif; ?>
</div>