<?php
/**
 * Magmex Advent Calendar template for the day action Teaser Link
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the EULA
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://www.magmex.com/MAGMEX_SOFTWARE_LICENSE.txt
 *
 * @copyright Copyright (c) 2015 magmex, Michael Stork, (http://www.magmex.com)
 * @license http://www.magmex.com/MAGMEX_SOFTWARE_LICENSE.txt
 * @category Magmex
 * @package Magmex_AdventCalendar
 * @author Michael Stork <m.stork@magmex.com>
 */
?>
<div id="dayActionTeaserLink">
    <a class="teaserLink" href="<?php echo $this->getLink(); ?>">
        <img src="<?php echo Mage::getBaseUrl('media') . DS . $this->getImage(); ?>" />
    </a>
</div>