<?php
if (!$this->getMaxPointsNumberToSpent() || !$this->getIsSpendAllowed()) {
    return;
}
?>

<style>
    form#amscheckout-onepage div#amscheckout-main.amscheckout-main div.amscheckout div.three-columns div.second-column div.column-section div#checkout-coupon.coupon div.onestepcheckout-rewards {
        position: relative;
        left: -10px;
    }

    form#amscheckout-onepage div#amscheckout-main.amscheckout-main div.amscheckout div.three-columns div.second-column div.column-section div#checkout-coupon.coupon div.onestepcheckout-rewards div.discount div.discount-form {
        margin-left: 10px;
        margin-top: 10px;
    }

    form#amscheckout-onepage div#amscheckout-main.amscheckout-main div.amscheckout div.three-columns div.second-column div.column-section div#checkout-coupon.coupon div.onestepcheckout-rewards div.discount div.discount-form button.amscheckout-apply span {
        padding: 1px;
    }

    form#amscheckout-onepage div#amscheckout-main.amscheckout-main div.amscheckout div.three-columns div.second-column div.column-section div#checkout-coupon.coupon div.onestepcheckout-rewards div.discount div.discount-form button.amscheckout-apply span span {
        padding: 10px;
    }
</style>

<div class="onestepcheckout-rewards">
    <div class="discount">
        <div class="area-header">
            <div class="amscheckout-img-shadow">
                <div class="amscheckout-img">%</div>
            </div>
            <?php echo $this->__('Use Reward Points') ?>
        </div>
        <div class="discount-form">
            <label for="points_amount"><?php echo $this->__('You have <b>%s</b> available.', Mage::helper('rewards')->formatPoints($this->getBalancePoints())) ?><br>

            <?php echo $this->__('Enter amount of points to spend:'); ?>
            </label>
            <div class="input-box">
                <input class="input-text" id="points_amount" name="points_amount" value="<?php echo $this->getPointsAmount() ? $this->htmlEscape($this->getPointsAmount()) : '' ?>" />
            </div>
            <div class="input-box" style="margin-top: 5px; margin-bottom: 5px;">
                <input type='checkbox' id="points_all" name="points_all"
                <?php echo $this->getPointsAmount() == $this->getMaxPointsNumberToSpent() ? 'checked' : ''?> />
                <label for="points_all"><?php echo $this->__('Use maximum %s', Mage::helper('rewards')->formatPoints($this->getMaxPointsNumberToSpent()))?></label>
            </div>
                <button id="onestepcheckout-rewards-add" type="button" title="<?php echo $this->__('Apply Points') ?>" class="amscheckout-apply" value="<?php echo $this->__('Apply Points') ?>"><span><span><?php echo $this->__('Apply Points') ?></span></span></button>
                <span id="cancel_block" <?php echo $this->getPointsAmount() ? '' : 'style="display:none"' ?>>
                    &nbsp; <button id="onestepcheckout-rewards-cancel" type="button" title="<?php echo $this->__('Cancel Points') ?>" class="amscheckout-apply" value="<?php echo $this->__('Cancel Points') ?>"><span><span><?php echo $this->__('Cancel Points') ?></span></span></button>
                </span>
        </div>
    </div>
<script type="text/javascript">
//<![CDATA[
var rewardsForm = new VarienForm('reward-points-form');

Event.observe($('points_all'), 'click', function(){
    if ($('points_amount').value == <?php echo $this->getMaxPointsNumberToSpent() ?>) {
        $('points_amount').value = '';
    } else {
        $('points_amount').value = <?php echo $this->getMaxPointsNumberToSpent() ?>;
    }
});
Event.observe($('points_amount'), 'keyup', function(){
    var val = parseInt($('points_amount').value);
    if (isNaN(val) || val < <?php echo $this->getMaxPointsNumberToSpent() ?>) {
        $('points_all').checked = false;
    } else {
        $('points_all').checked = true;
        $('points_amount').value = <?php echo $this->getMaxPointsNumberToSpent() ?>;
    }
});
//]]>
</script>

            <script>
            Event.observe(window, 'load', function() {
                $('onestepcheckout-rewards-add').observe('click', function(e)    {
                    $('points_amount').addClassName('required-entry');
                    updatePoints();
                });
                $('onestepcheckout-rewards-cancel').observe('click', function(e)    {
                    $('points_amount').removeClassName('required-entry');
                    $('points_amount').setValue('');
                    $('points_all').checked = false;
                    updatePoints();
                });
            });

            function updatePoints() {
                    var points_amount = $('points_amount').getValue();
                    if (points_amount > 0) {
                        $('cancel_block').show();
                    } else {
                        $('cancel_block').hide();
                    }

                    var url = '<?php echo $this->getUrl('rewards/checkout/applyPointsAitocOnestepcheckout', array('_secure' => true)) ?>';
                    var parameters = {points_amount: points_amount};

                    new Ajax.Request(url, {
                        method: 'post',
                        parameters: parameters,
                        onSuccess: function(transport) {
                            if(transport.status == 200) {
                                updateCheckout("shipping_method");
                            }
                            updateCheckout("shipping_method");
                        }
                    });
            }
            </script>
        </div>
