@font-face {
                        font-family: "GoodDog Cool";
                        src: url("GoodDog_Cool.ttf")  format("truetype");
                    }@font-face {
                        font-family: "Eyesis";
                        src: url("Eyesis.ttf")  format("truetype");
                    }@font-face {
                        font-family: "Bored_Work_Doodles";
                        src: url("Bored_Work_Doodles.ttf")  format("truetype");
                    }@font-face {
                        font-family: "Bumbazoid";
                        src: url("Bumbazoid.ttf")  format("truetype");
                    }@font-face {
                        font-family: "Super Mario Bros.";
                        src: url("Super_Mario_Bros..ttf")  format("truetype");
                    }@font-face {
                        font-family: "cherif";
                        src: url("cherif.ttf")  format("truetype");
                    }@font-face {
                        font-family: "Saddlebag";
                        src: url("Saddlebag.ttf")  format("truetype");
                    }@font-face {
                        font-family: "Shadowed Serif";
                        src: url("Shadowed_Serif.ttf")  format("truetype");
                    }@font-face {
                        font-family: "Gunplay";
                        src: url("Gunplay.ttf")  format("truetype");
                    }@font-face {
                        font-family: "Armalite Rifle";
                        src: url("Armalite_Rifle.ttf")  format("truetype");
                    }