<div class="modal fade slide-right" id="p1" pg-portlet tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-body info-module-single">
                <h4 class="info-module-title">
                  How to create print profile?
                </h4>
                To create a print profile,
                <ol>
                    <li>Open inkXE Admin.</li>
                    <li>Go to <b>Print Profile</b> in the toolbar towards the left.</li>
                    <li> Move right and click <b>Add</b>.<img src="modules/printSettingWizard/doc/assets/p1_1.png" /></li>
                    <li>A new page will appear. Give a name and upload your print method icon.</li>
                    <li>Click Next.</li>
                </ol>
                Your print profile has been created.<br><br>
                <div style="padding: 7.0px 10.0px;background-color: rgb(216,235,248);border: 1.0px solid rgb(151,193,218);">
                    NOTE: Print profile gets created the moment you click the first 'next'. However, it is not absolute unless you have assigned all the properties.
                </div>
            </div>
        </div>
    </div>
</div>