<div class="modal fade slide-right" id="p10" pg-portlet tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-body info-module-single">
                <h4 class="info-module-title">
                  How to enable background price?
                </h4>
                <div style="padding: 7.0px 10.0px;background-color: rgb(216,235,248);border: 1.0px solid rgb(151,193,218);">
                    NOTE: You can set price for premium backgrounds. Its price will be added to the total printing cost when your customers use backgrounds from your premium collection.
                </div>
                <br>
                To enable background price,
                <ol>
                    <li>Open inkXE Admin.</li>
                    <li>Go to <b>Print Profile</b> in the toolbar towards the left.</li>
                    <li>Select your print profile and click on the edit icon.<img src="modules/printSettingWizard/doc/assets/editProfile.png" /></li>
                    <li>In the new page, go to <b>Price Settings</b>.</li>
                    <li> Under price settings, find <b>Enable Background Price</b> and enable it.<img src="modules/printSettingWizard/doc/assets/p7_8.png" /></li>
                    <li>Click <b>Save</b>.</li>
                </ol>
                You have enabled background price.<br><br>
                <div style="padding: 7.0px 10.0px;background-color: rgb(216,235,248);border: 1.0px solid rgb(151,193,218);">
                    NOTE: You need to set the price of all your premium backgrounds beforehand.
                </div>
                <br>
                Example:<br>
                A Background price is set as  $1.50. When your customer use the same background for the customization for the product, the price set for that background will be added to the total printing cost.<br>  
                So the price will be as :<br><br>
                Product Price + Background Price = Total Price ($25 + $1.50 = $26.50)
            </div>
        </div>
    </div>
</div>