<div class="modal fade slide-right" id="p11" pg-portlet tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-body info-module-single">
                <h4 class="info-module-title">
                  How to enable font price?
                </h4>
                The Font Price is the price for adding premium fonts. If enabled the price will be added to the printing cost. When your customer uses that specific font to customize the product, then price for specific font will be added to the printing cost. The price is added each time when you add the font on the product.<br><br>
                <div style="padding: 7.0px 10.0px;background-color: rgb(216,235,248);border: 1.0px solid rgb(151,193,218);">
                    NOTE: Make sure you have set the price of all your premium fonts.
                </div>
                <br>
                To enable font price,
                <ol>
                    <li>Open inkXE Admin.</li>
                    <li>Go to <b>Print Profile</b> in the toolbar towards the left.</li>
                    <li>Select your print profile and click on the edit icon.<img src="modules/printSettingWizard/doc/assets/editProfile.png" /></li>
                    <li>In the new page, go to <b>Price Settings</b>.</li>
                    <li> Under price settings, find <b>Enable Font Price</b> and enable it.<img src="modules/printSettingWizard/doc/assets/p7_9.png" style="width: auto;" /></li>
                    <li>Click <b>Save</b>.</li>
                </ol>
                Your font will be priced from now.<br>
                <br>
                Example:<br>
                For a specific Font, price is set as $1.50. When your customer use the same Font while customizing the product, then price set for the font will be added to the total printing cost.<br> 
                So the price will be showing to the customer is :<br><br>
                Product Price + Font Price = Total Price ($15 + $1.50 = $16.50)
            </div>
        </div>
    </div>
</div>