<div class="modal fade slide-right" id="p12" pg-portlet tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-body info-module-single">
                <h4 class="info-module-title">
                  How to enable color/pattern price?
                </h4>
                <div style="padding: 7.0px 10.0px;background-color: rgb(216,235,248);border: 1.0px solid rgb(151,193,218);">
                    INFO: You can set price for premium colors/patterns. Its price will be added to the total printing cost when your customers use colors from your premium collection.
                </div>
                <br>
                To enable color/pattern price,
                <ol>
                    <li>Open inkXE Admin.</li>
                    <li>Go to <b>Print Profile</b> in the toolbar towards the left.</li>
                    <li>Select your print profile and click on the edit icon.<img src="modules/printSettingWizard/doc/assets/editProfile.png" /></li>
                    <li>In the new page, go to <b>Price Settings</b>.</li>
                    <li> Under price settings, find <b>Enable Color/Pattern Price</b> and enable it.<img src="modules/printSettingWizard/doc/assets/p7_10.png" style="width: auto;" /></li>
                    <li>Click <b>Save</b>.</li>
                </ol>
                You have enabled color/pattern price.
                <br><br>
                <div style="padding: 7.0px 10.0px;background-color: rgb(216,235,248);border: 1.0px solid rgb(151,193,218);">
                    NOTE: You need to set the price of all your premium color and patterns beforehand.
                </div>
                <br>
                Example:<br>
                For a specific Color, price is set as $2. When your customer use the same Color while customizing the product, then price set for the color will be added to the total printing cost.<br>
                So the price will be showing to the customer is :<br><br>
                Product Price + Color Price = Total price ($15 + $2 = $17)
            </div>
        </div>
    </div>
</div>