<div class="modal fade slide-right" id="p13" pg-portlet tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-body info-module-single">
                <h4 class="info-module-title">
                  How to enable additional price?
                </h4>
                <div style="padding: 7.0px 10.0px;background-color: rgb(216,235,248);border: 1.0px solid rgb(151,193,218);">
                    INFO: When it comes to printing, there are many types of costs included and it is likely that we might skip something. This is where Additional price comes in. Set an amount here for expenses that were otherwise not covered in the rest of the options. 
                </div>
                <br>
                To set additional price,
                <ol>
                    <li>Open inkXE Admin.</li>
                    <li>Go to <b>Print Profile</b> in the toolbar towards the left.</li>
                    <li>Select your print profile and click on the edit icon.<img src="modules/printSettingWizard/doc/assets/editProfile.png" /></li>
                    <li>In the new page, go to <b>Price Settings</b>.</li>
                    <li> Under price settings, find <b>Additional Price</b> and enable it.<img src="modules/printSettingWizard/doc/assets/p7_11.png" style="width: auto;" /></li>
                    <li>Give desired additional price in the box that appears below. </li>
                    <li>Set a price and click <b>Save</b>.</li>
                </ol>
                You have enabled additional price.
                <br><br>
                Example:<br>
                Additional Price is set as $2.50 in inkXE Admin. When your customer customize the product then extra $2.50 will be added to the total printing cost.<br>
                So the price will be showing to the customer as :<br><br>
                Product Price + Additional Price = Total price ($15 + $2.50 = $17.50) 
            </div>
        </div>
    </div>
</div>