<div class="modal fade slide-right" id="p15" pg-portlet tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-body info-module-single">
                <h4 class="info-module-title">
                   How to enable multiline text price?
                </h4>
                <div style="padding: 7.0px 10.0px;background-color: rgb(216,235,248);border: 1.0px solid rgb(151,193,218);">
                    INFO: Text line price is a feature that enables you to set price for each line. Your customers will be billed each time they add a new line. 
                </div>
                <br>
                To enable multiline text line price,
                <ol>
                    <li>Open inkXE Admin.</li>
                    <li>Go to <b>Print Profile</b> in the toolbar towards the left.</li>
                    <li>Select your print profile and click on the edit icon.<img src="modules/printSettingWizard/doc/assets/editProfile.png" /></li>
                    <li>In the new page, go to <b>Price Settings</b>.</li>
                    <li> Under price settings, find <b>Enable Text Line Price</b> and enable it.<img src="modules/printSettingWizard/doc/assets/p7_13.png" /></li>
                    <li>Click <b>Save</b>.</li>
                </ol>
                You have enabled multiline text line price.
                <br><br>
                Example:<br><br>
                In inkXE Admin Number Of Allowed Lines 3 and for each line price is set as $2. When the user add any text of three lines then $6 will get added and for text of two lines then $4 will get added. So the Text price will be $10.<br><br>
                Text Contains three lines is $6.<br>
                Text Contains two lines is $4.<br>
                Text Price is $10.<br><br>
                The price will be shown to the customer is : <br><br>
                Product Price + Text Price = Total price ($15 + $10 = $25)
            </div>
        </div>
    </div>
</div>