<div class="modal fade slide-right" id="p16" pg-portlet tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-body info-module-single">
                <h4 class="info-module-title">
                  How to enable price per letter?
                </h4>
                 <div style="padding: 7.0px 10.0px;background-color: rgb(216,235,248);border: 1.0px solid rgb(151,193,218);">
                    NOTE: Make sure you have set the price for TextFx beforehand from the Admin Panel. 
                </div>
                <br>
                To enable price per letter,
                <ol>
                    <li>Open inkXE Admin.</li>
                    <li>Go to <b>Print Profile</b> in the toolbar towards the left.</li>
                    <li>Select your print profile and click on the edit icon.<img src="modules/printSettingWizard/doc/assets/editProfile.png" /></li>
                    <li>In the new page, go to <b>Price Settings</b>.</li>
                    <li> Under price settings, find <b>Enable Price Per Letter</b> and enable it.<img src="modules/printSettingWizard/doc/assets/p7_14.png" style="width: auto;" /></li>
                    <li>Click <b>Save</b>.</li>
                </ol>
                You have enabled price per letter.
                <br><br>
                <b>Example</b>:<br><br>
                For the first set of TextFx the price is set at $1.50 and for the second set of TextFxt the price is set at $2.50. When your customer adds three letters from the first set of text FX and two letter from the second set of TextFx, the Letter Price will be $9.50.<br><br>
                For three letters from the first set of TextFx, price is $4.50<br>
                For two letters from the second set of TextFx, price is $5.00<br>
                Letter Price is $9.50<br><br>
                The price will be shown to the customer is :<br><br>
                <b>Product Price + Letter Price = Total price ($15 + $9.50 = $24.50)</b>
            </div>
        </div>
    </div>
</div>