<div class="modal fade slide-right" id="p18" pg-portlet tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-body info-module-single">
                <h4 class="info-module-title">
                  How to set fixed price for print area?
                </h4>
                To set a fixed price for rectangular print area,
                <ol>
                    <li>Open inkXE Admin.</li>
                    <li>Go to <b>Print Profile</b> in the toolbar towards the left.</li>
                    <li>Select your print profile and click on the edit icon.<img src="modules/printSettingWizard/doc/assets/editProfile.png" /></li>
                    <li>In the new page, go to <b>Price Sheet</b>.</li>
                    <li>A Price Table will appear on the right. Choose <b>Area Price</b> from the first drop-down.</li>
                    <li>Enter your price for print area.<img src="modules/printSettingWizard/doc/assets/p8_1.png" /></li>
                    <li>Click <b>Save</b>.</li>
                </ol>
                Your fixed price for print area (rectangular) has been saved.<br><br>
                Example:<br>
                (i) Product having Print Area as A4 and the  quantity range is 15 then $6.65 will be added to the total printing cost.<br>
                Print Area is A4<br>
                Quantity Range is 20 <br>
                Print price will be $6.65<br><br>
                The price will be shown to the customer is :<br><br> 
                Product Price + Print price = Total price ($15 + $6.65 = $21.65)<br><br>
                (ii) Product having Print Area as A5 and the quantity range is 50 then $4.60 will be added to the total printing cost.<br>
                Print Area is A5<br>
                Quantity Range is 50<br>
                Print price will be $4.60<br><br>
                The price will be shown to the customer is :<br><br>
                Product Price + Print price = Total price ($15 + $4.60 = $19.60)
            </div>
        </div>
    </div>
</div>