<div class="modal fade slide-right" id="p2" pg-portlet tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-body info-module-single">
                <h4 class="info-module-title">
                  How to enable/disable features of designer tool?
                </h4>
                To enable/disable features of designer tool for a print profile,
                <ol>
                    <li>Open inkXE Admin.</li>
                    <li>Go to <b>Print Profile</b> in the toolbar towards the left.</li>
                    <li>Select your print profile and click on the edit icon.<img src="modules/printSettingWizard/doc/assets/editProfile.png" /></li>
                    <li>In a new page. Click <b>FEATURES ON/OFF</b> from left tabs.</li>
                    <li>You will see a new page towards right with all available features. Uncheck features which you don't want to assign to print profile.<img src="modules/printSettingWizard/doc/assets/p2_1.png" /></li>
                    <li>Click <b>Save & Continue.</b></li>
                </ol>
                Features have been enabled/disabled to the print profile successfully.
            </div>
        </div>
    </div>
</div>