<div class="modal fade slide-right" id="p20" pg-portlet tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-body info-module-single">
                <h4 class="info-module-title">
                  How to set fixed price for irregular print area?
                </h4>
                To set fixed price for irregular print area,
                <ol>
                    <li>Open inkXE Admin.</li>
                    <li>Go to <b>Print Profile</b> in the toolbar towards the left.</li>
                    <li>Select your print profile and click on the edit icon.<img src="modules/printSettingWizard/doc/assets/editProfile.png" /></li>
                    <li>In the new page, go to <b>Price Sheet.</b></li>
                   <li>A Price Table will appear on the right. Choose <b>Area Price</b> from the first drop-down.<img src="modules/printSettingWizard/doc/assets/p8_2.png" /></li>
                    <li> Now, scroll down to find <b>Mask Area Price</b> and click Configure Mask Price.<img src="modules/printSettingWizard/doc/assets/p8_3.png" /></li>
                    <li>A popup will open. Enter your price for irregular shape and save it. Close the popup. </li>
                    <li>Click <b>Save or Save & Continue</b>.</li>
                </ol>
                Your fixed price for irregular print area has been saved.
            </div>
        </div>
    </div>
</div>