<div class="modal fade slide-right" id="p21" pg-portlet tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-body info-module-single">
                <h4 class="info-module-title">
                  What is print profile and how it works?
                </h4>
                <p>Print Profile refers to a printing method that you can setup for any specific product category or set of product categories with customized settings. Configure various kinds of settings starting from pricing to what not. Enable or disable the options based on how you print or how you want to charge your customers for customization. Custom setting option in inkXE Admin allows you to easily set color levels, print area, price, clip arts, font size, price rules, and a lot more.</p>
                When you create a print profile in inkXE Admin, you can configure the following:
                <ol>
                    <li>Upload your own Cliparts, Fonts, Shapes, Backgrounds etc.</li>
                    <li>Assign different categories of assets to a specific print profile.</li>
                    <li>Apply different type of color settings such as fill color, border color, etc., to your print profile.</li>
                    <li>Apply various type of price settings, for ex., setup price, clip art price, scaling price, area price, color price, etc., to your print profile.</li>
                </ol>
                The settings you customize for a specific print profile will also be the settings for the same when your customers select it on the designer tool.
            </div>
        </div>
    </div>
</div>