<div class="modal fade slide-right" id="p3" pg-portlet tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-body info-module-single">
                <h4 class="info-module-title">
                  How to apply settings of an existing print profile?
                </h4>
                To apply settings of an existing print profile,
                <ol>
                    <li>Open inkXE Admin.</li>
                    <li>Go to <b>Print Profile</b> in the toolbar towards the left.</li>
                    <li>Select your print profile and click on the edit icon.<img src="modules/printSettingWizard/doc/assets/editProfile.png" /></li>
                    <li>In the new page, go to <b>Load Print Profile</b>.</li>
                    <li>A new page will appear. Select your desired print profile from the drop-down.<img src="modules/printSettingWizard/doc/assets/p3_1.png" /></li>
                    <li> Click <b>Save</b> or <b>Save & Continue</b>.</li>
                </ol>
                You have applied settings of an existing print profile.
            </div>
        </div>
    </div>
</div>