<div class="modal fade slide-right" id="p4" pg-portlet tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-body info-module">
                <div class="panel-group" id="accordion" role="tablist">
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingOne">
                            <h4 class="panel-title">
                                <a class="collapsed" data-toggle="collapse" data-parent="#accordion"  href="#collapseOne" target="_self" aria-expanded="false" aria-controls="collapseOne">
                                  How to set minimum order quantity?
                                </a>
                            </h4>
                        </div>
                        <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                            <hr>
                            <div class="panel-body">
                                To set minimum order quantity,
                                <ol>
                                    <li>Open inkXE Admin.</li>
                                    <li>Go to <b>Print Profile</b> in the toolbar towards the left.</li>
                                    <li>Select your print profile and click on the edit icon.<img src="modules/printSettingWizard/doc/assets/editProfile.png" /></li>
                                    <li>In the new page, go to <b>General Settings</b>.</li>
                                    <li>Under general settings, find <b>Minimum Order Quantity</b> and enable it.</li>
                                    <li>Enter your desired minimum value inside the textbox.<img src="modules/printSettingWizard/doc/assets/p4_1.jpg" /></li>
                                    <li>Click <b>Save & Continue</b>.</li>
                                </ol>
                                You have set minimum order quantity.
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingTwo">
                            <h4 class="panel-title">
                                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" target="_self" aria-expanded="false" aria-controls="collapseTwo">
                                  How to enable auto conversion of uploaded images?
                                </a>
                            </h4>
                        </div>
                        <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                            <hr>
                             <div class="panel-body">
                                To enable auto conversion of uploaded images,
                                <ol>
                                    <li>Open inkXE Admin.</li>
                                    <li>Go to <b>Print Profile</b> in the toolbar towards the left.</li>
                                    <li>Select your print profile and click on the edit icon.<img src="modules/printSettingWizard/doc/assets/editProfile.png" /></li>
                                    <li>In the new page, go to <b>General Settings.</b></li>
                                    <li>Under general settings, find <b>Auto Convert Uploaded Images</b> and enable it.<img src="modules/printSettingWizard/doc/assets/p4_2.png" style="width: auto;" /></li>
                                    <li>Select an option from the drop-down.</li>
                                    <li>Click <b>Save or Save & Continue</b>.</li>
                                </ol>
                                You have enabled auto conversion of uploaded images.
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingThree">
                            <h4 class="panel-title">
                                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" target="_self" aria-expanded="false" aria-controls="collapseThree">
                                  How to enable engrave/blend mode?
                                </a>
                            </h4>
                        </div>
                        <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                            <hr>
                            <div class="panel-body">
                                To enable engrave/blend mode,
                                <ol>
                                    <li>Open inkXE Admin.</li>
                                    <li>Go to <b>Print Profile</b> in the toolbar towards the left.</li>
                                    <li>Select your print profile and click on the edit icon.<img src="modules/printSettingWizard/doc/assets/editProfile.png" /></li>
                                    <li>In the new page, go to <b>General Settings</b>.</li>
                                    <li>Under general settings, find <b>Engrave</b> and enable it.<img src="modules/printSettingWizard/doc/assets/p4_3.png" style="width: auto;" /></li>
                                    <li>Select an option from the drop-down.</li>
                                    <li>Click <b>Save or Save & Continue</b>.</li>
                                </ol>
                                You have enabled engrave/blend mode.
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingFour">
                            <h4 class="panel-title">
                                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" target="_self" aria-expanded="false" aria-controls="collapseFour">
                                  How to enable browse button to upload images for background patterns?
                                </a>
                            </h4>
                        </div>
                        <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
                            <hr>
                            <div class="panel-body">
                                To enable browse button for background patterns,
                                <ol>
                                    <li>Open inkXE Admin.</li>
                                    <li>Go to <b>Print Profile</b> in the toolbar towards the left.</li>
                                    <li>Select your print profile and click on the edit icon.<img src="modules/printSettingWizard/doc/assets/editProfile.png" /></li>
                                    <li>In the new page, go to <b>General Settings</b>.</li>
                                    <li>Under general settings, find <b>Browse for Background Patterns</b> and enable it.<img src="modules/printSettingWizard/doc/assets/p4_4.png" style="width: auto;" /></li>
                                    <li>Click <b>Save</b> or <b>Save & Continue</b>.</li>
                                </ol>                              
                                Your have enabled browse button for background patterns.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>