<div class="modal fade slide-right" id="p5" pg-portlet tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-body info-module">
                <div class="panel-group" id="accordion" role="tablist">
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingOne">
                            <h4 class="panel-title">
                                <a class="collapsed" data-toggle="collapse" data-parent="#accordion"  href="#collapseOne" target="_self" aria-expanded="false" aria-controls="collapseOne">
                                  How to assign products to print profile?
                                </a>
                            </h4>
                        </div>
                        <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                            <hr>
                            <div class="panel-body">
                                To assign products to print profile,
                                <ol>
                                    <li>Open inkXE Admin.</li>
                                    <li>Go to <b>Print Profile</b> in the toolbar towards the left.</li>
                                    <li>Select your print profile and click on the edit icon.<img src="modules/printSettingWizard/doc/assets/editProfile.png" /></li>
                                    <li>In the new page, go to <b>Assign Assets</b>.</li>
                                    <li>Under "assign to the following", go to <b>Products</b>.<img src="modules/printSettingWizard/doc/assets/p5_1.png" /></li>
                                    <li>Select checkboxes of the items inside that you want to assign as categories.</li>
                                    <li>Scroll down and click <b>Save</b> or <b>Save & Continue</b>.</li>
                                </ol>
                                <div style="padding: 7.0px 10.0px;background-color: rgb(216,235,248);border: 1.0px solid rgb(151,193,218);">
                                    Note: Please select at least one category from each asset to save successfully.
                                </div>
                                <br>
                                You have assigned products to print profile.
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingTwo">
                            <h4 class="panel-title">
                                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" target="_self" aria-expanded="false" aria-controls="collapseTwo"> 
                                    How to assign graphics to print profile?
                                </a>
                            </h4>
                        </div>
                        <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                            <hr>
                            <div class="panel-body">
                                To assign graphics to a print profile,
                                <ol>
                                    <li>Open inkXE Admin.</li>
                                    <li>Go to <b>Print Profile</b> in the toolbar towards the left.</li>
                                    <li>Select your print profile and click on the edit icon.<img src="modules/printSettingWizard/doc/assets/editProfile.png" /></li>
                                    <li>In the new page, go to <b>Assign Assets</b>.</li>
                                    <li>Under "assign to the following", go to <b>Graphics</b>.<img src="modules/printSettingWizard/doc/assets/p5_2.png" /></li>
                                    <li>Select checkboxes of the items inside that you want to assign as categories.</li>
                                    <li>Scroll down and click <b>Save</b> or <b>Save & Continue</b>.</li>
                                </ol>
                                <div style="padding: 7.0px 10.0px;background-color: rgb(216,235,248);border: 1.0px solid rgb(151,193,218);">
                                    Note: Please select at least one category from each asset to save successfully.
                                </div>
                                <br>
                                Your graphics have been assigned to print profile.
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingThree">
                            <h4 class="panel-title">
                                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" target="_self" aria-expanded="false" aria-controls="collapseThree">
                                  How to assign colors and patterns to print profile?
                                </a>
                            </h4>
                        </div>
                        <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                            <hr>
                            <div class="panel-body">
                                To assign colors and patterns to a print profile,
                                <ol>
                                    <li>Open inkXE Admin.</li>
                                    <li>Go to <b>Print Profile</b> in the toolbar towards the left.</li>
                                    <li>Select your print profile and click on the edit icon.<img src="modules/printSettingWizard/doc/assets/editProfile.png" /></li>
                                    <li>In the new page, go to <b>Assign Assets</b>.</li>
                                    <li>Under "assign to the following", go to <b>Pallete/Pattern</b>.<img src="modules/printSettingWizard/doc/assets/p5_3.png" /></li>
                                    <li>Select checkboxes of the items inside that you want to assign as categories.</li>
                                    <li>Scroll down and click <b>Save</b> or <b>Save & Continue</b>.</li>
                                </ol>
                                <div style="padding: 7.0px 10.0px;background-color: rgb(216,235,248);border: 1.0px solid rgb(151,193,218);">
                                    Note: Please select at least one category from each asset to save successfully.
                                </div>
                                <br>
                                Your colors and patterns have been assigned to print profile.
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingFour">
                            <h4 class="panel-title">
                                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" target="_self" aria-expanded="false" aria-controls="collapseFour">
                                  How to assign templates to a print profile?
                                </a>
                            </h4>
                        </div>
                        <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
                            <hr>
                            <div class="panel-body">
                                To assign templates to a print profile,
                                <ol>
                                    <li>Open inkXE Admin.</li>
                                    <li>Go to <b>Print Profile</b> in the toolbar towards the left.</li>
                                    <li>Select your print profile and click on the edit icon.<img src="modules/printSettingWizard/doc/assets/editProfile.png" /></li>
                                    <li>In the new page, go to <b>Assign Assets</b>.</li>
                                    <li>Under "assign to the following", go to <b>Templates</b>.<img src="modules/printSettingWizard/doc/assets/p5_4.png" /></li>
                                    <li>Select checkboxes of the items inside that you want to assign as categories.</li>
                                    <li>Scroll down and click <b>Save</b> or <b>Save & Continue</b>.</li>
                                </ol>
                                <div style="padding: 7.0px 10.0px;background-color: rgb(216,235,248);border: 1.0px solid rgb(151,193,218);">
                                    Note: Please select at least one category from each asset to save successfully.
                                </div>
                                <br>
                                Your template has been assigned to print profile.
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingFive">
                            <h4 class="panel-title">
                                <a class="collapsed" data-toggle="collapse" data-parent="#accordion"  href="#collapseFive" target="_self" aria-expanded="false" aria-controls="collapseFive">
                                  How to assign backgrounds to print profile?
                                </a>
                            </h4>
                        </div>
                        <div id="collapseFive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFive">
                            <hr>
                            <div class="panel-body">
                                To assign backgrounds to print profile,
                                <ol>
                                    <li>Open inkXE Admin.</li>
                                    <li>Go to <b>Print Profile</b> in the toolbar towards the left.</li>
                                    <li>Select your print profile and click on the edit icon.<img src="modules/printSettingWizard/doc/assets/editProfile.png" /></li>
                                    <li>In the new page, go to <b>Assign Assets</b>.</li>
                                    <li>Under "assign to the following", go to <b>Backgrounds</b>.<img src="modules/printSettingWizard/doc/assets/p5_5.png" /></li>
                                    <li>Select checkboxes of the items inside that you want to assign as categories.</li>
                                    <li>Scroll down and click <b>Save</b> or <b>Save & Continue</b>.</li>
                                </ol>
                                <div style="padding: 7.0px 10.0px;background-color: rgb(216,235,248);border: 1.0px solid rgb(151,193,218);">
                                    Note: Please select at least one category from each asset to save successfully.
                                </div>
                                <br>
                                Your background has been assigned to print profile.
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingSix">
                            <h4 class="panel-title">
                                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseSix" target="_self" aria-expanded="false" aria-controls="collapseSix"> 
                                    How to assign background patterns to print profile?
                                </a>
                            </h4>
                        </div>
                        <div id="collapseSix" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSix">
                            <hr>
                            <div class="panel-body">
                                To assign background patterns to print profile,
                                <ol>
                                    <li>Open inkXE Admin.</li>
                                    <li>Go to <b>Print Profile</b> in the toolbar towards the left.</li>
                                    <li>Select your print profile and click on the edit icon.<img src="modules/printSettingWizard/doc/assets/editProfile.png" /></li>
                                    <li>In the new page, go to <b>Assign Assets</b>.</li>
                                    <li>Under "assign to the following", go to <b>Background Patterns</b>.<img src="modules/printSettingWizard/doc/assets/p5_6.png" /></li>
                                    <li>Select checkboxes of the items inside that you want to assign as categories.</li>
                                    <li>Scroll down and click <b>Save</b> or <b>Save & Continue</b>.</li>
                                </ol>
                                <div style="padding: 7.0px 10.0px;background-color: rgb(216,235,248);border: 1.0px solid rgb(151,193,218);">
                                    Note: Please select at least one category from each asset to save successfully.
                                </div>
                                <br>
                                Your background patterns have been assigned to print profile.
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingSeven">
                            <h4 class="panel-title">
                                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseSeven" target="_self" aria-expanded="false" aria-controls="collapseSeven">
                                  How to assign fonts to print profile?
                                </a>
                            </h4>
                        </div>
                        <div id="collapseSeven" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSeven">
                            <hr>
                            <div class="panel-body">
                                To assign fonts to a print profile,
                                <ol>
                                    <li>Open inkXE Admin.</li>
                                    <li>Go to <b>Print Profile</b> in the toolbar towards the left.</li>
                                    <li>Select your print profile and click on the edit icon.<img src="modules/printSettingWizard/doc/assets/editProfile.png" /></li>
                                    <li>In the new page, go to <b>Assign Assets</b>.</li>
                                    <li>Under "assign to the following", go to <b>Web Fonts</b>.<img src="modules/printSettingWizard/doc/assets/p5_7.png" /></li>
                                    <li>Select checkboxes of the items inside that you want to assign as categories.</li>
                                    <li>Scroll down and click <b>Save</b> or <b>Save & Continue</b>.</li>
                                </ol>
                                <div style="padding: 7.0px 10.0px;background-color: rgb(216,235,248);border: 1.0px solid rgb(151,193,218);">
                                    Note: Please select at least one category from each asset to save successfully.
                                </div>
                                <br>
                                Your web fonts have been assigned to print profile.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>













