<div class="modal fade slide-right" id="p6" pg-portlet tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-body info-module">
                <div class="panel-group" id="accordion" role="tablist">
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingOne">
                            <h4 class="panel-title">
                                <a class="collapsed" data-toggle="collapse" data-parent="#accordion"  href="#collapseOne" target="_self" aria-expanded="false" aria-controls="collapseOne">
                                  How to enable used colors?
                                </a>
                            </h4>
                        </div>
                        <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                            <hr>
                            <div class="panel-body">
                                To enable Used Colors,
                                <ol>
                                    <li>Open inkXE Admin.</li>
                                    <li>Go to <b>Print Profile</b> in the toolbar towards the left.</li>
                                    <li>Select your print profile and click on the edit icon.<img src="modules/printSettingWizard/doc/assets/editProfile.png" /></li>
                                    <li>In the new page, go to <b>Color Settings</b>.</li>
                                    <li>Under color settings, find <b>Show Used Color</b> and enable it.<img src="modules/printSettingWizard/doc/assets/p6_1.png" style="width: auto;" /></li>
                                    <li>Scroll down and click <b>Save</b> or <b>Save & Continue</b>.</li>
                                </ol>
                                Used colors will be shown from now.
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingTwo">
                            <h4 class="panel-title">
                                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" target="_self" aria-expanded="false" aria-controls="collapseTwo"> 
                                    How to enable color picker?
                                </a>
                            </h4>
                        </div>
                        <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                            <hr>
                            <div class="panel-body">
                                To enable color picker,
                                <ol>
                                    <li>Open inkXE Admin.</li>
                                    <li>Go to <b>Print Profile</b> in the toolbar towards the left.</li>
                                    <li>Select your print profile and click on the edit icon.<img src="modules/printSettingWizard/doc/assets/editProfile.png" /></li>
                                    <li>In the new page, go to <b>Color Settings</b>.</li>
                                    <li> Under color settings, find <b>Show Color Picker</b> and enable it.<img src="modules/printSettingWizard/doc/assets/p6_2.png" style="width: auto;" /></li>
                                    <li>Scroll down and click <b>Save</b> or <b>Save & Continue</b>.</li>
                                </ol>
                                You have set maximum number of colors or patterns.
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingThree">
                            <h4 class="panel-title">
                                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" target="_self" aria-expanded="false" aria-controls="collapseThree">
                                  How to set maximum number of colors or patterns?
                                </a>
                            </h4>
                        </div>
                        <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                            <hr>
                            <div class="panel-body">
                                To set maximum number of colors or patterns,
                                <ol>
                                    <li>Open inkXE Admin.</li>
                                    <li>Go to <b>Print Profile</b> in the toolbar towards the left.</li>
                                    <li>Select your print profile and click on the edit icon.<img src="modules/printSettingWizard/doc/assets/editProfile.png" /></li>
                                    <li>In the new page, go to <b>Color Settings</b>.</li>
                                    <li> Under color settings, find <b>Maximum Number of Colors/Patterns</b> and enable it.</li>
                                    <li>A popup will appear. Enter your desired value for maximum number of colors/patterns.<img src="modules/printSettingWizard/doc/assets/p6_3.png" style="width: auto;" /></li>
                                    <li>Scroll down and click <b>Save</b> or <b>Save & Continue</b>.</li>
                                </ol>
                               You have set maximum number of colors or patterns.
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingFour">
                            <h4 class="panel-title">
                                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" target="_self" aria-expanded="false" aria-controls="collapseFour">
                                  How to enable force set color conversion?
                                </a>
                            </h4>
                        </div>
                        <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
                            <hr>
                            <div class="panel-body">
                                To enable force set color conversion,
                                <ol>
                                    <li>Open inkXE Admin.</li>
                                    <li>Go to <b>Print Profile</b> in the toolbar towards the left.</li>
                                    <li>Select your print profile and click on the edit icon.<img src="modules/printSettingWizard/doc/assets/editProfile.png" /></li>
                                    <li>In the new page, go to <b>Color Settings</b>.</li>
                                    <li> Under color settings, scroll down to find <b>Force Set Color Conversion</b> and enable it.<img src="modules/printSettingWizard/doc/assets/p6_4.png" style="width: auto;" /></li>
                                    <li>Click <b>Save</b> or <b>Save & Continue</b>.</li>
                                </ol>
                              You have enabled force set color conversion.
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingFive">
                            <h4 class="panel-title">
                                <a class="collapsed" data-toggle="collapse" data-parent="#accordion"  href="#collapseFive" target="_self" aria-expanded="false" aria-controls="collapseFive">
                                  How to set default fill color of text?
                                </a>
                            </h4>
                        </div>
                        <div id="collapseFive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFive">
                            <hr>
                            <div class="panel-body">
                                To set default fill color of text,
                                <ol>
                                    <li>Open inkXE Admin.</li>
                                    <li>Go to <b>Print Profile</b> in the toolbar towards the left.</li>
                                    <li>Select your print profile and click on the edit icon.<img src="modules/printSettingWizard/doc/assets/editProfile.png" /></li>
                                    <li>In the new page, go to <b>Color Settings</b>.</li>
                                    <li> Under color settings,scroll down and go to <b>Default Fill Color</b>.</li>
                                    <li>Tap on the color picker and select your desired color.<img src="modules/printSettingWizard/doc/assets/p6_5.png" style="width: auto;" /></li>
                                    <li>Click <b>Save</b> or <b>Save & Continue</b>.</li>
                                </ol>
                                You have set default fill color of text.
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingSix">
                            <h4 class="panel-title">
                                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseSix" target="_self" aria-expanded="false" aria-controls="collapseSix"> 
                                    How to set default border color of text?
                                </a>
                            </h4>
                        </div>
                        <div id="collapseSix" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSix">
                            <hr>
                            <div class="panel-body">
                                To set default border color of text,
                                <ol>
                                    <li>Open inkXE Admin.</li>
                                    <li>Go to <b>Print Profile</b> in the toolbar towards the left.</li>
                                    <li>Select your print profile and click on the edit icon.<img src="modules/printSettingWizard/doc/assets/editProfile.png" /></li>
                                    <li>In the new page, go to <b>Color Settings</b>.</li>
                                    <li> Under color settings, scroll down and go to <b>Border Color</b>.</li>
                                    <li>You will find a color picker alongside. Select your desired color.<img src="modules/printSettingWizard/doc/assets/p6_6.png" style="width: auto;" /></li>
                                    <li>Click <b>Save</b> or <b>Save & Continue</b>.</li>
                                </ol>
                                You have set default border color of text. 
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingSeven">
                            <h4 class="panel-title">
                                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseSeven" target="_self" aria-expanded="false" aria-controls="collapseSeven">
                                  How to set default word cloud colors?
                                </a>
                            </h4>
                        </div>
                        <div id="collapseSeven" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSeven">
                            <hr>
                            <div class="panel-body">
                                To set default word cloud colors,
                                <ol>
                                    <li>Open inkXE Admin.</li>
                                    <li>Go to <b>Print Profile</b> in the toolbar towards the left.</li>
                                    <li>Select your print profile and click on the edit icon.<img src="modules/printSettingWizard/doc/assets/editProfile.png" /></li>
                                    <li>In the new page, go to <b>Color Settings</b>.</li>
                                    <li> Under color settings, find <b>Word Cloud Fill Colors</b>.</li>
                                    <li>You will find 3 color pickers alongside. Select your desired color for each.<img src="modules/printSettingWizard/doc/assets/p6_7.png" style="width: auto;" /></li>
                                    <li>Click <b>Save</b> or <b>Save & Continue</b>.</li>
                                </ol>
                                You have set default word cloud colors.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>













