<div class="modal fade slide-right" id="p8" pg-portlet tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-body info-module-single">
                <h4 class="info-module-title">
                  How to enable scaling price?
                </h4>
                <div style="padding: 7.0px 10.0px;background-color: rgb(216,235,248);border: 1.0px solid rgb(151,193,218);">
                    INFO: Scaling images or text consumes more ink, thereby pushing your printing costs higher. By enabling scaling price, you can bill your customers extra if their designs exceed the standard size.
                </div>
                <br>
                To enable scaling price,
                <ol>
                    <li>Open inkXE Admin.</li>
                    <li>Go to <b>Print Profile</b> in the toolbar towards the left.</li>
                    <li>Select your print profile and click on the edit icon.<img src="modules/printSettingWizard/doc/assets/editProfile.png" /></li>
                    <li>In the new page, go to <b>Price Settings</b>.</li>
                    <li> Under price settings, find <b>Enable Scaling Price</b> and enable it.<img src="modules/printSettingWizard/doc/assets/p7_6.png" /></li>
                    <li>Give desired scaling price in the box that appears below.</li>
                    <li>Click <b>Save</b>.</li>
                </ol>
                You have enabled scaling price.<br>
                Example:<br>
                If you have set scaling price at $1 per square unit, your customers will be charged $1 extra for every square unit as they scale the image size.<br>
                So price will be showing as :<br><br>
                Product Price + Print Price = Total Price ($20 + $5.25 = $25.25)
            </div>
        </div>
    </div>
</div>