<div class="modal fade slide-right" id="p9" pg-portlet tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-body info-module-single">
                <h4 class="info-module-title">
                  How to enable clipart price?
                </h4>
               <div style="padding: 7.0px 10.0px;background-color: rgb(216,235,248);border: 1.0px solid rgb(151,193,218);">
                    INFO: You can set price for premium cliparts. Its price will be added to the total printing cost when your customers use cliparts from your premium collection.
                </div>
                <br>
                To enable clipart price,
                <ol>
                    <li>Open inkXE Admin.</li>
                    <li>Go to <b>Print Profile</b> in the toolbar towards the left.</li>
                    <li>Select your print profile and click on the edit icon.<img src="modules/printSettingWizard/doc/assets/editProfile.png" /></li>
                    <li>In the new page, go to <b>Price Settings</b>.</li>
                    <li> Under price settings, find <b>Enable Clipart Price</b> and enable it.<img src="modules/printSettingWizard/doc/assets/p7_7.png" /></li>
                    <li>Click <b>Save</b>.</li>
                </ol>
                You have enabled clipart price.<br><br>
                <div style="padding: 7.0px 10.0px;background-color: rgb(216,235,248);border: 1.0px solid rgb(151,193,218);">
                    NOTE: You need to set the price of all your premium cliparts beforehand.
                </div>
                <br>
                Example:<br>
                For a specific Clipart price is set  $1.50. When your customer use the same Clipart in the inkXE designer tool, the price set for that Clipart will be added to the total printing cost. So, each time the Clipart is used, the customer will be charged $1.50.<br>
                The price will be showing to your customer as:<br><br>
                Product Price + Design Price = Total price ($25 + $1.50 = $26.50)
            </div>
        </div>
    </div>
</div>