<?php
/**
 * @author Amasty Team
 * @copyright Copyright (c) 2018 Amasty (https://www.amasty.com)
 * @package Amasty_Faq
 */
?>
<?php
$i = 0;
$question = Mage::registry('current_question');
?>

<div class="entry-edit custom-options amfaq-uploads">
    <div class="entry-edit-head">
        <h4 class="icon-head head-edit-form fieldset-legend"><?php echo $this->__('Upload Files')?></h4>
        <div class="right">
            <button type="button" class="scalable add" title="Add" /><span><?php echo $this->__('Add New File')?></span></button>
        </div>
    </div>

    <div id="group_fields_amfaq_files" class="fieldset fieldset-wide">
        <div class="hor-scroll">
            <?php foreach ($this->getTabData() as $item): ?>
                <div class="box option-box" id="file<?php echo $i; ?>" >
                    <button type="button" class="form-button delete" style="float:right;" file_url="<?php echo $item->getName(); ?>" file_id="<?php echo $item->getId(); ?>" position="<?php echo $i; ?>" title="<?php echo $this->__('Remove')?>" /><span><?php echo $this->__('Delete File')?></span></button>

                    <input type="hidden" name="files[<?php echo $i; ?>][file_id]"  value="<?php echo $item->getId(); ?>">
                    <input type="hidden" name="files[<?php echo $i; ?>][question_id]"  value="<?php echo $question->getId(); ?>">
                    <input type="hidden" name="files[<?php echo $i; ?>][delete]" value="" class="delete-input" />

                    <table class="form-list file-form" position="0"  style="max-width:900px;">
                        <thead>
                            <tr>
                                <th >
                                    <?php echo $this->__('File Name')?>
                                </th>
                                <th >
                                    <?php echo $this->__('Upload File')?>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td  style="max-width:110px;">
                                    <input type="text" class="input-text file_url" name="files[<?php echo $i; ?>][name]"  value="<?php echo $item->getName(); ?>" />   <br/>
                                    <?php echo "<a  class='file' href=" . Mage::helper('amfaq')->getDownloadUrl($item->getId()).">" . $item->getName() . "</span><br/>"; ?>
                                </td>
                                <td style="max-width:150px;">
                                    <input type="file" title="<?php echo $this->__('File')?>" name="files[<?php echo $i; ?>][file]">
                                </td >
                            </tr>
                        </tbody>
                    </table>
                </div>
                <?php $i++; ?>
            <?php endforeach; ?>
            <div class="box option-box new-upload" id="file<?php echo $i; ?>" >
                <button type="button" class="form-button delete" style="float:right;"  position="<?php echo $i; ?>" title="<?php echo $this->__('Remove')?>" /><span><?php echo $this->__('Delete File')?></span></button>

                <input type="hidden" name="files[<?php echo $i; ?>][question_id]"  value="<?php echo $question->getId(); ?>">
                <input type="hidden" name="files[<?php echo $i; ?>][delete]" value="" class="delete-input" />

                <table class="form-list file-form"  position="0"  style="max-width:900px;" >
                    <thead>
                        <tr>
                            <th >
                                File Name
                            </th>
                            <th >
                                Upload File 
                            </th>
                        </tr>
                    </thead>
                    <tr>
                        <td style="max-width:110px;">
                            <input type="text" class="input-text file_url" name="files[<?php echo $i; ?>][name]"  value="" />   <br/>
                        </td>
                        <td style="max-width:150px;">
                            <input type="file" title="File" name="files[<?php echo $i; ?>][file]">
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div id="files"></div>
        </div>
    </div>
</div>
