 <?php // List mode ?>
    <?php if($layout_mode!='grid'): ?>
        <div class="item<?php if( ++$_iterator == sizeof($_productCollection) ): ?> last<?php endif; ?>" itemtype="http://schema.org/Product" itemscope>
            <div class="product-block">
				<div class="row">
					<?php // Product Image ?>
					<div class="col-lg-4 col-sm-4 col-xs-12">
                        <?php $productId = $_product->getId(); ?>
                        <?php
                            $swap_class = "";
                            if($swap_image && $hover_image = $helper->getProductImage($_product->getId(), $swap_image_number , $list_image_width, $list_image_height)) {
                                    $swap_class = "swap";
                             } 
                        ?>
                        

                        <div class="image <?php echo $swap_class; ?>">
                            <?php 
                                // Get the Special Price
                                $specialprice = $_product->getSpecialPrice(); 
                                // Get the Special Price FROM date
                                $specialPriceFromDate = $_product->getSpecialFromDate();
                                // Get the Special Price TO date
                                $specialPriceToDate = $_product->getSpecialToDate();
                                // Get Current date
                                $today =  time();
                             
                                if ($specialprice) {
                                    if($today >= strtotime( $specialPriceFromDate) && $specialPriceToDate == "" || $today >= strtotime( $specialPriceFromDate) && $today <= strtotime($specialPriceToDate) || $today >= strtotime( $specialPriceFromDate) && is_null($specialPriceToDate)) {
                            ?>
                                    <div class="onsale-heart">
            <img src="https://www.happyfabric.de/media/images/Sale_Herz.png">
        </div>
                            <?php  
                                    }
                                }
                            ?>
                            <a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $this->stripTags($this->getImageLabel($_product, 'small_image'), null, true) ?>" class="product-image"><img src="<?php echo $this->helper('catalog/image')->init($_product, 'small_image')->resize($list_image_width, $list_image_height); ?>" width="<?php echo $list_image_width; ?>" height="<?php echo $list_image_height; ?>" alt="<?php echo $this->stripTags($this->getImageLabel($_product, 'small_image'), null, true) ?>" /></a>
                             <?php if($swap_class) { ?>
                                <span class="hover-image">
                                    <a class="img" href="<?php echo $_product->getProductUrl(); ?>"><img src="<?php echo $hover_image; ?>" width="<?php echo $list_image_width; ?>" height="<?php echo $list_image_height; ?>" alt="<?php echo $this->stripTags($this->getImageLabel($_product, 'small_image'), null, true) ?>"></a>
                                </span>
                                <?php } ?>
                        </div>
                        
                        <?php if( $enable_pzoom ) { ?>
   

                        <a href="<?php echo $this->helper('catalog/image')->init($_product, 'small_image')->resize($popup_image_width, $popup_image_height);?>" class="colorbox product-zoom" rel="colorbox" title="<?php echo $_helper->productAttribute($_product, $_product->getName(), 'name'); ?>"><span class="icon-zoom-in"></span></a>
                        <?php } ?>
                    </div>
                    <?php // Product description ?>
                    <div class="col-lg-8 col-sm-8 col-xs-12">
                        <div class="product-meta product-shop">
                            <?php if( $show_title ): ?>
                                <?php $_productNameStripped = $this->stripTags($_product->getName(), null, true); ?>
                                <h2 class="product-name" itemprop="name"><a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $_productNameStripped; ?>"><?php echo $_helper->productAttribute($_product, $_product->getName() , 'name'); ?></a></h2>
                            <?php endif; ?>


                            <div class="price">
                                <?php echo $this->getPriceHtml($_product, true) ?>
                            </div>
                            
							<div class="rating">
                                <?php echo $this->getReviewsSummaryHtml($_product, true, true)?>
                            </div>
							
                            <div class="desc std" itemprop="desc">
                                <?php echo $_helper->productAttribute($_product, $_product->getShortDescription(), 'short_description') ?>
                                <a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $_productNameStripped ?>" class="link-learn"><?php echo $this->__('Learn More') ?></a>
                            </div>
							<div class="actions">
								<?php if($_product->isSaleable()): ?>
								<button type="button" title="<?php echo $this->__('Add to Cart') ?>" class="button btn-cart" onclick="<?php if($ajax_cart) { ?>addToCart('<?php echo $this->getAddToCartUrl($_product) ?>')<?php } else { ?>setLocation('<?php echo $this->getAddToCartUrl($_product) ?>')<?php } ?>"><span><span><?php echo $this->__('Add to Cart') ?></span></span></button>
								<?php else: ?>
									<p class="availability out-of-stock"><span><?php echo $this->__('Out of stock') ?></span></p>
								<?php endif; ?>
								
								<ul class="add-to-links">
									<?php if ($this->helper('wishlist')->isAllow()) : ?>
										<li class="wishlist">
											<a href="<?php echo $this->helper('wishlist')->getAddUrl($_product) ?>" class="link-wishlist"><i class="fa fa-heart"></i></a></li>
										</li>
									<?php endif; ?>
									<?php if($_compareUrl=$this->getAddToCompareUrl($_product)): ?>
									<li class="compare">
										<a href="<?php echo $_compareUrl ?>" class="link-compare"><i class="fa fa-retweet"></i></a>
									</li>
									<?php endif; ?>
								</ul>
							</div>	
							
                        </div>
                    </div>
                </div>
            </div>
             <hr/>
        </div>
        
    <?php else: ?>

    <?php // Grid Mode ?>
        <div class="col-xs-12 col-lg-<?php echo $span;?> col-sm-<?php echo $small;?> col-<?php echo $mini;?> item<?php if(($i-1)%$_columnCount==0): ?> first<?php elseif($i%$_columnCount==0): ?> last<?php endif; ?>">
                <div class="product-block" itemscope  itemtype="http://schema.org/Product">			
                    <div class="image">
                        <?php $productId = $_product->getId(); ?>
						<?php 
                         if($enable_sale_icon) {
							// Get the Special Price
							$specialprice = $_product->getSpecialPrice(); 
							// Get the Special Price FROM date
							$specialPriceFromDate = $_product->getSpecialFromDate();
							// Get the Special Price TO date
							$specialPriceToDate = $_product->getSpecialToDate();
							// Get Current date
							$today =  time();
						 
							if ($specialprice) {
								if($today >= strtotime( $specialPriceFromDate) && $specialPriceToDate == "" || $today >= strtotime( $specialPriceFromDate) && $today <= strtotime($specialPriceToDate) || $today >= strtotime( $specialPriceFromDate) && is_null($specialPriceToDate)) {
						?>
								<div class="onsale-heart">
            <img src="https://www.happyfabric.de/media/images/Sale_Herz.png">
        </div>
						 <?php  
                                    }
                                }
                            }
                        ?>
						<div class="product-img">
							<a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $this->stripTags($this->getImageLabel($_product, 'small_image'), null, true) ?>" class="product-image">
							<img src="<?php echo $this->helper('catalog/image')->init($_product, 'small_image')->resize($list_image_width,$list_image_height); ?>" width="<?php echo $list_image_width; ?>" height="<?php echo $list_image_height; ?>" alt="<?php echo $this->stripTags($this->getImageLabel($_product, 'small_image'), null, true) ?>" /></a>
							<?php if($swap_image && $hover_image = $helper->getProductImage($_product->getId(), $swap_image_number, $list_image_width, $list_image_height)) { ?>
									<span class="hover-image">
										<a class="img" href="<?php echo $_product->getProductUrl(); ?>"><img src="<?php echo $hover_image; ?>" width="<?php echo $list_image_width; ?>" height="<?php echo $list_image_height; ?>" alt="<?php echo $this->stripTags($this->getImageLabel($_product, 'small_image'), null, true) ?>"></a>
									</span>
							<?php } ?>
						</div>
                        <?php if( $enable_pzoom ) { ?>
                       
                        <a href="<?php echo $this->helper('catalog/image')->init($_product, 'small_image')->resize($popup_image_width);?>" class="colorbox product-zoom" rel="colorbox" title="<?php echo $_helper->productAttribute($_product, $_product->getName(), 'name'); ?>"><span class="icon-zoom-in"></span></a>
                        <?php } ?>
						<div class="actions">
							<?php if($_product->isSaleable()): ?>
								<button type="button" title="<?php echo $this->__('Add to Cart') ?>" class="button btn-cart" onclick="<?php if($ajax_cart) { ?>addToCart('<?php echo $this->getAddToCartUrl($_product) ?>')<?php } else { ?>setLocation('<?php echo $this->getAddToCartUrl($_product) ?>')<?php } ?>"><span><span><i class="fa fa-shopping-cart"> </i> <?php echo $this->__('Add to Cart') ?></span></span></button>
							<?php else: ?>
								<p class="availability out-of-stock"><span><?php echo $this->__('Out of stock') ?></span></p>
							<?php endif; ?>
							<ul class="add-to-links">
								<?php if ($this->helper('wishlist')->isAllow()) : ?>
									<li><a href="<?php echo $this->helper('wishlist')->getAddUrl($_product) ?>" class="link-wishlist"><i class="fa fa-heart"></i></a></li>
								<?php endif; ?>
								<?php if($_compareUrl=$this->getAddToCompareUrl($_product)): ?>
									<li><a href="<?php echo $_compareUrl ?>" class="link-compare"><i class="fa fa-retweet"></i></a></li>
								<?php endif; ?>
							</ul>
						</div>
                    </div>
                    
                    <?php if( $show_title ): ?>
                    <h2 class="product-name" itemprop="name"><a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $this->stripTags($_product->getName(), null, true) ?>"><?php echo $_helper->productAttribute($_product, $_product->getName(), 'name') ?></a></h2>
					<?php endif; ?>

					<?php if($show_review): ?>
                    <div class="rating">
                    <?php echo $this->getReviewsSummaryHtml($_product, true, true)?>
                    </div>
                    <?php endif; ?>
					
					<div class="price">
                        <?php echo $this->getPriceHtml($_product, true) ?>
                    </div>

                    <?php if ($_product->getDeliveryTime()): ?>
                        <p class="delivery-time">
                            <?php echo $this->__('Delivery Time') ?>: <?php echo $_product->getDeliveryTime() ?>
                        </p>
                    <?php endif ?>
                    
                    
                    <?php if ($quickview) { ?>
                        <a class="a-quickview ves-colorbox" href="<?php echo Mage::helper("ves_tempcp")->getQuickviewURL( $_product->getProductUrl() ); ?>"><span class='fa fa-plus'></span><?php echo $this->__('Quick View'); ?></a>
                    <?php } ?>
                </div>
    </div>
<?php endif; ?>