<div class="modal fade slide-right" id="templateFaq1" pg-portlet tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-body info-module">
                <div class="panel-group" id="accordion" role="tablist">
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingOne">
                            <h4 class="panel-title">
                                <a class="collapsed" data-toggle="collapse" data-parent="#accordion"  href="#collapseOne" target="_self" aria-expanded="false" aria-controls="collapseOne">
                                 How to create a template?
                                </a>
                            </h4>
                        </div>
                        <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                            <hr>
                            <div class="panel-body">
                                To create a template,<br>
                                Save button for template creation will be visible in designer tool only when you are logged in designer admin.
                                <ol>
                                    <li>Log into designer admin.</li>
                                    <li>Open inkXE designer tool.</li>
                                    <li>Apply Graphics/text etc on product.</li>
                                    <li>Click on Template <b>Save</b> button.<img src="modules/template/doc/assets/template1.png" /></li>
                                    <li>A pop up window will appear.</li>
                                    <li>Give a name for the Template and assign a category.</li>
                                    <li>Click on Save.<img src="modules/template/doc/assets/template2.png" /></li>
                                    <li>Template Saved Successfully message will appear in designer tool window.</li>
                                </ol>
                                You can view the saved template in template section of graphics in designer admin and template section of designs in designer tool.
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingTwo">
                            <h4 class="panel-title">
                                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" target="_self" aria-expanded="false" aria-controls="collapseTwo">
                                  How to edit template?
                                </a>
                            </h4>
                        </div>
                        <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                            <hr>
                            <div class="panel-body">
                                To edit template,
                                <ol>
                                    <li>Open inkXE Admin.</li>
                                    <li>Go to <b>Graphics</b> in the toolbar towards the left and select <b>Templates</b>.</li>
                                    <li>Move to the right and you will see the available templates.</li>
                                    <li>Now, select the template you want to edit and click  <b>Edit Selected</b>.<img src="modules/template/doc/assets/template3.png" /></li>
                                    <li>A box will appear where you can edit properties of selected template, such as name and category.</li>
                                    <li>Make your changes and click <b>Save</b>.</li><br>
                                </ol>
                                <div style="padding: 7.0px 10.0px;background-color: rgb(216,235,248);border: 1.0px solid rgb(151,193,218);">
                                    TIP: You can also edit templates in bulk. Simply select multiple templates and follow same instructions.
 
                                </div><br>
                                Your template has been edited.
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingThree">
                            <h4 class="panel-title">
                                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" target="_self" aria-expanded="false" aria-controls="collapseThree">
                                  How to delete template?
                                </a>
                            </h4>
                        </div>
                        <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                            <hr>
                            <div class="panel-body">
                                To delete template,
                                <ol>
                                    <li>Open inkXE Admin.</li>
                                    <li>Go to <b>Graphics</b> in the toolbar towards the left and select <b>Templates</b>.</li>
                                    <li>Move to the right and you will see the available templates.</li>
                                    <li>Now, select the template you want to delete and click <b>Delete Selected</b>.<img src="modules/template/doc/assets/template4.png" /></li>
                                    <li>A pop-up will open asking you to confirm your action.</li>
                                    <li>Click <b>Confirm</b>.</li>
                                </ol>
                                <div style="padding: 7.0px 10.0px;background-color: rgb(216,235,248);border: 1.0px solid rgb(151,193,218);">
                                    TIP: You can also delete templates in bulk. Simply select multiple templates and follow same instructions. 
                                </div><br>
                                Your template has been deleted.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>