<!--
    preloader start
-->
<div class="panel panel-default" ng-hide="preloader">
    <div class="graphics-wrap-height">
        <div class="panel-body text-center">
            <img class="image-responsive-height demo-mw-50 page-loader" src="assets/img/progress/progress-circle-master.svg" alt="Progress"/>
        </div>
    </div>
</div>
<!-- preloader end -->

        <div class="panel panel-default" ng-show="preloader">
            <div class="loader-OnUpload" pg-portlet  on-refresh="refreshTest('.loader-OnUpload')">
                <div class="panel-body">
                    <div class="col-sm-10">
                        <div class="panel-heading p-t-0 p-l-0">
                            <div class="panel-title">
                                <xe-translate text-value="Install New Plugin">
                                </xe-translate>
                            </div>
                        </div>
                        <form id="form-personal" role="form" autocomplete="off">
                            <div class="row clearfix">
                                <div class="col-sm-6">
                                        <label>
                                            <xe-translate text-value="Upload Plugin Zip">
                                            </xe-translate>
                                        </label> 
                                        <button class="btn btn-success btn-xs" ng-file-select ng-file-change="uploadZip($files,$index)" >
                                            <xe-translate text-value="Browse">
                                            </xe-translate>
                                        </button>
                                         <span class="text-success m-t-5" >{{importZipFileName}}</span>
                                        <p class="small text-danger" ng-show="showError">
                                            {{ showMsg }}
                                        </p>
                                 

                                   <!--  <div class="pull-left" ng-hide = "cancelZip">
                                        <a ng-click="cancelAddZipFile()" style="margin-top: 3px!important;">
                                            <u class="no-margin cursor-pointer ng-binding">
                                               <span class="ng-binding text-danger m-t-5 m-l-5 block">
                                                  <xe-translate text-value="Cancel">
                                                  </xe-translate>
                                               </span>   
                                            </u>   
                                        </a>
                                    </div> -->
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="panel-footer b-t-none clearfix">
                    <div class="pull-left">
                        <button class="btn btn-primary btn-sm" type="button"  ng-click="installPlugin()" ng-class="{'disabled': showError == true || importZipFileName == ''}" ng-disabled="demoStatus">
                            <xe-translate text-value="Install">
                            </xe-translate>
                        </button>
                        <button class="btn btn-primary btn-sm" type="button" ng-click="cancelInstallPlugin()">
                            <xe-translate text-value="Cancel">
                            </xe-translate>
                        </button>
                    </div>
                </div>
            </div>
        </div>

 
