<div class="modal fade slide-up disable-scroll" id="pluginTempModal" tabindex="-1" role="dialog" aria-hidden="false">
    <div class="modal-dialog modal-sm">
        <div class="modal-content-wrapper">
            <div class="modal-content">
                <div class="modal-body text-center m-t-25">
                    <h5 class="no-margin p-b-25">
                        {{ warningMessage }}
                    </h5>
               <!--      <div class="row clearfix">
                        <div class="col-sm-12">
                            <div class="form-group form-group-default text-left required" pg-form-group>
                                <label >
                                    <xe-translate text-value="API Key">
                                    </xe-translate>
                                </label>
                                <input type="text" class="form-control" name="API Key" ng-model="popupPlugin.apiKey" required/>
                            </div>
                        </div>
                    </div> -->

                    
                    <div class="clearfix">
                        <button type="button" class="btn btn-success btn-cons pull-left" data-dismiss="modal" ng-click="uninstallPlugin()" ng-disabled="demoStatus">
                            <xe-translate text-value="OK">
                            </xe-translate>
                        </button>
                        <button type="button" class="btn btn-danger btn-cons m-r-0" data-dismiss="modal" ng-click="cancelUninstallPlugin()">
                            <xe-translate text-value="Cancel">
                            </xe-translate>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

