<?php
/**
 * @author Amasty Team
 * @copyright Copyright (c) 2018 Amasty (https://www.amasty.com)
 * @package Amasty_Optimization
 */
?>
<table class="form-list">
    <tr>
        <td class="scope-label">
            <button onclick="setLocation('<?php echo $this->getFlushUrl()?>')" type="button" class="scalable"><span><?php echo $this->__('Flush Minified JavaScript/CSS') ?></span></button>
        </td>
        <td class="scope-label">
            <?php echo $this->__('Minified files created with the "Google Page Speed Optimizer" extension by Amasty.')?>
        </td>
    </tr>
</table>
