<?php
	/*Start copy at here*/
	/*framework: get current theme setting*/
	$list_image_width = (int)$this->getConfig("image_width", 300);
	$list_image_height = (int)$this->getConfig("image_height", 300);

	$swap_image_number = (int)$this->getConfig("swap_image_number", 0);

	$popup_quickview_width = $this->getConfig("popup_quickview_width", "60%");
	$popup_quickview_height = $this->getConfig("popup_quickview_height", "80%");

	$enable_pzoom = $this->getConfig("show_pzoom");
	$enable_new_icon = $this->getConfig("enable_new_icon");
	$enable_sale_icon = $this->getConfig("enable_sale_icon");
	$show_title = $this->getConfig('show_title');
	$enable_short_desc = $this->getConfig('show_desc');
	$show_review = $this->getConfig('review');
	$show_price = $this->getConfig('show_price');
	$show_addcart = $this->getConfig("show_addcart");
	$show_compare_wishlist = $this->getConfig("show_wc") ;
	/*end get setting*/

	/*quickview was enabled?*/
	$quickview = isset($config['enable_quickview']) ? $config['enable_quickview'] : 0;
	/*Swap images was enabled?*/
	$swap_image = isset($config['enable_swap']) ? $config['enable_swap'] : 0;

	$moduleId = rand().time();
	$itemsperpage = (int)$this->getConfig("itemspage",4);
	$auto_play_mode = (int)$this->getConfig("auto_play");

	$title_maxchar = (int)$this->getConfig("desc_maxchar");
	$title_maxchar = $title_maxchar > 0 ?$title_maxchar: 100;
	$desc_maxchar = (int)$this->getConfig("desc_maxchar");
	$desc_maxchar = $desc_maxchar > 0 ?$desc_maxchar: 100;
	$interval = (int)$this->getConfig("interval");

	$auto_play = $auto_play_mode?"true":"false";
	$cols = (int)$this->getConfig("itemsrow",4);
	$cols = !empty($cols)?$cols:1;
	$span = floor(12/$cols);
	$active = 'news';

	/*end copy at here*/


	$tabs = array( "news"		=> $this->__('New Arrival '),
				   "featured"	=> $this->__("Featured"),
				   "specical"	=> $this->__("Special"),
				   "bestseller"	=> $this->__("Best Seller"),
				   "mostview"	=> $this->__("Most Viewed")
	);
	$current = 0;
	$modid = rand(1,9)+rand();
?>
<?php $_helper = $this->helper('catalog/output'); ?>

<div class="<?php echo $this->getConfig('prefix');?> box producttabs">
<?php if($this->getConfig('title')) { ?>
	<div class="block-heading">
		<h2><?php echo $this->getConfig('title') ?></h2>
		<?php if( ($pretext=$this->getConfig("pretext")) && !$cms ) { ?>
			<div class="pretext"><?php echo $pretext; ?></div>
		<?php } else {
			?>
			<div class="pretext"><?php echo $cms; ?></div>
			<?php
		} ?>
	</div>
	<?php } ?>
	<div class="tab-nav">
		<ul class="nav nav-tabs" id="producttabs<?php echo $modid;?>">
			<?php foreach( $tabs as $key => $value ) { ?>
				<?php if( isset($$key) && !empty($$key) ) {     $products = $$key; ?>
				<?php if( empty($products) || $products->getSize() <= 0){ continue; } ?>
				 <li><a href="#tab-<?php echo $key.$modid;?>" data-toggle="tab"><span><?php echo $value; ?></span></a></li>
			<?php } ?>
			<?php } ?>
		</ul>
	</div>
	<div class="tab-content" dir="ltr">
			<?php $i=0; foreach( $tabs as $tab => $text ) { ?>
				<?php if( isset($$tab) && !empty($$tab) ) {     $products = $$tab; ?>
					<?php if( empty($products) || $products->getSize() <= 0){ continue; } ?>
					<?php $products = $products->getItems(); ?>
					<div class="products-grid tab-pane box-products  tabcarousel<?php echo $modid; ?> slide" id="tab-<?php echo $tab.$modid;?>">
						
						<?php if( count($products) > $itemsperpage ) { ?>
						<div class="carousel-controls">
						<a class="carousel-control left" href="#tab-<?php echo $tab.$modid;?>" data-slide="prev"><span class="cars-icon cars-prev"><?php echo $this->__('prev');?></span></a>
						<a class="carousel-control right" href="#tab-<?php echo $tab.$modid;?>" data-slide="next"><span class="cars-icon cars-next"><?php echo $this->__('next');?></span></a>
						</div>
						<?php } ?>
						<div class="carousel-inner ">		
						 <?php 
							$pages = array_chunk( $products, $itemsperpage);
						 ?>	
						  <?php foreach ($pages as  $k => $_productCollection ) {  ?>
						  		<div class="item <?php if($k==0) {?>first<?php } elseif($k == (count($pages) -1 )) {?>last<?php } ?> <?php if($k==0) {?>active<?php } ?> product-grid no-margin">
								<?php if($product_module_path = Mage::helper("ves_tempcp/framework")->getLayoutPath("product_module.phtml")) { ?>
							   	 	<?php require ($product_module_path); ?>

							    <?php } ?>
								</div>
						  <?php } ?>
						</div>
					</div>
				<?php } // End of if ?>
			<?php } // endforeach of tabs?>

	</div>
</div>

<script type="text/javascript">
<!--
jQuery(function () {
	jQuery('#producttabs<?php echo $modid;?> a:first').tab('show');
})
jQuery('.tabcarousel<?php echo $modid;?>').carousel({interval:false,auto:false,pause:'hover'});
//--></script>
