<input type="hidden" id="optionbundle_instance_loaded" value="">
<script type="text/javascript">	
//<![CDATA[


  OptionBundle.Data = <?php echo $this->getDataJson() ?>;

  OptionBundle.Config = {	
    requiredOptionText : '<?php echo $this->jsQuoteEscape( Mage::helper('catalog')->__('This is a required option') )?>',
    fieldIsNotCompleteText : '<?php echo $this->jsQuoteEscape( Mage::helper('catalog')->__('Field is not complete') )?>',                
    inPreconfigured    : <?php echo $this->getInPreconfigured() ?>,
    isConfigurable     : <?php echo $this->isConfigurable() ?>,
    isEditOrderPage    : true,
    useCalendar        : <?php echo (int) Mage::getStoreConfig('catalog/custom_options/use_calendar'); ?>,    
        
    mainImageId : 'image', // Id of the Product main image tag <img id="image"
    
    spacer     : '<?php echo $this->helper('core/js')->getJsUrl('spacer.gif') ?>',	
    imageTitle : '<?php echo $this->jsQuoteEscape($this->__('Click to Enlarge')) ?>',

    imageDirUrl       : '<?php echo $this->getProductBaseMediaUrl() ?>',
    thumbnailDirUrl   : '<?php echo $this->getThumbnailDirUrl() ?>',
    pickerImageDirUrl : '<?php echo $this->getPickerImageDirUrl() ?>',    
    placeholderUrl    : '<?php echo Mage::getDesign()->getSkinUrl('pektsekye/optionbundle/small_image.jpg') ?>',	
    infoIcon          : '<?php echo Mage::getDesign()->getSkinUrl('pektsekye/optionbundle/info_icon.gif') ?>'	 	           
  };  
  
  var el = $('optionbundle_instance_loaded');
  if (el.value == ""){
    optionBundle = new OptionBundle.Main();	
    el.value = 1;  
  } else {
    optionBundle.reloadElements();
  }
  
  

//]]>
</script>
