<div class="modal fade slide-right" id="pt1" pg-portlet tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-body info-module"> 
                <h4>Product Template</h4>
                <div class="panel-group" id="accordion" role="tablist">
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingOne">
                          <h4 class="panel-title">
                            <a class="collapsed" data-toggle="collapse" data-parent="#accordion"  href="#collapseOne" aria-expanded="false" aria-controls="collapseOne" target="_self">
                              How to add ?
                            </a>
                          </h4>
                        </div>
                        <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                          <hr>
                          <div class="panel-body">
                            <div style="padding: 7.0px 10.0px;background-color: rgb(216,235,248);border: 1.0px solid rgb(151,193,218);">
                                NOTE: Supported formats are png, jpeg, &amp; jpg..
                            </div>
                              To add product template,
                              <ol>
                                  <li>Open inkXE Admin.</li>
                                  <li>Go to <b>Products</b> in the toolbar towards the left and select <b>Product Images</b> from the drop-down.</li>
                                  <li>Move to the right and click <b>Add New Template</b>.<img src="modules/productTemplate/doc/assets/pt01_01.png" /></li>
                                  <li>A box will appear. Click <b>Browse</b> to upload your product image and set its properties, such as side name, sort order. Tap Add Side if you want to add multiple sides of the template.<img src="modules/productTemplate/doc/assets/pt01_02.png" /></li>
                                  <li> Click <b>Save</b>.</li>
                              </ol>
                              Your product template has been added.
                        </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingTwo">
                          <h4 class="panel-title">
                            <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo" target="_self">
                              How to edit ?
                            </a>
                          </h4>
                        </div>
                        <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                          <hr>
                          <div class="panel-body">
                              To edit product template,
                              <ol>
                                <li>Open inkXE Admin.</li>
                                <li>Go to <b>Products</b> in the toolbar towards the left and select <b>Product Images</b> from the drop down.</li>
                                <li>The template list will appear towards the right. Select your product template.</li>
                                <li>Click <b>Edit </b>located at the extreme right of the same row.  
                              <img src="modules/productTemplate/doc/assets/pt01_03.png" /></li>
                                <li>  A box will appear where you can edit properties of selected product template, such as image, side name, and sort order.</li>
                                <li>Make your change and click <b>Save</b>.</li>
                              </ol>
                              Your product template has been edited. 
                          </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingThree">
                          <h4 class="panel-title">
                            <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree" target="_self">
                              How to delete ?
                            </a>
                          </h4>
                        </div>
                        <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                          <hr>
                          <div class="panel-body">
                            To delete product template,
                            <ol>
                              <li>Open inkXE Admin.</li>
                              <li>Go to <b>Products</b> in the toolbar towards the left and select <b>Product Images</b> from the drop down.</li>
                              <li>The template list will appear towards the right. Select your product template.</li>
                              <li>Click <b>Delete</b> located at the extreme right of the same row.<img src="modules/productTemplate/doc/assets/pt01_04.png"  /></li>
                              <li>A pop-up will open asking you to confirm your action.</li>
                              <li>Click <b>Confirm</b></li>
                            </ol>
                            Your product template has been deleted.
                            <div style="padding: 7.0px 10.0px;background-color: rgb(216,235,248);border: 1.0px solid rgb(151,193,218);">
                                   NOTE: If your customer was using a product template at the time when you deleted it, s/he won&#39;t be able to proceed with the order unless the product was already added to cart.
                            </div>
                          </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
