<div class="container-fluid" ng-controller="MaskController">
    <div class="row" ng-init="init()">
        <div class="col-sm-12">
            <div class="panel panel-transparent">
                <div class="panel-body padding-0">
                    <button type="button" class="btn btn-info btn-sm btn-cons from-top" ng-click="addNewMask()">
                        <span>
                            <xe-translate text-value="Add New Mask">
                            </xe-translate>
                        </span>
                    </button>
                    <i class="fa fa-info-circle info-module-icon" ng-click="showMaskFaq(1)">
                    </i>
                </div>
            </div>
            <ng-include src="'modules/mask/views/partials/maskEditView.html'" ng-show="isEditViewActive">
            </ng-include>
            <ng-include src="'modules/mask/views/partials/maskUploadView.html'" ng-show="isUploadViewActive">
            </ng-include>
            <div class="panel panel-default">
                <div class="panel-heading separator">
                    <div class="w-full">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="m-r-10 m-t-n-5 pull-left">
                                    <div class="checkbox check-success ">
                                        <input type="checkbox" value="selectAll" id="selectAll" ng-model="allChecked" ng-change="selectAllChecked(allChecked)"/>
                                        <label for="selectAll">
                                            <xe-translate text-value="Select All">
                                            </xe-translate>
                                        </label>
                                    </div>
                                </div>
                                <div class="m-r-10 pull-left">
                                    <button type="button" class="btn btn-default btn-sm btn-cons from-top" ng-click="editSelectedMask()" ng-class="{'disabled': fileCount != 1}">
                                        <span>
                                            <xe-translate text-value="Edit Selected">
                                            </xe-translate>
                                        </span>
                                    </button>
                                </div>
                                <div class="m-r-10 pull-left">
                                    <button type="button" class="btn btn-default btn-sm btn-cons from-top" ng-click="deleteSelectedMask()"  id="mask_delete_modal" ng-model="modal.slideUp" ng-class="{'disabled': fileCount < 1}" ng-disabled="demoStatus">
                                        <span>
                                            <xe-translate text-value="Delete Selected">
                                            </xe-translate>
                                        </span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel-body m-t-20">
                    <!--preloader-->
                    <div class="row">
                        <div class="col-lg-12 bg-white" ng-hide="dataLoaded">
                            <div class="product-wrap-height">
                                <div class="panel-body text-center">
                                    <img class="image-responsive-height demo-mw-50 page-loader" src="assets/img/demo/progress.svg" alt="Progress"/>
                                    <span class="loader-label">
                                        <xe-translate text-value="Loading Mask">
                                        </xe-translate>
                                        ...
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--mask list-->
                    <div ng-hide="dataList" class="gallery-box-wrap">
                        <div class="gallery-box pos-rlt" ng-repeat="mask in maskList">
                            <label class="no-margin cursor-pointer" for="{{ mask.mask_id }}">
                                <div class="padding-10">
                                    <img class="img-thumb" ng-src="{{ mask.thumb_imageURL }}" width="100" height="100"/>
                                </div>
                            </label>
                            <div class="checkbox check-success gallery-check">
                                <input type="checkbox" value="{{ mask.mask_id }}" id="{{ mask.mask_id }}"  ng-model="maskCheck[$index]"  ng-change="maskSelected(maskCheck[$index],$index)"/>
                                <label for="{{ mask.mask_id }}">
                                </label>
                            </div>
                        </div>
                        <span ng-show="noData">
                            <p class="font-normal text-lg text-center m-t-150">
                                <xe-translate text-value="No Mask found">
                                </xe-translate>
                            </p>
                        </span>
                    </div>
                </div>
                <div ng-show="isLoadMore" class="panel-footer padding-10 text-center b-t-none">
                    <button type="button" class="btn btn-success btn-sm btn-cons from-top" ng-click="loadMore()" ng-show="isLoadMore" ng-disabled="isLoadMorePreloader">
                        <xe-translate text-value="Load More">
                        </xe-translate>
                        <span>
                        </span>
                    </button>
                    <img class="image-responsive-height demo-mw-30" src="assets/img/demo/progress.svg" alt="Progress" ng-show="isLoadMorePreloader"/>
                </div>
            </div>
        </div>
    </div>
    <ng-include src="'modules/mask/doc/maskFaq1.html'">
    </ng-include>
</div>
