<div class="container-fluid" ng-init="init()" ng-controller="BackgroundPatternController">
    <div class="row">
        <div class="col-sm-12">
            <div class="panel panel-transparent">
                <div class="panel-body padding-0">
                    <button type="button" class="btn btn-info btn-sm btn-cons" ng-click="addNewBackgroundPattern()">
                        <span>
                            <xe-translate text-value="Add Pattern">
                            </xe-translate>
                        </span>
                    </button>
                    <i class="fa fa-info-circle info-module-icon" ng-click="showBackgroundPatternFaq(1)">
                    </i>
                    <i class="fa fa-info-circle info-module-icon pull-right" ng-click="showBackgroundPatternFaq(2)">
                    </i>
                    <button type="button" class="btn btn-info btn-sm btn-cons pull-right" ng-click="editBackgroundPatternCategory()">
                        <span>
                            <xe-translate text-value="Manage Categories">
                            </xe-translate>
                        </span>
                    </button>
                </div>
            </div>
            <ng-include src="'modules/backgroundPattern/views/partials/backgroundPatternEditView.html'" ng-show="isEditViewActive">
            </ng-include>
            <ng-include src="'modules/backgroundPattern/views/partials/backgroundPatternUploadView.html'"  ng-show="isUploadViewActive">
            </ng-include>
            <div class="panel panel-default">
                <div class="panel-heading separator">
                    <div class="w-full">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="m-r-10 m-t-n-5 pull-left">
                                    <div class="checkbox check-success ">
                                        <input type="checkbox" value="selectAll" id="selectAll" ng-model="allChecked" ng-change="selectAllChecked(allChecked)"/>
                                        <label for="selectAll">
                                            <xe-translate text-value="Select All">
                                            </xe-translate>
                                        </label>
                                    </div>
                                </div>
                                <div class="m-r-10 pull-left">
                                    <button type="button" class="btn btn-default btn-sm btn-cons" ng-click="editSelectedBackgroundPattern()"  ng-class="{'disabled': fileCount < 1}">
                                        <span>
                                            <xe-translate text-value="Edit Selected">
                                            </xe-translate>
                                        </span>
                                    </button>
                                </div>
                                <div class="m-r-10 pull-left">
                                    <button type="button" class="btn btn-default btn-sm btn-cons"  ng-click="deleteSelectedPattern()" id="design_delete_modal" ng-model="modal.slideUp" ng-class="{'disabled': fileCount < 1}" ng-disabled="demoStatus">
                                        <span>
                                            <xe-translate text-value="Delete Selected">
                                            </xe-translate>
                                        </span>
                                    </button>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="pull-right">
                                    <div class="btn-group pull-left m-r-20">
                                        <button type="button" class="btn btn-default text-ellipsis" data-toggle="dropdown" style="width:137px">
                                            {{ selectedCategory }}
                                        </button>
                                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <span class="caret">
                                            </span>
                                            <span class="sr-only">
                                                Toggle Dropdown
                                            </span>
                                        </button>
                                        <ul class="dropdown-menu" role="menu" ng-class="{'button-scroll':bgPatternCategoryList.length> 4}" style="width:163px">
                                            <li ng-click="categorySelected('')">
                                                <a href="">
                                                    <xe-translate text-value="All Categories">
                                                    </xe-translate>
                                                </a>
                                            </li>
                                            <li ng-repeat="category in bgPatternCategoryList"  ng-click="categorySelected(category)">
                                                <a href="">
                                                    {{ category.category_name }}
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel-body m-t-20">
                    <!--preloader-->
                    <!-- <div class="row">
                        <div class="col-lg-12 bg-white" ng-hide="dataLoaded">
                            <div class="product-wrap-height">
                                <div class="panel-body text-center">
                                    <img class="image-responsive-height demo-mw-50 page-loader" src="assets/img/demo/progress.svg" alt="Progress">
                                    <span class="loader-label">
                                    <xe-translate text-value="Loading Designs"></xe-translate>...</span>
                                </div>
                            </div>
                        </div>
                    </div> -->
                    <div ng-hide="dataList" class="design-admin-box-wrap">
                        <div class="design-box pos-rlt" ng-repeat="pattern in patternList">
                            <label class="no-margin cursor-pointer" for="{{ pattern.id }}">
                                <div class="padding-10 no-border">
                                    <img  class="img-thumb"  ng-src="{{ pattern.url }}" width="100" height="100"/>
                                </div>
                            </label>
                            <div class="checkbox check-success template-check">
                                <input type="checkbox" value="{{ pattern.id }}" id="{{ pattern.id }}"  ng-model="patternCheck[$index]"  ng-change="patternSelected(patternCheck[$index])"/>
                                <label for="{{ pattern.id }}">
                                </label>
                            </div>
                        </div>
                        <span ng-show="noData">
                            <p class="font-normal text-lg text-center m-t-150">
                                <xe-translate text-value="No Pattern Found">
                                </xe-translate>
                            </p>
                        </span>
                    </div>
                </div>
                <div class="panel-footer text-center b-t-none" ng-show="isLoadMore">
                    <button type="button" class="btn btn-success btn-sm btn-cons" ng-click="loadMore()" ng-disabled="isLoadMorePreloader">
                        <xe-translate text-value="Load More">
                        </xe-translate>
                    </button>
                    <img class="image-responsive-height demo-mw-30 " src="assets/img/progress/progress-circle-master.svg" alt="Progress" ng-show="isLoadMorePreloader"/>
                </div>
            </div>
        </div>
    </div>
    <ng-include src="'modules/backgroundPattern/views/partials/backgroundCategoryModal.html'">
    </ng-include>
    <ng-include src="'modules/backgroundPattern/views/partials/deleteBackgroundCategory.html'">
    </ng-include>
    <ng-include src="'modules/backgroundPattern/doc/backgroundPFaq1.html'">
    </ng-include>
    <ng-include src="'modules/backgroundPattern/doc/backgroundPFaq2.html'">
    </ng-include>
</div>
