<div class="modal fade slide-right" id="s1" pg-portlet tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-body info-module-single">
                <h4 class="info-module-title">
                  How to set language of inkXE designer tool?
                </h4>
                To set/change language of inkXE designer, 
                <br>
                <ol>
                    <li>Open inkXE Admin.</li>
                    <li>Go to <b>Settings</b> in the toolbar towards the left.</li>
                    <li>Move right to locate and tap <b>Language</b>.<img src="modules/setting/doc/assets/s1.png" /></li>
                    <li>Inside, there is a drop-down. Click on it and select the language of your choice.</li>
                    <li>Click <b>Save</b>.</li>
                </ol>
               You have set a new language for inkXE designer tool/admin.
            </div>
        </div>
    </div>
</div>
