<div class="modal fade slide-right" id="s10" pg-portlet tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-body info-module-single">
                <h4 class="info-module-title">
                  How to create Instagram client ID ?
                </h4>
                To create Instagram client ID,
                <ol>
                    <li>Go to <b>https://www.instagram.com/developer/</b>.</li>
                    <li>Click <b>Login</b>. Sign in with your Instagram credentials if you are a registered user, else sign up as a new member.</li>
                    <li> Once logged in, you will see a "Hello Developers" page. Tap <b>Register Your Application</b>.<img src="modules/setting/doc/assets/s10_1.png" /></li>
                    <li> A "Developer Signup" page will appear. Enter all the fields over there and click <b>Sign up</b>.</li>
                    <li>You will see the same hello developers page. Once again, click <b>Register Your Application</b></li>
                    <li>
                         A new page will appear. Click <b>"Register as New Client"</b>. Here:
                         <ul>
                             <li>Fill out all the fields</li>
                             <li>Under valid redirect URLs, type http://yourwebsitename/designer-tool/designer-app/instahandler.html. (Replace yourwebsitename text from this URL with your actual site URL)<img src="modules/setting/doc/assets/s10_2.png" />
                             </li>
                         </ul>
                    </li>
                    <li>Now, click <b>Security</b> and uncheck <b>Disable Implicit OAuth</b>.<img src="modules/setting/doc/assets/s10_3.png" /></li>
                    <li>Next, type the captcha and proceed to click <b>Register</b>.</li>
                    <li>A client ID will be generated. <b>Save</b> it for for future purposes.<img src="modules/setting/doc/assets/s10_4.png" /></li>
                </ol>
                Your Instagram client ID has been created.
                <div style="padding: 7.0px 10.0px;background-color: rgb(216,235,248);border: 1.0px solid rgb(151,193,218);">
                    NOTE: To complete Instagram integration, please follow the article: How to integrate Instagram application with inkXE designer tool?
                </div>
                Once you have your Instagram Client ID, you will be required to submit that in inkXE admin. To do that,
                <ol>
                    <li>Open inkXE Admin.</li>
                    <li>Go to <b>Settings</b> in the toolbar towards the left.</li>
                    <li>Move right to locate and tap <b>Features On/Off</b>.<img src="modules/setting/doc/assets/s10_5.png" /></li>
                    <li>Inside, locate <b>Social Image</b> and click on its edit icon.</li>
                    <li>A pop-up will appear. Select <b>Instagram</b> and enter your client ID.<img src="modules/setting/doc/assets/s10_6.png" /></li>
                    <li>Click <b>Save</b>.</li>
                    <li> Now, tap outside the box and click <b>Save</b> again.</li>
                </ol>
            </div>
        </div>
    </div>
</div>
