<div class="modal fade slide-right" id="s11" pg-portlet tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-body info-module-single">
                <h4 class="info-module-title">
                  How to set number of preloaded items for designer tool ?
                </h4>
                To set number of preloaded items for designer tool, 
                <ol>
                    <li>Open inkXE Admin.</li>
                    <li>Go to <b>Settings</b> in the toolbar towards the left.</li>
                    <li>Move right to locate and tap <b>Number of Preloaded Items</b>.<img src="modules/setting/doc/assets/s11.png" /></li>
                    <li>Enter your desired value under each item.</li>
                    <li>Click <b>Save</b>.</li>
                </ol>
               You have set the number of preloaded items for designer tool.
            </div>
        </div>
    </div>
</div>