<div class="modal fade slide-right" id="s12" pg-portlet tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-body info-module-single">
                <h4 class="info-module-title">
                  How to set number of elements allowed on print area?
                </h4>
                To set the maximum number of elements allowed on print area, 
                <ol>
                    <li>Open inkXE Admin.</li>
                    <li>Go to <b>Settings</b> in the toolbar towards the left.</li>
                    <li>Move right to locate and tap <b>Number of Elements</b>.<img src="modules/setting/doc/assets/s12.png" /></li>
                    <li>Enter your desired value under each feature.</li>
                    <li>Click <b>Save</b>.</li>
                </ol>
                <div style="padding: 7.0px 10.0px;background-color: rgb(216,235,248);border: 1.0px solid rgb(151,193,218);">
                    Note: 'Total' represents the maximum number of designs you can add under each element.
                </div>
               You have set the number of elements allowed on print area.
            </div>
        </div>
    </div>
</div>