<div class="modal fade slide-right" id="s13" pg-portlet tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-body info-module-single">
                <h4 class="info-module-title">
                  How to enable mail designs to customers?
                </h4>
                To enable mail designs to customers, 
                <br>
                <ol>
                    <li>Open inkXE Admin.</li>
                    <li>Go to <b>Settings</b> in the toolbar towards the left.</li>
                    <li>Move right to locate and tap <b>Mail Designs To Customers</b>.<img src="modules/setting/doc/assets/s13.png" /></li>
                    <li>Click <b>Enable</b> and enter your (admin's) email address.</li>
                    <li>Click <b>Save</b>.</li>
                </ol>
               You have enabled mail designs to customers.
            </div>
        </div>
    </div>
</div>