<div class="modal fade slide-right" id="s14" pg-portlet tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-body info-module-single">
                <h4 class="info-module-title">
                  How to set CSS for designer tool?
                </h4>
                To set the CSS for designer tool, 
                <br>
                <ol>
                    <li>Open inkXE Admin.</li>
                    <li>Go to <b>Settings</b> in the toolbar towards the left.</li>
                    <li>Move right to locate and tap <b> CSS OVERRIDING</b>.<img src="modules/setting/doc/assets/s14.png" /></li>
                    <li>Inside, there is a textbox. Enter your CSS.</li>
                    <li>Click <b>Save</b>.</li>
                </ol>
               Your CSS has been set for designer tool.
            </div>
        </div>
    </div>
</div>