<div class="modal fade slide-right" id="s15" pg-portlet tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-body info-module-single">
                <h4 class="info-module-title">
                  How to enable image quality rating?
                </h4>
                <div style="padding: 7.0px 10.0px;background-color: rgb(216,235,248);border: 1.0px solid rgb(151,193,218);">
                    Note: It is meant for a preview of the quality of the image compared to the actual print size. The star rating changes on scaling of the image. 
                </div>
                <br>
                <ol>
                    <li>Open inkXE Admin.</li>
                    <li>Go to the toolbar section to the left, then click <b>Settings</b></li>
                    <li>In the <b>Settings</b> page, click<b> Image Quality Rating</b>.</li>
                    <li>Click <b>Enable</b> and then click <b>Save</b><img src="modules/setting/doc/assets/s15.png" /></li>
                </ol>
               You've enabled image quality rating.
               <br><br>
               <div style="padding: 7.0px 10.0px;background-color: rgb(216,235,248);border: 1.0px solid rgb(151,193,218);">
                    Note: If you reduce size of the image, the quality of print would increase; on the other hand increasing the size, the quality of print would decrease. 
                </div>
            </div>
        </div>
    </div>
</div>
