<div class="modal fade slide-right" id="s2" pg-portlet tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-body info-module-single">
                <h4 class="info-module-title">
                  How to set measurement unit of print area? 
                </h4>
                To set measurement unit of print area, 
                <br>
                <ol>
                    <li>Open inkXE Admin.</li>
                    <li>Go to <b>Settings</b> in the toolbar towards the left.</li>
                    <li>Move right to locate and tap <b>Unit</b>.<img src="modules/setting/doc/assets/s2.png" /></li>
                    <li>Inside, there is a textbox. Enter unit of your choice.</li>
                    <li>Click <b>Save</b>.</li>
                </ol>
               You have set measurement unit of print area.
            </div>
        </div>
    </div>
</div>