<div class="modal fade slide-right" id="s3" pg-portlet tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-body info-module-single">
                <h4 class="info-module-title">
                  How to set currency for inkXE admin ?
                </h4>
                To set currency for inkXE admin, 
                <br>
                <div style="padding: 7.0px 10.0px;background-color: rgb(216,235,248);border: 1.0px solid rgb(151,193,218);">
                    NOTE: Do not mistake it as currency for designer tool. The currency you set here will get reflected in the designer admin only. 
                </div>
                <ol>
                    <li>Open inkXE Admin.</li>
                    <li>Go to <b>Settings</b> in the toolbar towards the left.</li>
                    <li>Move right to locate and tap <b>Currency</b>.<img src="modules/setting/doc/assets/s3.png" /></li>
                    <li>Inside, there is a textbox. Enter currency of your choice.</li>
                    <li>Click <b>Save</b>.</li>
                </ol>
               You have set currency for inkXE admin.
            </div>
        </div>
    </div>
</div>

