<div class="modal fade slide-right" id="s4" pg-portlet tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-body info-module-single">
                <h4 class="info-module-title">
                  How to set maximum image upload size?
                </h4>
                To set maximum image upload size, 
                <ol>
                    <li>Open inkXE Admin.</li>
                    <li>Go to <b>Settings</b> in the toolbar towards the left.</li>
                    <li>Move right to locate and tap <b>File/Image</b>.<img src="modules/setting/doc/assets/s4.png" /></li>
                    <li>Inside, there are 3 textboxes. Here:
                        <ul>
                            <li>Enter a value for maximum file size</li>
                            <li>Enter a value for maximum image width</li>
                            <li>Enter a value for maximum image height</li>
                        </ul>                                                                   
                    <div style="padding: 7.0px 10.0px;background-color: rgb(216,235,248);border: 1.0px solid rgb(151,193,218);">
                        Note: Your users will not be able to upload files that are larger than the values specified by you.  
                    </div>
                    </li>
                    <li>Click <b>Save</b>.</li>
                </ol>
               You have set maximum image upload size.
            </div>
        </div>
    </div>
</div>