<div class="modal fade slide-right" id="s5" pg-portlet tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-body info-module-single">
                <h4 class="info-module-title">
                  How to set currency for designer tool ?
                </h4>
                To set currency for designer tool, 
                <ol>
                    <li>Open inkXE Admin.</li>
                    <li>Go to <b>Settings</b> in the toolbar towards the left.</li>
                    <li>Move right to locate and tap <b>Price Styling</b>.<img src="modules/setting/doc/assets/s5.png" /></li>
                    <li>Inside, go to Prefix and enter your currency value there. Here, you can also set how a price appears for any product. Simply enter value for Suffix.</li>
                    <li>Click <b>Save</b>.</li>
                </ol>
               You have set currency for designer tool.
            </div>
        </div>
    </div>
</div>