<div class="modal fade slide-right" id="s6" pg-portlet tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-body info-module-single">
                <h4 class="info-module-title">
                  How to enable direct cart posting ?
                </h4>
                <div style="padding: 7.0px 10.0px;background-color: rgb(216,235,248);border: 1.0px solid rgb(151,193,218);">
                        NOTE: Enabling direct cart posting will add the customized product to cart directly without showing any intermediate pop-up.  
                </div>
                To enable direct cart posting, 
                <ol>
                    <li>Open inkXE Admin.</li>
                    <li>Go to <b>Settings</b> in the toolbar towards the left.</li>
                    <li>Move right to locate and tap <b>Direct Cart Post</b>.<img src="modules/setting/doc/assets/s6.png" /></li>
                    <li>Inside, there are two options. Click Enable.</li>
                    <li>Click <b>Save</b>.</li>
                </ol>
                You have enabled direct cart posting.
            </div>
        </div>
    </div>
</div>
