<div class="modal fade slide-right" id="s7" pg-portlet tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-body info-module-single">
                <h4 class="info-module-title">
                  How to set add to cart terms and conditions ?
                </h4>
                To set add to cart terms and conditions, 
                <ol>
                    <li>Open inkXE Admin.</li>
                    <li>Go to <b>Settings</b> in the toolbar towards the left.</li>
                    <li>Move to the right, find <b>Add to Cart Terms and Conditions On/Off and click on it</b>.<img src="modules/setting/doc/assets/s7.png" /></li>
                    <li>Inside, there are two options. Choose Enable and enter a description under Terms and Conditions.</li>
                    <li>Click <b>Save</b>.</li>
                </ol>
                You have set add to cart terms and conditions.
            </div>
        </div>
    </div>
</div>

