<div class="modal fade slide-right" id="s8" pg-portlet tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-body info-module-single">
                <h4 class="info-module-title">
                  How to configure user notes?
                </h4>
                To configure user notes,
                <div style="padding: 7.0px 10.0px;background-color: rgb(216,235,248);border: 1.0px solid rgb(151,193,218);">
                    NOTE: A user note allows your customers to add necessary information related to the product, which you need to pay attention while processing the order.  
                </div>
                <ol>
                    <li>Open inkXE Admin.</li>
                    <li>Go to <b>Settings</b> in the toolbar towards the left.</li>
                    <li>Move right to locate and tap <b>Notes</b>.<img src="modules/setting/doc/assets/s8.png" /></li>
                    <li>Enter a description that will show to your customers when they are done customizing.</li>
                    <li>Set character length on the box beside <b>Number of Characters Allowed</b>. (Your users can add notes only up to the character length you have set.)</li>
                    <li>Click <b>Save</b>.</li>
                </ol>
                You have configured user notes.
            </div>
        </div>
    </div>
</div>
