<div class="modal fade slide-right" id="s9" pg-portlet tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-body info-module-single">
                <h4 class="info-module-title">
                  How to set image upload terms and conditions ?
                </h4>
                To set image upload terms and conditions, 
                <ol>
                    <li>Open inkXE Admin.</li>
                    <li>Go to <b>Settings</b> in the toolbar towards the left.</li>
                    <li>Move right to locate and tap <b>Image Upload</b>.<img src="modules/setting/doc/assets/s9.png" /></li>
                    <li>Click Enable and enter your description for 'terms and conditions' in the box.</li>
                    <li>Click <b>Save</b>.</li>
                </ol>
               You have set image upload terms and conditions.
            </div>
        </div>
    </div>
</div>