#shopping-cart-table a.product-image.product-thumb.customize-image
{
	display:inline-block !important;
	width:80px !important;
	border: none;
	height: 75px;
    margin: 0px 2px 0px;
}
#shopping-cart-table .custom_loading
{
	text-align:left !important;
}