.modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    padding-top: 100px; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4);
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 500px;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 18px;
    margin-top: -10px;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.custom-table {
    width: 100%;
    height: 300px;
    overflow: auto;
    display: block;
}
.custom-table thead tr th {
    border: 1px solid #eee;
    border-collapse: collapse;
	padding: 5px;
    text-align: left;
	font-weight:bold;
	width: 42%;
}

.custom-table thead h2 {
    font-size:18px;
	margin-top:0px;
}

.custom-table tbody tr td {
    border: 1px solid #eee;
    border-collapse: collapse;
	padding: 5px;
    text-align: left;
}
