<div class="modal fade slide-right" id="ps1" pg-portlet tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-body info-module">
                <h4>Rectangle Printing Area
                </h4>
                <div class="panel-group" id="accordion" role="tablist">
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingOne">
                            <h4 class="panel-title">
                                <a class="collapsed" data-toggle="collapse" data-parent="#accordion"  href="#collapseOne" target="_self" aria-expanded="false" aria-controls="collapseOne">
                                  How to add print area ?
                                </a>
                            </h4>
                        </div>
                        <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                            <hr>
                            <div class="panel-body">
                                To add rectangular print area,
                                <ol>
                                    <li>Open inkXE Admin.</li>
                                    <li>Go to <b>Products</b> in the toolbar towards the left and select <b>Product List</b> from the drop down.</li>
                                    <li>The product list will appear towards the right. Select your product.</li>
                                    <li>In the product page, go to <b>Printing Area</b>.<img src="modules/product/doc/assets/ps01_01.png" /></li>
                                    <li>Click on the drop-down below and select <b>Rectangle Printing Area</b>.</li>
                                    <li>Next, tap <b>Add New</b>.<img src="modules/product/doc/assets/ps01_02.png" /></li>
                                    <li>A popup named Configure Custom Size will appear. Tap <b>Add New Size</b>. Set properties, such as, size name, height, and width and click on save icon.<img src="modules/product/doc/assets/ps01_03.png" /></li>
                                    <li>Close the popup.</li>
                                </ol>
                                You have added rectangular print area.
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingTwo">
                            <h4 class="panel-title">
                                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" target="_self" aria-expanded="false" aria-controls="collapseTwo">
                                  How to modify print area ?
                                </a>
                            </h4>
                        </div>
                        <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
						<hr>
                            <div class="panel-body">
                                To modify rectangular print area,
                                <ol>
                                    <li>Open inkXE Admin.</li>
                                    <li>Go to <b>Products</b> in the toolbar towards the left and select <b>Product List</b> from the drop down.</li>
                                    <li>The product list will appear towards the right. Select your product.</li>
                                    <li>In the product page, <b>go to Printing Area</b>.<img src="modules/product/doc/assets/ps01_01.png" /></li>
                                    <li>Click on the drop-down below and select <b>Rectangle Printing Area</b>.</li>
                                    <li>Next, tap <b>Add New</b>.</li>
                                    <li>A popup named Configure Custom Size will open. Go to your selected size and modify properties, such as name, height, and width. <img src="modules/product/doc/assets/ps01_04.png" /></li>
                                    <li>Once done, click Update to save your changes.</li>
                                    <li>Close the popup.</li>
                                </ol>
                                You have modified rectangular print area.
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingThree">
                            <h4 class="panel-title">
                                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" target="_self" aria-expanded="false" aria-controls="collapseThree">
                                  How to delete print area ?
                                </a>
                            </h4>
                        </div>
                        <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
						<hr>
                             <div class="panel-body">
                                To delete print area for rectangular shapes,
                                <ol>
                                    <li>Open inkXE Admin.</li>
                                    <li>Go to <b>Products</b> in the toolbar towards the left and select <b>Product List</b> from the drop down.</li>
                                    <li>The product list will appear towards the right. Select your product.</li>
                                    <li>In the product page, go to <b>Printing Area</b>.<img src="modules/product/doc/assets/ps01_01.png" /></li>
                                    <li>Click on the drop-down below and select <b>Rectangle Printing Area</b>.</li>
                                    <li>Next, tap <b>Add New</b>.<img src="modules/product/doc/assets/ps01_02.png" /></li>
                                    <li>A popup will appear. Select your desired size and click on its respective delete icon. <img src="modules/product/doc/assets/ps01_05.png" /></li>
                                    <li> Another popup will open asking you to confirm your action. Click <b>Continue</b>.</li>
                                    <li>Close the popup.</li>
                                </ol>
                                Your print area for rectangular shapes has been deleted.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>