<div class="modal fade slide-right" id="ps2" pg-portlet tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-body info-module">
                <h4>Pre-decorated Product Template</h4> 
                <div class="panel-group" id="accordion2" role="tablist">
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingTen">
                            <h4 class="panel-title">
                                <a class="collapsed" data-toggle="collapse" data-parent="#accordion2"  href="#collapseTen" aria-expanded="false" aria-controls="collapseTen" target="_self">
                                  How to create pre-decorated product template?
                                </a>
                            </h4>
                        </div>
                        <div id="collapseTen" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTen">
						<hr>
                            <div class="panel-body">
                                To create pre-decorated product template,
                                <ol>
                                    <li>Open inkXE Admin.</li>
                                    <li>Go to <b>Products</b> in the toolbar towards the left and select <b>Product List</b> from the drop down.</li>
                                    <li>The product list will appear towards the right. Select your product.</li>
                                    <li>Click <b>Create Pre-Decorated Product</b>, located at top-right-corner in the product page.<img src="modules/product/doc/assets/ps02_01.png" /></li>
                                    <li> You will be taken to the designer tool. Create your template here.<img src="modules/product/doc/assets/ps02_02.png" /></li>
                                    <li>Once done, click <b>Save Product Template</b>.</li>
                                    <li>A popup will appear asking you to set a name for the product. (Ignore other options that appear alongside)</li>
                                    <li>Give a name and click <b>Save</b>.</li>
                                </ol>
                                Your pre-decorated product template has been added.
                                <div style="padding: 7.0px 10.0px;background-color: rgb(216,235,248);border: 1.0px solid rgb(151,193,218);">
                                   NOTE: To add it as a product, go to inkXE Admin&gt;&gt;Products&gt;&gt;Pre-Decorated Templates.
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingEleven">
                            <h4 class="panel-title">
                                <a class="collapsed" data-toggle="collapse" data-parent="#accordion2" href="#collapseEleven" aria-expanded="false" aria-controls="collapseEleven" target="_self">
                                    How to restrict editing options of a template ?
                                </a>
                            </h4>
                        </div>
                        <div id="collapseEleven" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingEleven">
						<hr>
                            <div class="panel-body">
                                To restrict editing options of a template,
                                <ol>
                                    <li>Open inkXE Admin.</li>
                                    <li>Go to <b>Products</b> in the toolbar towards the left and select <b>Product List</b> from the drop down.</li>
                                    <li>The product list will appear towards the right. Select your product.</li>
                                    <li>Click <b>Create Pre-Decorated Product</b>, located at top-right-corner in the product page.<img src="modules/product/doc/assets/ps02_03.png" /></li>
                                    <li> You will be taken to the designer tool. Create your template here.</li>
                                    <li>Once done, select a design, text, uploaded image or anything for which you'd like to restrict editing.</li>
                                    For example: We created a custom tshirt below using a clipart, text, and an uploaded image.
                                    <img src="modules/product/doc/assets/ps02_04.png" />
                                    When any of them (clipart, text, uploaded image) is selected, a lock icon appears. Clicking on the lock icon will open the item separately so that you could lock different properties of the item.
                                    <img src="modules/product/doc/assets/ps02_05.png" />
                                    Each item has its own set of distinct properties to lock. 
                                    <ul>
                                      <li>For clipart/design, admin can restrict color edit, delete, move, resize, and rotate.</li>
                                      <li>For text, admin can restrict color edit, delete, move, resize, rotate, font change and text edit.</li>
                                      <li>For uploaded image, admin can restrict delete, move, resize, rotate, mask, filter, reduce color, and select color.</li>
                                    </ul>
                                    <li>Once done, click <b>Save Product Template</b>.<img src="modules/product/doc/assets/ps02_06.png" /></li>
                                    <li>A popup will appear. Here, you can review your locking properties and enable additional controls.<img src="modules/product/doc/assets/ps02_07.png" /></li>
                                    <li>Finally, give a name to your customized product and click <b>Save</b>.</li>
                                </ol>
                                Your restrict editing options of the template has been saved. 
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>