<div class="modal fade slide-right" id="ps3" pg-portlet tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-body info-module">
                <h4>Shape Printing Area</h4> 
                <div class="panel-group" id="accordion" role="tablist">
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingOne">
                            <h4 class="panel-title">
                                <a class="collapsed" data-toggle="collapse" data-parent="#accordion"  href="#collapseOne" target="_self" aria-expanded="false" aria-controls="collapseOne">
                                  How to add ?
                                </a>
                            </h4>
                        </div>
                        <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
						<hr>
                            <div class="panel-body">
                                <div style="padding: 7.0px 10.0px;background-color: rgb(216,235,248);border: 1.0px solid rgb(151,193,218);">
                                   NOTE: Supported format is svg.
                                </div>
                                To add print area for any shape,
                                <ol>
                                    <li>Open inkXE Admin.</li>
                                    <li>Go to <b>Products</b> in the toolbar towards the left and select <b>Product List</b> from the drop down.</li>
                                    <li>The product list will appear towards the right. Select your product.</li>
                                    <li>In the product page, go to <b>Printing Area</b>.<img src="modules/product/doc/assets/ps03_01.png" /></li>
                                    <li>Click on the drop-down below and select <b>Shape Printing Area</b>.</li>
                                    <li>Next, tap <b>Add New</b>.</li>
                                    <li>A popup will appear. Click <b>Add Mask</b>.<img src="modules/product/doc/assets/ps03_02.png" /></li>
                                    <li>A new row will appear towards the top. Set properties, such as, mask name, height, width, etc.</li>
                                    <li>Click on the save icon and close the pop-up. </li>
                                </ol>
                                You have added print area for any shape.
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingTwo">
                          <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo" target="_self">
                              How to configure ?
                            </a>
                          </h4>
                        </div>
                        <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
						<hr>
                            <div class="panel-body">
                              <div style="padding: 7.0px 10.0px;background-color: rgb(216,235,248);border: 1.0px solid rgb(151,193,218);">
                                   TIP: Supported format is svg.
                                </div>
                                To configure variable printing area for irregular shapes,
                                <ol>
                                    <li>Open inkXE Admin.</li>
                                    <li>Go to <b>Products</b> in the toolbar towards the left and select <b>Product List</b> from the drop down.</li>
                                    <li>The product list will appear towards the right. Select your product.</li>
                                    <li>In the product page, go to <b>Printing Area</b>.<img src="modules/product/doc/assets/ps03_03.png" /></li>
                                    <li>Click on the drop-down below and select <b>Shape Printing Area</b>.</li>
                                    <li>Next, tap <b>Add New</b>.</li>
                                    <li>A popup will open. Go to your desired shape and make the changes.<img src="modules/product/doc/assets/ps03_04.png" /></li>
                                    <li> Once done, click <b>Update</b> to save the changes.</li>
                                    <li>Close the pop-up.</li>
                                </ol>
                               You can view the newly configured mask in Set Product Mask.
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingThree">
                          <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree" target="_self">
                              How to modify ?
                            </a>
                          </h4>
                        </div>
                        <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
						<hr>
                            <div class="panel-body">
                                To modify print area of irregular shape,
                                <ol>
                                    <li>Open inkXE Admin.</li>
                                    <li>Go to <b>Products</b> in the toolbar towards the left and select <b>Product List</b> from the drop down.</li>
                                    <li>The product list will appear towards the right. Select your product.</li>
                                    <li>In the product page, go to <b>Printing Area</b>.<img src="modules/product/doc/assets/ps03_05.png" /></li>
                                    <li>Click on the drop-down below and select <b>Shape Printing Area</b>.</li>
                                    <li>Next, tap <b>Add New</b>.</li>
                                    <li>A pop up will open. Update properties of the desired shape, such as mask name, height, width, and price.<img src="modules/product/doc/assets/ps03_06.png" /></li>
                                    <li> Once done, click <b>Update</b> to save the changes.</li>
                                    <li>Close the pop-up.</li>
                                </ol>
                               You have modified print area for irregular shapes.
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingFour">
                          <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour" target="_self">
                              How to delete ?
                            </a>
                          </h4>
                        </div>
                        <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
						<hr>
                          <div class="panel-body">
                                To delete print area of irregular shape,
                                <ol>
                                    <li>Open inkXE Admin.</li>
                                    <li>Go to <b>Products</b> in the toolbar towards the left and select <b>Product List</b> from the drop down.</li>
                                    <li>The product list will appear towards the right. Select your product.</li>
                                    <li>In the product page, go to <b>Printing Area</b>.<img src="modules/product/doc/assets/ps03_07.png" /></li>
                                    <li> Click on the dropdown Rectangle Printing Area and select <b>Shape Printing Area</b>.</li>
                                    <li>Next, tap <b>Add New</b>.<img src="modules/product/doc/assets/ps03_08.png" /></li>
                                    <li>A pop-up will appear. Select your mask and click on its respective delete icon.<img src="modules/product/doc/assets/ps03_09.png" /></li>
                                    <li>  Another pop-up will appear asking you to confirm your action. Click <b>Continue.</b> </li>
                                    <li>Close the pop-up.</li>
                                </ol>
                               Your print area for irregular shapes has been deleted. 
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingFive">
                          <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="false" aria-controls="collapseFive" target="_self">
                              How to set ?
                            </a>
                          </h4>
                        </div>
                        <div id="collapseFive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFive">
						<hr>
                          <div class="panel-body">
                                To set print area of irregular shapes,
                                <ol>
                                    <li>Open inkXE Admin.</li>
                                    <li>Go to <b>Products</b> in the toolbar towards the left and select <b>Product List</b> from the drop down.</li>
                                    <li>The product list will appear towards the right. Select your product.</li>
                                    <li>In the product page, go to <b>Printing Area</b>.<img src="modules/product/doc/assets/ps03_10.png" /></li>
                                    <li> Click on the dropdown below and select <b>Shape Printing Area</b>.</li>
                                    <li>From another drop-down located just below, select your desired shape.<img src="modules/product/doc/assets/ps03_11.png" /></li>
                                    <li>Once done, click <b>Save</b>.</li>
                                </ol>
                                You have set print area for irregular shapes.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>