<div class="modal fade slide-right" id="ps4" pg-portlet tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-body info-module-single">
                <h4 class="info-module-title">
                  How to set border ?
                </h4>
                To set border,
                <ol>
                    <li>Open inkXE Admin.</li>
                    <li>Go to <b>Products</b> in the toolbar towards the left and select <b>Product List</b> from the drop down.</li>
                    <li>The product list will appear towards the right. Select your product.</li>
                    <li>In the product page, go to <b>Printing Area</b>.<img src="modules/product/doc/assets/ps04_01.png" /></li>
                    <li> Click on the dropdown below and select <b>Variable Rectangle Printing Area</b>.</li>
                    <li> A box will open below. Enter default height/width, max/min height/width.<img src="modules/product/doc/assets/ps04_02.png" /></li>
                    <li>Click <b>Enable Border</b>.</li>
                    <li>Click <b>Save</b>.</li>
                </ol>
                Your border is set.
            </div>
        </div>
    </div>
</div>