<div class="modal fade slide-right" id="ps5" pg-portlet tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-body info-module-single">
                <h4 class="info-module-title">
                  How to set price for variable print area ?
                </h4>
                <br>
                <div style="padding: 7.0px 10.0px;background-color: rgb(216,235,248);border: 1.0px solid rgb(151,193,218);">
                     NOTE: Make sure you have enabled Area Price located in the Price Sheet section of Print Profile beforehand.
                </div>
                To set price for variable print area for rectangular shapes,
                <ol>
                    <li>Open inkXE Admin.</li>
                    <li>Go to <b>Products</b> in the toolbar towards the left and select <b>Product List</b> from the drop down.</li>
                    <li>The product list will appear towards the right. Select your product.</li>
                    <li>In the product page, go to <b>Printing Area</b>.<img src="modules/product/doc/assets/ps05_01.png" /></li>
                    <li> Click on the dropdown below and select <b>Variable Rectangle Printing Area</b>.</li>
                    <li> Next, locate <b>Price Per Square Inch</b> and enter your price.<img src="modules/product/doc/assets/ps05_02.png" /></li>
                    <div style="padding: 7.0px 10.0px;background-color: rgb(216,235,248);border: 1.0px solid rgb(151,193,218);">
                     NOTE: Price calculation formula is Default Width x Default Height x price per square inch. In this case, it will be 40x20x0.15 = 120. Make sure you have entered values for default width and height.
                </div>
                    <li>Click <b>Save</b>.</li>
                </ol>
                Your price has been set.
            </div>
        </div>
    </div>
</div>