<div class="modal fade slide-right" id="ps6" pg-portlet tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-body info-module">
                <h4>Variable Rectangle Printing Area</h4>
                <div class="panel-group" id="accordion" role="tablist">
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingOne">
                            <h4 class="panel-title">
                              <a class="collapsed" data-toggle="collapse" data-parent="#accordion"  href="#collapseOne" aria-expanded="false" aria-controls="collapseOne" target="_self">
                                How to set ?
                              </a>
                            </h4>
                        </div>
                        <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
							<hr>
                            <div class="panel-body">
                                To set variable rectangular printing area,
                                <ol>
                                    <li>Open inkXE Admin.</li>
                                    <li>Go to <b>Products</b> in the toolbar towards the left and select <b>Product List</b> from the drop down.</li>
                                    <li>The product list will appear towards the right. Select your product.</li>
                                    <li>In the product page, go to <b>Printing Area</b>.<img src="modules/product/doc/assets/ps06_01.png" /></li>
                                    <li> Click on the dropdown below and select <b>Variable Rectangle Printing Area</b>.</li>
                                    <li> A box will appear. Enter the following details there:
                                      <ul>
                                          <li>Default width</li>
                                          <li>Default height</li>
                                          <li>Minimum and maximum width</li>
                                          <li>Minimum and maximum height</li>
                                      </ul>
                                      <img src="modules/product/doc/assets/ps06_02.png" /></li>
                                    <li>Click <b>Save</b>.</li>
                                </ol>
                                You have set print area for irregular shapes.
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingTwo">
                          <h4 class="panel-title">
                            <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo" target="_self">
                              How to configure ?
                            </a>
                          </h4>
                        </div>
                        <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
						<hr>
                          <div class="panel-body">
                              <div style="padding: 7.0px 10.0px;background-color: rgb(216,235,248);border: 1.0px solid rgb(151,193,218);">
                                   NOTE: This can be further edited by your users.
                              </div>
                              To configure variable print area,
                              <br>
                              <ol>
                                  <li>Open inkXE Admin.</li>
                                  <li>Go to <b>Products</b> in the toolbar towards the left and select <b>Product List</b> from the drop down.</li>
                                  <li>The product list will appear towards the right. Select your product.</li>
                                  <li>In the product page, go to <b>Printing Area</b>.<img src="modules/product/doc/assets/ps06_03.png" /></li>
                                  <li> Click on the dropdown below and select <b>Variable Rectangle Printing Area</b>.</li>
                                  <li> Make your desired changes.<img src="modules/product/doc/assets/ps06_04.png" /></li>
                                  <li>Once done, click <b>Update</b> to save the changes.</li>
                                  <li> Close the pop-up.</li>
                              </ol>
                              Your changes have been successfully applied.
                          </div>
                        </div>
                    </div>
                </div> 
            </div>
        </div>
    </div>
</div>