<div class="modal fade slide-right" id="ps8" pg-portlet tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-body info-module-single">
                <h4 class="info-module-title">
                  How to set additional price for product color variants ?
                </h4>
                To set additional price for product color variants,
                <ol>
                    <li>Open inkXE Admin.</li>
                    <li>Go to <b>Products</b> in the toolbar towards the left and select <b>Product List</b> from the drop down.</li>
                    <li>The product list will appear towards the right. Select your product.</li>
                    <li>In the product page, go to <b>Price Rules</b>.<img src="modules/product/doc/assets/ps08_01.png" /></li>
                    <li>From the three options below, go to <b>Color Variants</b>.</li>
                    <li>Move right and enter your additional price for desired color variants under respective print methods (DTG, Screen Print, Rhinestone, etc.).<img src="modules/product/doc/assets/ps08_02.png" /></li>
                    <li>Once done, click <b>Save</b>.</li>
                </ol>
                You have set additional price for product color variant.
            </div>
        </div> 
    </div>
</div>
