<div class="modal fade slide-right" id="ps10" pg-portlet tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-body info-module-single">
                <h4 class="info-module-title">
                  How to enable whitebase price ?
                </h4>
                To enable whitebase price,
                <ol>
                    <li>Open inkXE Admin.</li>
                    <li>Go to <b>Products</b> in the toolbar towards the left and select <b>Product List</b> from the drop down.</li>
                    <li>The product list will appear towards the right. Select your product.</li>
                    <li>In the product page, go to <b>Price Rules</b>.<img src="modules/product/doc/assets/ps10_01.png" /></li>
                    <li>From the three options towards the left, select <b>Whitebase</b>.</li>
                    <li>The color variant list will populate towards the right. Select checkboxes of the color variants under respective print methods (DTG, Screen Print, etc.) for which you would like to enable whitebase.<img src="modules/product/doc/assets/ps10_02.png" /></li>
                    <li>Click <b>Save</b>.</li>
                </ol>
                You have enabled whitebase.
                <div style="padding: 7.0px 10.0px;background-color: rgb(216,235,248);border: 1.0px solid rgb(151,193,218);">
                    NOTE: After enabling whitebase for a product, you need to set price for whitebase in the price sheet.
                </div>
            </div>
        </div>
    </div>
</div>