<div class="modal fade slide-right" id="ps11" pg-portlet tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-body info-module-single">
                <h4 class="info-module-title">
                  How to assign template to product?
                </h4>
                <br>
                <div style="padding: 7.0px 10.0px;background-color: rgb(216,235,248);border: 1.0px solid rgb(151,193,218);">
                    TIP: Make sure you have created a few product templates before proceeding.
                </div>
                To assign template to product,
                <ol>
                    <li>Open inkXE Admin.</li>
                    <li>Go to <b>Products</b> in the toolbar towards the left and select <b>Product List</b> from the drop down.</li>
                    <li>The product list will appear towards the right. Select your product.</li>
                    <li>In the product page, tap <b>Settings.</b>.<img src="modules/product/doc/assets/ps11_01.png" /></li>
                    <li>Enable <b>Product Skeleton Image</b> and click on the drop-down.</li>
                    <li>Select your desired template.</li>
                    <li>Click <b>Save</b>.</li>
                </ol>
                Your template has been assigned to product.
            </div>
        </div>
    </div>
</div>