<div class="modal fade slide-right" id="ps12" pg-portlet tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-body info-module-single">
                <h4 class="info-module-title">
                    How to set bleed mark?
                </h4>
                To set bleed mark,
                <ol>
                    <li>Open inkXE Admin.</li>
                    <li>Go to <b>Products</b> in the toolbar towards the left and select <b>Product List</b> from the drop down.</li>
                    <li>The product list will appear towards the right. Select your product.</li>
                    <li>In the product page, go to <b>Printing Area</b>.<img src="modules/product/doc/assets/ps12_01.png" /></li>
                    <li>Go to the drop-down below and select your desired printing area.</li>
                    <div style="padding: 7.0px 10.0px;background-color: rgb(216,235,248);border: 1.0px solid rgb(151,193,218);">
                        NOTE: You cannot set bleed mark on Multiple Printing Area.
                    </div>
                    <li>Next, click Settings.</li>
                    <li>A box will open. Find and enable Bleed Mark.<img src="modules/product/doc/assets/ps12_02.png" /></li>
                    <li>A box will open. Enter your values for Crop Mark and Safe Zone.</li>
                    <li>Enable both the checkboxes.</li>
                    <li>Click Save.</li>
                </ol>
                You have set bleed mark.
            </div>
        </div>
    </div>
</div>