<div class="modal fade slide-right" id="ps13" pg-portlet tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-body info-module-single">
                <h4 class="info-module-title">
                  How to assign print method to product? 
                </h4>
                To assign print method to product,
                <ol>
                    <li>Open inkXE Admin.</li>
                    <li>Go to <b>Products</b> in the toolbar towards the left and select <b>Product List</b> from the drop down.</li>
                    <li>The product list will appear towards the right. Select your product.</li>
                    <li>In the product page, tap <b>Settings.</b>.<img src="modules/product/doc/assets/ps13_01.png" /></li>
                    <li>Under <b>Assign Print Method</b>, select the checkboxes for which you would like to assign print method.</li>
                    <li>Click <b>Save</b>.</li>
                </ol>
                You have assigned print method to product.
            </div>
        </div>
    </div>
</div>