<div class="modal fade slide-right" id="maskFaq1" pg-portlet tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-body info-module">
                <div class="panel-group" id="accordion" role="tablist">
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingOne">
                            <h4 class="panel-title">
                                <a class="collapsed" data-toggle="collapse" data-parent="#accordion"  href="#collapseOne" target="_self" aria-expanded="false" aria-controls="collapseOne">
                                  How to add image mask?
                                </a>
                            </h4>
                        </div>
                        <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                            <hr>
                            <div class="panel-body">
                                To add image mask,
                                <ol>
                                    <li>Open inkXE Admin.</li>
                                    <li>Go to <b>Graphics</b> in the toolbar towards the left and select <b>Image Masks</b>.</li>
                                    <li>Move to the right and tap <b>Add Mask</b>.<img src="modules/mask/doc/assets/mask1.png" /></li>
                                    <li>A box will appear. Upload your mask (svg) and image (png, jpeg, jpg, bmp). Give it a name.</li>
                                    <li>Click <b>Save</b>.</li>
                                </ol>
                                Your image mask has been added.
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingTwo">
                            <h4 class="panel-title">
                                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" target="_self" aria-expanded="false" aria-controls="collapseTwo">
                                  How to edit image mask?
                                </a>
                            </h4>
                        </div>
                        <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                            <hr>
                            <div class="panel-body">
                                To edit image mask,
                                <ol>
                                    <li>Open inkXE Admin.</li>
                                    <li>Go to <b>Graphics</b> in the toolbar towards the left and select <b>Image Masks</b>.</li>
                                    <li>Move to the right and you will see the available image masks.</li>
                                    <li>Now, select the image(s) you want to edit and click <b>Edit Selected</b>.<img src="modules/mask/doc/assets/mask2.png" /></li>
                                    <li>A box will appear where you can edit properties of selected image mask, such as name.</li>
                                    <li>Make your changes and click <b>Save</b>.</li><br>
                                </ol>
                                Your image mask has been edited.
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingThree">
                            <h4 class="panel-title">
                                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" target="_self" aria-expanded="false" aria-controls="collapseThree">
                                  How to delete image mask?
                                </a>
                            </h4>
                        </div>
                        <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                            <hr>
                            <div class="panel-body">
                                To delete image mask,
                                <ol>
                                    <li>Open inkXE Admin.</li>
                                    <li>Go to <b>Graphics</b> in the toolbar towards the left and select <b>Image Masks</b>.</li>
                                    <li>Move to the right and you will see the available image masks.</li>
                                    <li>Now, select the image mask you want to delete and click <b>Delete Selected</b>.<img src="modules/mask/doc/assets/mask3.png" /></li>
                                    <li>A pop-up will open asking you to confirm your action.</li>
                                    <li>Click <b>Confirm</b>.</li>
                                </ol>
                                <div style="padding: 7.0px 10.0px;background-color: rgb(216,235,248);border: 1.0px solid rgb(151,193,218);">
                                    TIP: You can also delete image masks in bulk. Simply select multiple image masks and follow same instructions. 
                                    </div><br>
                                Your image mask has been deleted.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>