<?php 
/******************************************************
 * @package Ves Opencart Theme Framework for Opencart 1.5.x
 * @version 2.0
 * @author http://www.venusthemes.com
 * @copyright	Copyright (C) October 2013 PavoThemes.com <@emai:venusthemes@gmail.com>.All rights reserved.
 * @license		GNU General Public License version 2
*******************************************************/

$helper = Mage::helper("ves_tempcp/framework")->getFramework( );
$themeConfig = $helper->getConfig();
$themeName =  Mage::getDesign()->getTheme('frontend');
 
$patterns =  $themeConfig->getPattern( );

$backgroundImageURL = $helper->getThemeURL().'/images/pattern/';
$directories = glob( $helper->getThemeSassDir() . 'skins/*' );

$layouts = array( 'fullwidth' => 'Full Width', 'boxed-lg' => 'Boxed Desktop Large', 'boxed-md'=>'Boxed Desktop Mediumn' );
 
?>

<script type="text/javascript">
jQuery(document).ready( function (){
	jQuery(".paneltool .panelbutton").click( function(){	
		jQuery(this).parent().toggleClass("active");
	} );
} );

</script>

<div id="ves-paneltool" class="hidden-md hidden-sm hidden-xs">
<div class="paneltool themetool">
	<div class="panelbutton">
		<i class="glyphicon glyphicon-cog"></i>
	</div>
	<div class="panelcontent ">
		<div class="panelinner">
			<h4><?php echo Mage::helper("ves_tempcp")->__("Panel Tool");?></h4>
			<form action="#" method="post" class="clearfix" id="paneltool_form">
				<div class="group-input">
					<label>Theme</label>
					<select name="userparams[skin]">
						<option value=""><?php echo Mage::helper("ves_tempcp")->__('default');?></option>
						<?php foreach( $directories as $skin ) {  $skin = basename($skin) ; $skin = str_replace(".scss", "", $skin); ?>
						<option value="<?php echo ($skin);?>" <?php if( $helper->getParam('skin') == $skin ) { ?> selected="selected" <?php } ?>><?php echo ($skin);?></option>
						<?php } ?>
					</select>					
				</div>
				<p class="group-input">
					<label>Layout</label>
					<select name="userparams[layout]">
						<?php foreach( $layouts as $k=>$skin ) {  $skin = basename($skin) ; ?>
						<option value="<?php echo ($k);?>" <?php if( $helper->getParam('layout') == $k ) { ?> selected="selected" <?php } ?>><?php echo ($skin);?></option>
						<?php } ?>
					</select>					
				</p>
				<p>
					<input type="hidden" value="0" id="vesreset" name="vesreset"/>
					<button value="Apply" class="btn btn-small" name="btn-save" type="submit">Apply</button>
					<a class="btn btn-small" href="javascript:;" onclick="jQuery('#vesreset').val(1);jQuery('#paneltool_form').submit() "><span>Reset</span></a>
				</p>
			</form>
		</div>	
	</div>
</div>
	
<div class="paneltool editortool">
	<div class="panelbutton">
		<i class="glyphicon glyphicon-adjust"></i>
	</div>
	<div class="panelcontent editortool"><div class="panelinner">
				
			<h4><?php echo Mage::helper('ves_tempcp')->__( 'Live Theme Editor' ); ?></h4>					
			<?php $xmlselectors = $helper->renderEdtiorThemeForm( $themeName );?>
				<div class="clearfix" id="customize-body">			
					<ul class="nav nav-tabs" id="myTab">
						<?php foreach( $xmlselectors as $for => $output ) { ?>
						<li><a href="#tab-<?php echo $for ?>"><?php echo Mage::helper('ves_tempcp')->__( "Layout ".ucfirst($for) );?></a></li>		
						<?php } ?>
					</ul>										
					<div class="tab-content" > 
						<?php foreach( $xmlselectors as $for => $output ) { ?>
						<div class="tab-pane" id="tab-<?php echo $for; ?>">
							<?php if( !empty( $output) ){?>
							<div class="accordion"  id="custom-accordion">
							<?php $i=0; foreach ( $output as $group ) { ?>
							   <div class="accordion-group  panel panel-default clearfix">
									<div class="accordion-heading panel-heading">
										<a class="accordion-toggle" data-toggle="collapse" data-parent="#custom-accordion" href="#collapse<?php echo $group['match'];?>">
											<?php echo $group['header']; ?>	 
										</a>
									</div>

									<div id="collapse<?php echo $group['match'];?>" class="accordion-body panel-collapse collapse <?php if( $i++ ==0) { ?> in <?php } ?>">
										<div class="accordion-inner panel-body clearfix">
											<?php foreach ($group['selector'] as $item ) {  ?>
											<?php  if (isset($item['type'])&&$item['type']=="image") { ?>
											<div class="form-group background-images"> 
												<label><?php echo $item['label']?></label>
												<a class="clear-bg label label-success" href="#">Clear</a>
												<input value="" type="hidden" name="customize[<?php echo $group['match'];?>][]" data-match="<?php echo $group['match'];?>" type="text" class="input-setting" data-selector="<?php echo $item['selector']?>" data-attrs="background-image"/>
												<div class="clearfix"></div>
												<p><em style="font-size:10px">Those Images in folder YOURTHEME/images/patterns/</em></p>
												<div class="bi-wrapper clearfix">
													<?php foreach ( $patterns as $pattern ){ ?>
													<div style="background:url('<?php echo $backgroundImageURL.$pattern;?>') no-repeat center center;" class="pull-left" data-image="<?php echo $backgroundImageURL.$pattern;?>" data-val="../../img/patterns/<?php echo $pattern; ?>"></div>
													<?php } ?>
												</div>
											</div>
											
											<?php } elseif( $item['type'] == "fontsize" ) { ?>
											<div class="form-group">
												<label><?php echo $item['label']?></label>
												<select name="customize[<?php echo $group['match'];?>][]" data-match="<?php echo $group['match']?>" type="text" class="input-setting" data-selector="<?php echo $item['selector']?>" data-attrs="<?php echo $item['attrs']?>">
													<option value="">Inherit</option>


													<?php for( $fs=9; $fs<=16; $fs++ ) { ?>
													<option value="<?php echo $fs; ?>"><?php echo $fs; ?></option>
													<?php } ?>
												</select>	
												<a href="#" class="clear-bg label label-success">Clear</a>
											</div>
										  
											<?php } else { ?>
											<div class="form-group">
												<label><?php echo $item['label']?></label>
												<input value="" size="10" name="customize[<?php echo $group['match']?>][]" data-match="<?php echo $group['match']?>" type="text" class="input-setting" data-selector="<?php echo $item['selector']?>" data-attrs="<?php echo $item['attrs']?>"/><a href="#" class="clear-bg label label-success">Clear</a>
											</div>
											<?php } ?>

											<?php } ?>
										</div>
									</div>
								</div>          	
								<?php } ?>
							 </div>
							<?php } ?>
						</div>
					   <?php } /* endforeach  */?>
					</div>   
				</div>    
			</div>			
	</div>
	<div class="panelbutton label-customize"></div>
</div>

</div> 
 
<script type="text/javascript">
jQuery('#myTab a').click(function (e) {
	e.preventDefault();
	jQuery(this).tab('show');
})
jQuery('#myTab a:first').tab('show'); 
 

var $MAINCONTAINER = jQuery("html");

/**
 * BACKGROUND-IMAGE SELECTION
 */
jQuery(".background-images").each( function(){
	var $parent = this;
	var $input  = jQuery(".input-setting", $parent ); 
	jQuery(".bi-wrapper > div",this).click( function(){
		 $input.val( jQuery(this).data('val') ); 
		 jQuery('.bi-wrapper > div', $parent).removeClass('active');
		 jQuery(this).addClass('active');

		 if( $input.data('selector') ){  
			jQuery($input.data('selector'), jQuery($MAINCONTAINER) ).css( $input.data('attrs'),'url('+ jQuery(this).data('image') +')' );
		 }
	} );
} ); 

jQuery(".clear-bg").click( function(){
	var $parent = jQuery(this).parent();
	var $input  = jQuery(".input-setting", $parent ); 
	if( $input.val('') ) {
		if( $parent.hasClass("background-images") ) {
			jQuery('.bi-wrapper > div',$parent).removeClass('active');	
			jQuery($input.data('selector'),jQuery("#main-preview iframe").contents()).css( $input.data('attrs'),'none' );
		}else {
			$input.attr( 'style','' )	
		}
		jQuery($input.data('selector'), jQuery($MAINCONTAINER) ).css( $input.data('attrs'),'inherit' );

	}	
	$input.val('');

	return false;
} );



 jQuery('.accordion-group input.input-setting').each( function(){
 	 var input = this;
 	 jQuery(input).attr('readonly','readonly');
 	 jQuery(input).ColorPicker({
 	 	onChange:function (hsb, hex, rgb) {
 	 		jQuery(input).css('backgroundColor', '#' + hex);
 	 		jQuery(input).val( hex );
 	 		if( jQuery(input).data('selector') ){  
				jQuery( $MAINCONTAINER ).find(jQuery(input).data('selector')).css( jQuery(input).data('attrs'),"#"+jQuery(input).val() )
			}
 	 	}
 	 });
	} );
 jQuery('.accordion-group select.input-setting').change( function(){
	var input = this; 
		if( jQuery(input).data('selector') ){  
		var ex = jQuery(input).data('attrs')=='font-size'?'px':"";
		jQuery( $MAINCONTAINER ).find(jQuery(input).data('selector')).css( jQuery(input).data('attrs'), jQuery(input).val() + ex);
	}
 } );
 

</script>
