<div class="share">
   <!-- AddThis Button BEGIN -->
        <div class="addthis_toolbox addthis_default_style ">
        <a class="addthis_button_facebook_like" fb:like:layout="button_count"></a>
        <a class="addthis_button_tweet"></a>
        <a class="addthis_button_google_plusone" g:plusone:size="medium"></a>
        <a class="addthis_button_pinterest_pinit" pi:pinit:layout="horizontal"></a>
        <a class="addthis_counter addthis_pill_style"></a>
        </div>
        <script type="text/javascript" src="https://s7.addthis.com/js/300/addthis_widget.js#pubid=<?php echo $pubid; ?>"></script>
    <!-- AddThis Button END -->
        <div style="clear:both"></div>
</div>