<?php
if ($select_type): ?>
	<div class="widget-pinterest block">
		<?php if (isset($widget_heading)&&!empty($widget_heading)): ?>
		<div class="block-title">
			<?php echo $widget_heading; ?>
		</div>
		<?php endif; ?>
		<div class="widget-inner block-content">

			<a href="https://www.pinterest.com/pin/create/button/?url=<?php echo $url;?>&amp;media=<?php echo $media; ?>&amp;description=<?php echo $description; ?>"
				class="pin-it-button" count-layout="<?php echo $select_type; ?>">
			    <img src="https://assets.pinterest.com/images/pidgets/pin_it_button.png" title="<?php echo $this->__('Pin It'); ?>" />
			</a>
		</div>
	</div>

	<script type="text/javascript">
		(function(d){
		    var f = d.getElementsByTagName('SCRIPT')[0], p = d.createElement('SCRIPT');
		    p.type = 'text/javascript';
		    p.async = true;
		    p.src = 'https://assets.pinterest.com/js/pinit.js';
		    f.parentNode.insertBefore(p, f);
		}(document));
	</script>
<?php endif; ?>