<?php
	$modid = rand().time();
	$_product = $this->getProduct(); 
	$enable_collapse = $this->getConfig("enable_collapse", 0);
	$enable_facebook = $this->getConfig("enable_facebook", 1);
	$enable_twitter = $this->getConfig("enable_twitter", 1);
	$enable_googleplus = $this->getConfig("enable_googleplus", 1);
	$enable_pinterest = $this->getConfig("enable_pinterest", 1);
	$enable_onlyicon = $this->getConfig("enable_onlyicon", 1);

	$is_product_share = $this->getConfig("is_product_share", 0);
	$_productName = $this->getConfig("item_title", "");
	$_productImageUrl = $this->getConfig("item_image", "");
	$_productUrl = $this->getConfig("item_url", "");

	$_helper = $this->helper('catalog/output');
	if($is_product_share) {
		$_productName = urlencode(trim($_helper->productAttribute($_product, $_product->getName(), 'name')));
		$_productImageUrl = urlencode(trim($this->helper('catalog/image')->init($_product, 'image')));
		$_productUrl = urlencode(trim($_product->getProductUrl()));
	} else {
		$_productName = urlencode(trim($_productName));
		$_productImageUrl = urlencode(trim($_productImageUrl));
		$_productUrl = urlencode(trim($_productUrl));
	}
	
?>
<div class="widget-socialshare block">
	<?php if (isset($widget_heading)&&!empty($widget_heading)): ?>
	<div class="block-title">
		<?php if($enable_collapse): ?><span class="opener hidden-lg hidden-md" data-toggle="collapse" data-target="#widget-socialshare<?php echo $modid; ?>"><i class="fa fa-angle-down"></i></span><?php endif; ?>
		<?php echo $widget_heading; ?>
	</div>
	<?php endif; ?>
	<div id="widget-socialshare<?php echo $modid; ?>" class="widget-inner block-content <?php if($enable_collapse): ?> widget-enanle-collapse collapse in <?php endif; ?>">

		<ul class="social-sharing-links">
			<?php if($is_product_share): ?>
			    <?php if ($this->canEmailToFriend()): ?>
			        <li><a href="<?php echo $this->helper('catalog/product')->getEmailToFriendUrl($_product) ?>" class="link-email-friend" title="<?php echo Mage::helper('core')->quoteEscape($this->__('Email to a Friend')) ?>"><i class="fa fa-envelope"><?php if(!$enable_onlyicon): ?><?php echo $this->__('Email to a Friend') ?><?php endif; ?></i></a></li>
			    <?php endif; ?>

			<?php endif; ?>
		    <?php if($enable_facebook): ?>
		    <li>
		        <?php $_u = 'p[url]=' . $_productUrl . '&p[images][0]=' . $_productImageUrl . '&p[title]=' . $_productName . '&p[summary]=' . urlencode(trim($_helper->productAttribute($_product, nl2br($_product->getShortDescription()), 'short_description'))); ?>
		        <a href="<?php echo 'https://www.facebook.com/sharer.php?s=100&' . $_u; ?>" target="_blank" title="<?php echo Mage::helper('core')->quoteEscape($this->__('Share on Facebook')) ?>" class="link-facebook">
		            <i class="fa fa-facebook"><?php if(!$enable_onlyicon): ?><?php echo $this->__('Share Facebook') ?><?php endif; ?></i>
		        </a>
		    </li>
			<?php endif; ?>
			<?php if($enable_twitter): ?>
		    <li>
		        <a href="<?php echo 'https://twitter.com/home?status=' . $_productName . '+' . $_productUrl; ?>" target="_blank" title="<?php echo Mage::helper('core')->quoteEscape($this->__('Share on Twitter')) ?>" class="link-twitter"><i class="fa fa-twitter"><?php if(!$enable_onlyicon): ?><?php echo $this->__('Share on Twitter') ?><?php endif; ?></i></a>
		    </li>
			<?php endif; ?>
			<?php if($enable_googleplus): ?>
		    <li>
			    <a class="share plus link-plus" title="<?php echo Mage::helper('core')->quoteEscape($this->__('Google Plus'));?>" href="https://plus.google.com/share?url=<?php echo $_productUrl; ?>" target="_BLANK" rel="nofollow"><i class="fa fa-google-plus"><?php if(!$enable_onlyicon): ?><?php echo $this->__('Google');?><?php endif; ?></i></a>
			</li>
			<?php endif; ?>
			<?php if($enable_pinterest): ?>
			<li>
			    <a class="share pinterest link-pinterest" title="<?php echo Mage::helper('core')->quoteEscape($this->__('Pinterest'));?>" href="https://pinterest.com/pin/create/button/?url=<?php echo $_productUrl; ?>&media=<?php echo $_productImageUrl;?>&description=<?php echo $_productName;?>"  target="_BLANK" rel="nofollow"><i class="fa fa-pinterest"><?php if(!$enable_onlyicon): ?><?php echo $this->__('Pinterest');?><?php endif;?></i></a>
			</li>
		    <?php endif; ?>
		</ul>
		
 </div>
</div>
<div style="clear:both;"></div>