<?php
/**
 * @category Modulwerft
 * @package Modulwerft_CouponRemainingValue
 * @author Modulwerft GmbH <info@modulwerft.com>
 * @author Benjamin Wunderlich <b.wunderlich@shopwerft.com>
 * @copyright 2014 Shopwerft GmbH (http://www.shopwerft.com)
 * @since 1.1.0
 */
?>
<?php /** @var Modulwerft_CouponRemainingValue_Block_Email_History $this */ ?>
<?php $_rule = $this->getRule() ?>
<?php $_coupon = $this->getCoupon() ?>
<?php if ($_coupon): ?>
<table cellspacing="0" cellpadding="0" border="0" width="375" style="border:1px solid #EAEAEA;">
    <thead>
    <tr>
        <th align="left" bgcolor="#EAEAEA" style="font-size:13px; padding:3px 9px">
            <?php echo $this->__('Description') ?>
        </th>
        <th align="right" bgcolor="#EAEAEA" style="font-size:13px; padding:3px 9px">
            <?php echo $this->__('Amount') ?>
        </th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td align="left" bgcolor="#F6F6F6" style="font-size:11px; padding:3px 9px; border-bottom:1px dotted #CCCCCC;">
            <?php echo $this->__('Original Value') ?>
        </td>
        <td align="right" bgcolor="#F6F6F6" style="font-size:11px; padding:3px 9px; border-bottom:1px dotted #CCCCCC;">
            <?php echo $this->helper('core')->formatPrice($_coupon->getCouponValue()) ?>
        </td>
    </tr>
    <?php /** @var Modulwerft_CouponRemainingValue_Model_History $_history */ ?>
    <?php foreach ($this->getHistoryItems() as $_history): ?>
    <tr>
        <td align="left" bgcolor="#F6F6F6" style="font-size:11px; padding:3px 9px; border-bottom:1px dotted #CCCCCC;">
        <?php if ($_history->isCreditmemo()): ?>
            <?php echo $this->__('Creditmemo For Order #%s', $_history->getOrder()->getIncrementId()) ?>
        <?php else: ?>
            <?php echo $this->__('Used In Order #%s', $_history->getOrder()->getIncrementId()) ?>
        <?php endif; ?>
        </td>
        <td align="right" bgcolor="#F6F6F6" style="font-size:11px; padding:3px 9px; border-bottom:1px dotted #CCCCCC;">
            <?php echo $this->helper('core')->formatPrice(-1 * $_history->getUsedValue()) ?>
        </td>
    </tr>
    <?php endforeach; ?>
    </tbody>
    <tbody>
    <tr>
        <td align="left" style="font-size:11px; padding:3px 9px">
            <strong><?php echo $this->__('Remaining Value') ?></strong>
        </td>
        <td align="right" style="font-size:11px; padding:3px 9px">
            <strong><?php echo $this->helper('core')->formatPrice($_coupon->getRemainingValue()) ?></strong>
        </td>
    </tr>
    </tbody>
</table>
<?php endif; ?>